[2016-06-06 13:26] kleiren opened #1 "Queremos actualizar versión software de control"
Las versiones de Repetier y de los generadores de G-Code en los PC de control de las impresoras son bastante antiguas, ¿hay alguna razón para eso? ¿Podrían ser actualizados?.
La cuestión de seguir teniendo Windows XP en esos PC también es discutible.

[2016-06-07 16:47] jgvictores commented on #1
Hi @kleiren,
En la actualidad estamos mejorando la documentación de lo que existe y funciona: [Manual de usuario de los i3](https://www.gitbook.com/book/asrobuc3m/impresoras-user-manual-i3/details), [Manual de mantenimiento de los i3](https://www.gitbook.com/book/asrobuc3m/impresoras-maintenance-manual-i3/details).
Para llevar a cabo una tarea de actualización, hará falta tener respuesta a las sig

[2016-06-07 23:47] David-Estevez commented on #1
Dado que los PCs no son exactamente de última generación, yo optaría por GNU/Linux con un gestor de ventanas ligero como [LXDE](http://lxde.org/).

Para el Slicer, lo más user-friendly (y rápido) que conozco es [Cura](https://ultimaker.com/en/products/cura-software), para el que se pueden crear perfiles de configuración de nuestras impresoras y compartirlos, en caso de que alguien quiera generar e

[2016-06-08 13:38] rodriwp commented on #1
Me parece perfecto actualizar las impresoras aunque antes haria una copia de seguridad de las configuraciones que subiria al repositorio por si acaso.

[2016-06-30 09:39] jgvictores opened #2 "Se debe configurar y documentar configuración PC nuevo de Blacky"
Se están configurando los PCs nuevos de Blacky e Hija Resurrection (véase [1](https://github.com/asrob-uc3m/impresoras-maintenance-manual-i3/blob/master/anexo_1_archivos_de_configuracion.md) y [2](https://github.com/asrob-uc3m/impresoras-maintenance-manual-i3/blob/master/anexo_2_sistema_operativo_y_sofware.md)).
Tareas pendientes:
- [x] Documentar chmod (hasta que se haga un rules.d)
- [x] Documen

[2016-06-30 09:41] jgvictores opened #3 "Se debe configurar y documentar PC nuevo de Hija Resurrection"
Se están configurando los PCs nuevos de Blacky e Hija Resurrection (véase [1](https://github.com/asrob-uc3m/impresoras-maintenance-manual-i3/blob/master/anexo_1_archivos_de_configuracion.md) y [2](https://github.com/asrob-uc3m/impresoras-maintenance-manual-i3/blob/master/anexo_2_sistema_operativo_y_sofware.md)).
Tareas pendientes:
- [x] Replicar lo hecho hasta ahora en Blacky.
- [x] Replicar lo qu

[2016-11-30 16:54] jgvictores opened #4 "HIJA RESURRECTION problema con pasos por mm"
Nota: Issue puesta hace 28 días por @jorgercobo migrada desde https://github.com/asrob-uc3m/impresoras-maintenance-manual-i3/issues/2

Today @Rodriwp and me have been testing Hija Resurrection trying to fix it, these are the problems we have found:

- Excesive amount of material extruded: To solve it we have decreased the extrusion speed (From 250 to 150 -recommended value- and then to 50) It impr

[2016-11-30 16:57] jgvictores opened #5 "HIJA RESURRECTION Impresora atascada"
Nota: Issue puesta hoy por @David-Estevez migrada desde asrob-uc3m/impresoras-maintenance-manual-i3#3

La  impresora que no es negra (la Steel) está atascada.

Cuando llegamos el racor de la entrada estaba quitado.

Al intentar colocar el nuevo filamento, nos dimos cuenta de que ya había uno colocado, pero cortado a una altura justo por debajo de los engranajes. Calentando el hotend a 200ºC e inte

[2016-11-30 16:58] jgvictores opened #6 "BLACKY no se sabe lo que le pasa"
En fin, que no se sabe lo que le pasa.

[2016-11-30 17:08] jgvictores commented on #4
Esto es, la solución actual es: cambiar `Configuración/Configurar Firmware EEPROM` en los campos `Pasos por mm` de `80-80-4000-775` a `160-160-8000-315`. Esto debe hacerse cada vez que se reinicia el PC.

[2016-11-30 20:28] jgvictores opened #7 "Mejoras en página de "Gestión de Impresoras" de asrob.uc3m.es"
Estamos mejorando http://asrob.uc3m.es/index.php/Gestión_Impresoras

- [x] Enlazar con el grupo de Telegram
- [x] Implementando algo como el diagrama de flujo de la figura.
- [x] Implementando scripts que automaticen este proceso ( #8 )

![photo_2016-11-30_21-26-25](https://cloud.githubusercontent.com/assets/4448588/20769804/acf4b5d4-b743-11e6-8dd9-ab0b64f90f85.jpg)

[2016-11-30 20:50] David-Estevez opened #8 "Software de automatización de estado de impresoras"
Se desea desarrollar un software que corra en el servidor de ASROB y que realice la laboriosa tarea de automatizar la página de impresoras de la wiki (ver issue #7 ).

Para ello, propongo desarrollar un bot que viva en el servidor de ASROB. Su funcionamiento será muy sencillo:

1. Cuando se estropee una impresora, el usuario deberá poner una issue en este repositorio, con las etiquetas "no funcion

[2016-11-30 23:24] David-Estevez commented on #4
Curiosamente, la configuración actual es de `165-165-4200-800`, pero sigue sin poder cambiarse... ¿Ha cambiado alguien dicha configuración?

cc:
UAVs --> @andrespy
City of ... --> @Rodriwp

[2016-11-30 23:27] rodriwp commented on #4
City of Robots no ha cambiado configuraciones en la impresora en su horario de reunion.

[2016-11-30 23:29] David-Estevez commented on #4
:+1:

Es sobretodo para que nos diga cómo diantres lo ha conseguido, que estamos intrigados :joy:

[2016-12-01 22:11] Dani191995 commented on #4
Estuve un par de dias intentando arregrarlas lo que hice fue meterles el marlin que hay en kitprinter, y usar pronterface y cura, con respecto al marlin la impresora extruia mucho por lo que le cambie los valores que no podeis cambiar, lo que me fije es que el eje z no subia lo necesario cambiase lo que cambiase, el eje x e y parecen ir bien, el tema de que no lo podais cambiar me imagio que es us

[2016-12-01 22:38] andrespy commented on #7
Ya es hora de contribuya un pelin
Aqui esta el diagrama:
![impresorasaldia](https://cloud.githubusercontent.com/assets/17482647/20815625/e826c0c6-b81e-11e6-9786-9d2f666eef28.png)

Si alguien quiere dejarlo más bonito, tengo el archivo del programa dia, que es software gratuito.

@jgvictores @David-Estevez

[2016-12-01 22:42] andrespy commented on #7
Ya es hora de que contribuya un pelin
Aqui dejo el diagrama:
![impresorasaldia](https://cloud.githubusercontent.com/assets/17482647/20815778/981e2352-b81f-11e6-8fe1-ab8d7e84aec4.png)

Esta hecho con el programa dia que es software gratuito asi que si alguien quiere mejorar el diagrama cuando sepa donde poner el archivo lo subo para que lo haga.

[2016-12-05 16:44] jgvictores commented on #7
Enlazado con grupo de telegram en wiki: http://asrob.uc3m.es/index.php/Gestión_Impresoras

[2017-02-01 17:24] jorgercobo commented on #5
Impresora desatascada, queda pendiente comprobar si funciona correctamente, reordenar el cableado y de algún modo enganchar la tapa del ventilador del extrusor que está suelta en la parte superior. Abro issue para arreglar el resto de problemas.

[2017-02-01 17:24] #5 closed, assigned to nobody

[2017-02-01 17:31] jorgercobo opened #9 "Problemas pendientes en la reparación de HIJA"
Solucionado el problema del atasco en el extrusor, queda pendiente comprobar si funciona correctamente, reordenar el cableado que ha habido que desensamblar y de algún modo enganchar la tapa del ventilador del extrusor que está suelta en la parte superior.

[2017-02-01 17:35] jorgercobo commented on #9
PD: Problema anterior: #5

[2017-02-02 12:59] Morgloz opened #10 "Cambiar el cable de alimentación del extrusor"
Tras tener que desatornillar el extrusor para desatascarlo llegamos a la conclusión de que habríamos tardado la mitad si el cable que va del circuito al extrusor acabara en un conector, en vez de ir directamente al extrusor.

[2017-02-04 19:22] David-Estevez commented on #10
¿¿¿El cable estaba soldado a la placa???

[2017-02-07 02:00] Morgloz commented on #10
No, estaba conectado a una clema, pero el cable atravesaba el armazón y estaba sujeto con bridas en varios puntos. Sacarlo nos costó más de 20 minutos, y ponerlo de vuelta más o menos lo mismo.

[2017-02-07 10:10] David-Estevez commented on #10
Ah, pues entonces la clema hace de conector :wink:

Desmontar el extrusor es algo que no se hace muy a menudo (o no debería hacerse a menudo en condiciones normales), por lo que 20 minutos no me parece demasiado tiempo. Ahora que sabéis cómo va conectado seguramente tardéis menos incluso.

El problema de añadir un conector es que se añade también otra forma en la que puede fallar la impresora, ya

[2017-02-08 11:23] Siotma commented on #10
Imagino que esta Issue es para Hija Resurrection.

En vez de cambiar el cable, hoy he estado haciendo pruebas y he comprobado que el cable está dañado, puesto que dependiendo de su curvatura el calentador calienta o no. Esa es la causa de los atascos: durante la impresión al desplazarse el eje X, el cable se mueve y la temperatura oscila. Tengo una foto que lo demuestra.
![indice](https://cloud.gi

[2017-02-08 11:26] Siotma opened #11 "Revisión minuciosa de impresoras"
En la mañana de hoy realicé lo siguiente:

Pasos realizados con Hija Resurrection.

	1. Introducción del filamento en Hija Resurrection
	2. Recolocación del Endstop Y de Hija Resurrection para que no estorbe al cable de alimentación de la base caliente.
	3. Recolocación de los cables del termistor de Hija Resurrection para que no toquen con la cama durante la impresión.
	3. Prueba de impresión de

[2017-02-08 11:36] Siotma commented on #9
Hay una lista más detallada de problemas en #11 cierro para evitar duplicidades

[2017-02-08 11:37] #9 closed, assigned to nobody

[2017-02-08 11:38] Siotma commented on #6
Ya se sabe lo que le pasa. Consultar #11. Cierro.

[2017-02-08 11:39] Siotma commented on #4
Hoy he probado Hija Resurrection y no parece que siga teniendo este problema. Aún así no lo he comprobado del todo. Sugiero que alguien lo compruebe y cierre esta Issue.

[2017-02-08 11:48] Siotma opened #12 "Reunión de gente interesada en impresoras."
Creo que las impresoras nos gustan a todos los miembros de ASROB, pero me temo que por miedo o desconocimiento no disfrutamos de ellas todo lo que se podría.

Propongo una reunión de gente interesada en este asunto, conmigo como instructor y resolvedor de dudas. En caso de tener tirón se podría crear grupo de trabajo activo y creo que sería justificable que tuviéramos pleno acceso a las impresoras

[2017-02-08 11:49] Siotma commented on #1
Propongo actualizar las versiones del Marlin de ambas impresoras. Me ofrezco a configurarlo.

También propongo utilizar Repetier + Slic3r ya que es lo que uso a nivel particular y tengo gran experiencia. También me ofrezco a configurar los perfiles de impresión fileteo de Slic3r.

Documentar su instalación es fácil. Pero a hacer manuales de uso no estoy dispuesto, ya que hay mucha información en l

[2017-02-08 11:51] Siotma opened #13 "Faltan filamentos"
Esta Issue puede valer para informar de cuándo falta filamento en alguna impresora.

[2017-02-08 11:51] Siotma commented on #13
En este momento, no hay filamento ni en Blacky ni en Hija Resurrection.

[2017-02-08 11:52] Siotma opened #14 "El bote de laca está vacío."
Pues eso. Si lo que tenemos en la nave es ABS, un bote de laca es primordial.

[2017-02-08 12:27] Morgloz commented on #12
Yo puedo por las mañanas también

[2017-02-08 23:40] David-Estevez commented on #14
El rollo amarillo de la nave es ABS, comprobado al 100% por mi.

[2017-02-08 23:42] David-Estevez commented on #13
Hay ABS amarillo, pero va a ser un infierno conseguir imprimir con eso, creo yo. Se debería comprar algo de PLA, que es muchísimo más sencillo de usar para newbies.

[2017-02-08 23:47] David-Estevez commented on #4
Mencionaremos a nuestro actual responsable ( @jorgercobo ) para que se pase por allí cuando pueda y lo compruebe.

[2017-02-08 23:52] David-Estevez commented on #11
Simplemente decir que esta issue es de lo mejorcito en calidad que hemos tenido en ASROB en mucho tiempo. :clap: :clap: :clap:

Muchas gracias por acercarte a echarnos un cable con las impresoras, @Siotma

[2017-02-09 09:23] jgvictores commented on #14
Yo disponía de un bote pequeño de laca, pero le faltaba la pieza de salida (plástico blanco difusor). He donado este bote y le he puesto la pieza de salida del bote grande vacío. Ahí queda en la nave para su uso con las impresoras de ASROB.

![photo_2017-02-09_10-21-00](https://cloud.githubusercontent.com/assets/4448588/22776848/820c1ede-eeb1-11e6-9dff-dd077baa5b40.jpg)

[2017-02-09 09:23] #14 closed, assigned to jgvictores

[2017-02-10 15:57] Siotma commented on #13
Estoy totalmente de acuerdo con David, mi experiencia con PLA supera de lejos al ABS.

En mi impresora propia utilizo PLA de bq, que creo tiene una excelente relación calidad precio, y mucha variedad de colores. Además lo imprimo a 160ºC, lo que reduce el consumo energético y el esfuerzo de la electrónica de potencia para alimentar el extrusor.

Propongo que se realice un pedido a bq con cargo a l

[2017-02-10 16:10] Siotma commented on #12
Hola, @Morgloz. Gracias por tu respuesta!

En vista de que la issue no ha tenido mucho tirón he creado un Doodle donde podemos concretar la primera reunión. De esta manera espero que pueda llegar a más gente.

Utiliza el siguiente enlace para especificar tu disponibilidad.

http://doodle.com/poll/nt87w6ppyrppas5m

[2017-02-13 11:16] Siotma commented on #12
El doodle se ha cerrado ya.

La fecha seleccionada es el próximo jueves día 16 de febrero.

Yo estaré en la nave desde las 9:00 horas. De esta manera, podré dedicar un buen tiempo tanto a Jorge como a Alejandro explicando cosas. De 13:00 a 14:00 horas será la "reunión de grupo" para tratar temas como los intereses, líneas de investigación y disponibilidad de los miembros.

¡Animo a todo el mundo a

[2017-02-16 14:23] Siotma commented on #13
A este respecto, debo decir que esta mañana hemos dotado de filamento a las dos impresoras:

- Blacky está utilizando el rollo de ABS amarillo de ASROB, con el soporte de madera, queda pendiente hacer pruebas para calibrar las temperaturas óptimas de impresión.
- HIJA RESURRECTION está utilizando un rollo de ABS verde que he donado a la asociación. Imprimir a 220ºC extrusor y 100ºC base.

Tenemos

[2017-02-16 14:23] Siotma commented on #13
Cierro hasta que vuelva a faltar filamento.

[2017-02-16 14:34] Siotma commented on #11
Esto es lo que hemos hecho hoy con Hija Resurrection:

1. Yo, he donado una bobina de filamento ABS verde a HIJA RESURRECTION. Imprimir a 220ºC extrusor y 100ºC base.
2. Prueba del extrusor de HIJA RESURRECTION con polímetro. No parece estar dañado. Hemos mejorado las conexiones en la placa: cable saneado y estañado.
3. Prueba de impresión de HIJA RESURRECTION: éxito parcial
	Los pasos por mm del

[2017-02-16 14:47] Siotma commented on #12
Tras la reunión de hoy, hemos llegado a la conclusión de que hay gente en ASROB que está interesada en:

1. Aprender más sobre impresoras.
2. Mejorar las impresoras de la asociación.
3. Llevar un seguimiento de su estado, y ser capaces de realizar un mantenimiento.
4. Documentar todo lo anterior.

En concreto, entre otras cosas hemos hablado de:

1. Documentar y actualizar el firmware de las impre

[2017-02-16 15:28] Siotma commented on #4
Efectivamente, la configuración actual es 165, 165, 4200. Los ejes X e Y imprimen bien aunque un pelín grandes (yo creo que lo suyo es 160), y el eje Z imprime aproximadamente la mitad, por lo que yo apostaría por 8000.

@Dani191995 entonces, ¿tú cogiste y pusiste un firmware que pillaste por ahí o como? ¿Tienes una copia del firmware que pusiste?

[2017-02-16 15:46] Dani191995 commented on #4
Cogí el firmware de la página kitprinter, porque iban mal los pasos y
después como iba igual cambie los valores.

El 16 feb. 2017 4:29 p. m., "Manu" <notifications@github.com> escribió:

[2017-02-16 16:29] Siotma commented on #4
De acuerdo, gracias por aclararlo. Esto enlaza con la issue #1. Desconozco si los firmware de las impresoras están documentados en algún sitio. En caso negativo, en el grupo de trabajo ( #12 ) lo tenemos como uno de los objetivos principales.

[2017-02-16 23:49] jgvictores commented on #11
Re: Blacky (4):
- Buscar buscar buscar.
- https://www.alibaba.com/product-detail/17-Inch-LCD-Monitor_10801015.html
- http://www.freewtc.com/products/17-inch-lcd-monitor-528134-61531.htm
- Y no pensar en hacer cosas como: http://www.forosdeelectronica.com/f27/monitor-necesita-transformador-12v-puedo-ponerle-uno-19v-45988/

**Importante:** Fiarse de lo que digan personas sin observar fuentes oficial

[2017-02-17 11:36] kleiren opened #15 "Uso externo de las impresoras"
Buenas,
un compañero del departamento de materiales me pregunta si podría utilizar las impresoras de la asociación. Necesita una pieza para su tesis y la quiere imprimir en polipropileno, se traería el filamento él.
¿Sería posible?

[2017-02-17 13:11] Siotma commented on #15
Ahora mismo ninguna impresora es funcional, estamos intentando ponerlas en marcha pero estaban muy dejadas.
Si es algo urgente me temo que va a tener que buscar otra impresora, en caso de que pueda esperar, es posible que en una semana o 2 se pueda usar una de ellas.

Distinto es el tema de las condiciones de uso de nuestras impresoras que no estoy seguro de cuáles son.

[2017-02-17 14:24] jgvictores commented on #15
Cierro, migrando issue a actas para debate general: https://github.com/asrob-uc3m/actas/issues/61

[2017-02-17 14:24] #15 closed, assigned to nobody

[2017-02-19 11:37] Siotma commented on #10
Tal y como comenté en #11 , hemos confirmado que el calentador del extrusor está dañado, por lo que se debe proceder a su sustitución.

[2017-02-19 11:45] Siotma commented on #2
Este PC tiene Lubuntu, tal y como se explica en el [manual de mantenimiento](https://github.com/asrob-uc3m/impresoras-maintenance-manual-i3/blob/master/anexo_2_sistema_operativo_y_sofware.md). En el mismo manual también se especifica que tiene instalado el siguiente software:

- Cura. Efectivamente, aparece entre los programas instalados, pero no fui capaz ni siquiera de conectar con la impresora.

[2017-02-19 11:50] Siotma commented on #3
Si con "replicar lo hecho hasta ahora en Blacky", se pretende instalar Lubuntu y quitar Windows, me parece bien, ya que el sistema de sesiones de invitado es una gran ventaja.
Aún así, creo que es mejor primero completar la configuración del PC de Blacky y documentarlo bien, ya que al menos este PC ahora funciona.

[2017-02-19 12:49] David-Estevez commented on #2
Me dio la sensación de que Repetier se instaló, pero no generó iconos de acceso directo. Porque cuando lo probamos arrancaba.

[2017-02-19 12:53] Siotma commented on #2
Perdón, no he sido todo lo explicativo que debería:
Efectivamente, corrimos el Script de instalación de Repetier, y llegó a iniciarse. Incluso conectó con la impresora una vez. Sin embargo, poco después de irte, de repente crasheó y se cerró solo. A partir de ese momento, Repetier no duró abierto más de 5 segundos antes de cerrarse súbitamente...
De ello desprendo que la instalación no fue correct

[2017-02-19 17:37] David-Estevez commented on #2
Vale, en ese caso sí que habría que echarle un ojo...

[2017-02-19 17:50] Siotma commented on #2
Me imagino que la manera más rápida de echarlo a funcionar sería conectar el ordenador a internet y que descargue todos los paquetes que vaya necesitando, el script de la instalación decía que había algo desactualizado en el sistema, el Mono creo, que no sé lo que es. No debe ser muy difícil, pero de verdad que yo soy un negado y no quiero hacerlo mal...

Googleando he encontrado esto, lo dejo por

[2017-02-19 17:56] David-Estevez commented on #2
Para conectarlo se me ocurren dos formas:
* Un cable de red muuuuy largo.
* Mover la torre temporarmente cerca del switch de red más cercano en la nave.

PD: Mono son las librerías que permiten ejecutar programas .NET (cosas de Windows).

[2017-02-19 18:01] Siotma commented on #2
Yo había pensado en algún pincho WiFi y conectarlo a la red abierta de la universidad.

Vale, pues si necesita esas librerías para funcionar, y las que tiene no le valen, normal que crashee.

Igual que antes, dejo por aquí algo de info que he encontrado: http://www.mono-project.com/docs/getting-started/install/linux/

[2017-02-19 20:37] David-Estevez commented on #2
Tiene pinta de ser eso, le hacen falta las Mono y se las intenta descargar, pero como no tiene red no puede, y por eso crashea.

Lo del pincho es una buena idea, pero si no lo pilla porque le faltan los drivers no hay interné para bajárselos :sweat_smile: Como es sencilo de probar, sería cosa de intentarlo como primera opción y si no funciona probar con las que he puesto antes.

[2017-02-19 23:09] jgvictores commented on #3
@Siotma Sí, se pretendía instalar Lubuntu y quitar Windows. Totalmente de acuerdo, primero completar la configuración del PC de Blacky y documentarlo bien.

[2017-02-20 14:31] Siotma commented on #12
El doodle se ha cerrado. La reunión tendrá lugar mañana de 13:00 a 15:00 en la nave 1.0.B06.
Recuerdo que en caso de que lleguéis y esté cerrado, os asoméis por la barandilla del primer piso para comprobar si estamos dentro y avisarnos para que se os abra.
Será útil que traigáis vuestros portátiles, en la medida de lo posible.

Como siempre, todo el que quiera venir está invitado!

Los resultados

[2017-02-21 16:38] JorFru commented on #10
He hecho uso de un multímetro y he hallado que el problema estaba en los cables. @Siotma me ha ayudado a encontrarlo.

He saneado los cables, retirando la parte que daba problemas (roto el cable por dentro) y poniendo un fragmento nuevo.

He probado durante diez minutos con la impresora en movimiento y parece que ya no da problemas.

![imagen](https://cloud.githubusercontent.com/assets/11017088/23

[2017-02-21 16:44] Siotma commented on #11
Hoy, de 13:00 a 15:00, hemos estado trabajando con Blacky:

1. La base donada por @jgvictores queda preciosa en Blacky. Le hemos quitado el Kapton y limpiado con limpiacristales. Ya le hemos echado bien de laca y funciona a la perfección. Cuidémoslo entre todos para que dure!
2. He donado 3 pinzas para sujetar el cristal a la base, pues solo había puesta en Blacky cuando llegamos.
3. Hemos cambiad

[2017-02-21 16:53] Siotma commented on #12
En la reunión de hoy se ha trabajado con Blacky (ver #11).

Hemos trabajado en la estructura de la impresora y también hemos estado jugando con Linux para instalar las librerías y echar a andar Repetier.

Además, @JorFru ha estado trabajando con el calentador del extrusor de Hija Resurrection.

Habrá una reunión la semana que viene. Doodle: http://doodle.com/poll/cgp9r294tnbk23f8

[2017-02-21 16:53] Siotma commented on #11
No quito la etiqueta de Blacky porque, aunque ya funciona, aún no debe ser utilizada por externos, ya que no se encuentra configurada. De esta forma no se permitirá realizar reservas.

Dado que parece que hemos cerrado #10 , ahora ambas impresoras estarían operativas, pero aún debemos realizar pruebas de impresión representativas antes de abrir las hojas de reservas.

- [x] Validar el funcionamien

[2017-02-21 16:54] Siotma commented on #10
Gracias, @JorFru.

[2017-02-21 16:54] #10 closed, assigned to JorFru

[2017-02-22 10:13] jgvictores commented on #10
@JorFru Thanks!!!

[2017-02-23 14:31] Siotma commented on #2
Lamento no haberlo comunicado antes, el trabajo realizado con el PC de Blacky realizado el día 21 de febrero se puede encontrar en #11 , concretamente [aquí](https://github.com/asrob-uc3m/impresoras-asrob/issues/11#issuecomment-281401624).

[2017-02-24 10:19] jgvictores opened #16 "Formalización de grupo de trabajo activo"
Reuniones periódicas, documentación... ¡este grupo lo está haciendo muy bien!

Propongo que:
- [x] Se rellene [el formulario correspondiente](http://goo.gl/forms/movrqVPe6k).
- [x] Si el grupo cumple [los criterios de los Estatutos](https://asrob-uc3m.gitbooks.io/estatutos/content/definiciones.html#grupo-de-trabajo-activo), suba a tal categoría en [la wiki](http://asrob.uc3m.es/index.php/Main_Page

[2017-02-24 12:25] Siotma commented on #16
Hola Juan!
Te agradezco la propuesta, actualmente es algo que valoramos. Lo comentaremos en la siguiente reunión.

[2017-02-27 14:14] Siotma commented on #12
El doodle se ha cerrado. La reunión tendrá lugar el jueves día 2 de marzo de 13:00 a 15:00 en la nave 1.0.B06.
Recuerdo que en caso de que lleguéis y esté cerrado, os asoméis por la barandilla del primer piso para comprobar si estamos dentro y avisarnos para que se os abra.
Será útil que traigáis vuestros portátiles, en la medida de lo posible.

Trabajaremos en la calibración de ambas impresoras c

[2017-02-28 11:26] David-Estevez commented on #16
Yo también os animo a que os constituyáis como grupo activo, tenéis mucho potencial y estáis haciendo las cosas realmente bien, realmente os merecéis todas las ventajas de ser un grupo activo.

De todas formas, y aunque no seáis grupo activo todavía, os he incluído en la portada de la wiki de ASROB junto a G.A.M.E para que tengáis la visibilidad que os merecéis: http://asrob.uc3m.es/index.php/Main

[2017-03-02 14:07] Siotma commented on #4
Hoy, hemos flasheado este código a Hija Resurrection.

No hemos podido realizar pruebas de impresión aún, pero animamos a todos los usuarios a que las hagan.
[Marlin-1.0.2-2_Hija_Resurrection_2_Marzo.zip](https://github.com/asrob-uc3m/impresoras-asrob/files/814002/Marlin-1.0.2-2_Hija_Resurrection_2_Marzo.zip)

[2017-03-02 15:57] JorFru commented on #11
1. En la reunió de hoy se ha flasheado [este](https://github.com/asrob-uc3m/impresoras-asrob/issues/4#issuecomment-283662186) firmware a Hija Resurrection.
2. Se han nivelado las camas de ambas, Hija y Blacky.
3. El ajuste de pasos por mm de Hija se ha resuelto y ya imprime con las dimensiones correctas.
4. Y se han hecho algunas pruebas de impresión y se añaden las fotos a continuación.
5. Respec

[2017-03-02 17:06] Siotma commented on #12
En la reunión de hoy se ha trabajado con ambas impresoras (ver #11 )
@Morgloz , @jorgercobo , @LuciaHonrubia y @JorFru (menciono para que se suscriban automáticamente al hilo) hemos estado nivelando las impresoras y mejorando la instalación de Repetier en Linux. Además hemos aprendido a configurar el firmware de Hija Resurrection para arreglar el problema de pasos por mm, aunque ha aparecido otro

[2017-03-02 17:46] Siotma commented on #4
Las pruebas de impresión realizadas por @JorFru y reflejadas en #11 demuestran que el problema finalmente se ha subsanado al flashear el nuevo firmware.

[2017-03-02 17:46] #4 closed, assigned to nobody

[2017-03-02 17:49] JorFru commented on #11
Las piezas están saliendo bien en cuanto a medidas.
El problema de error en la temperatura creemos que está ya resuelto. Hemos cambiado el tiempo de refresco de la lectura de temperatura de la cama (de 5000 a 1000ms) y hemos activado la función de histéresis para que el control sea mejor.
Damos por cerrada la issue, ya que esto funciona y abriremos otra para añadir mejoras y pijadas a las máquinas

[2017-03-02 17:49] #11 closed, assigned to Siotma

[2017-03-02 17:49] Siotma commented on #16
Con retraso, te agradezco mucho el detalle David. De momento estamos documentando con Issues porque es más rápido y no tenemos mucho tiempo. Por ese mismo motivo, hoy no hemos podido comentar este tema. Próximamente tendréis más noticias nuestras.

[2017-03-02 17:58] Siotma commented on #2
Hoy se ha completado la instalación de Repetier. Ahora mismo se puede lanzar tanto desde la sesión de ASROB como desde la de invitado. Sin embargo, aún no es funcional en la cuenta de invitado.
Tal y como se ha mencionado en #11, el sistema operativo no permite a la sesión de invitado acceder a los puertos serie. Este es el último paso necesario para que la impresora se pueda utilizar por externos

[2017-03-02 18:09] David-Estevez commented on #12
Llamadme pesado, pero... http://goo.gl/forms/movrqVPe6k :see_no_evil:

Edit: no había visto tu respuesta [en el otro hilo](https://github.com/asrob-uc3m/impresoras-asrob/issues/16#issuecomment-283726952)... no quería ser tan pesado :sweat_smile:

[2017-03-02 18:14] David-Estevez commented on #2
¿Y no se podrá resolver añadiendo al usuario invitado al grupo `dialout`? (como hay que hacer con el IDE de Arduino para poder programar las placas sin sudo)

[2017-03-02 18:27] jgvictores commented on #2
Metí un `/etc/udev/rules.d/80.guest-printer.rules`:
[code]

Y ya conecta desde `guest`!

[2017-03-02 19:20] Siotma commented on #2
En relación al comentario de @David-Estevez , resaltar el detalle de que la cuenta de invitado se crea una distinta cada vez que se inicia sesión, con distinto nombre de usuario. Por ello no hay ningún usuario al que añadir al grupo, sino que debe ser hecho en cada inicio de sesión. Así pues la solución de @jgvictores es maravillosa.

[2017-03-02 19:26] David-Estevez commented on #2
no tenía ni idea, gracias por la aclaración!

[2017-03-02 19:35] Siotma commented on #1
Acabo de commitear el firmware de Hija Resurrection ([Marlin 1.0.2-2](https://github.com/MarlinFirmware/Marlin/releases/tag/1.0.2-2)) dentro de nuestro repositorio para que esté siempre disponible y se pueda trabajar sobre él en la medida de lo necesario hasta que quede perfectamente afinado. La idea más importante es no perder todos los parámetros de configuración únicos que están almacenados en

[2017-03-02 19:44] David-Estevez commented on #1
Hombre, igual lo más interesante hubiese sido hacer un fork del repositorio. Para tener una versión concreta es suficiente con hacer checkout en el commit que nos interese.

En teoría con tener los Configuration.h de las impresoras y apuntar el commit de esa release deberíamos poder restaurarlo todo a como estaba en caso de fallo catastrófico.

[2017-03-03 09:31] Siotma commented on #2
Problemas encontrados con el PC durante la mañana de hoy:

1. La sesión de invitado no puede ver los perfiles de Slic3r ni de CURA creados por la sesión de ASROB, por tanto no se puede imprimir con ellos como invitado. Especifico el problema:
	a. La sesión de invitado sí puede lanzar Repetier.
	b. La sesión de invitado sí puede conectar Repetier con la impresora.
	c. La sesión de invitado sí pude

[2017-03-03 09:32] Siotma opened #17 "El bote de laca ha desaparecido"
Esto es un serio problema, ya que es de los pocos recursos de la asociación que se dejan fuera del armario...

Hasta hoy no recuerdo que hubiera pasado nunca, pero ayer ya no estaba, y no lo encuentro en ningún armario.

[2017-03-03 10:35] David-Estevez commented on #17
El bote se lo dejé yo el otro día a los del departamento, que habían comprado laca que no era Nelly y la suya no pegaba nada... Pero se nos olvidó bajarla después de usarla :sweaty_smile:

Estoy gestionando su devolución.

[2017-03-03 10:52] Siotma commented on #2
Documentación gráfica para el post anterior:

Pieza impresa con la sesión de ASROB (hubo un problema de adhesión a la cama, pero ninguno relacionado con el PC):
![pieza_sesion_asrob](https://cloud.githubusercontent.com/assets/6171234/23548375/8400c372-0007-11e7-93e4-8568bc0877ef.jpg)

Pieza impresa con la sesion de invitado:
![pieza_sesion_invitado](https://cloud.githubusercontent.com/assets/61712

[2017-03-03 10:59] Siotma commented on #17
Sin problema, David, lo importante es saber dónde está. Mi preocupación era que alguien la hubiera mangado pero ya veo que no :)

La laca ha sido devuelta, la he dejado junto a las impresoras.

Issue cerrada en tiempo récord.

[2017-03-03 10:59] #17 closed, assigned to nobody

[2017-03-05 20:45] Siotma commented on #12
El doodle se ha cerrado. La reunión tendrá lugar el jueves día 9 de marzo de 13:00 a 15:00 en la nave 1.0.B06.
Recuerdo que en caso de que lleguéis y esté cerrado, os asoméis por la barandilla del primer piso para comprobar si estamos dentro y avisarnos para que se os abra.
Será útil que traigáis vuestros portátiles, en la medida de lo posible.

Trabajaremos en la calibración de ambas impresoras c

[2017-03-05 20:48] Siotma commented on #1
Lo he estado valorando y tienes toda la razón.

En breve haré los cambios necesarios para dejarlo como tú dices.

[2017-03-06 09:13] Siotma commented on #1
Hecho.

[2017-03-07 12:51] JorFru commented on #6
Blacky dió problemas las dos veces que fui a imprimir con ella.
La primera capa la imprime bien. Al pasar a la segunda, parece que no sube lo suficiente en el eje Z. Atropella lo que había impreso antes, y cuando intenta hacer la tercera capa todavía peor. Parada de emergencia antes de romper algo.
Se probó cambiando la altura de capa a casi el doble y nada. Se revisó la configuración de pasos/mm

[2017-03-07 14:29] andrespy commented on #6
Los pasos por mm estan bien puestos en el Marlin? Podria ser una causa

[2017-03-07 14:36] Siotma commented on #6
La cuestión es que el viernes pasado estuve imprimiendo sin errores,
entonces es un fallo que ha aparecido entre el viernes por la mañana y el
lunes.
Este jueves investigaremos y probablemente le flashearemos un firmware
nuevo para tener las dos impresoras con la misma versión.

Enviado desde Android

El 7 mar. 2017 15:29, "andrespy" <notifications@github.com> escribió:

[2017-03-09 14:23] Luciahonrubia commented on #16
En la reunión de hoy, hemos comentado la idea de formalizar un grupo de trabajo. Todos hemos estado de acuerdo; el responsable de impresoras será Jorge y el del grupo será Manuel.
Se espera buena cooperación entre nosotros y progreso en el grupo.

[2017-03-09 14:23] #16 closed, assigned to nobody

[2017-03-09 14:39] JorFru commented on #16
No estuve en la reunión pero apoyo la idea! MAGA

On Mar 9, 2017 15:23, "Luciahonrubia" <notifications@github.com> wrote:

En la reunión de hoy, hemos comentado la idea de formalizar un grupo de
trabajo. Todos hemos estado de acuerdo; el responsable de impresoras será
Jorge y el del grupo será Manuel.
Se espera buena cooperación entre nosotros y progreso en el grupo.

—
You are receiving this beca

[2017-03-09 14:41] Morgloz commented on #6
Era un problema con Slicer, estaba configurado con un offset de -4. Ya está corregido
![ficha](https://cloud.githubusercontent.com/assets/18406501/23754823/aec2c480-04de-11e7-881a-9c520dd8861c.jpg)

[2017-03-09 14:41] #6 closed, assigned to nobody

[2017-03-09 14:46] JorFru commented on #6
Ayer probé a imprimir con un perfil de Slic3r que hice a posta y llamé
JorFru-prueba. Ajusté el parámetro Zoffset a 0 y aunque mejoró un poco la
cosa, seguía arrastrando mucho el extrusor por la pieza. Parada de
emergencia a la tercera capa por riesgo de rotura.

Si decís que está bien cojonudo. Igual que el problema llegó, se puede ir:
fugazmente.

Qué desajustes más raros le ocurren a esa máquin

[2017-03-09 16:08] David-Estevez commented on #16
Genial!! :clap: :clap:  para finalizar el proceso, seguid los pasos que se explican en [#68](https://github.com/asrob-uc3m/actas/issues/68)

[2017-03-09 17:45] Siotma commented on #12
En la reunión de hoy hemos hecho lo siguiente:

- Nos hemos constituido como grupo de trabajo activo, tras valorar si teníamos la motivación y cumplíamos los estatutos (ver #16 ).

- Realizado una prueba de impresión en Hija Resurrection. El resultado ha sido satisfactorio salvo porque la impresión se ha interrumpido debido a un nudo en el filamento. Ya ha sido resuelto, y esperamos que no vuelva

[2017-03-09 17:49] Siotma commented on #2
Hoy, @David-Estevez y yo hemos estado intentando enlazar las sesiones de ASROB e invitado con éxito parcial.

Hemos descubierto que existe un script (no recuerdo ahora mismo la ruta ni el nombre) que se ejecuta con cada inicio de sesión de la sesión de invitado. Este script se puede modificar con permisos de sudo y añadir los pasos necesarios para enlazar la configuración de Repetier y Slic3r con

[2017-03-13 08:44] Siotma commented on #12
El doodle se ha cerrado. La reunión tendrá lugar el martes día 14 de marzo de 13:00 a 15:00 en la nave 1.0.B06. Además, he seleccionado el día de hoy y el jueves en el mismo horario como días adicionales para que otros miembros del grupo de trabajo puedan acercarse a trastear con Slic3r.

Recuerdo que en caso de que lleguéis y esté cerrado, os asoméis por la barandilla del primer piso para comprob

[2017-03-13 10:17] jgvictores commented on #12
@Siotma Enhorabuena por la cantidad de curro que le estáis echando, y sobre todo... ¡Muchas Muchas GRACIAS y ENHORABUENA por estar documentando con tanto detalle!

cc: @Morgloz @jorgercobo @LuciaHonrubia @JorFru et al. [at] Printer One.

[2017-03-13 10:57] David-Estevez commented on #12
Su cuaderno de bitácora tiene muchísima mejor pinta que el nuestro... habrá que aprender de ellos!!

[2017-03-14 14:08] Siotma commented on #12
En la reunión de hoy, hemos trabajado con ambas impresoras:
En Blacky:
- Hemos flasheado la última versión de Marlin.
- Hemos realizado una prueba de impresión satisfactoria.

En Hija Resurrection:
- Hemos realizado dos pruebas de impresión satisfactorias (ver imagen)
- Hemos colocado el cartón por debajo de la base para reducir la pérdida de energía.
- Hemos retirado la brida y hemos puesto un tr

[2017-03-16 11:00] rodriwp opened #18 "Logo para wiki y otras cosas"
He estado jugueteando con gimp, y tengo dos propuesta de logo para la wiki ? Que os parecen ?

![printer_one_logo1](https://cloud.githubusercontent.com/assets/9463837/23993094/881d8a0c-0a3f-11e7-9f28-d243c4b00d2a.png)

![printer_one_logo3](https://cloud.githubusercontent.com/assets/9463837/23993238/14064f18-0a40-11e7-98f9-a5ae9f00b042.jpg)

Hacemos un doodle para votar cual poner en la wiki de asr

[2017-03-16 11:04] David-Estevez commented on #18
:open_mouth:  Molan!!

El segundo se lee un poco mal, ¿no? Yo probaría a cambiar el color de las letras de "printer one" o difuminar un poco el fondo a ver si se lee mejor :smile:

[2017-03-16 13:42] Siotma commented on #18
Creo que la primera está genial por ahora.

Contemplaría la posibilidad de hacer algo del estilo de la segunda pero creo que para eso deberíamos desanclar las impresoras y ponerlas con un fondo más uniforme. Se me ocurre imprimir alguna nave o soldado y ponerla también en forma decorativa.

[2017-03-16 15:03] David-Estevez commented on #18
Recordad subir los archivos fuente / vectorizados del logo molón a [recursos digitales](https://github.com/asrob-uc3m/recursos-digitales) para que se puedan usar en carteles, stickers y memorias cuando se necesite.

[2017-03-19 23:20] Siotma commented on #12
El doodle se ha cerrado. La reunión tendrá lugar el viernes día 24 de marzo de 13:00 a 15:00 en la nave 1.0.B06.

Recuerdo que en caso de que lleguéis y esté cerrado, os asoméis por la barandilla del primer piso para comprobar si estamos dentro y avisarnos para que se os abra.

Será útil que traigáis vuestros portátiles, en la medida de lo posible.

Trabajaremos en la configuración de los parámetr

[2017-03-24 13:59] Siotma commented on #12
En la reunión de hoy, hemos trabajado con ambas impresoras:
En Blacky:

1. Hoy hemos nivelado el final de carrera de Z.
2. Impresión de pieza de calibración para comprobar que las dimensiones de impresión son correctas y los ángulos entre el eje X y Y están a 90º.
3. Se comprueba que los ejes están a 90º y las dimensiones tienen un error menor del 0.7%. (ver imagen)

![calibracion_medidas_blacky](

[2017-03-25 13:56] David-Estevez opened #19 "Sensor autolevel"
Ayer @Siotma me comentó que estábais interesados en ponerle un sensor capacitivo como el de la M-Prime (y muchas otras) a las impresoras para implementar un auto-nivelado.

He estado hablando con Diego Trapero, que fue el que me vendió la impresora, y que ha dicho que ya no le quedan en stock. Pero me ha dado el número de referencia del sensor: LJ12A3-4-Z/BY

[2017-03-27 07:33] Siotma commented on #19
Por lo que he leído, este modelo es de tipo inductivo:
- https://www.amazon.com/LJ12A3-4-Z-DC6-36V-Inductive-Proximity-Detection/dp/B01LWOS1VA
- http://www.marchantdice.com/worldofcnc/pdf/homeswitch_wiring.pdf
- http://www.ebay.es/itm/LJ12A3-4-Z-BY-Inductive-Proximity-Sensor-Detection-Switch-PNP-DC6-36V-/290671992278

Esto no tendría que ser un problema en sí mismo, ya que de dar buen resultado se

[2017-03-27 07:45] Siotma commented on #12
He creado un Doodle para la presente semana.
Como ya comenté, esta semana me será imposible acudir a la reunión, aun así ya acordamos que yo no soy tan importante y que podéis tirar sin mi  :stuck_out_tongue_winking_eye:

He propuesto dos objetivos para que sigamos avanzando, aunque al final la última palabra la tendréis los que vayáis:

- Mejorar los textos de la Wiki y adaptarla al formato de ot

[2017-03-27 08:16] David-Estevez commented on #19
Eso explicaría por qué la cama de la M-Prime es metálica... :sweat_smile:

Creo que con la configuración actual que tenemos el inductivo no funcionaría, pero la verdad es que me pierdo un poco con estos sensores.

[2017-03-27 12:41] Siotma commented on #19
Jajajajaja claro, con una cama metálica seguro que funciona a las mil maravillas. No obstante, el metal que llevan los espejos o las pistas de la propia cama caliente es posible que pudieran ser detectadas.

Yo creo que lo más sensato es hacer pruebas con algún sensor que pudiéramos pillar prestado y en función de los resultados programar la compra del que mejor nos venga.

[2017-03-30 11:03] Siotma commented on #12
El doodle se ha cerrado. La reunión tendrá lugar mañana viernes día 31 de marzo de 13:00 a 16:00 en la nave 1.0.B06.

Recuerdo que en caso de que lleguéis y esté cerrado, os asoméis por la barandilla del primer piso para comprobar si estamos dentro y avisarnos para que se os abra.

Será útil que traigáis vuestros portátiles, en la medida de lo posible.

Trabajaremos en la configuración de los pará

[2017-03-31 14:22] jorgercobo commented on #12
En la reunión de hoy, hemos trabajado en:

- En la wiki:
 Hemos puesto a Printer One y a G.A.M.E en portada como grupos activos
- En Hija de Resurreción:
1. Prueba de impresión con soportes generados por Slicer fallida.
    Cambio de configuración en Slicer: Interface layers: de 3 a 0.
2. Segunda prueba de impresión con soportes generados por Slicer. Soportes impresos correctamente, aunque debido

[2017-03-31 15:12] David-Estevez commented on #12
Como habréis descubierto empíricamente, esa solución no funciona muy bien. Dado que estáis imprimiendo en ABS, hay un par de soluciones más eficaces y extendidas entre la comunidad:
1. Usar la famosa "pasta de acetona". Disolver un trozo de ABS en acetona (lo más pura posible) y aplicar, o bien a la base antes de imprimir, o bien a la pieza en la zona que se está despegando. Al secarse se funde co

[2017-04-01 13:21] Siotma commented on #12
Mis experiencias con ABS confirman que el Brim es una muy buena opción para mejorar la adhesión a la base de impresión.

He creado un Doodle para semana que viene.
Esta semana mi disponibilidad cambia y tengo algunas tardes libres, lo que hará que podamos realizar reuniones más extensas.

Como objetivos podemos tener los siguientes:

- Mejorar los textos de la Wiki y adaptarla al formato de otros

[2017-04-01 13:27] Siotma commented on #12
Asimismo, puntualizo que al haber sustituido el enlace de la portada, la antigua página de impresoras se ha quedado huérfana (http://asrob.uc3m.es/index.php/Impresora-3D_Open_Source).

Además de utilizar la información que contiene para crear la nuestra, habría que enlazarla desde la sección antiguos proyectos...

[2017-04-01 14:04] Siotma commented on #18
He añadido el logo a la página de la wiki.

http://asrob.uc3m.es/index.php/Printer_One:_A_Clone_Wars_Story

[2017-04-04 07:37] Siotma commented on #12
El doodle se ha cerrado. La reunión tendrá lugar hoy martes 4 de abril de 13:00 a 19:00 en la nave 1.0.B06.

Puntualizar que no es necesario venir durante todo el horario, que cada uno se acerque según vaya pudiendo. Yo, por ejemplo, iré a las 14:00.

Recuerdo que en caso de que lleguéis y esté cerrado, os asoméis por la barandilla del primer piso para comprobar si estamos dentro y avisarnos para

[2017-04-04 07:42] Siotma commented on #2
Hoy tenemos reunión de Printer One ( #12 ) y mi idea es retomar lo dicho en el último comenario. Si podéis pasaros @David-Estevez o @jgvictores durante la tarde para repasar esto sería genial.

[2017-04-04 08:06] David-Estevez commented on #2
Como ya hemos quedado esta tarde en la nave, os puedo echar un cable cuando terminemos la reunión con Javi

[2017-04-04 18:28] Siotma commented on #2
Creemos que el tema está en copiar los archivos values.xml

![Imagen](https://cloud.githubusercontent.com/assets/6171234/24672389/d02eb9ee-1974-11e7-98f5-3b1da9984e5a.PNG)

Se puede añadir código en el script guest-session-auto.sh que está dentro de la carpeta usr/lib/lightdm para realizar las copias siempre que se inicie sesión.

[2017-04-04 21:50] David-Estevez commented on #2
y no se podría copiar directamente el registry del repetier de un user a otro? y así dejamos de tener que controlar tanto archivo suelto...

[2017-04-05 02:33] jorgercobo commented on #12
En la reunión de hoy (14:00 a 21:00 horas), hemos trabajado en:
- En Blacky:
1. Se ha avanzado en la configuración de su PC. #2
2. Se ha intentado imprimir un Hairy Lion: el tiempo de fileteado tardaba demasiado, así que hemos optado por no seguir. Posible tema de reunión: Modelos 3D y tiempo de fileteado.
3. Prueba de impresión satisfactoria: tornillo y tuerca moleteados.
![photo_2017-04-05_03-47

[2017-04-05 16:14] Siotma commented on #19
De momento estamos mejorando los finales de carrera mecánicos que tenemos ( ver [este comentario](https://github.com/asrob-uc3m/impresoras-asrob/issues/12#issuecomment-291723846), con muy buenos resultados.
A futuro, cuando otras mejoras más urgentes estén completas, se acometerá la investigación de este tipo de sensores.

[2017-04-05 16:16] Siotma commented on #2
No sé lo que es el registry... pero cualquier prueba es bienvenida! :D

Yo creo que todos tenemos claro el objetivo:
Que la sesión de invitado inicie Repetier con todo listo para darle al botón de Slic3r y al de imprimir y funcione.

La forma de conseguirlo, es lo que estamos buscando y, por cierto, el primero que lo consiga, se llevará una gran admiración general 🤣

[2017-04-05 16:46] David-Estevez commented on #2
Seguramente no me expliqué bien. Quería decir la carpeta  `repetier` de dentro de la carpeta `registry` de mono (que según la imagen que has puesto parece que contiene todos los archivos `values.xml`)

Imagino que esta carpeta lo que hace es emular el registro de Windows, que no existe en GNU/Linux.

[2017-04-05 16:53] Siotma commented on #2
Ah, comprendo, sí sí, totalmente de acuerdo. Yo incidí en los archivos xml porque son lo realmente importante pero obviamente una sola copia de la carpeta repetier cumple con todos los requisitos.

[2017-04-08 08:49] andrespy opened #20 "reajuste de pid de la cama caliente"
La mejora de ponerle un material aislante térmico en la parte inferior de la impresora me parece muy buena idea para disminuir la disipación por la parte inferior y llegar a la temperatura "meta" más rápido.

Ayer imprimiendo, algunas piezas se despegaban y diría que es debido a que al no ser igual la disipacion por la parte superior de la impresora que por debajo el NTC mide una temperatura que y

[2017-04-11 12:53] David-Estevez commented on #8
A modo de primera aproximación, he creado https://github.com/asrob-uc3m/printers-status-webpage

Es una web estática, lo que significa que habría que hacer un cron job periódico para mantenerla actualizada. Como sólo implica una petición a la api de github, no creo que haya problema por actualizar la página 3/4 veces al día.

En el futuro se podría integrar con los webhooks de GitHub para que GitH

[2017-04-12 15:50] David-Estevez commented on #8
Ya lo tenemos funcionando! http://asrob.uc3m.es/printers/

Se debería actualizar cada hora de las 8h a 22h (por si hay alguna incidencia durante el día). No es instantáneo pero debería servir por ahora.

[2017-04-15 10:13] Siotma commented on #20
Lo que comentas de comprobar las temperaturas de superficie y bajo la cama caliente me parece muy interesante, se podría hacer con otro termistor.

Respecto al Thermal Runaway, si ha vuelto a saltar, se debería seguir ampliando la tolerancia sí.

Pero en cuanto al PID de la cama, me temo que es imposible puesto que va con relé y por ese motivo el PID está desactivado. Activar el PID de la cama con

[2017-04-15 10:17] Siotma commented on #19
Dejo este enlace por aquí ya que parece una buena opción. Al ser mecánico nos olvidamos de los problemas derivados del material de la cama.

**http://www.3despana.com/sensores-autonivel/494-sensor-autonivel-3dtouch-bltouch-servo-switch.html**

[2017-04-15 10:21] Siotma commented on #18
Me gusta mucho la idea del segundo logo, que también contenga las fotos de las impresoras, pero habría que hacerlo con un fondo uniforme que no despiste tanto.

[2017-04-15 10:42] Siotma commented on #8
Pequeños comentarios al trabajo realizado:

1. La web es una pasada total. Me encanta el aspecto, lo bien que se maneja con el móvil... todo!
2. El texto correspondiente al apartado "manual de operador" no es el adecuado, ya que es el mismo que el de "incidencias".
3. La hoja de excel a la que dirigen los botones de reserva es en ambos casos la misma, esto puede permitir que la gente realice reser

[2017-04-15 11:42] David-Estevez commented on #19
Hombre, si queréis algo mecánico y más artesanal, hay servos de 9g en el armario, y finales de carrera. Y thingiverse tiene diseños de autolevel para ellos:
    - http://www.thingiverse.com/thing:330162
    - http://www.thingiverse.com/thing:1703665
Lo digo sobretodo por el valor didáctico de diseñar/montar tu propio sensor :wink:

[2017-04-15 12:55] David-Estevez commented on #8
Muchas gracias por los halagos, @Siotma , realmente animan a seguir trabajando en ello :smile:

Sobre los fallos que comentas (2, 3 y 4), voy a crear issues correspondientes en el [repositorio de la web de impresoras](https://github.com/asrob-uc3m/printers-status-webpage) para tenerlas centralizadas.

Sobre el punto 5, también pondré una issue, pero seguramente no se lleve a cabo de forma inmediat

[2017-04-17 22:10] jorgercobo commented on #12
El doodle se ha cerrado. La reunión tendrá lugar el miercoles 19 de abril a partir de las 16:00 en la nave 1.0.B06.

Recuerdo que en caso de que lleguéis y esté cerrado, os asoméis por la barandilla del primer piso para comprobar si estamos dentro y avisarnos para que se os abra.

Será útil que traigáis vuestros portátiles, en la medida de lo posible.

Trabajaremos en la configuración de los parám

[2017-04-18 16:48] Siotma commented on #8
@David-Estevez , no era consciente de que la página tuviera su propio repositorio, a futuro realizaré los comentarios en las issues correspondientes.

Suscribo totalmente los comentarios que haces. Yo hacía las propuestas con vistas a futuro, y obviamente sujetas a debate previo, pensando en que en la asociación hay gente no solo de electrónica y automática, sino también de informática y otras dis

[2017-04-18 17:36] David-Estevez commented on #8
No problem! Yo me ofrezco para todas estas cosillas informáticas, pero son cosas que se irán haciendo muuuuy poco a poco (en los ratos libres que tenga, básicamente :sweat_smile: ).

¿Damos pues por cerrada esta issue?

[2017-04-18 18:10] Siotma commented on #8
Cierra sí 👍 ya duplico yo lo que he escrito en su sitio, y que esta Issue descanse en paz.

[2017-04-18 18:11] David-Estevez commented on #8
Guay! Cerrando issue entonces...

[2017-04-18 18:11] #8 closed, assigned to David-Estevez

[2017-04-22 08:27] Siotma commented on #13
El filamento que doné a Hija Resurrection está en sus últimos metros. Cómo podemos conseguir más?

[2017-04-22 10:44] David-Estevez commented on #13
Asigno a Juan para que nos diga cómo proceder.

Por cierto, cuidado con las etiquetas de las issues, porque con un "NO FUNCIONA" se desactivan las impresoras en la web :wink:

[2017-04-22 15:18] jgvictores commented on #13
1. Entiendo que hablamos de rollo de ABS verde (mencionado para HIJA RESURRECTION arriba).
1. Serviría el de [la foto](https://cloud.githubusercontent.com/assets/4448588/24302566/64402598-10b3-11e7-8e00-5488756174ad.jpg) de https://github.com/asrob-uc3m/actas/issues/69?

[2017-04-23 23:15] Siotma commented on #13
¡¡Claro que serviría!!

Había olvidado que existía. El primero que acabe con el rollo actual que ponga ese.

Gracias Juan, qué velocidad para dar soluciones!

[2017-04-24 11:30] Siotma commented on #12
En la última reunión (miércoles 19 de 17:00 a 21:00) trabajamos en lo siguiente:

En Blacky:

- Se ha querido imprimir una pierna de Zowi: el resultado ha sido erróneo dos veces:
1. La primera vez el ordenador cerró sesión por tiempo de inactividad y al recuperarla el proceso Repetier crasheó. Se han deshabilitado todos los temporizadores de inactividad en este PC para que esto no vuelva a ocurrir

[2017-04-24 13:33] jgvictores commented on #13
Cerrar issue? 😄

[2017-04-24 13:51] JorFru commented on #13
Me nombro responsable de gastar hasta el último centímetro!
Y también de reponerlo. Esta tarde cae!

On Apr 24, 2017 15:33, "Juan G. Victores" <notifications@github.com> wrote:

[2017-04-24 16:34] JorFru commented on #13
Prueba de que el filamento antiguo se ha gastado
![photo_2017-04-24_18-32-23](https://cloud.githubusercontent.com/assets/11017088/25347819/6f1df8ba-291c-11e7-9186-39104232823a.jpg)
Prueba de que el filamento nuevo se ha instalado.
![photo_2017-04-24_18-32-21](https://cloud.githubusercontent.com/assets/11017088/25347818/6f169106-291c-11e7-875e-a5d171186649.jpg)

[2017-04-24 16:34] #13 closed, assigned to jgvictores

[2017-04-26 18:17] Siotma commented on #12
El doodle se ha cerrado. La reunión tendrá lugar el viernes 28 de abril de 15:00 a 17:00 en la nave 1.0.B06.

Puntualizar que no es necesario venir durante todo el horario, que cada uno se acerque según vaya pudiendo. Si alguien va a llegar entre las 13:00 y las 15:00 que avise para que se le abra. Yo calculo que me quedaré hasta las 19.

Recuerdo que en caso de que lleguéis y esté cerrado, os aso

[2017-04-28 17:23] Siotma commented on #12
En la reunión de hoy (de 15:00 a 19:00) trabajamos en lo siguiente:

En Blacky:

- Se han querido imprimir soportes para ventilador de electrónica:
1. Se ha impreso [este](https://www.thingiverse.com/thing:770533) modelo para usarlo con el ventilador de 80mm de Hija Resurrection, pero es un diseño para 60mm por lo que no servirá.
2. Luego se ha impreso [este otro](https://www.thingiverse.com/thing

[2017-05-03 16:49] Siotma commented on #12
En la reunión de hoy (de 17:00 a 19:00) trabajamos en lo siguiente:

En Blacky:

- Se han terminado de imprimir los soportes para ventilador de electrónica:

1. Se ha impreso [este](http://www.thingiverse.com/thing:1052196) que soporta dos ventiladores de 40mm y tiene buena pinta. Pendiente de colocar de momento.

- Se ha modificado el Marlin:
1. Se ha aumentado la tolerancia de la detección de Th

[2017-05-04 18:45] Siotma commented on #12
Asrobot ha creado un Doodle para la semana que viene: http://doodle.com/poll/vvu9witzzwbe4mre#table

Como objetivos podemos tener los siguientes:

1. Buscar el mejor lugar para soldar, soldar y colocar los ventiladores de la electrónica de Blacky.

2. Imprimir un final de carrera de Z  como [este ](http://www.thingiverse.com/thing:1776429) para Blacky. Igual que el que le pusimos a Hija Resurrecti

[2017-05-08 15:14] jgvictores commented on #12
¿Sería mucho pedir que entre los objetivos se fuese sumando el mejorar/actualizar los manuales? :smile:
- https://www.gitbook.com/book/asrob-uc3m/impresoras-user-manual-i3
- https://www.gitbook.com/book/asrob-uc3m/impresoras-maintenance-manual-i3

[2017-05-09 16:37] jorgercobo opened #21 "Diseñar a medida e imprimir soportes de motores de Blacky"
Una de las piezas que sujetan los motores de Blacky para evitar que vibren ha desaparecido. Creo que el diseño era de @Siotma

[2017-05-09 17:21] jorgercobo opened #22 "Recalibrar Blacky y mejorar final de carrera"
La cama caliente de Blacky está ligeramente desnivelada y es dificil recalibrarla ya que en la posición correcta los tornillos que la regulan:

- El delantero izquierdo necesita estar muy suelto por lo que la cama puede vibrar.
- El delantero derecho necesita estar muy apretado por lo que no deja libertad para ajustarlo.

Ademas el final de carrera cada día está más suelto y es necesario reposicio

[2017-05-09 17:59] jorgercobo commented on #12
Como se nos van acumulando objetivos poco a poco, he creado un proyecto en este repositorio en el que organizar los objetivos: [Printer One: A Clone Wars Story](https://github.com/asrob-uc3m/impresoras-asrob/projects/1)

[2017-05-09 19:04] David-Estevez commented on #12
Mola!! Pro tip: puedes importar también directamente issues que ya estén creadas al tablón, y te muestra el estado (abierta o cerrada) de la issue, y te pone el link automáticamente :wink:

[2017-05-09 20:44] jorgercobo commented on #12
Muchas gracias, queda mucho mejor así

[2017-05-09 21:25] Siotma commented on #21
En efecto, el diseño inicial es mío, ya que yo diseñe [estas piezas](https://github.com/Siotma/developrints/tree/master/Soporte%20motor%20Z) para mi impresora.

Sin embargo, no ha desaparecido nada, puesto que únicamente se imprimió una pieza, no dos.

El motivo de que solo se imprimiera una es que por aquel entonces, Hija Resurrection tenía el problema de pasos por mm ( #4 ), y de hecho las medid

[2017-05-09 21:28] Siotma commented on #22
Si mal no recuerdo, @andrespy ya imprimió las piezas para equiparar el final de carrera de Z de Blacky al de Hija Resurrection.

Como bien dices, primero final de carrera, y segundo nivelado de la impresora

[2017-05-09 21:32] Siotma commented on #12
Me encanta :')

Es justo lo que nos hacía falta!

Se podría programar a ASROBOT para que haga los Doodles y ponga el link al proyecto en la descripción del Doodle, por ejemplo:

Sería una pasada

[2017-05-09 21:43] David-Estevez commented on #12
No lo he entendido bien... queréis que ponga el link del doodle en el proyecto? en una tarjeta nueva?

[2017-05-09 21:47] Siotma commented on #12
No, justo lo contrario.

Ahora mismo, ASROBot es capaz de hacer Doodles como [este](http://doodle.com/poll/vvu9witzzwbe4mre#table)

Imagino que ASROBot es quien decide la descripción del Doodle. Actualmente dicha descripción es:

Y yo sugiero, que aumentemos esa descripción con otra línea, quedando así:

[2017-05-09 21:53] David-Estevez commented on #12
Ahora mismo el comando que se lanza para crear un doodle tiene muy pocos argumentos, entre ellos el nombre del grupo. Digamos que es una plantilla que pone "Elegir fecha para la próxima reunión de X".

Pero si os hace muuucha muuucha ilusión se podría modificar para que, además, se pudiese añadir una descripción personalizada.

[2017-05-09 22:01] jorgercobo commented on #21
Pues creo que está cambiada de sitio y al verla vibrar me he hecho un lio 😅

[2017-05-09 22:07] Siotma commented on #12
Ah, no, no es tan importante. Lo proponía solo si era cuestión de añadir el texto...

[2017-05-10 18:42] Siotma commented on #22
Hoy he montado las piezas que imprimió @andrespy para el final de carrera, sin embargo, presentan dificultades que han impedido dejarlo funcionando.

Ahora mismo Blacky está sin rollo de filamento por seguridad (está en el armario). En la próxima reunión lo vemos más detenidamente.

[2017-05-10 18:53] Siotma commented on #12
En la reunión de hoy (de 17:00 a 19:00) trabajamos en lo siguiente:

En Blacky:

- Se ha colocado un nuevo soporte para el endstop Z, pero se han encontrado numerosas complicaciones por lo que aún no está operativo, y la impresora está fuera de servicio ( #22 )

En Hija Resurrection:

- Se ha probado la pieza diseñada por @andrespy para mejorar el giro del rollo de filamento, y se han detectado po

[2017-05-18 18:14] Siotma commented on #12
En la reunión de hoy (de 18:00 a 19:30) trabajamos en lo siguiente:

En Blacky:

- Se ha terminado de colocar el soporte de Z, y se ha calibrado y nivelado la cama.
 Se ha utilizado un espaciador donado amablemente por @andrespy
![blacky_z_endstop_holder](https://cloud.githubusercontent.com/assets/6171234/26239464/6576c174-3c7d-11e7-8e5d-21adcc2af6ac.jpg)

- Se ha ajustado mejor el anclaje del ext

[2017-05-18 18:16] Siotma commented on #22
En la reunión exprés de hoy (18:00 - 19:30), @andrespy y yo hemos terminado de colocar el final de carrera y nivelado correctamente la impresora. Ver https://github.com/asrob-uc3m/impresoras-asrob/issues/12#issuecomment-302496980

[2017-05-18 18:16] #22 closed, assigned to nobody

[2017-05-18 18:19] Siotma commented on #21
Hoy, he roto el único soporte que había, ya que ha demostrado ser demasiado grueso y desequilibrar a Blacky, actualizo la tarea a "Diseñar a medida e imprimir soportes de motores de Blacky".

[2017-05-18 18:24] pamarinp opened #23 "Thermal runaway"
Mientras imprimia 4 ruedas del protobot se ha detenido la impresión a los 20 minutos aproximadamente en la segunda da capa. El fallo es debido a una caída de temperatura por parte del termistor del extrusor.
![img-20170518-wa0021](https://cloud.githubusercontent.com/assets/9695183/26217209/de3b9e80-3c06-11e7-821a-e05f66b7f3fa.jpeg)
![img-20170518-wa0019](https://cloud.githubusercontent.com/assets/

[2017-05-18 18:50] Siotma commented on #23
Es un fallo que ha sido recurrente últimamente, ya que detecta variaciones grandes en las temperaturas y realiza una parada de emergencia para evitar que la impresora se autodestruya.

Aunque las últimas veces se había activado la protección de forma demasiado rigurosa ( #20 , https://github.com/asrob-uc3m/impresoras-asrob/issues/12#issuecomment-298057269 , https://github.com/asrob-uc3m/impresoras

[2017-05-18 19:01] pamarinp commented on #12
![img_20170518_204551416](https://cloud.githubusercontent.com/assets/9695183/26218479/6832a8dc-3c0b-11e7-9cb9-bb444da4c2db.jpg)

La impresión de las 4 ruedas ha quedado finísima. Enhorabuena por esa calibración.

Con la otra impresora ha dado un problema de thermal runaway con cuatro ruedas pero con una si ha funcionado.
![img_20170518_210024280](https://cloud.githubusercontent.com/assets/9695183/

[2017-05-25 11:41] Siotma commented on #23
Hoy hemos repuesto el Kapton en Hija Resurrection. He traído un poco del mío mientras se adquiere el de la asociación ( https://github.com/asrob-uc3m/actas/issues/62 ).

Ha quedado muy bien, afianza el termistor firmemente y sobre todo ¡¡No se chamusca!! XD

Adjunto imagen que muestra el estado en que se encontraba el extrusor:
![kapton malo hija resurrection](https://cloud.githubusercontent.com/a

[2017-05-25 11:41] #23 closed, assigned to nobody

[2017-05-25 11:46] Siotma commented on #21
Hoy hemos medido la distancia entre los motores y la mesa: 2mm aproximadamente, y he diseñado esta pieza: [Soporte motor Z Blacky.zip](https://github.com/asrob-uc3m/impresoras-asrob/files/1028841/Soporte.motor.Z.Blacky.zip)

Hemos impreso uno con Hija Resurrection (para que sea negro y haga juego con el resto de las piezas de Blacky):

![soporte motor z blacky](https://cloud.githubusercontent.com/

[2017-05-25 13:27] Siotma opened #24 "Soldar y colocar los ventiladores de la electrónica de Blacky"
La posición más óptima parece ser crimpando directamente a los cables de la fuente de alimentación correspondientes al conector de 5A ( [ver imagen](http://www.reprap.org/wiki/File:Arduinomega1-4connectors.png) )

Se deben buscar los conectores necesarios y proceder a su montaje.

[2017-05-25 13:31] Siotma commented on #12
En la reunión de hoy (de 11:00 a 13:00) trabajamos en lo siguiente:

En Blacky:

- Se han valorado las dificultades que conllevaría instalar los ventiladores de la electrónica (https://github.com/asrob-uc3m/impresoras-asrob/issues/12#issuecomment-298969157). Necesitamos localizar dos conectores en los que podamos crimpar los cables que actualmente provienen de la fuente de alimentación del ventila

[2017-05-28 09:50] Siotma commented on #20
Esta issue se está volviendo un poco antigua. De las tres propuestas, dos ya se han resuelto:

- [x] Ya se amplió la tolerancia del thermal runaway en https://github.com/asrob-uc3m/impresoras-asrob/issues/12#issuecomment-298057269 y en https://github.com/asrob-uc3m/impresoras-asrob/issues/12#issuecomment-298969157

- [x] El PID de la cama caliente se encuentra desactivado y no se debe activar para

[2017-05-30 07:54] pamarinp opened #25 "Old reservation excel file"
The excel file for reservation is from the last week. I would need to reserve for today if possible from 19h to 21h

Pablo Marín - PD

[2017-05-30 10:31] Siotma commented on #25
Thanks for the notice.

I've just fixed it.

[2017-05-30 10:31] #25 closed, assigned to nobody

[2017-05-31 06:28] pamarinp opened #26 "Thermal Runaway 2 en Hija Resurrection y problema de fijación de espejo en Blacky"
Incluso con el nuevo kapton y lo bien fijo que está el termistor, al imprimir dos ruedas del protobot, ha saltado el mensaje de thermal runaway de nuevo. Siento no haber hecho más fotos. Cerré el programa y lo volví a abrir rápido para aprovechar y poner sólo una rueda y funcionó bien.
![img_20170530_193627410](https://cloud.githubusercontent.com/assets/9695183/26618488/d1dbbd4a-45da-11e7-81e9-972

[2017-06-04 13:18] Siotma commented on #26
Gracias por dejar constancia de este problema.

Dado que la captura del error de Thermal Runaway está hecha en Windows, deduzco que has intercambiado los nombres de las impresoras en el título de la issue:
- Hija Resurrection imprime en negro y usa windows xp.
- Blacky imprime en amarillo y usa lubuntu.

Tras un Thermal Runaway lo más importante es **registrar la curva de temperatura** para poder

[2017-06-07 17:38] Siotma commented on #12
En la reunión de hoy (de 11:00 a 13:00) trabajamos en lo siguiente:

En Blacky:

- Se ha colocado el segundo soporte de motor Z y se ha cerrado la issue correspondiente ( https://github.com/asrob-uc3m/impresoras-asrob/issues/21 ). El resultado puede encontrarse en la siguiente imagen:

![soporte motor z blacky colocado](https://user-images.githubusercontent.com/6171234/26892478-be80e16a-4bb8-11e7-

[2017-06-07 17:39] Siotma commented on #21
Hoy, se ha impreso la base que faltaba: https://github.com/asrob-uc3m/impresoras-asrob/issues/12#issuecomment-306869765

![soporte motor z blacky colocado](https://user-images.githubusercontent.com/6171234/26892478-be80e16a-4bb8-11e7-89e9-afe59d24d3a6.jpg)

[2017-06-07 17:39] #21 closed, assigned to nobody

[2017-06-07 18:21] Siotma commented on #2
Hoy, he conseguido darle vida a la sesión de usuario, tras echarle unas cuantas horas.

Voy a describir lo que he hecho para que no se me olvide. La intención es que se pueda programar un script que lo haga todo automáticamente, pero para eso hoy no tengo tiempo ni conocimiento. Ahí va:

1. Para funcionar, Repetier necesita 3 carpetas:

- `/home/asrob/.Slic3r` Es donde se guardan los perfiles de S

[2017-06-07 19:15] pamarinp opened #27 "Error de envío de datos por puerto USB"
Esta vez ha sido un error de conexión. A mitad de la impresión ha saltado el siguiente error.
![img_20170607_195552143](https://user-images.githubusercontent.com/9695183/26896794-6d85a328-4bc6-11e7-860d-0560893fc233.jpg)

[2017-06-07 20:39] pamarinp commented on #12
Una impresión muy buena y rápida de blacky. Resultado muy correcto. Esta vez no se ha movido el espejo de la base. He imprimido con dos capas de raft y luego una de las capas no se despega de las piezas así que no se si es buena idea. He sido el primero en imprimir con la cuenta de invitado. Cuidado con que os salte el login de nuevo, no entréis otra vez a la sesión que se para la impresión. Sería

[2017-06-08 11:56] Siotma commented on #2
Tal y como comenta @pamarinp en https://github.com/asrob-uc3m/impresoras-asrob/issues/12#issuecomment-306917681 , la sesión de invitado tiene activado el auto log-out. Esto hace que sea técnicamente imposible volver a la sesión ya que si se inicia de nuevo como invitado creará otra cuenta distinta. Aunque la impresión sigue funcionando, el Repetier desaparece de la pantalla por lo que no es posibl

[2017-06-24 13:10] Siotma commented on #26
Ayer durante el taller de Zowimanoides me fue imposible imprimir piezas con Hija Resurrection por el problema de Thermal Runaway. Olvidé hacer fotos, pero describo lo que observé:

- El extrusor y la cama caliente son capaces de alcanza correctamente las temperaturas consignadas y las mantienen.

- Al comenzar a imprimir, y por tanto, a moverse la impresora, la curva de temperatura del extrusor fl

[2017-06-24 13:12] Siotma commented on #27
Los errores de conexión son mucho más comunes al imprimir desde el PC. Imprimiendo desde tarjeta SD se suelen minimizar.

También creo que sería interesante actualizar la versión de Repetier a la última versión ya que creo que tienen mejoras para evitar estos errores.

[2017-06-24 13:13] Siotma commented on #3
Ahora que ya sabemos configurar Lubuntu ( #2 ), resucito este hilo para hacer lo propio con el PC de Hija Resurrection.

[2017-06-24 13:15] jgvictores commented on #3
Ok, en uno de los armarios debería estar un PC similar al que ahora mismo tiene Lubuntu, para replicar el proceso (y dar de baja el equipo que ahora mismo lleva Windows).

[2017-06-26 09:40] David-Estevez commented on #3
El PC del armario tiene RAM? No se la llevó el ex-tesorero al recibir la donación?

[2017-06-26 09:41] David-Estevez commented on #27
En el caso de mi impresora de casa, los errores de conexión se resolvieron al usar cables USB con ferrita. No me he fijado en si los cables de las impresoras de la nave tienen o no ferrita, pero si no la tienen debería mejorar la conexión al cambiarlos.

[2017-06-26 20:22] jgvictores commented on #3
Mmm creo que había ocurrido eso, y entre Fernando el técnico y yo lo habíamos tratado de solucionar. Por favor revisadlo, y si no, volvemos a comentar con Fernando.

[2017-09-15 18:14] Siotma opened #28 "La fuente de Blacky ha muerto"
La fuente de alimentación de PC que estaba instalada en Blacky, ha dejado de funcionar.

Hemos intentado imprimir con la impresora, pero la fuente no se encendía.

Hemos identificado que la fuente estaba rota y la hemos tirado a la basura.

Recomendamos, cambiar la fuente por una nueva del armario.

[2017-09-16 09:39] Siotma commented on #28
Aprovechando el cambio de la fuente de alimentación, sería bueno mejorar el uso de los cables, en la línea de lo que comenzó a hacer @Morgloz ayer.

En la fuente antigua únicamente se habían dejado dos canales de 12V que llegaban directamente a la RAMPS. Sin embargo, las necesidades de 12V de la impresora también pasan por la conexión de ventiladores y el relé de la cama caliente. Por ello, se hab

[2017-09-16 11:37] Siotma commented on #12
Dada la buena acogida del grupo de trabajo [Printer One: A Clone Wars Story](http://asrob.uc3m.es/index.php/Printer_One:_A_Clone_Wars_Story), y para evitar seguir duplicando la información ya existente en [el cuaderno de bitácora](http://asrob.uc3m.es/index.php/Printer_One:_A_Clone_Wars_Story:_Cuaderno_de_Bitacora), se da por cerrada esta issue cuyo único objetivo era la promoción de reuniones de

[2017-09-16 11:37] #12 closed, assigned to Siotma

[2017-09-21 16:10] jgvictores commented on #26
@Siotma ¿Crees que esto se merece un "label: NO FUNCIONA"? ¿Quizás deberíamos añadir una etiqueta de valor intermedio estilo WARNING?

[2017-09-21 16:34] jgvictores opened #29 "Actualizar lista de operadores"
La [lista de operadores](http://asrob.uc3m.es/index.php/Operadores) no parece muy actualizada. Deberíamos de actualizarla. :-)

[2017-09-22 14:08] Siotma commented on #26
Gracias por retomar el hilo, @jgvictores .

En absoluto. Una etiqueta WARNING no tiene sentido, ya que en última instancia significaría lo mismo que la etiqueta NO FUNCIONA, es decir, que la impresora no puede ser utilizada por el público. Olvidé por completo colocar la etiqueta antes de irnos de vacaciones pero ya mismo lo hago.

Recalcar que en la [última reunión de Printer One](http://asrob.uc3

[2017-09-22 14:09] Siotma commented on #27
Este error se volvió a manifestar en la [última reunión de Printer One](http://asrob.uc3m.es/index.php/Printer_One:_A_Clone_Wars_Story:_Cuaderno_de_Bitacora#15_de_septiembre_de_2017). Por tanto, urge repararlo.

[2017-09-28 17:42] Siotma commented on #2
En la reunión de Printer One de la semana pasada, se añadió una línea adicional al script para desactivar al auto-logout; `export TMOUT=0`, tal y como aparece con una búsqueda rápida en Google.

Sin embargo, hoy, @davidvelascogarcia y yo hemos descubierto tras varias pruebas, que esta línea no cancela los temporizadores, que mantienen su valor por defecto (ver foto), por lo que no es válida por si

[2017-09-28 17:49] Siotma commented on #3
Esto hay que resucitarlo urgentemente. Ahora que tenemos gente en Printer One hay muchas manos para pocas cosas que hacer, podríamos encargarnos de esto en la próxima reunión.

Si hay que utilizar un nuevo equipo, agradecería que se nos indicara cual es, y también dónde localizar el disco o los medios de instalación del sistema operativo Lubuntu.

[2017-09-28 18:13] Siotma commented on #28
Se ha colocado una nueva fuente de alimentación en Blacky.

No se ha utilizado la fuente que comenzó a modificar @Morgloz, ya que aquella tenía poca potencia en el canal de 12V, solamente 21A. La fuente finalmente utilizada estaba en el armario y tiene dos canales de 12V de 18A cada uno, lo que hacen un total de 36A, por lo que tiene potencia suficiente para calentar cama y extrusor rápidamente. P

[2017-09-28 18:16] Siotma commented on #28
Créditos a @JorFru por coordinar el proceso de soldado y realizar el cable management. Creo que te has ganado cerrar esta issue.

[2017-09-28 18:19] Siotma commented on #26
Hoy se han hecho nuevas pruebas en Hija Resurrection.

Se ha descubierto una posible causa del problema del Thermal Runaway, y es que la fuente de alimentación de Hija Resurrection únicamente tiene 17A en el canal de 12V. Este amperaje es muy reducido para alimentar cama caliente y extrusor, que llegan a demandar corrientes cercanas a los 30A.

Ello se puede comprobar en la siguiente imagen, en la

[2017-09-28 18:51] JorFru commented on #28
Blacky ya funciona!

[2017-09-28 18:53] #28 closed, assigned to Siotma, JorFru, Morgloz

[2017-09-30 08:18] Siotma commented on #3
@David-Estevez y @jgvictores . Necesitaríamos de vuestra colaboración!

[2017-09-30 11:24] jgvictores commented on #3
Hi!
Lo comentado arriba: en uno de los armarios debería estar un PC similar al que ahora mismo tiene Lubuntu. Sólo hay que revisar si tiene RAM. En cuanto a cómo instalar el sistema operativo, aquí enlace: https://asrob-uc3m.gitbooks.io/impresoras-maintenance-manual-i3/content/anexo_1_sistema_operativo_y_sofware.html

[2017-09-30 12:17] David-Estevez opened #30 "Propuesta: Préstamo de uso de Dédalo"
Actualmente tengo una Prusa i2 ([clon 28, Dédalo](http://reprap.org/wiki/Clone_Wars:_El_imperio_de_los_clones/es#Jedis)) cogiendo polvo en casa porque desde que me compré una [m-prime](http://mprime.io/) ya no la uso.

![image](https://user-images.githubusercontent.com/1451819/31045616-05ce131a-a5e8-11e7-9cbd-28ac76a2ac41.png)

Usa plástico de 3mm y necesita un buen calibrado, pero por lo demás fu

[2017-10-01 12:05] David-Estevez commented on #2
No sé si esto está hecho ya o no, pero creo que sería bueno tener una copia del script `guest-session-auto.sh` y de todos los archivos de configuración que se hayan modificado en este repo por si las moscas.

[2017-10-01 15:31] Siotma commented on #30
Teniendo en cuenta la gran cantidad de gente interesada en impresoras este año, cualquier nueva contribución es bienvenida. Lo más importante es disponer de la máquina y de filamento. Estoy de acuerdo con los criterios que propones, al fin y al cabo, quien pague cada cosa será su propietario.

Por otra, parte, en caso de que lo creas necesario, te recomendaría que hiciersas una copia de seguridad

[2017-10-01 18:12] David-Estevez commented on #30
Totalmente de acuerdo con la experimentación! Como ya he dicho, es una impresora que ya prácticamente no uso, así que podéis experimentar con ella todo lo que queráis. Eso incluye cambiar piezas y mecánica, ajustes, etc.

Con el firmware, lo mismo, yo os busco el `Configuration.h` de la impresora y vosotros hacéis las modificaciones que veáis oportunas. Hace tanto que no toco el firmware que ya ni

[2017-10-03 19:34] davidvelascogarcia commented on #2
@David-Estevez
El Script guest-session-auto.sh, ya está disponible en el repositorio en el apartado de Blacky, con un añadido además en el readme.txt, comentando la funcionalidad del Script.
El Script se encuentra en el ordenador que controla la impresora Blacky, pero a su vez, dado que se ha clonado el disco duro de este ordenador al nuevo ordenador que controlará Hija Resurrection, también se en

[2017-10-03 20:25] davidvelascogarcia commented on #2
Tras haberlo consultado con @Siotma , podría ser una buena incorporación de seguridad, realizar un backup del sistema operativo con todos los programas instalados y configuraciones en el estado actual, en formato ISO.
En caso de suceder cualquier tipo de problema con alguno de los ordenadores, dado que son clones, se podría re instalar rápidamente para que volvieran a ser funcionales en el menor t

[2017-10-03 21:42] David-Estevez commented on #2
Ocupa mucho la ISO del PC?

[2017-10-03 21:43] jgvictores commented on #2
En todo caso, recomiendo fsarchiver (fsa), pese a que en RobotDevastation tiremos por dd. :smile:

[2017-10-03 22:29] d-marcos-m commented on #3
Holi,
Tras clonar los discos y conseguir que Lubuntu funcionase en la nueva torre, y tras ver que Repetier no conectaba con la impresora, hemos optado por instalarlo de nuevo (Repetier) y aprovechar para poner una versión más actualizada (2.0.5). El problema después ha sido el hacerlo funcionar en la sesión de invitado. Al haberlo instalado usando el AppImage (fallo por mi parte, porque necesita p

[2017-10-04 08:00] davidvelascogarcia commented on #2
@David-Estevez , creo recordar que con el S.O, datos y configuraciones ocupaba al rededor de 8 GB. Podría servir para luego hacer re-instalaciones desde un USB booteable, o desde un DVD de doble capa.
@jgvictores , sí, además con fsarchiver, no habría ningún problema de licencias al ser open source, y con el añadido de que el resultado lo da en un fichero comprimido. Lo único, como puede dar probl

[2017-10-04 08:44] David-Estevez commented on #2
Siendo 8GB, sí se podría tener el backup y además tenerlo subido a algún sitio online. (Incluso, a unas malas, subirlo al drive de ASROB en UC3M que tiene espacio infinito).

Gran trabajo, @davidvelascogarcia !! :clap: :clap:

[2017-10-04 09:54] David-Estevez commented on #30
Aquí os dejo el Configuration.h de mi impresora. Al final resulta que iba a 115200 baudios (my bad).

[Configuration.h.tar.gz](https://github.com/asrob-uc3m/impresoras-asrob/files/1355328/Configuration.h.tar.gz)

Tratádmela con cariño!!

[2017-10-04 15:35] jgvictores commented on #2
Lo habitual es arrancar de una distro Live (cualquier USB instalador de Ubuntu Xenial o anterior), y hacer el fsa/dd/etc desde ahí. Sobre todo, para no tener que estar conectando/desconectando discos duros. :-)

[2017-10-04 16:31] davidvelascogarcia commented on #2
@David-Estevez
Si, pienso lo mismo, en un disco duro, DVD o USB, podría acabar perdiéndose. Había pensado que junto al Drive, subirlo al github, pero desconozco la capacidad ahora mismo. Por tenerlo en varios sitios.
@jgvictores
Totalmente de acuerdo, y así hay menos complicaciones.
Ayer tuvimos problemas al bootear desde USB, aunque la placa lo permite. De todos modos acabo de acordarme de que te

[2017-10-04 16:32] David-Estevez commented on #2
Quizá https://git-lfs.github.com/ ? O el SVN de ASROB, @jgvictores ?

[2017-10-04 16:56] jgvictores commented on #2
My preferences, de más a menos:
1. https://git-lfs.github.com/ suena bien, a ver si lo podemos usar.
1. Directamente como fichero (sin SVN tan siquiera) en https://sourceforge.net/projects/asrob/files/?source=navbar
1. Ojo que he metido ficheros enormes sin problema en SVN, así que en SVN de https://sourceforge.net/projects/asrob
1. Y ya lo peor, tirar de algo del server que a fecha de hoy aloja a

[2017-10-05 07:40] Siotma commented on #30
Totalmente! 🎉

¡Muchas gracias por buscarlo!, como puedes ver [aquí](https://github.com/asrob-uc3m/impresoras-asrob/tree/master/Dedalo) , ayer ya estuvimos trasteando y sacamos algunos valores por si no encontrabas ese fichero 👍 Lo suyo sería disponer de ese fichero en la carpeta correspondiente del Repo. Súbelo tú mejor para que quede constancia de que es el original.

Pues claro! De hecho, voy a

[2017-10-05 07:40] #30 closed, assigned to nobody

[2017-10-05 07:44] Siotma opened #31 "Puesta a punto de Dédalo"
Tras el préstamo de la impresora, descrito en #30 , es momento de comenzar a trabajar con ella.

En esta Issue se debe centralizar el trabajo hecho sobre Dédalo hasta que se encuentre operativa.

En la última reunión se propusieron las siguientes líneas de trabajo iniciales:

- [x] Investigar la placa: versión, firmware que lleva incorporado y configuración.
- [x] Perfeccionar la mecánica: el carr

[2017-10-05 08:19] Siotma commented on #3
El contenido de este mensaje se sitúa cronológicamente antes que el de @daavm.

En la [última reunión de Printer One](http://asrob.uc3m.es/index.php/Printer_One:_A_Clone_Wars_Story:_Cuaderno_de_Bitacora#3_de_octubre_de_2017) decidimos sacar el nuevo PC de Hija Resurrection y empezar a configurarlo.

En primer lugar lo abrimos para comprobar que es exactamente igual que el de Blacky:
- Torre Acer c

[2017-10-05 08:27] Siotma commented on #31
En la [última reunión de Printer One](http://asrob.uc3m.es/index.php/Printer_One:_A_Clone_Wars_Story:_Cuaderno_de_Bitacora#3_de_octubre_de_2017) comenzamos a trabajar con Dédalo:
- Se sabe que dispone de una placa Sanguinololu de las primeras versiones.
- Se ha investigado al configuración del firmware que tiene actualmente esta placa:
-- Funciona a 115200 Baudios
![velocidaddedalo](https://user-i

[2017-10-05 10:35] David-Estevez commented on #30
Archivo subido en fe378824ab6218fd56dc411012a1c01a6bfdb569

[2017-10-05 21:50] David-Estevez commented on #30
Resulta que en la wiki de ASROB hay más información sobre la impresora!

http://asrob.uc3m.es/index.php/Clone_wars:Impresora_Dedalo

Fue la primera impresora hija de PADRE!

[2017-10-07 13:01] Siotma commented on #30
Enlazado desde el [cuaderno de Bitácora](http://asrob.uc3m.es/index.php/Printer_One:_A_Clone_Wars_Story:_Cuaderno_de_Bitacora#3_de_octubre_de_2017)

[2017-10-07 16:22] davidvelascogarcia commented on #29
@jgvictores
Perfecto, por mí parte podría encargarme de ello si no hay nadie disponible.
Comentándolo con @Siotma lo único que necesitaría sería una cuenta para poder editar, el listado de nuevas incorporaciones y creo que nada más dado que @Siotma , me ha facilitado un documento con el lenguaje para editarlo.

[2017-10-08 13:12] jgvictores commented on #29
@davidvelascogarcia Te he creado una cuenta wiki con el mismo nombre de usuario que el de github, te llegará un email con contraseña aleatoria a cambiar al email que tengo asociado a tí.

[2017-10-08 18:30] davidvelascogarcia commented on #29
@jgvictores Perfecto, muchas gracias. He seguido el proceso de configuración, me he estado adaptando al entorno de la wiki y al lenguaje de edición. He empezado a actualizar la lista de operadores, de momento solo me he incluido porque no tengo los datos del resto de las nuevas incorporaciones a la lista. No obstante, ya se manejarme un poco con la edición, así que podría incorporar todos los demá

[2017-10-09 19:48] davidvelascogarcia commented on #2
@Siotma
En la sesión de hoy, se ha comenzado el proceso de backup del sistema operativo, aplicaciones y configuraciones con el fin de generar una ISO con la cual restaurar los ordenadores, aprovechando la ventaja de ser clones, en caso de que surgiera cualquier tipo de problema.
En un inicio, se comenzó con la carga de un DVD Live, distro Ubuntu 14.04 i686 x32 bit, así como añadió el repositorio d

[2017-10-09 19:58] Morgloz commented on #2
Hay un par de opciones para monitorizar el comando dd, en la próxima reunión las explico

[2017-10-09 21:05] jgvictores commented on #2
De memoria, diría que `ddrescue` con alguna opción verbose `-v`, aunque también había hacks de consola sobre `dd`.
`fsarchiver`, pese a que Clonezilla no está mal, me sigue pareciendo la mejor opción. En trusty (14.04) simplemente hay que tener activados loa repositorios Universe, ¿podéis comprobarlo?

[2017-10-09 21:22] David-Estevez commented on #2
A `dd` le puedes mandar una señal SIGUSER1 para que te muestre el progreso.

Conociendo el PID del proceso, es tan sencillo como:

`kill -USR1 PID`

El PID lo puedes conseguir con un:

`pgrep dd`

[2017-10-09 21:22] David-Estevez commented on #2
Fallo mío, confundí "close" con "cancel" :sweat_smile:

[2017-10-11 19:43] davidvelascogarcia commented on #2
@jgvictores @Siotma @David-Estevez
En la sesión extraordinaria de ayer, en paralelo con la limpieza y organización, se continuó con el proceso de backup, esta vez de forma exitosa. Dado que ayer aún no entendía del todo bien, como emplear fsarchiver, con vistas a una medida temporal, hasta entender como emplearlo procedí con el backup desde Clonezilla.
Se realizó el backup del PC de Hija Resurrect

[2017-10-12 21:06] gonzalojs1 commented on #31
Después de imprimir el carro para el eje x, se fijó este a Dédalo junto con unas patillas nuevas para juntar la correa a dicho carro. La falta de estabilidad en ela dirección x ya esta solucionada para esta impresora.

[2017-10-13 08:28] Siotma commented on #29
Hoy, me he tomado la libertad de auto-añadirme a la lista.

[2017-10-13 09:24] Siotma commented on #24
Dado que se cambió la fuente de alimentación ( #28 ), ahora debería ser mucho más fácil añadir los ventiladores utilizando una nueva línea de 12V y conectores apropiados.

[2017-10-13 10:31] jgvictores commented on #29
Gracias @davidvelascogarcia @Siotma !!

Creo que la lista aun así no está actualizada del todo. Ideas:
1. Orden: ((Invertir la lista daría más visibilidad a los más nuevos y por tanto mayor posibilidad de seguir activos... peero debemos fiarnos de que se siga esta práctica, que editando la wiki es un lío de cuidado, es mucho más fácil anexar al final)). Mi propuesta es ordenar un operario por fila

[2017-10-13 10:42] Siotma commented on #31
Efectivamente, se montaron las nuevas piezas y también se imprimió una nueva polea para la correa del eje X. Lamentablemente, el montaje realizado provocó que la correa roce con el motor del extrusor y hubo que insertar una tuerca adicional (ver imágenes).

![dedalo_new_parts_9_oct_2017](https://user-images.githubusercontent.com/6171234/31542697-6804a96a-b013-11e7-8255-e069adf6e278.jpg)

![dedalo_

[2017-10-13 10:46] Siotma commented on #31
Como apunte, destacar que la pieza del eje X impresa, sacada de [aquí](https://www.thingiverse.com/thing:181524/#files), está diseñada para rodamientos LM10UU, mientras que los de Dédalo son LM8UU. He encontrado [estas otras piezas](https://www.thingiverse.com/thing:173339), que parecen ser las mismas, pero para los rodamientos correctos, de manera que de ahora en adelante sería mejor imprimir est

[2017-10-13 11:01] Siotma opened #32 "Mejorar la precisión de las impresoras utilizando la compensación en XY"
@carlosmgomezj y @diegodevigo propusieron en la [última reunión](http://asrob.uc3m.es/index.php/Printer_One:_A_Clone_Wars_Story:_Cuaderno_de_Bitacora#9_de_octubre_de_2017) mejorar el ajuste de la compensación en XY para conseguir medidas más precisas para las piezas impresas, lo cual es una gran idea.
Se pueden hacer pruebas por ejemplo con [esta pieza](https://www.thingiverse.com/thing:916214) ha

[2017-10-13 11:13] Siotma opened #33 "Investigar el encendido de la nueva fuente de alimentación de Blacky"
La nueva fuente de alimentación de Blacky (instalada en #28 ) parece requerir un mínimo de carga para arrancar. Se debe comprobar cuál la resistencia necesaria (probablemente lo sean en el canal de 5V, según he encontrado en [el paso 10 de este tutorial](https://makezine.com/projects/computer-power-supply-to-bench-power-supply-adapter/)) e instalarla para que la fuente sea fácilmente utilizable.

[2017-10-13 11:29] Siotma commented on #2
Añadir que la imagen ya se encuentra en el Drive de ASROB (dominio UC3M) y se ha enlazado desde el repo vía 4679c574c4e6e30baf7de19aec925fd5b912a3cf .

[2017-10-13 11:46] Siotma commented on #3
Dicho por @daavm :

El martes 10, dado que al final restauramos todo el sistema del pc de blacky, la cuenta guest ya tiene repetier totalmente funcional. Nos falta darle acceso a la cuenta al usb de la impresora hija a través del archivo rules, lo cual haremos en la próxima reunión.

Ambos PCs vuelven a ser clones ya que se usó Clonezilla para restaurar la imagen obtenida del PC de Blacky. Hija Re

[2017-10-13 11:53] Siotma commented on #33
Cuando se realicen estas pruebas, sería interesante replicarlas en la otra fuente de alimentación idéntica a la de Blacky que hay en el armario. Una vez se haya resuelto esta incidencia, el siguiente paso será colocar la nueva fuente en Hija Resurrection.

[2017-10-13 11:58] David-Estevez commented on #33
He estado mirando en RS y no son muy caras, yo creo que sí que sería posible conseguir una del departamento. Pero que nos confirme @jgvictores a ver qué le parece a él.

[2017-10-13 12:07] David-Estevez commented on #29
Existe una lista de [antiguos miembros](http://asrob.uc3m.es/index.php/Antiguos_Miembros) en la que encontrar a gente que estuvo en la asociación y ya no está. Se puede usar como punto de partida para quitar a esa gente de la lista de operadores y evitar mandar tanto email.

[2017-10-13 13:23] davidvelascogarcia commented on #29
@jgvictores  @Siotma  @David-Estevez

Por mi parte, estoy de acuerdo con las propuestas, me parece muy interesante añadir datos como el número de operarios formados o la fecha de fin de formación. Al situarlo por filas, puede parecer más organizado, lo único siendo tantos puede extenderse mucho la longitud en la web, a lo mejor de dos en dos.
He preparado un boceto, para ver que os parece algo del

[2017-10-13 16:09] Siotma commented on #29
El formato de la tabla que propones me parece muy bueno. Tal vez se puede añadir un nuevo campo que contenga la última actividad del operador, y que ese sea el criterio de ordenación descendente. En caso de que el operador se encuentre inactivo durante mucho tiempo, este mismo parámetro puede servir para sacarlo de la lista y que ésta se auto-mantenga fácilmente. La disponibilidad siempre es un po

[2017-10-13 20:36] jgvictores commented on #29
Si veis el tipo de tabla que propongo (en el móvil sólo me funciona en modo PC), está guai porque lo puedes reordenar según el criterio que quieras. Pero claro, sería un operario por fila. https://www.mediawiki.org/wiki/Help:Sorting#Sorting_rows_of_a_table

[2017-10-14 13:22] Siotma commented on #29
Me gusta mucho ese tipo de tabla. Sería muy interesante probar qué se puede hacer con él.

[2017-10-15 10:36] JorFru commented on #33
Yo dono las resistencias.
Serán dos de 4R7 10W

No puedo comprometerme a llevarlas la próxima reunión, pero será pronto.

On Oct 13, 2017 13:58, "David Estévez Fernández" <notifications@github.com>
wrote:

[2017-10-15 10:37] JorFru commented on #33
Llevo cuatro. Dos para cada máquina.

On Oct 15, 2017 12:36, "JORGE FRUTOS DE MINGO" <100317402@alumnos.uc3m.es>
wrote:

[2017-10-15 10:45] jgvictores commented on #3
¿Habéis probado con simplemente omitir `SUBSYSTEM=="tty", ` (además de actualizar los números de `idProduct` y `idVendor`)?

[2017-10-15 10:47] Siotma commented on #3
🤣 No, eso no lo probamos. Gracias por la idea 😊

[2017-10-17 13:53] d-marcos-m commented on #3
Dicho por @jgvictores:

Efectivamente, hemos quitado el atributo SUBSYSTEM y la cuanta guest ya ha reconocido y conectado a la impresora. Así mismo, se ha probado a mandar una impresión y la ha empezado. La impresora hija quedaría totalmente funcional pendiente del cambio/arreglo de la fuente.

![photo5994527439356799555](https://user-images.githubusercontent.com/14359236/31668687-2e0d8716-b353-11

[2017-10-17 16:55] Siotma commented on #33
Hoy se han realizado pruebas con la fuente de alimentación, aunque no se ha dispuesto de las resistencias de potencia que prometió @JorFru.

En su lugar, se ha probado con resistencias de 470ohm / 1W disponibles en el armario. Se han realizado pruebas colocando estas resistencias en los distintos canales de la fuente de alimentación, incluso se han conectado varias en paralelo, pero sin éxito.

La

[2017-10-17 17:10] Siotma commented on #1
En el día de hoy, se ha probado la funcionalidad del nuevo ordenador de Hija Resurrection desde la sesión de invitado ( #3 ). Así pues, considero que esta issue está totalmente cubierta:
- Ambos PCs cuentan con Lubuntu 14.4, y está documentada su [instalación](https://asrob-uc3m.gitbooks.io/impresoras-maintenance-manual-i3/content/anexo_1_sistema_operativo_y_sofware.html), [backup](https://asrob-u

[2017-10-17 17:10] #1 closed, assigned to Siotma, davidvelascogarcia

[2017-10-17 17:15] Siotma commented on #2
A mi ver, lo único que queda para tener los ordenadores perfectamente configurados es que la sesión de invitado se inicie con un par de cosas en el escritorio:
- Un accceso directo a Repetier, con logo y todo, para que se vea bien.
- Una carpeta con piezas de prueba. Pueden ser piezas típicas de calibración y como mucho alguna figura pequeña.

[2017-10-17 17:24] Siotma commented on #3
Además de lo dicho en https://github.com/asrob-uc3m/impresoras-asrob/issues/2#issuecomment-337302357 , en este PC queda también por hacer:
- Actualizar los perfiles de impresión de Slic3r por los que hemos recuperado de su antiguo PC. Creo que al final nos hemos ido sin hacerlo @daavm corrígeme si me equivoco.

[2017-10-17 17:58] GioSunrider commented on #31
Hoy @Sulphie, @carlosmgomezj y @metroid2010 y yo, hemos solucionado el problema de rozamiento del motor con la correa. Para ello se ha cambiado de posicion el lado derecho (segun foto adjunta) colocandolo en el agujero delantero.

![photo5994807531354040868](https://user-images.githubusercontent.com/10605193/31679977-230945a6-b373-11e7-8243-b8c97b676e2c.jpg)

Una vez colocado esto @Siotma se ha pe

[2017-10-17 18:52] jgvictores commented on #2
Re @davidvelascogarcia

Si te creas un usuario en sf.net, te puedo agregar al proyecto.

Re @Siotma

En robotDevastation, usamos un `.desktop` en `~/Desktop`: véase [robotDevastation.desktop](https://github.com/asrob-uc3m/robotDevastation/blob/2646b3079ac4d84904a2a8a3d8bd992293fb3718/scripts/gnome/robotDevastation.desktop) que a su vez enlaza con el [icono 64x64](rd-icon-64x64.png) (que debería in

[2017-10-17 20:39] carlosmgomezj opened #34 "Smooth con baño de acetona."
En esta sección se testeará con diferentes métodos de realizar el baño de acetona con las piezas de abs.
Principalmente se usará el suavizado por medio del contacto del vapor de acetona en vez de contacto directo con ésta.

[2017-10-17 20:51] carlosmgomezj commented on #34
En la primera sesión se ha usado un bote de conservas normal de cristal como contenedor para el baño, hay que tener cuidado al ser la base convexa de fijar bien la base a la que se colocará la pieza.
Este método ha consistido en:
1: Rellenar el fondo del bote a una altura de unos 5mm con Acetona industrial líquida.
2: Colocación de una base metálica para aislar la pieza del contacto directo.
3: Po

[2017-10-17 20:54] carlosmgomezj commented on #34
ERROR!!

Despues de que @diegodevigo  imprimiera un par de piezas diseñadas por él mismo asemejando a dos "LEGOS" que no encajaban para nada, se ha intentado hacer un  suavizado con acetona metiéndo la pieza directamente y luego sacarla para el secado.

No hay ningún tipo de control fino con éste método y ha ocurrido además el problema de que la acetona se ha quedado atascada en algunos huecos int

[2017-10-17 21:05] carlosmgomezj commented on #34
Hoy se ha aplicado un nuevo método, siguiendo las instrucciones de este video: [Smooth ABS](https://www.youtube.com/watch?v=6xFUNFG-UKE)
Consiste en que la acetona esté en la parte de arriba de la pieza, por lo que el vapor ( más pesado que el aire) bajará hasta abajo sin salir gracias a una capa de agua en la base.

Se ha realizado con el mismo bote de vidrio de las pruebas anteriores colocando p

[2017-10-17 21:26] JorFru commented on #33
Hay disponibles ahora mismo dos resistencias en la caja de Printer One,
dentro del armario.

Una de 47Ohm 10W, pensada para instalarse en el raíl de 12V
Una de 10Ohm 10W, pensada para el raíl de 5V.

Acabo de acordarme de que esa fuente lleva dos raíles de 12V, igual hace
falta otra de 47. Probaremos.

PD: despiste remediado y promocionado por Jupi, su tienda de desconfianza.

On Oct 17, 2017 19:2

[2017-10-18 08:41] Siotma commented on #33
Gracias, JorFru!

[2017-10-18 08:44] Siotma commented on #2
Sí, el .desktop de Repetier ya existe, lo crea automáticamente con la instalación. La cosa es sacar un ratillo para configurar el script del inicio de sesión para que se copie en el escritorio. Gracias aún así por el apunte!

[2017-10-18 14:05] davidvelascogarcia commented on #2
@jgvictores
He creado el usuario en Sourceforge. El nombre de usuario es davidvelascogar.
Link:
https://sourceforge.net/u/davidvelascogar/profile/

Un saludo y gracias.

[2017-10-18 14:52] jgvictores commented on #2
Añadido!

[2017-10-18 15:13] davidvelascogarcia commented on #29
@jgvictores @Siotma @David-Estevez

He estado mirando el formato de tabla propuesta por @jgvictores , y he preparado un pequeño boceto y un poco el código, basado en la propuesta para ver que os parece como punto de partida. Tiene usuario por linea.

![bocetooperadores](https://user-images.githubusercontent.com/29423648/31726491-6dc3b4fa-b427-11e7-9354-e7b6c7d7c9c4.png)
Figura 1. Boceto operadores

[2017-10-18 15:18] jgvictores commented on #29
@davidvelascogarcia Buena pinta!
PD: Te edité el markdown en tu comentario, de comilla simple a triple, que es el que sirve para múltiples líneas.

[2017-10-18 15:38] davidvelascogarcia commented on #29
@jgvictores
Perfecto, muchas gracias.
Lo estoy mirando en previsualización, sin tocar el código original, pero de todos modos he hecho un backup de todo el código por si acaso.

![image](https://user-images.githubusercontent.com/29423648/31727648-61d16c8e-b42a-11e7-81f7-42de8b3da3d4.png)

Figura 1. Tabla en previsualización

Voy a finalizar el código con los datos de todos los operadores para deja

[2017-10-18 15:40] jgvictores commented on #29
Muy buena pinta. Dale sin miedo, en wiki queda el histórico y es fácil de revertir (rollback) en caso de hacer algo mal.

[2017-10-18 15:52] davidvelascogarcia commented on #29
@jgvictores
Perfecto, muchas gracias. Voy a extenderlo a todos los operadores.
He estado haciendo pruebas y funciona todo bien, correos y sitios web incluídos.

![image](https://user-images.githubusercontent.com/29423648/31728589-f9531fc4-b42c-11e7-92b5-c92fc20575fc.png)

Figura 1. Prueba de tablas

[2017-10-18 16:56] davidvelascogarcia commented on #29
@jgvictores @Siotma  @David-Estevez

He terminado con las actualizaciones de la web de operadores. Añado una foto y adjunto el link, para ver que os parece. He estado haciendo pruebas y en principio funciona todo correctamente, si encontráis algo extraño se cambia en un momento.

![image](https://user-images.githubusercontent.com/29423648/31731619-ee15f4ac-b435-11e7-8af8-928f841ee107.png)

Figura

[2017-10-18 16:59] davidvelascogarcia commented on #2
@jgvictores
Perfecto, muchas gracias.

[2017-10-18 17:32] davidvelascogarcia commented on #3
@Siotma
No sabía muy bien donde comentarlo, dado que no hay una issue como tal para ello.
Respecto a lo que estuvimos hablando el último día respecto de la nueva fuente para Hija Resurrection, la fuente de alimentación que era igual a la de Blacky.
Durante la sesión, se comprobó que la alimentación, era la correcta en todos los canales 3.3, 5, 12 V.
Tras separar el ventilador de la fuente, se comp

[2017-10-18 17:42] jgvictores commented on #3
En el armario hay más fuentes, preferiría que se usasen frente al peligro de uno `refurbished`. ¿Serviría alguno del armario?

[2017-10-18 17:44] jgvictores commented on #29
Está genial!
Como única mejora, bajar los honoríficos al final, que confunde un poco.

[2017-10-18 17:49] davidvelascogarcia commented on #29
Muchas gracias.
Listo, ya esta actualizado.

[2017-10-18 17:55] davidvelascogarcia commented on #29
@jgvictores Por cierto, he hecho un par de backups del antes y el después por seguridad, no vaya a ser que haya algo mal, aunque se puede revertir. Son 14.7 KB, como ocupa nada, esta en un txt, lo he subido en una carpeta a Sourceforge y en otra en Impresoras en Github.
Espero que no os importe, sino lo borro.

[2017-10-19 08:39] Siotma commented on #3
Como dice @jgvictores , la opción de utilizar la fuente tras haberla manipulado, a mi tampoco me convence. Las impresoras manejan mucha potencia y no queremos que constituyan un peligro. Las fuentes seleccionadas son las que mayor potencia nominal tienen en el canal de 12V, y por tanto si funcionan correctamente son las que menor peligro representan ya que creo que son las únicas que cubren totalm

[2017-10-19 08:50] Siotma commented on #29
Me encanta el resultado!! Sin embargo, creo que sigue siendo necesario una limpieza de esta lista, ya que aunque todos los operadores que figuran en ella supieron, en algún momento, utilizar las impresoras, creo que es importante resaltar el detalle de que las impresoras disponibles actualmente, así como los softwares que las controlan han cambiado desde que ellos se formaron.

Tal vez podamos imp

[2017-10-19 09:40] David-Estevez commented on #29
Por lo que veo, de toda esa lista en activo sólo hay 4 personas, las demás dejaron la Asociación/Universidad/no han impreso nunca con nuestras impresoras. Esto se puede comprobar mirando la lista de [antiguos miembros](http://asrob.uc3m.es/index.php/Antiguos_Miembros) y comparando nombres y correos.

Respecto a lo que propone @Siotma, me parece bien que "caduque" el título de operador, pero no por

[2017-10-19 09:47] JorFru commented on #3
En la siguiente reunión instalaremos las resistencias y comprobaremos con
osciloscopio si la salida de la fuente está bien regulada.
Las fuentes funcionan oscilando y algunos componentes pueden vibrar. En
principio estás vibraciones están fuera de rango audible, generalmente por
encima de los 300KHz.
Es posible que lo que estemos escuchando sea un subharmónico de la
frecuencia de oscilación. Lo co

[2017-10-19 10:20] davidvelascogarcia commented on #29
@Siotma @David-Estevez

Muchas gracias, me alegro de que os guste.

Coincido con los dos,  podría aprovecharse las casillas de formación.
Respecto a la limpieza estoy de acuerdo. Lo siento, no tenía conocimiento de que la gran mayoría ya no se encuentran en la universidad y por lo tanto no están disponibles para realizar formaciones ni tener constancia de las actualizaciones del software, método d

[2017-10-19 10:33] davidvelascogarcia commented on #3
Perfecto, se puede probar a conectar con carga. Quizá lo que propuso @Siotma del lector de DVD también pueda servir para esta prueba.
Por mí parte @JorFru , si no te importa me uno a las comprobaciones y en lo que pueda te echo una mano. Así aprovecho, aprendo y aplicó desde un plano más práctico.

[2017-10-19 12:57] Siotma commented on #29
La idea, es que la renovación del título de operador la realice un tercero, de manera que haya más control. Controlar el momento en que una persona realizó su primera impresión es difícil. Si hay un supervisor que "da fé" puede ser más fácil.

A favor de una página de antiguos operadores, y que se trate de dar crédito a cada uno de ellos por sus contribuciones.

Como aportación propia, y aprovecha

[2017-10-19 13:56] David-Estevez commented on #29
Entendido, en ese sentido estoy totalmente de acuerdo con tu idea.

La [página de impresoras](http://asrob.uc3m.es/printers/), como tú dices, podría ampliarse para mostrar información sobre los operadores  y tomar esa información de un repositorio. Ahora mismo estoy a tope con subvenciones y memorias, pero cuando pase la tempestad se puede mirar cómo implementar esa mejora. Es más, si tú tienes ya

[2017-10-19 19:50] davidvelascogarcia commented on #29
Durante la tarde, he estado preparando la página de Antiguos Operadores, basándome en la propuesta de @David-Estevez  de la lista de antiguos miembros.
Link: [http://asrob.uc3m.es/index.php/Antiguos_Miembros](http://asrob.uc3m.es/index.php/Antiguos_Miembros)

Todos los operadores incluidos en Antiguos Miembros, han sido trasladados a la página Antiguos Operadores.
Link: [http://asrob.uc3m.es/index

[2017-10-20 08:14] davidvelascogarcia commented on #29
Acabo de añadir un enlace en cada una las páginas para poder acceder de una a otra sin problema.
Gracias por la revisión @Siotma .

[2017-10-23 23:00] d-marcos-m commented on #31
Hoy hemos calibrado la cama e impreso las primeras pruebas. Con esta impresión nos hemos dado cuenta de algunos cambios y revisiones que todavía necesita Dedalo para su puesta a punto:
- Tensar correas, ya que están algo sueltas y creemos que puede afectar a la impresión
- Cambio pieza de una de las varillas del eje Z, que básicamente, se cae y está medio suelta
- Revisión motores eje Z. Mañana re

[2017-10-23 23:04] David-Estevez commented on #31
No sé si lo comenté, pero tengo un par de acoples de estos para el eje Z (una mejora que nunca llegué a instalar). Mañana los llevo para que los podáis usar.

![](https://ae01.alicdn.com/img/pb/603/853/356/356853603_162.jpg)

De hecho debería revisar la caja de repuestos por si hubiese algo más que daros.

[2017-10-24 12:51] Siotma commented on #31
Sin duda estos acoples mejorarían el funcionamiento del eje Z 😊

[2017-10-24 14:57] Siotma commented on #27
La actualización en el software del ordenador de Hija Resurrection ( #3 ) debería haber solucionado este problema.

[2017-10-24 14:57] #27 closed, assigned to nobody

[2017-10-24 15:01] Siotma commented on #33
En la reunión de ayer estuvimos haciendo más pruebas con esta fuente de alimentación. A continuación voy a intentar exponer los descubrimientos más importantes, y en mi opinión, más fiables.

En primer lugar quiero incidir en los dos problemas conocidos que tiene actualmente esta fuente:

1. No sabemos exactamente qué requiere la fuente de alimentación para encenderse.
2. Una vez encendida, la fue

[2017-10-24 15:10] Siotma commented on #33
A continuación, un poco de imagen a tanto texto.

Lector de CDs utilizado:

![lector cd](https://user-images.githubusercontent.com/6171234/31951239-d471ae54-b8dd-11e7-90f1-c0bf7a66bb80.jpg)

Durante la peluquería de la fuente de alimentación que tiene sonido electrónico, únicamente aprecié a nivel visual un condensador hinchado:

![condensador hinchado](https://user-images.githubusercontent.com/61

[2017-10-24 15:19] Siotma commented on #31
Para solucionar el patinaje del eje Z, he estado mirando el fichero [Configuration.h](https://github.com/asrob-uc3m/impresoras-asrob/blob/master/Dedalo/Configuration.h) disponible en este repositorio, concretamente esta parte:

[code]

Según veo, el valor de aceleración del eje Z es conservador, solo 50 mm/s2. Podría bajarse más para evitar patinajes, pero yo creo que lo más crítico es la velocida

[2017-10-24 23:28] David-Estevez commented on #33
@Siotma  Me quito el sombrero ante tu capacidad de documentación... :tophat:

[2017-10-25 00:42] d-marcos-m commented on #31
En la sesión de hoy hemos avanzado bastante con dédalo:

- @metroid2010 ha instalado los nuevos acoples del eje Z que @David-Estevez ha traído. Este cambio ha parecido mejorar el movimiento del eje z. Anteriormente, este eje se bloqueaba cuando lo intentabamos desplazar en incrementos de 10 a traves de Repetier. Esto ahora no pasa.

- Hemos tensado las correas del eje Y, ya que se veían ciertas on

[2017-10-25 01:31] JorFru commented on #33
Leñe!
Estuve leyendo todas las issues mientras comía, pero no leí esta, es posterior.
Lamento comunicaros que: Hemos perdido el tiempo realizando las comprobaciones que tú habías hecho por la mañana.

Sin embargo, algo más en claro habremos sacado, esperemos...
Hemos hecho prácticamente todo lo que tú has probado.
Resistencias de carga de la siguiente manera:
- 10Ohm en 12V1
- 10Ohm en 12V2
- 4.7O

[2017-10-25 11:14] davidvelascogarcia commented on #33
@JorFru , totalmente de acuerdo, poco más puedo aportar. Lo único, @Siotma , comentar que descubrimos una manera de encender la fuente, conectar y hacer funcionar la impresora, con pasos comunes a los realizados en la sesión del 23/10/2017.
Para encender la fuente, como comentas, en caso de que no arranque a la primera, desconectar el puente y volverlo a poner, y funciona sin problema.
Respecto al

[2017-10-25 11:15] JorFru commented on #31
Sugiero destensar un pelín la correa de Y. Puede que ese problema de
desplazamiento sea a causa de pérdida de pasos porque el carro no corre
bien al tener la correa tan tensa.

On Oct 25, 2017 02:42, "daavm" <notifications@github.com> wrote:

[2017-10-25 11:21] davidvelascogarcia commented on #31
Lo comento, a ver que os parece.
Ayer, @daavm y yo , hablamos del hecho de que dado que no hay otro tercer monitor para el futuro PC que controlará Dédalo, se podría utilizar un KVM, y emplear el mismo monitor, teclado y ratón que controla o bien Hija Resturrection o bien Blacky, y alternar de uno a otro con una sola tecla.

[2017-10-25 11:55] JorFru commented on #33
Le he dado más vueltas al asunto.
Ayer comprobé con el osciloscopio lo que pasaba en el raíl de 12V de la fuente cuando el relé oscilaba. No tengo foto de ello. Pero era un pico de 10-11V seguido de silencio a 0V. Por supuesto al mismo ritmo del clickeo.

Me percaté de que el LED que lleva la RAMPS y que indica que la salida del MOSFET está activada también parpadeaba al mismo ritmo. ¡Entonces emp

[2017-10-25 14:35] Siotma commented on #31
Muy buen trabajo chicos.

He condensado todas las tareas que habéis ido escribiendo en el primer comentario. Al utilizar el formato de task list cualquiera puede ir marcando las tareas como completadas.

Creo poder aportar luz en la parte de las imprecisiones del eje Y. Hay que tener en cuenta lo siguiente:
- El extrusor oscila un poco, por lo que puede producir errores si se mueve durante la impr

[2017-10-25 15:07] JorFru commented on #33
El gran Iceflow, Aisflow, me comenta por el canal de Telegram de
Staticboards que es muy recomendable instalar un diodo en serie con la
cama. Así lo monta la RAMPS1.4SB de diseño nacional.
No garantiza un arranque más suave, sin embargo garantiza que la corriente
no circule en el sentido contrario, lo cual puede dejar KO la fuente. Y
esto puedo ocurrir si la carga (la cama) tiene algo de component

[2017-10-25 15:39] Siotma commented on #33
Veo que en líneas generales estamos todos de acuerdo. Comentarios:

@davidvelascogarcia dijo:

Hurra, hemos conseguido encenderla!

@davidvelascogarcia dijo:

Es un tanto curioso, que únicamente por encender uno antes que el otro salte o no.

Me alegro de que hayais encontrado esta situación. Desde mi punto de vista no es en absoluto curioso, sino que puede explicarse con el mismo motivo por el qu

[2017-10-25 15:42] Siotma commented on #33
En mi opinión, la idea del interruptor en el cable verde unida a la bobina en serie con la cama más diodo en antiparalelo son nuestra mejor baza. Aunque me gustaría prescindir de la bobina en serie, no sé si vamos a poder prescindir de ella...

[2017-10-25 18:24] GioSunrider commented on #31
He añadido a la lista de cosas de por hacer, la mejora que comentamos @daavm y yo que era buscar la manera de mejorar la calibracion de la cama con muelles, porque lo de los tornillos que hay ahora nos ha estando dando guerra en las dos sesiones de esta semana.

[2017-10-25 21:09] David-Estevez commented on #31
Dos cosillas:

* Respecto al eje Y, le he echado un ojo y lo que parece es que la correa roza con uno de los idlers (el que está por la parte de atrás del extrusor) por lo que se engancha y le cuesta más moverse. Esta puede ser una causa para los problemas en ese eje.

* Respecto a lo de la pantalla + KVM, yo propongo desempolvar el display LCD que hay en el armario y colocárselo a alguna de las d

[2017-10-25 21:13] David-Estevez commented on #33
Pregunta tonta... la carga inductiva que hace saltar la fuente es la cama o la bobina del relé? el relé tiene actualmente algún diodo de flyback?

[2017-10-26 08:15] Siotma opened #35 "Problemas de potencia en Hija Resurrection"
Creemos que la solución a #26 pasa por aumentar la potencia de alimentación de Hija Resurrection. Vistas las dificultades encontradas en #33 con la nueva fuente de alimentación de Blacky, y teniendo en cuenta que la fuente hermana de esta hace ruido electrónico y no nos podemos fiar de ella para la impresora, propongo, aunque sea de forma temporal:

# Instalar una segunda fuente de alimentación en

[2017-10-26 18:04] Siotma commented on #33
A eso me refiero con diodo en antiparalelo. Es cierto que el relé también es una carga inductiva, aunque está activado por un mosfet así que la fuente no lo tan directamente como la cama. Aun así, revisaremos ambas cosas.

[2017-10-26 19:31] JorFru commented on #33
Esto dice Javier de Staticboards

"@JorFru el diodo hace que la carga electrica tenga un camino de retorno y
no salga de la cama caliente
se queda atrapada dentro de la cama caliente hasta que desaparece."

Con tranquilidad asimilaré estas palabras.

[2017-10-28 08:14] jgvictores commented on #2
Respecto a [mis propuestas para almacenar ficheros grandes](https://github.com/roboticslab-uc3m/tiago-lfs), resulta que https://git-lfs.github.com/ no es excesivamente difícil de usar (se instala, se define mediante una línea de comando la extensión del tipo de fichero que va a ser grande, y luego es git vía consola normal), pero tiene una **limitación de 1-2 GB por fichero** (más comentarios míos

[2017-10-29 10:20] davidvelascogarcia commented on #2
@jgvictores he creado una carpeta en Sourceforge, con nombre Backup_OS_3D_Printers_PC, para subir ahí el backup.
Los ficheros de configuración de la copia ya están subidos, sin embargo da limitación con el fichero grande de 2 GB, lo he dividido en 3 partes de 700 MB y una de 27 MB, ya está en proceso de subida.
Solo habría que descomprimir para unir esos 4 ficheros.
[https://sourceforge.net/projec

[2017-10-29 10:23] jgvictores commented on #2
¿Estás a tiempo de detener la subida? La limitación (que yo sepa/recuerde) es en GitHub, no en Sourceforge... 😅

[2017-10-29 10:38] davidvelascogarcia commented on #2
Está aproximadamente, como al 60%.

![image](https://user-images.githubusercontent.com/29423648/32142733-8592960e-bc9d-11e7-814b-ef65ed8b38ff.png)

Lo subo dónde prefiráis. :)

[2017-10-29 10:40] jgvictores commented on #2
Bueno, está bien. No conocía esa limitación de la subida vía interfaz web. De todas formas, dará menos problemas a la hora de descargárselo.

[2017-10-29 10:40] Siotma commented on #33
Eso me suena a diodo en antiparalelo.

[2017-10-29 10:47] jgvictores commented on #33
Sólo viendo estas referencias en diagonal...

- https://en.wikipedia.org/wiki/Flyback_diode
- https://en.wikipedia.org/wiki/Antiparallel_(electronics)

...diría que la terminología correcta es la que usa @David-Estevez (flyback). Yo lo conocía como freewheeling, que esa entrada de wikipedia pone como sinónimo. La intención y el efecto será parecido, sólo que antiparalelo tiene más sentido con algo

[2017-10-29 10:54] Siotma commented on #33
Comprendo, y coincido contigo @jgvictores 👍

Al final, todos nos referíamos a lo mismo, pero es más correcto llamarlo por su nombre ☺️

[2017-10-29 10:59] davidvelascogarcia commented on #2
Me ha dado problemas con la subida, respuesta del servidor con código 0.

![image](https://user-images.githubusercontent.com/29423648/32142872-7edad0c6-bca0-11e7-81a6-233077e32245.png)

[2017-10-29 11:35] jgvictores commented on #2
Ahora mismo veo un poco de caos en https://sourceforge.net/projects/asrob/files/Backup_OS_3D_Printers_PCs/
¿Podrías instalarte el Cliente de FTP de Filezilla (https://filezilla-project.org/download.php?type=client) y tratar de gestionar todo desde ahí?

De https://sourceforge.net/p/forge/documentation/SFTP/ entiendo que el servidor al que te conectas es **frs.sourceforge.net** y las credenciales l

[2017-10-29 13:08] davidvelascogarcia commented on #2
He hecho limpieza en la carpeta del backup, he borrado todos los ficheros.
Lo estoy subiendo todo en un único Zip como el de Drive,  desde el cliente Filezilla.
Tardará un poco, tengo poca velocidad de subida.
@jgvictores , tienes razón, desde subida FTP, no hay limitaciones de tamaño, al menos no me ha notificado nada al subirlo.
He tardado un poco, porque no me aparecía directamente la carpeta d

[2017-10-29 14:34] jgvictores commented on #2
Cierto! Una vez conectado, hay que dar un par de rodeos en la estructura de carpetas del servidor hasta encontrar el proyecto en cuestión... ¡Bien visto!

[2017-10-29 18:53] davidvelascogarcia commented on #2
:) Ya esta subido.

[2017-10-30 14:15] GioSunrider commented on #24
Se han soldado y colocado los ventiladores a la electrónica.  Se han soldado a la fuente en paralelo en un extremo de un canal de 12V. Adjunto fotos de la colocación.

![photo6032812494365502062](https://user-images.githubusercontent.com/10605193/32175377-1046ec04-bd85-11e7-9974-59cbaf287826.jpg)

![photo6032812494365502063](https://user-images.githubusercontent.com/10605193/32175378-105dc79e-bd85

[2017-10-30 14:49] GioSunrider commented on #31
Voy por partes que hoy ha sido provechoso.
Lo primero que he estado haciendo ha sido mirar la configuración de Marlin, he bajado la nueva version y he pasado lo valores uno a uno. Adjunto el nuevo Configuration.h para que simplemente se copie para futuras pruebas. Ya que no se ha conseguido subirlo a la placa, debido a que daba error de velocidad. Se estaba cargando con el IDE de Arduino con la pl

[2017-10-30 15:03] #24 closed, assigned to GioSunrider

[2017-10-30 15:55] Siotma commented on #24
¿Qué ha pasado en esta Issue? Aparece un tal @ghost 😕  y se ha perdido el comentario de @GioSunrider...

Jorge, has eliminado tu usuario?

No entiendo nada...

[2017-10-30 16:02] GioSunrider commented on #24
Mi usuario se ha como bloqueado y no se por que, voy a ver.

[2017-10-30 16:23] Siotma commented on #3
Respecto a lo que se ha venido comentando en los últimos comentarios, mejor seguir en #35 .

Vengo a contar que hoy, después de un buen rato, he conseguido perfeccionar el [script de la sesión de invitado de Hija Resurrection](https://github.com/asrob-uc3m/impresoras-asrob/blob/master/Hija%20Resurrection/guest-session-auto.sh).

Ahora, el script copia en el escritorio una carpeta con piezas de cal

[2017-10-30 16:27] Siotma commented on #33
Hoy no hemos conseguido que el relé enganche en toda la mañana.

Eso ha podido ocurrir porque se ha partido una de las patas de una de las resistencias y no hemos podido utilizarla... Además, tampoco tenemos diodos de potencia en el armario, que yo pensaba que sí.

En la próxima sesión se podrán seguir haciendo pruebas, pero cada vez me desmotiva más esta fuente de alimentación ya que está lastran

[2017-10-30 17:08] Siotma commented on #24
Ya me aparece todo bien. Habrá sido un fallo de GitHub.

Lo has hecho fantástico: Asignar, cerrar y mover la ficha a Done.

[2017-10-30 17:18] GioSunrider commented on #24
Gracias 😊😊

[2017-11-03 08:50] Siotma commented on #33
Ayer por la mañana me pasé por la nave e hice lo siguiente:

1. Quitar el puente de la fuente de alimentación.
2. Encender el interruptor de la fuente de alimentación.
3. Esperar mucho tiempo, al menos 20 minutos.
4. Poner el puente. La fuente arrancó a la primera.
5. Calentar el extrusor.
6. Cuando el extrusor iba por 50 grados, puse a calentar la cama.

La impresora calentó maravillosamente, sin

[2017-11-06 09:33] Siotma commented on #31
Teniendo en cuenta que tanto Blacky como Hija Resurrection no han podido imprimir las últimas sesiones, y dado que Dédalo necesitaba [estas piezas](https://www.thingiverse.com/thing:141915/#files) para continuar su puesta a punto, las he impreso yo:

![new_extruder_for_dedalo](https://user-images.githubusercontent.com/6171234/32434259-dac0feae-c2dd-11e7-87b4-8e91b7066ce8.jpg)

Estarán disponibles

[2017-11-09 22:21] GioSunrider commented on #31
Hoy en dedalo hemos montado la nueva pieza que @Siotma imprimió. Tanto como el extrusor como el HotEnd quedan mucho mejor y fijos, asi como la facilidad de meter el filamento. Se adjuntan fotos del montaje.

![photo5776282185198840872](https://user-images.githubusercontent.com/10605193/32632525-40437518-c5a4-11e7-8204-8969269f3d76.jpg)

![photo5776282185198840873](https://user-images.githubusercon

[2017-11-10 00:49] d-marcos-m commented on #31
En la sesión de hoy yo he intentado (sin éxito) actualizar el firmware de Dédalo. Al intentar subir el firmware, Arduino IDE daba un error:
`stk500_getsync() attempt 1 of 10 not in sync`
El mismo 10 veces (attempt n of 10). Buscando en foros y demás, la respuesta que más aparecía es la de que o no hay bootloader, o está corrupto. No soy muy hábil con arduino, pero esto reinstalar el bootloader no

[2017-11-10 11:20] David-Estevez commented on #31
Esa respuesta es típica cuando el programador no consigue hablar correctamente con el bootloader, normalmente porque no se ha seleccionado la placa correcta (Sanguinololu).

En su día recuerdo que había que instalar algo al IDE de Arduino para que funcionase, pero no recuerdo exactamente cómo se hacía. No obstante, seguramente [aquí](http://reprap.org/wiki/Sanguinololu/es) vengan las instrucciones

[2017-11-10 12:01] Siotma commented on #33
Ayer en la reunión de Printer One, hice lo siguiente:

1. Quitar el puente de la fuente de alimentación.
2. Encender el interruptor de la fuente de alimentación.
3. Esperar mucho tiempo, al menos 30 minutos.
4. Poner el puente. La fuente arrancó a la primera.
5. Encender el ordenador.
6. Conectar Repetier a la impresora y poner a calentar la cama.

El relé enganchó a la primera ante mi atónita mir

[2017-11-12 10:23] GioSunrider commented on #31
@David-Estevez descarta el error de elección de placa, el IDE de Arduino lo tengo configurado para la propia placa Sanguino, y miramos el modelo del procesador. Respecto a la retroalimentación igual, hacemos todo con la fuente encendida. Así que como @daavm me comento, seguramente sea del bootloader, así que el próximo día habrá que ver cómo lo arreglamos.

[2017-11-12 10:24] GioSunrider commented on #31
@David-Estevez descarta el error de elección de placa, el IDE de Arduino lo tengo configurado para la propia placa Sanguino, y miramos el modelo del procesador. Respecto a la retroalimentación igual, hacemos todo con la fuente encendida. Así que como @daavm me comento, seguramente sea del bootloader, así que el próximo día habrá que ver cómo lo arreglamos.

[2017-11-12 10:35] David-Estevez commented on #31
Me gusta ir de lo sencillo (IDE mal configurado) a lo chungo (bootloader muerto), de ahí mi sugerencia. :)

Para cargar un nuevo bootloader see necesita o bien un programador (yo tengo en casa) o bien un Arduino programado como programador ICSP. Seguramente la Sanguinololu tenga un puerto ICSP para conectar directamente el programador.

Si esto no funcionase, o si queréis hacer directamente un upg

[2017-11-12 17:28] GioSunrider commented on #31
jajaajajajaaj  @David-Estevez decia lo del IDE no, porque lo reconfiguere hace dos semanas para ver si ese era el problema, igual plantear el upgrade no esta mal, si tienes un ATMega1280P nos vendria de perlas porque una de las cosas que comentamos @daavm y yo era ponerle pantallas e igual un lector de sd para no necesitar un ordenador, debido al problema de que no hay mas ordenadores disponibles

[2017-11-12 17:42] David-Estevez commented on #31
Tengo el micro en casa, lo compré precisamente para ponerle un display.

Si queréis ponerle un display puedo comprar uno como este:   [3D Printer Parts  SH139 Sanguinololu Board Reprap LCD2004 Controller And Adapter For 3D Printer](
 http://s.aliexpress.com/U3uAf6R3 ), ¿Qué os parece?

[2017-11-12 18:10] Siotma commented on #31
Sería una pasada tener a Dédalo con pantalla. No he visto si ese controlador que has pegado soporta tarjeta SD, eso sería muy importante.

Edit: Vale, ya he visto que sí tiene lector de SD. La lectura diagonal me ha traicionado...

Respecto al cambio de micro. Sería fantástico siempre y cuando el nuevo se pueda programar fácilmente a través del USB de la Sanguinololu. De lo contrario, esta parte s

[2017-11-12 18:15] David-Estevez commented on #31
Juraría que sí que tiene SD, pero tendría que comprobarlo.

Sobre el nuevo micro, está blanco de fábrica, la primera vez habría que cargarle el bootloader con un programador, luego se programaría como un Arduino normal por USB.

[2017-11-12 18:50] GioSunrider commented on #31
No se como lo veis pero a mi me parece muy guay el cambio, supondria una potencia de disparo para dedalo increible.

[2017-11-13 11:29] GioSunrider commented on #31
La impresión de dedalo de hoy, con el nuevo extrusor montado, ignorar la parte de abajo que se ha solapado a un pegote que habia.

![photo5784971866111322782](https://user-images.githubusercontent.com/10605193/32723588-50222c78-c86e-11e7-89b0-d7ec72738b00.jpg)

Como se observa las oscilaciones han desaparecido.

[2017-11-13 11:36] David-Estevez commented on #31
Wow!!! Qué pedazo de mejora de calidad!!! :clap: :clap: :clap:  Estáis hechos unos pros!!

[2017-11-13 11:49] GioSunrider commented on #31
Hemos medido al Calicat y sale perfecto, ejes reales con los de la impresora con un error admisible de 0.1.

[2017-11-13 13:27] GioSunrider commented on #31
Hemos ido a imprimir una pieza de gran tamaño, en concreto un soporte para el ventilador externo que tiene, y nos ha fallado. La causa de esto es que el motor del eje X, el que esta junto al extrusor, pierde paso a la minima que encuentra un roce. Tambien nos hemos percatado del sobrecalentamiento de la Sanguino durante el proceso, por lo que hemos decidido colocar la pieza a medio imprimir para e

[2017-11-13 15:22] JorFru opened #36 "Mejorar la calidad de nuestras impresiones"
Creo que mejoraríamos notablemente nuestra calidad de impresión si cambiamos a plásticos PLA. Opino que el ABS está anticuado y además es muy difícil de imprimir.

Printer One lleva muchos meses trabajando en preparar las impresoras y ajustarlas para imprimir con calidad. Creo que hemos llegado al momento en el que el material nos limita para seguir mejorando.

Quizás @David-Estevez o @jgvictores

[2017-11-13 15:26] David-Estevez commented on #36
Si consideráis que no se puede imprimir con suficiente calidad usando ABS, veo razonable pedir PLA. Se puede buscar incluso algún distribuidor de calidad y barato, como el plástico de BQ que vendían en PCComponentes, a ~15€/kg.

Links de ejemplo:
* https://www.pccomponentes.com/bq-bobina-de-filamento-pla-1-75-mm-azul-topacio
* https://www.pccomponentes.com/bq-bobina-de-filamento-pla-1-75-mm-violet

[2017-11-13 15:26] JorFru commented on #33
Genial trabajo.
Muy buena documentación

[2017-11-13 15:32] David-Estevez commented on #31
Acabo de caer en la cuenta de lo enrollada que estaba la bobina de PLA morado, y aún así habéis sido capaces de imprimir sin ondulaciones!!! :scream: :scream: :heart_eyes: :heart_eyes:

[2017-11-13 17:41] Siotma commented on #31
Todo es cuestión de comparar la rigidez del filamento con la de la pieza más flexible o con más holgura.

A todas luces, el problema de las ondulaciones venía dado por la unión tan laxa que tenía el hotend al extrusor, utilizando aquella pieza azul. Ahora que todas las uniones están hechas con tornillos, y bien apretadas, la torsión de la bobina debería flexar la estructura de la impresora (varill

[2017-11-13 17:45] Siotma commented on #33
En la reunión de hoy, ha sido totalmente imposible que enganche el relé, así que seguimos sin saber cómo usar la fuente. Menuda decepción, a este paso, tendremos que desechar esta y utilizar otra con menos potencia...

[2017-11-13 18:12] Siotma commented on #35
En la reunión de hoy, se ha instalado una nueva fuente de alimentación en Hija Resurrection.

Se trata de una fuente de alimentación con 8A para el canal 12V1 y 14A para el canal 12V2.

He conectado el canal 12V2 a la cama caliente de Hija Resurrecion utilizando bananas de 3,5mm disponibles en el armario.

La fuente antigua de Hija Resurrection aún alimenta el resto de elementos (incluido el relé)

[2017-11-13 18:13] Siotma commented on #26
Hoy se ha colocado una nueva fuente de alimentación en Hija Resurrection ( ver https://github.com/asrob-uc3m/impresoras-asrob/issues/35#issuecomment-344007565 ).

Se ha modificado la configuración de Marlin vía 83d843e02ac85237739cad3ec4fa42780e4ceed3 para aumentar la frecuencia de refresco de la temperatura de la cama.

Se han realizado dos pruebas de impresión, la primera de un cubo, satisfactor

[2017-11-13 18:13] #26 closed, assigned to Siotma

[2017-11-13 18:15] Siotma commented on #26
Dada la antigüedad de esta Issue, queda sustituida por #35

[2017-11-13 18:19] Siotma commented on #35
Aunque esta impresora continúa teniendo la etiqueta "NO FUNCIONA", con los resultados de hoy estaríamos cerca de tenerla operativa.

Lo que necesita ahora es, sin duda, **pruebas de impresión**. Así que... AL TURRÓN!

[2017-11-13 18:29] Siotma commented on #2
Hoy, he replicado [esto](https://github.com/asrob-uc3m/impresoras-asrob/issues/3#issuecomment-340499717) en el PC de Blacky. Por tanto, ya solamente quedaría volver a hacerle el backup.

Hablando del backup: visto que lo habéis subido a sourceforge, creéis que se podría eliminar de Drive y modificar el enlace que aparece [aquí ](https://github.com/asrob-uc3m/impresoras-asrob/blob/master/Backup%20S

[2017-11-13 22:34] GioSunrider commented on #31
Vale, el próximo día podemos empezar por ahí, revisando otra vez todas esas configuraciones. Eso si, lo del bootloader desisto, igual cambiando el micro podemos solucionarlo. Y respecto a la solucion del cambiar por el motor del eje Z, no se yo si seria buena, debido al problema que tambien pierde pasos con bastante facilidad.

[2017-11-15 11:11] David-Estevez commented on #31
Ya he comprado la LCD que os puse por aquí hace un par de comentarios, y he encontrado el Atmega 1284p que tenía para el upgrade. Os lo llevo esta tarde junto con el programador.

[2017-11-16 01:13] d-marcos-m commented on #31
Bueno pues allá va lo que hemos hecho hoy:

Nada más llegar le hemos cambiado el atmega que tenía por el 1284p que nos ha traído @David-Estevez. Con eso y el programados USBTiny ISP que también nos ha traído ha sido cuestión de minutos conseguir meterle el bootloader y, por tanto, el Marlin. Ya no es necesario un programador externo para actualizar el firmware de Dédalo.

Sobre Marlin, tras prueba

[2017-11-16 12:22] diegotrap commented on #32
Veo que este issue va a estar programado para los próximas sesiones, así que me gustaría dar mi opinión.

Yo creo que este tipo de calibración es incorrecta, para los ejes X, Y lo mejor es usar los valores nominales de steps per mm. Es un tema que suele salir de vez en cuando en impresión 3D y hay dos escuelas de pensamiento, pero dejo el vídeo de Thomas Sanladerer donde justifica por qué no es un

[2017-11-16 12:51] davidvelascogarcia commented on #3
@Siotma
El nuevo backup de los ordenadores de ASROB, ya se encuentra disponible en Sourceforge. A su vez, se ha modificado el link del readme del repositorio de impresoras de Github para la descarga y sustituir la descarga de drive por la del repositorio de Sourceforge.
He aprovechado, y he pasado los anexos 3 y 4 del manual, de como realizar el backup o restaurar, a ficheros PDF, intentando dejar

[2017-11-16 12:58] davidvelascogarcia commented on #2
Copio el otro hilo dado que es el mismo para los dos.

@Siotma
El nuevo backup de los ordenadores de ASROB, ya se encuentra disponible en Sourceforge. A su vez, se ha modificado el link del readme del repositorio de impresoras de Github para la descarga y sustituir la descarga de drive por la del repositorio de Sourceforge.
He aprovechado, y he pasado los anexos 3 y 4 del manual, de como realizar

[2017-11-16 16:04] jgvictores commented on #2
@davidvelascogarcia Todo esto formato petición/recomendación.... :slightly_smiling_face:
- Si queda algo en el Drive, vamos a borrarlo para evitar duplicados.
- Vamos a borrar cosas como Backup_codigo_web_operadores/ (para eso wiki tiene histórico y además hacemos backups de su base de datos)
- Para mayor portabilidad de cara al futuro, los manuales por favor en `.md` y enlazados desde un `README.

[2017-11-16 17:05] Siotma commented on #33
En la reunión de ayer, tras varios intentos, el relé enganchó y se imprimieron unos soportes para filamento para Dédalo.

![blacky_spool_holder_for_dedalo_15_nov_2017](https://user-images.githubusercontent.com/6171234/32904872-ad34be30-caf8-11e7-9bc7-2d1747143948.jpg)

[2017-11-16 17:06] Siotma commented on #35
En la reunión de ayer se realizaron nuevas pruebas de impresión: un cubo y una polea dentada, ambas satisfactorias.

![hija_resurrection_pulley_05_nov_2017](https://user-images.githubusercontent.com/6171234/32904892-ba09bf2a-caf8-11e7-9a5e-a198603a48e6.jpg)

Además, adjunto una imagen de la configuración actual de la impresora con las dos fuentes de alimentación. Ayer utilizamos un carrete vacío q

[2017-11-16 17:13] Siotma commented on #36
A mi me gusta mucho esta idea. Ayer @diegotrap nos ofreció traer recortes de PLA la próxima semana (Gracias Diego!). Podemos empezar por ahí, ya que no sabemos si los extrusores de las impresoras estarían preparados para PLA...

[2017-11-16 17:22] Siotma commented on #32
He visto el vídeo entero y ahora entiendo bien tu comentario. Como dices, los pasos por mm no deben ser modificados, y no es nuestra intención hacerlo.

Lo que queremos utilizar es la opción de Slic3r de "Compensación en XY", la cual es mencionada en el vídeo al final como "la forma correcta de realizar la calibración".

Probablemente, el poco texto que hay en el primer comentario te haya conducid

[2017-11-16 18:41] Siotma commented on #31
Añadir al comentario de @daavm que las piezas elegidas para el soporte de filamento de Dédalo han sido [estas](https://www.thingiverse.com/thing:91724).

Si disponeis de alguna foto de cómo queda con ello montado, subidla! 😉

[2017-11-16 18:51] diegotrap commented on #32
Vaya, pues ahora yo quiero aprender a usar esa función de Slic3r =)

[2017-11-16 18:52] diegotrap commented on #36
Llevaré unos restos de bobinas que tengo por aquí, espero que no se me olvide.

[2017-11-17 00:08] David-Estevez commented on #31
Tengo una varilla roscada en el soporte de filamento de mi M-Prime a la que le sobra varilla por todos lados, pero que no he cortado por falta de ganas / medios. Si creéis que lo que le sobra es suficiente para Dédalo me la puedo llevar un día y la cortamos. Así matamos dos pájaros de un tiro.

![img_20171117_004723](https://user-images.githubusercontent.com/1451819/32922684-bc819fee-cb33-11e7-9dc

[2017-11-18 19:38] davidvelascogarcia commented on #2
@jgvictores
Acabo de borrar las carpetas de Backup_codigo_web_operadores. Los manuales Anexos 3 y 4,  en un principio se hicieron en .md para incluir en el manual de impresoras y adjuntar para el documento en gitbook. He subido esos manuales. Quería aprovechar el PDF por el formato.
Con enlazarlos desde un README.md, ¿te refieres a incluir el link de los manuales en el documento?.

[2017-11-19 00:07] GioSunrider commented on #31
No he visto el soporte que han impreso ni como queda, pero puede ser una buena solución.

[2017-11-20 06:34] jgvictores commented on #2
Yo haría algo así como, en `Backup_OS_3D_Printers_PCs`:
- Mover el contenido de `Manual_de_proceso_y_restauracion_de_backup/` a GitHub, probablemente este repositorio.
- Borrar `Manual_de_proceso_y_restauracion_de_backup/`.
- Incluir en `Backup_OS_3D_Printers_PCs` un `README.md` que incluya enlace a este repositorio.

[2017-11-21 19:01] Siotma commented on #29
Repositorio creado en https://github.com/asrob-uc3m/operadores/

Continuaremos esta rama de la conversación en https://github.com/asrob-uc3m/operadores/issues/2

[2017-11-23 13:58] Siotma commented on #33
Ayer, el relé tampoco enganchó.

Debido a los continuos problemas, ayer, sustituimos la fuente de alimentación por una distinta que había en el armario, con las siguientes características:

![blacky_new_power_supply_22_nov_2017](https://user-images.githubusercontent.com/6171234/33175922-894c5d88-d05d-11e7-8430-e3907ebd2c5a.jpg)

El canal de 12V2 (13A máx) se conectó a la cama caliente mediante ban

[2017-11-23 13:58] #33 closed, assigned to Siotma, JorFru, d-marcos-m, davidvelascogarcia, javii9

[2017-11-24 10:06] Siotma commented on #2
Creo que @davidvelascogarcia no tenía acceso a esto así que lo he borrado yo. Está en la papelera de Drive por si la he liado, aún se podría restablecer.

[2017-11-24 15:24] davidvelascogarcia commented on #2
@Siotma  Si, al drive de google, no tengo acceso.
@jgvictores Listo, perdona el retraso, ya esta el README.md, que enlaza con el repositorio de github donde esta el ANEXO 3 y el 4. La carpeta de sourceforge ha quedado limpia, solo esta el backup y el readme. El readme, incluye enlace a los anexos y a la descarga del backup.

[2017-11-25 12:33] d-marcos-m commented on #31
Pues aquí va lo que hicimos el martes y el miércoles. Si alguno de los que estuvo ve que me dejo algo, que lo añada

El martes nos dedicamos a desmontar parte de la impresora para añadirle (8?) tuercas en las varillas superiores, que sujetarían los soportes del filamento que habíamos impreso la semana anterior. En la foto (gracias @JorFru) podéis ver mas o menos las que pusimos.

![photo5814405899

[2017-11-27 08:49] Siotma commented on #31
Visto que [esto](https://github.com/asrob-uc3m/impresoras-asrob/issues/31#issuecomment-345018044) no ha cuajado ... La próxima reunión deberíamos hacer una foto en la que se vea toda la impresora para que conste cómo queda el soporte para el filamento.

[2017-11-27 19:50] David-Estevez commented on #31
Hoy he pasado por la nave y me he acordado de que todavía no había foto, así que aquí os dejo una:

![img_20171127_193052](https://user-images.githubusercontent.com/1451819/33286011-76978140-d3b4-11e7-9ff9-6a2a035fb0f1.jpg)

[2017-11-28 20:52] davidvelascogarcia commented on #31
Durante la sesión de hoy, se han impreso e instalado 4 sujeciones para facilitar el calibrado de la cama caliente en la impresora Dédalo.
Adjunto captura.

![img_20171128_202300](https://user-images.githubusercontent.com/29423648/33343643-63792e7e-d486-11e7-99c3-518dcd4824e2.jpg)

Figura 1.  Captura

[2017-11-28 22:08] GioSunrider commented on #31
Hoy a Dedalo le hemos instalado la mejora de calibración de la cama caliente a muelles, con las sujeciones impresas por @davidvelascogarcia, no hemos hecho foto, el próximo día, se la tenemos que hacer. Ademas hemos hecho dos impresiones, la primera, otro gatito de calibración;

![photo5829996708354960380](https://user-images.githubusercontent.com/10605193/33346349-b3dd3316-d48f-11e7-9021-ac761549

[2017-11-28 22:40] GioSunrider commented on #31
Añadido el Bundle de información a la [carpeta](https://github.com/asrob-uc3m/impresoras-asrob/tree/master/Dedalo) de Dedalo, así como relleñado el readme de información acerca de los archivos de configuración.

[2017-11-28 22:53] GioSunrider opened #37 "Formacion de Operador"
Hola, me gustaria constatar como operador de las impresoras, he hablado hoy con @Siotma del tema. En la actualidad formo parte del grupo de trabajo y con la formacion de Manu, he impreso alguna que otra pieza, mientras poniamos a punto a dedalo. Adjunto foto de tres de las piezas.

![31974411-e9cd9ddc-b92b-11e7-8f67-1b1925cae8fa](https://user-images.githubusercontent.com/10605193/33348598-4abff6f4

[2017-11-28 23:01] GioSunrider commented on #37
Vale, la he liado, me he equivocado de repositorio. cierro y la reabro en el otro lado.

[2017-11-28 23:01] #37 closed, assigned to GioSunrider

[2017-11-29 07:55] davidvelascogarcia opened #38 "Problema de generación de nuevos perfiles de impresión"
Se ha detectado en los ordenadores de las impresoras Blacky e Hija Resurrection, que no permite la generación y almacenamiento de nuevos perfiles de impresión, tanto en los perfiles de invitado como en el perfil de administrador Asrob. Permite rellenar los campos y exportar el perfil, sin embargo no su almacenamiento.

[2017-11-29 07:58] davidvelascogarcia commented on #38
En la sesión de ayer @daavm , detecto que la ruta de almacenamiento, no era correcta y ni siquiera existía.

[2017-11-29 12:10] Siotma commented on #29
La [nueva página de operadores](http://asrob.uc3m.es/printers/operators.html) está activa y funcionando.

En este momento, nos enfrentamos a un proceso de transición en el que se abren distintas tareas:

- [ ] Hacemos el cambio ya o damos un tiempo de latencia para detectar bugs?
- [ ] Si se decide hacer la transición, habría que indicar con una nota en la antigua página que ya no se actualizará m

[2017-11-29 12:15] Siotma commented on #35
En la reunión de ayer, se comenzó el proceso para soldar conectores a la nueva fuente de alimentación para dejar a Hija Resurrection con una sola de ellas. Sin embargo, no dio tiempo a completar el proceso por lo que actualmente se encuentra sin fuente (están en el armario, en la balda de Printer One).

[2017-11-29 12:38] Siotma commented on #31
En la carpeta de Dédalo hay archivos duplicados (.mepr) y obsoletos (.png). Revisadlos cuando podáis y dejad solamente los más actualizados e imprescindibles (creo que el readme refleja bastante bien esto).

Además, he visto que hay un .stl, en caso de querer tener piezas de dédalo en el repo y para evitar que crezcan demasiado y tapen el resto de archivos, yo haría una subcarpeta llamada `parts`

[2017-11-29 16:25] Siotma commented on #35
Asimismo, se realizó una revisión minuciosa de los sensores de temperatura que incluyó un re-soldado, y re-termorretractilado del termistor del extrusor, y la colocación de una pieza de cartón bajo la cama caliente para disminuir la disipación. El sensor de temperatura de la cama caliente pareció estar en buen estado y por tanto no fue necesario realizar ninguna operación sobre él.

Relacionado co

[2017-11-29 16:30] Siotma commented on #33
En la reunión de ayer se imprimieron piezas durante toda la tarde sin ningún problema.

[2017-11-29 16:31] Siotma commented on #28
Finalmente, Blacky ha vuelto a un funcionamiento fiable con una fuente de alimentación distinta a la documentada en esta issue (ver problemas y resolución en #33 )

[2017-11-29 17:32] jgvictores commented on #29
Sin duda! https://github-issue-mover.appspot.com/ funciona muy bien!

[2017-11-29 17:33] jgvictores commented on #29
PD: Soy muy dado a hacer la transición, para forzar a ponernos en modo beta-testers. :-)

[2017-11-29 18:06] Siotma commented on #29
No me refería tanto a migrar totalmente la issue, sino a cerrar esta dándola por finalizada y abrir otra en https://github.com/asrob-uc3m/operadores/ para aclarar los puntos de https://github.com/asrob-uc3m/impresoras-asrob/issues/29#issuecomment-347841784

[2017-11-29 18:14] Siotma commented on #29
Discusión migrada a: https://github.com/asrob-uc3m/operadores/issues/14

 Creo que @davidvelascogarcia tiene el derecho más que ganado de cerrar esta issue.

[2017-11-29 18:36] davidvelascogarcia commented on #29
@Siotma muchas gracias. Dado que se ha migrado y estamos de acuerdo, cierro la issue.

[2017-11-29 18:36] #29 closed, assigned to davidvelascogarcia

[2017-11-29 23:25] GioSunrider commented on #31
He hecho limpieza de la carpeta y he añadido la carpeta `parts` con la pieza que estaba dentro.
Creo que seria bueno incluir las piezas que se han usado en toda la puesta a punto, para que así, si algún día se rompe alguna, sabemos donde encontrarlas rápidamente. Y creo que no solo para Dedalo, si no para el resto de impresoras, ya que así nos aseguramos de que siempre sea la misma. No se que tal

[2017-11-30 11:39] Siotma commented on #31
Me parece una gran idea, creo que incluso puedes abrir una issue dedicada a ella.

[2017-11-30 21:03] GioSunrider commented on #31
Vale, perfecto, voy al lio! jajaajaja

[2017-11-30 21:09] GioSunrider opened #39 "Incluir Piezas en los Archivos de Configuracion de las Impresoras"
Como he propuesto en [#31](https://github.com/asrob-uc3m/impresoras-asrob/issues/31) creo que seria necesario incluir en el `master` de cada impreso las piezas de cada una. En Dedalo ya hay una carpeta `parts` dedicada a ello.
La finalidad de esto no es otra que en caso de rotura, mal-funcionamiento o aunque improbable perdida de alguna pieza, sepamos con exactitud la pieza que se encontraba. De e

[2017-12-01 09:53] Siotma commented on #39
A mi me parece muy buena idea. La mayor dificultad sería conocer qué piezas exactamente llevaban las impresoras antes de iniciarse Printer One. Sin embargo, todas las piezas que hemos instalado desde entonces sí que sería muy recomendable guardarlas 👍

En caso de que sean piezas sacadas de Thingiverse, yo también dejaría un enlace de la fuente de cada una (por ejemplo, en el [Readme](https://githu

[2017-12-02 10:54] Siotma commented on #35
Ante la posibilidad de necesitar las impresoras para formar nuevos operadores la próxima semana, ayer me acerqué un rato a la nave para finalizar la instalación de la nueva fuente de alimentación de Hija Resurrection y así dejarla operativa. Sin embargo, aunque parecía sencillo en un principio no resultó serlo tanto:

- Tras conectorizar la fuente de alimentación y conectarla a la impresora, reali

[2017-12-03 23:10] GioSunrider commented on #39
Pues solo queda manos a la obra. Creo que lo más difícil es como dices, conocer las piezas que se encuentran instaladas, pero bueno, poco a poco, la única que podríamos "completar" sería Dédalo, el resto abra que apañarselas.

[2017-12-04 10:06] David-Estevez commented on #39
De Dédalo tengo yo por ahí guardados un par de STLs de las piezas que yo personalicé. Son sólo modificaciones estéticas, pero puedo subirlas también si queréis tener todas las piezas originales.

[2017-12-04 18:41] GioSunrider commented on #39
Estaría bien, sobre todo por ver cuáles hemos cambiado y cuáles no, y dejar las que ahora mismo están instaladas. Sobretodo por si por ejemplo se parte una rueda dentada o algo, aunque improbable puede pasar.

[2017-12-06 12:32] davidvelascogarcia commented on #39
@GioSunrider Subo al repo el STL de las bed leveling, adunto [link](https://github.com/asrob-uc3m/impresoras-asrob/blob/master/Dedalo/Parts/Bed%20leveling.stl).

[2017-12-06 12:37] davidvelascogarcia commented on #3
@jgvictores El README.md esta actualizado. He borrado la carpeta, y he dejado solamente el README.md con los ficheros de backup, adjunto [link](https://sourceforge.net/projects/asrob/files/Backup_OS_3D_Printers_PCs/).

[2017-12-06 12:51] Siotma commented on #35
En la reunión de ayer comprobamos que el problema de potencia no estaba relacionado con la RAMPS sino con la fuente de alimentación: la tensión cae enormemente cuando se enciende la cama caliente y ello perjudica el funcionamiento de los drivers paso a paso provocando fallos en el movimiento.

Se cambió la fuente por otra igual pero con mejores valores de tensión de salida. Asimismo se observó que

[2017-12-06 19:45] GioSunrider commented on #39
Perfecto, @Siotma ¿puedes también subir la pieza de sujeción del extrusor de Dedalo? Esa que imprimiste en casa.

[2017-12-06 20:42] David-Estevez commented on #39
Subidas las partes de Dédalo modificadas por mi (https://github.com/asrob-uc3m/impresoras-asrob/commit/d79c3a6ed4321783ab0c38bb067298bb184c71cd).

También he encontrado este zip, que imagino que serán las piezas de la i2 tal cual las descargué para imprimirlas:
[prusajr-PrusaMendel-d2fde50.zip](https://github.com/asrob-uc3m/impresoras-asrob/files/1536801/prusajr-PrusaMendel-d2fde50.zip)

Y un Conf

[2017-12-06 21:33] GioSunrider commented on #39
El Configuración.h dejaría el actual, ya que seguro que le tenemos actualizado y no da problemas por el momento y el resto genial, sobre todo el bonus track ajajajaja

[2017-12-06 21:42] David-Estevez commented on #39
Totalmente de acuerdo, si la versión que hay ahora funciona es mejor que se quede esa.

[2017-12-07 08:36] jgvictores commented on #3
@davidvelascogarcia Está realmente genial. Gracias!

[2017-12-07 14:06] davidvelascogarcia commented on #3
Me alegro. Con tal de ayudar.

[2017-12-07 18:24] d-marcos-m commented on #38
En la última reunión este problema quedó resuelto. @Siotma y yo nos pusimos con ello y, aunque no descubrimos el fallo en concreto, al eliminar la carpeta .Slic3r de '/home/asrob' y forzar al propio Slic3r a crear esa carpeta de configuración de nuevo, se arregló el problema. En resumen, si vuelve a pasar, con reconfigurar Slic3r debería solucionarse.

[2017-12-07 18:25] #38 closed, assigned to d-marcos-m, davidvelascogarcia

[2017-12-07 18:29] d-marcos-m opened #40 "LCD para las Impresoras"
En la última reunión, decidimos ponerle una pantalla de BQ que teníamos en el armario. Se editó el Configuration.h (pendiente subir el actualizado) y se subió el nuevo firmware.

- [x] Actualizar el Configuration.h en GitHub.

Todo funcionó bien, pero a la hora de apagar el ordenador que controla a Blacky, la pantalla sigue encendida, ya que se alimenta a través del USB de la torre del ordenador.

[2017-12-09 19:36] Siotma commented on #39
Del hilo de #31 he sacado las siguientes piezas (igual me he dejado alguna más)

- Carro X: https://github.com/asrob-uc3m/impresoras-asrob/issues/31#issuecomment-334395480 . Tener en cuenta [esto](https://github.com/asrob-uc3m/impresoras-asrob/issues/31#issuecomment-336418170).

- Extrusor: https://github.com/asrob-uc3m/impresoras-asrob/issues/31#issuecomment-342093484 .

- Soporte de filamento: h

[2017-12-09 19:40] Siotma commented on #7
@David-Estevez , @jgvictores . Esta issue es muy antigua y no está en el repo que debe. Sin embargo creo que a día de hoy, ya está más que resuelta puesto que ya no usamos la página de impresoras de la Wiki, y las páginas de [impresoras](http://asrob.uc3m.es/printers/) y [operadores](http://asrob.uc3m.es/printers/operators.html) cumplen la función demandada.

Como mucho, quedaría indicar en la [an

[2017-12-09 19:55] Siotma commented on #2
Recordando https://github.com/asrob-uc3m/impresoras-asrob/issues/2#issuecomment-344969900

Creo que las carpetas [Backup_Codigo-Web_Operadores](https://github.com/asrob-uc3m/impresoras-asrob/tree/master/Backup_Codigo-Web_Operadores) y [Backup S.O configuraciones y aplicaciones de equipos de impresion](https://github.com/asrob-uc3m/impresoras-asrob/tree/master/Backup%20S.O%20configuraciones%20y%20a

[2017-12-09 20:30] Siotma commented on #31
Sería ideal que ahora que ya se pueden configurar nuevos perfiles ( #38 ), y aprovechando que en la última reunión se instalaron los perfiles de Dédalo en el PC de Hija Resurrection, se proceda a instalar a Dédalo en el lugar de Hija Resurrection. De esta manera, ya no será necesario que utilicéis vuestros propios PCs para utilizarla.

Mientras tanto, Hija Resurrection, seguirá en el taller ( #35

[2017-12-09 20:36] Siotma opened #41 "Aprovechamiento de los nuevos puntos de luz y puertos Ethernet de la nave"
Recientemente se ha añadido una instalación nuevecita en la nave, la cual incluye varias torres ancladas al suelo, cada una de ellas con:
- Enchufes de 220V.
- Puertos Ethernet.

Actualmente, las impresoras y los PCs que las controlan están enchufados mediante un árbol de regletas bastante poco robusto. Además, los PCs carecen de internet a no ser que se tire un cable de 20 metros. Se quiere mejor

[2017-12-09 20:38] Siotma commented on #41
En la última reunión, @jgvictores y yo modificamos la infraestructura de enchufes dejando la siguiente configuración:
- Monitor de Blacky, PC de Blacky, y Blacky, enchufados a un punto de luz **único** mediante una regleta de 4 tomas sin interruptor.
- Monitor de Hija Resurrection, PC de Hija Resurrection, e Hija Resurrection, enchufados a un punto de luz **distinto** mediante una regleta de 3 tom

[2017-12-09 20:39] Siotma commented on #41
Faltaría solicitar IPs al servicio de informática para poder conectar los PCs. Lo puedes mover tú @jgvictores ?

[2017-12-10 00:46] David-Estevez commented on #7
Yo movería los "enlaces útiles" al manual de usuario, pondría el cartel enlazando a la nueva página y con eso daría esta issue por cerrada.

[2017-12-10 08:45] jgvictores commented on #7
1. Teníamos la idea de sólo poder reservar si está logueado un operario. ¿Esto está hecho?

2. Nunca hice nada parecido, pero en GitBook puedes acceder con una cuenta de GitHub (aparte de Google, etc). Si lo de (1) no está hecho, sería una opción, no?

[2017-12-10 09:03] jgvictores commented on #41
Sí, me encargaré!

[2017-12-10 09:30] Siotma commented on #7
Actualmente, está hecho que únicamente personas identificadas con una cuenta de correo UC3M en Google pueden reservar.

No entiendo cuál es el objetivo de utilizar cuentas de GitBook. Sin embargo, creo que las propuestas para perfeccionar el sistema de reservas deberían hacerse [aquí](https://github.com/asrob-uc3m/printers-status-webpage/issues/4).

[2017-12-10 10:41] jgvictores commented on #7
Sí, me referí a GitBook pero el del Issue mover es igual, como propones [en la issue correspondiente](https://github.com/asrob-uc3m/printers-status-webpage/issues/4#issuecomment-350535856). Totalmente de acuerdo con seguir los desarrollos ahí.

@Siotma Cierra esta issue sin problema, ¡gracias!

[2017-12-10 11:06] Siotma commented on #7
Wiki actualizada: http://asrob.uc3m.es/index.php/Gesti%C3%B3n_Impresoras

Manual de usuario actualiado: https://asrob-uc3m.gitbooks.io/impresoras-user-manual-i3/content/enlaces_utiles.html

[2017-12-10 11:06] #7 closed, assigned to jgvictores

[2017-12-11 12:54] GioSunrider commented on #31
Vale, me parece perfecto hacer el cambio. una pregunta ¿Hay 3en1en la nave para engrasar a Dedalo y darla ya por operativa?

[2017-12-14 16:08] jgvictores commented on #41
Petición lanzada.

[2017-12-14 18:28] GioSunrider commented on #40
Para la proxima sesion imprimir el recubrimiento del LCD que ira en Hija Resurrection, en [este enlace](https://www.thingiverse.com/thing:638833/#files) se pueden encontrar.

[2017-12-14 18:44] Siotma commented on #41
Ya disponemos de las IPs. No las pongo aquí por seguridad ¿Verdad @jgvictores?

Hoy, hemos conectado un PC con uno de los cables ethernet del router y hemos configurado la primera IP. Es muy sencillo. Hay que ir a:

`Inicio -> preferences -> network connections -> add -> Ethernet -> create -> ipv4 settings -> manual -> add address.`

Allí escribir: `address = IP asignada`. `Netmask = 255.255.255.0

[2017-12-14 18:45] Siotma commented on #41
Faltaría pedir un par de cables Ethernet al departamento. Ya que los que tenemos actualmente se usan para el router, y además, tienen las pestañas rotas por lo que no son muy robustos.

¿ Hace falta poner una issue en actas @David-Estevez @jgvictores ? O se puede gestionar internamente con el departamento...

[2017-12-14 18:52] Siotma commented on #35
Hoy, he realizado un agujero en el bloque calentador de Hija Resurrection para fijar el termistor con un tornillo y prescindir del Kapton. Ha quedado de maravilla:

![14_dic_2017_screw_heater_hija_resurrection](https://user-images.githubusercontent.com/6171234/34009109-edbe55ea-e107-11e7-9952-87a1c0ddbde5.jpg)

Además, @danielo16 ha realizado varias pruebas de impresión satisfactorias. Los problem

[2017-12-14 18:52] #35 closed, assigned to Siotma

[2017-12-14 19:01] Siotma commented on #41
Acaba de llegar @jgvictores con dos cables Ethernet como si fuera Moisés con las tablas de la ley.

Ya se encuentran ambos PCs configurados mediante el perfil Ethernet Connection 2 y conectados a internet correctamente.

Issue cerrada.

[2017-12-14 19:01] #41 closed, assigned to jgvictores, Siotma

[2017-12-15 00:30] JorFru commented on #35
Mera curiosidad,
Me imagino que el agujero lo has hecho con las nuevas herramientas
rotativas de ASROB
Pero cómo has hecho la rosca? Tenemos machos de rosca y yo no lo sabía?

El 14 de diciembre de 2017, 19:53, Manuel Peña Fernández <
notifications@github.com> escribió:

--
*Jorge Frutos de Mingo*

Ingeniería Electrónica Industrial y Automática.
Asociación de estudiantes UC3Music.
Universidad Carl

[2017-12-15 12:10] GioSunrider commented on #40
Se imprimió y se coloco el LCD de Blacky. Adjunto fotos del soporte, que a su vez queda añadido a la carpeta de `parts` de Blacky, y del LCD instalado.
Admas se probo su funcionamiento y no da ningun problema.

![photo5881893635711150921](https://user-images.githubusercontent.com/10605193/34041665-5c4d4214-e199-11e7-9b5b-fc5a61a7de2e.jpg)

![photo5881893635711150922](https://user-images.githubuser

[2017-12-15 12:14] Siotma commented on #31
En la nave no hay nada para engrasar, me temo.

[2017-12-15 12:21] GioSunrider commented on #31
Pues entonces como querais, si quereis podemos comprar 3en1, o si no la dejamos como esta, y cerrar la issue en el momento que la instalemos al PC. Que visto lo visto, diria de ahora mismo dejar a Blacky libre, y colocar en ese lugar a dedalo, ya que todavia hay que investigar en Hija lo del LCD.

[2017-12-15 18:25] d-marcos-m commented on #40
A la hora de intentar solucionar el tema de la alimentación de la placa cuando el ordenador está apagado, decidimos optar por modificar los cables de las impresoras para que fuesen data-only.
Para hacer esto, no hay más que abrir el cable, y sabiendo que de los 4 cables que tiene dentro (blanco, negro, verde y rojo?), el rojo es VCC, procedimos a cortar el rojo, cubrir los 2 trozos que quedan tras

[2017-12-15 18:47] Siotma commented on #35
El agujero con la rosca ya estaba hecho. Curiosamente este tipo de agujero en todas las impresoras que yo he visto viene roscado. Yo hice uno un poco más abajo para introducir el termistor. Y ese no necesita rosca.

[2017-12-15 18:49] Siotma commented on #31
Me parece bien. No es necesario esperar a hacerlo absolutamente todo para cerrar la issue. Lo principal es que funcione.

[2017-12-15 19:18] Siotma commented on #40
Respecto a la colocación de la pantalla sobre el marco de la impresora, yo puedo aportar que en mi experiencia **es un mal sitio**: si se interactúa con la pantalla durante la impresión es muy fácil hacer oscilar el marco de metacrilato, y ello puede hacer que el extrusor se mueva (suba o baje), dejando imperfecciones en la pieza. Este tipo de montajes son más apropiados para estructuras más robus

[2017-12-15 22:11] GioSunrider commented on #31
Perfecto, pues ya tenemos algo importante que haces para la semana que viene, asi nos vamos de navidad con las tres impresoras operativas.

[2017-12-16 01:47] JorFru commented on #35
Todo entendido!
Gracias Manu

2017-12-15 19:47 GMT+01:00 Manuel Peña Fernández <notifications@github.com>:

--
*Jorge Frutos de Mingo*

Ingeniería Electrónica Industrial y Automática.
Asociación de estudiantes UC3Music.
Universidad Carlos III de Madrid.

[2017-12-21 15:56] GioSunrider commented on #31
Se ha comprobado que no es necesario ni engrasarlo n iel tensor de la correa Y. Se le ha quitado el polvo y se ha instalado en el PC de Blacky, y a Blacky se le ha dejado independiente, ya que, se le instalo el LCD como se menciona en [#40](https://github.com/asrob-uc3m/impresoras-asrob/issues/40). Tambien se han dado los permisos del PC, se han cargado los perfiles de impresion, se ha configurado

[2017-12-21 15:56] #31 closed, assigned to GioSunrider, d-marcos-m, carlosmgomezj, gonzalojs1

[2017-12-22 15:58] David-Estevez commented on #31
Ueeeee!! Genial!!! menudo curro que os habéis pegado!! :clap: :clap: :clap:

[2017-12-24 10:55] Siotma commented on #40
En la reunión del día 21, pusimos a Blacky a imprimir desde la SD, obteniendo muy buenos resultados:

<img align="center" height="300" src="https://user-images.githubusercontent.com/6171234/34325924-2d3311d4-e8a1-11e7-8e79-23c8f6754716.jpg"></img>

Ahora mismo, Blacky es totalmente funcional mediante la LCD, por tanto, urge, actualizar el [manual de usuario](https://github.com/asrob-uc3m/impresora

[2017-12-27 15:05] d-marcos-m commented on #40
En la sesión del pasado jueves instalamos también la pantalla de Hija, en este caso una full graphics. Actualizamos el firmware y los nuevos archivos de configuración quedaron subidos al repo. El próximo día añado fotos :D

[2017-12-28 19:22] d-marcos-m commented on #40
Añado foto de Hija con pantalla :) (Felices fiestas!)

![indice](https://user-images.githubusercontent.com/14359236/34420973-e262e610-ec0c-11e7-8acb-f33b8a154f8a.jpg)

[2018-01-04 16:55] Siotma commented on #40
Alguna noticia del [LCD de Dédalo](https://github.com/asrob-uc3m/impresoras-asrob/issues/31#issuecomment-344561347) @David-Estevez ?

[2018-01-04 19:15] David-Estevez commented on #40
Pues algo me dice que la traerán los Reyes Magos....

[2018-01-08 10:27] David-Estevez commented on #40
Ya tenéis vuestro regalo de Reyes en el armario :wink:

![image](https://user-images.githubusercontent.com/1451819/34666889-cbf96c0c-f466-11e7-80c5-f290951b9cb7.png)

[2018-01-09 16:01] Siotma commented on #40
Muchas gracias!

Hemos venido entusiasmados a la reunión para poder probarla, pero nos hemos dado cuenta enseguida de que no vamos a poder usarla con la Sanguinololu. En realidad, no sabemos si la pantalla es compatible o no, pero el adaptador, es decir, la pieza pequeña blanca señalada en la siguiente imagen, es para RAMPS. Además, en la pegatina del paquete de la pantalla también se indica que e

[2018-01-09 17:21] Siotma commented on #36
Hoy, hemos colocado una bobina [Smartfil PLA Cobalt](http://smartmaterials3d.com/es/tienda-smart/51-smartfil-pla-cobalt.html#/tamano-m_750g/diametro-1_75_mm_0_03) adquirida en la última convocatoria de asociaciones en Blacky.

De momento hemos hecho una primera prueba con una pieza para la pantalla de Hija Resurrection, con muy buen resultado:

![blacky_print](https://user-images.githubusercontent

[2018-01-10 00:09] GioSunrider opened #42 "Puesta a Punto de Hija"
Visto el buen resultado que nos dio esta misma issue, abrimos una para Hija.
Antes de Navidad, se imprimieron dos árboles de navidad ([ver en issue #40](https://github.com/asrob-uc3m/impresoras-asrob/issues/40)) y comparando el impreso con Blacky y el de Hija se notó un gran cambio de calidad con el de Hija.
Por ello @Siotma ha propuesto una solución, ya que nos comentó el cambio de pasos por milí

[2018-01-10 15:06] David-Estevez commented on #40
Disputa abierta con el vendedor, le he pedido que me envíe el adaptador correcto o que me devuelva 3€ para que le pueda comprar otro a otro vendedor. Os mantengo informados de lo que me vaya diciendo.

[2018-01-11 10:29] Siotma commented on #42
En realidad se pueden plantear aún más cambios:
- Cambio de la polea de la correa del eje X para que la correa vaya siempre en horizontal.
- Añadir un tensor para el eje X [este](https://www.thingiverse.com/thing:247992) va muy bien.
- Añadir un tensor para el eje Y.
- Ajustar el extrusor, que ahora mismo tiene fugas de plástico.
- Reducir holguras, si las hay, en la sujección del extrusor al eje

[2018-01-11 11:26] Siotma commented on #40
En la última reunión, se imprimieron [estas piezas](https://www.thingiverse.com/thing:638833/#files) para hacerle una carcasa a la pantalla de Hija Resurrection.

![hijaresurrection_new_screen](https://user-images.githubusercontent.com/6171234/34823408-879f0240-f6ca-11e7-9725-7ce3f59c65af.jpg)

Además, se practicó un agujero en la parte inferior de la carcasa para dejar la pantalla atornillada sob

[2018-01-11 21:10] GioSunrider commented on #42
Me parece más que perfecto. A añadir lista de tareas entonces y manos a la obra.

[2018-01-11 23:04] GioSunrider commented on #42
Pregunta: respecto al problema de los pasos por mm, si cambiamos la placa por la de BQ, ¿se solucionaria?
P.D. Cambios añadidos al comentario inicial.

[2018-01-11 23:14] David-Estevez commented on #40
El vendedor aceptó el reembolsarme 3€, con los que he comprado otro adaptador distinto en Aliexpress. En lo que llega os dejo la placa otra vez en el armario, por si se la queréis poner temporalmente a otra impresora o algo.

[2018-01-14 11:28] Siotma commented on #42
Posiblemente los Drivers de la placa de BQ acepten un mayor microstepping (mayor resolución) y por tanto sí que se puedan utilizar los números habituales. Esto es una suposición pero lo digo teniendo en cuenta que Blacky utiliza la misma placa y los mismos drivers, por lo que parece factible.

[2018-01-14 13:01] GioSunrider commented on #42
Yo es que tengo la duda si el problema es de la placa o de los motores, al fin y al cabo, los motores son los que se mueven, la placa solo manda "pulsos" no?

[2018-01-14 13:03] Siotma commented on #42
Eso es totalmente cierto. Para discernir esto, deberíamos probar a mover los motores de Hija desde la placa de Blacky (por ejemplo, con conectar el motor de X o Y y comparar el comportamiento sería suficiente).

[2018-01-14 13:07] GioSunrider commented on #42
Pues el próximo día investigamos a cerca de ellos, porque es algo que me lleva dando que pensar.

[2018-01-24 10:29] GioSunrider commented on #42
He venido a imprimir con hija la pieza que partió ayer de dedalo y me la he encontrado con un atasco de PLA curioso, sigue saliendo PLA plateado y no he conseguido desatascarlo, por lo que esta ahora mismo fuera de servicio hasta que lo consigamos arreglar.

[2018-01-24 10:48] GioSunrider opened #43 "Pruebas de lijado y pulido con Dremel"
Adjunto resultado final de las pruebas que realizamos @daavm y yo de diferentes cabezales de pulido con la dremel. Mas adelante especificare cual fue el resultado de los diferentes cabezales y a la conclusión que se obtuvo. La pieza a tratar fue un Low-Poli Totodile que traje de casa impreso con una Anet A8, con errores visibles en la pieza pero que no afectaron para el post-tratamiento de la piez

[2018-01-27 12:52] Siotma commented on #42
Me extraña muchísimo que esté atascada con PLA cuando el último día imprimió una pieza de ABS amarillo durante dos horas 😕 .

[2018-01-27 15:10] Siotma commented on #32
Creo que ahora que Blacky y Dédalo funcionan tan bien, sería muy interesante comenzar a investigar en esta issue.

[2018-01-27 21:12] GioSunrider commented on #42
Cuando fui a imprimir con ella salió plateado, además de la fuga por la parte de arriba del extrusor.

[2018-01-28 22:32] Siotma commented on #42
En la reunión del martes 23 comenzamos a imprimir piezas para el tensor del eje X.

![photo6012370172318428555](https://user-images.githubusercontent.com/6171234/35488054-0c8bb7a8-0483-11e8-84bb-da3d963f6764.jpg)
![2018_01_23_hija_resurrection_x_idler_tensioner](https://user-images.githubusercontent.com/6171234/35488055-0e9d4be2-0483-11e8-9682-71e127e3f020.jpg)

También se propuso la posibilidad d

[2018-01-29 12:47] GioSunrider opened #44 "Intervencion a Dedalo"
Debido a que en la ultima reunión se nos rompió la pieza que sujetaba la correa del eje X. El pasado miércoles, decidí pasarme por la nave para no tener a Dedalo fuera de Servicio. Mi idea era imprimir con Hija otro rodamiento y colocárselo, pero debido al problema mencionado en [#42](https://github.com/asrob-uc3m/impresoras-asrob/issues/42) fui incapaz. Como medida provisional decidí colocar dos

[2018-02-01 19:27] GioSunrider commented on #44
Wiki actualizada y  dejamos las arandelas.

[2018-02-01 19:27] #44 closed, assigned to GioSunrider

[2018-02-02 16:47] Siotma commented on #42
En la reunión de ayer se sustituyó el extrusor MK8 de Hija por este otro tipo Gregs Wade. Aún no funciona porque no dio mucho tiempo a calibrarlo y además se partió un cable del motor, que aún está pendiente de reparar:

![2018_01_01_hija_resurrection_new_extruder](https://user-images.githubusercontent.com/6171234/35744540-e9c752f6-0840-11e8-85b3-960feacc9240.jpg)

Se actualizó el Marlin para sopo

[2018-02-06 10:27] GioSunrider opened #45 "Cambio de Extrusor de Blacky"
En la pasada reunion se decidio cambiar el extrusor de Blacky debido a que el que se encuentra ahora mismo esta un poco roto. Se decidio, ya que habia que cambiarlo, @Siotma propuso el extrusor [Wade L3K Extruder](https://www.thingiverse.com/thing:512338) y decidimos cambiarlo. Se imprimio la pieza idle y faltaria el cuerpo del mismo.

[2018-02-08 22:49] GioSunrider commented on #45
Se ha impreso parte de las piezas del extrusor. Decir que la pieza de la foto es el resltado final, despues que por ansias y por bruto me cargara un pequeña parte de ella pero ya esta como nueva.

![photo6046442465705176372](https://user-images.githubusercontent.com/10605193/36002491-a5322f5a-0d2a-11e8-934f-345f34f16792.jpg)

[2018-02-09 22:57] d-marcos-m commented on #36
La semana pasada probamos a usar el filamento flexible de 3mm que llevó @David-Estevez en Dédalo. No tuvimos que cambiar mucho, y las pruebas que hicimos (un cohete) salieron bastante bien. Subiré fotos cuando las tenga ^^

[2018-02-09 23:02] d-marcos-m opened #46 "Reparación de placa Sanguinololu"
@David-Estevez nos trajo el adaptador para colocarle la pantalla a Dédalo, y nosotros super contentos corrimos a ponérsela. La buena noticia es que la pantalla funciona!! La mala es que uno de los pololus ardió, así que dédalo está sin funcionar ahora mismo.
Cuando se le cambie la placa a Hija, podremos usar los pololus de esa placa en la sanguino de Dédalo.
Por otra parte, intentamos actualizarle

[2018-02-09 23:03] David-Estevez commented on #46
Os lo presto otra vez? 😂

[2018-02-09 23:07] d-marcos-m commented on #46
Por favor, jajajaja

[2018-02-11 23:12] Siotma commented on #45
Para instalar este extrusor, hay que disponer de un carro del eje X que disponga de una configuración de agujeros compatible.

En mi impresora, monté este modelo: https://www.thingiverse.com/thing:701087

Me gusta mucho por el sistema de fijación de la correa que luego facilita el tensado. Presenta la dificultad de pausar la impresión a la mitad e introducir la tuerca en el interior de la pieza, p

[2018-02-12 19:01] Siotma commented on #42
En la reunión del pasado jueves, se reparó el cable roto del motor del extrusor y se ajustaron los pasos por mm en fa5c5e1739b1cd279aa2b05e3c58197001cbdaf8

Con la configuración actual, Hija Resurrection es funcional para imprimir como demuestra la siguiente imagen.

![photo6048503208193665843](https://user-images.githubusercontent.com/6171234/36114141-64de1cfe-102f-11e8-912e-2c54ad17db47.jpg)

[2018-02-17 15:25] Siotma commented on #42
En la última reunión, se sustituyó la pieza de la parte derecha del eje X por [esta otra](https://www.thingiverse.com/thing:247992), que incorpora un tensor. La siguiente imagen muestra el resultado

![2018_02_15_hija_resurrection_x_tensioner](https://user-images.githubusercontent.com/6171234/36342441-e2efa7de-13fe-11e8-8ae6-1199d094fe6e.jpg)

Tras la sustitución se comprobó el correcto funcionami

[2018-02-18 22:01] Siotma commented on #45
Dado que Blacky se atascó el último día al imprimir con PLA, propongo que el próximo día se desmonte el extrusor y se compruebe el estado del tubo de teflón interno al barrel. En caso de no tenerlo, es muy importante ponérselo. Creo recordar que en el armario había un barrel nuevecito con tubo de teflón

![reprap-3d-printer-nozzle-teflon-tube-throat](https://user-images.githubusercontent.com/61712

[2018-02-20 19:10] GioSunrider commented on #46
@David-Estevez siento decir que es imposible cargar la placa después de que saliera ardiendo, así que creo que la conclusion fue dar la placa por muerta T.T

[2018-02-20 19:14] GioSunrider commented on #40
Issue que queda en stand-by, debido a que la pobre placa de dedalo cuando se le conecto la pantalla, el adaptador tenia los pines desalineados e hizo una mala conexion y salio ardiendo como se refleja en [#46](https://github.com/asrob-uc3m/impresoras-asrob/issues/46). Cuando evaluemos el problema se vera que hacer en esta issue.

[2018-02-20 19:21] GioSunrider commented on #43
Despues de realizar distintos tipos de lijado con los distintos accesorios, los que mejor resultado dan son:

- La llamada "Piedra Pomez" que es de forma rosacea y con distintas formas para adaptarse a la forma deseada.
- La lija de arena, son tambien distintos cabezares, tiene color rojo oscuro con brillantes.
- El resto de accesorios calientan demasiado la pieza lo que se pueden deformar en el p

[2018-02-20 19:21] #43 closed, assigned to GioSunrider, d-marcos-m

[2018-02-20 22:33] David-Estevez commented on #46
Si el microcontrolador no responde es probable que muriese al colocar el adaptador de forma incorrecta.

En ese caso yo propondría los siguientes pasos:
1. Asegurarse de que nada más se quemó (ver si hay algo negro en la placa además del microcontrolador).
2. (Después o a la vez que el punto 1) Usar el microcontrolador antiguo, el que no era compatible con la LCD para descartar más fallos en la pl

[2018-02-21 20:16] Siotma commented on #46
Me parece perfecto. Podrías facilitarnos otra vez el microcontrolador antiguo?

[2018-02-21 21:09] David-Estevez commented on #46
Os lo llevo mañana

[2018-02-21 22:34] GioSunrider commented on #46
A mi tambien me parece una muy buena solucion, se quemo tambien un pololu, pero creo que cuando cambiemos la ramps a hija quedara alguno libre. En la revision no parece nada mas quemado, pero sin micro poco hemos podido probar.

[2018-02-22 00:48] David-Estevez commented on #46
De momento seguimos con el plan porque aunque se cambie el pololu si no funciona el micro no hacemos nada. Si el micro va buscaremos repuesto.

[2018-02-22 15:59] David-Estevez commented on #46
Ya tenéis el micro antiguo en el armario.

[2018-02-22 16:14] GioSunrider commented on #46
Estoy con el, gracias @David-Estevez ! Pero sigo sin poder cargarle el Marlin, y no reconoce el programador, solo el puerto convencional y ese es imposible de cargarle.

[2018-02-22 22:57] GioSunrider commented on #42
Se ha instalado la nueva placa de Ramps de BQ en hija, sustituyendola por la anterior que ha sido almacenada. @Siotma finalmente ha actualizado la configuracion del Marlin, por lo que Hija queda de nuevo operativa.

[2018-02-22 23:01] GioSunrider commented on #45
Se ha instalado el carro del extrusor, así como el nuevo extrusor. Aunque por lo visto no ha dado tiempo de su finalización, se quedara pendiente para la próxima sesión. Se le coloca la etiqueta 'No Funciona' hasta que se termine dicho proceso.

[2018-02-22 23:04] GioSunrider commented on #46
Se ha determinado que la placa se encuentra en buen estado. Se ha dejado instalado el micro antiguo, con los parámetros de Dedalo de cuando se trajo, ya que es imposible actualizar el Marlin. Se va a sustituir uno de los pololus que se extralleron de la placa de ramps de Hija [ver issue #42](https://github.com/asrob-uc3m/impresoras-asrob/issues/42). Quedaria ver si con un nuevo micro volveria a qu

[2018-02-22 23:26] David-Estevez commented on #46
Respecto a esto... tengo malas noticias. Al parecer el modelo Atmega1280 se ha descontinuado, y ahora sólo se vende en sus versiones SMD.

Habrá que buscar a ver si alguna tienda tiene stock antiguo, pero la cosa no pinta demasiado bien...

[2018-02-26 19:21] Siotma commented on #46
Qué faena!!! :cry:

[2018-02-26 19:28] Siotma commented on #45
Tal y como dice @GioSunrider , tan solo falta instalar el motor del extrusor. Debe sujetarse con 3 tornillos. Como apunte, es muy importante que ambos engranajes queden bien alineados. Para conseguirlo, propongo utilizar tornillos M3 de 16mm y el número de arandelas que sean necesarias.

Una vez sujeto el motor, habrá que introducir el filamento y colocar las varillas roscadas con sus palometas y

[2018-02-26 19:34] Siotma commented on #42
En la última reunión, tras cambiar la placa, se actualizó el Marlin tal y como refleja c8df68e5eb48b71d093aa41e5ddc5d0902caf728

Con la nueva configuraciíon, se imprimió una pieza para el extrusor de Blacky satisfactoriamente.

Hija queda de nuevo en servicio.

[2018-02-26 19:47] David-Estevez commented on #46
He encontrado un par de micros de repuesto del 1280p... un par de reliquias que vais a tener que tratar con mucho cuidado, porque no hay más...

[2018-02-26 20:39] GioSunrider commented on #46
Seran como nuestros hijos! jajajajaaj pero prometemos que no saldran ardiendo.

[2018-02-27 13:42] GioSunrider commented on #45
@Tamayoo3 , @AlejandroAlv96 , @luisen30 y yo, hemos terminado de colocar el extrusor de Blacky. Adjunto fotos del resultado final.
![photo5812446428306451471](https://user-images.githubusercontent.com/10605193/36731912-74d74c40-1bcc-11e8-9703-2d9966c4b63a.jpg)

![photo5812446428306451472](https://user-images.githubusercontent.com/10605193/36731913-74fedada-1bcc-11e8-8a0e-74270f56df2c.jpg)

![photo

[2018-02-27 15:05] GioSunrider commented on #45
Como se muestra en la foto el cambio de extrusor se ha completado. Por lo que Blacky vuelve a estar operativa. Ademas se han impreso el mismo gcode en blacky y en hija, con la conclusion de que necesitamos ajustar los perfiles de impresion. Adjunto foto de ambos calicats, el azul impreso por blacky y el gris por hija.

![photo5814676023139216603](https://user-images.githubusercontent.com/10605193/

[2018-02-27 15:08] GioSunrider commented on #42
Se ha impreso el mismo gcode en hija y en blacky como se describe en [#45](https://github.com/asrob-uc3m/impresoras-asrob/issues/45).

[2018-02-28 15:38] David-Estevez opened #47 "Extrusor de Blacky atascado"
Esta tarde durante la reunión de RoboFactory hemos intentado imprimir unas piezas en ABS negro con Blacky.

La impresora no extruía nada, así que procedimos a intentar extruir a mano sin éxito. Al intentar extraer el filamento no salía, y lo hemos acabado partiendo.

[2018-03-01 20:00] GioSunrider commented on #47
Tiene, tanto extrusor como el barrel recién puestos, igual es el filamento ese negro que es muy mierda y le usamos como señuelo. Si vuelve a pasar, en el armario hay agujas para desatascar (son las de acupuntura) en el armario que nos trajo Diego. Aún así el próximo día le echaremos un vistazo a ver cuál es la causa.

[2018-03-02 12:57] David-Estevez commented on #47
Como se partió el filamento y había poco margen de maniobras preferimos no seguir tocando nada para no empeorar la situación. Pero sí que es posible que fuese por usar el plástico negro ese malucho.

[2018-03-08 22:11] GioSunrider commented on #46
Despues de fallidos intentos, ha sido imposible hacer revivir a Dedalo. Conseguimos manejar la temperatura tanto de extrusor, pero los motores no quieren funcionar. Se ha verificado las conexiones, el estado de la placa e incluso sustituido el micro. Probando motores nuevos sin usar, con resultado fallido. Abro issue nueva con la propuesta de cambio de placa.

[2018-03-08 22:17] GioSunrider opened #48 "Remplazar placa a Dedalo"
Aprovechando el dinero de la subvención, propongo, ya que como se especifica mas detalladamente en [#46](https://github.com/asrob-uc3m/impresoras-asrob/issues/46), se compre una placa Arduino Mega y un nuevo juego de Pololus, para que Delalo vuelva a la vida. La Ramps hay una en el armario que funciona a la perfección que esta disponible después del remplazo de la misma a Hija.
¿Cual seria el méto

[2018-03-08 22:19] GioSunrider commented on #47
Se ha limpiado el atasco. Este se debió a la mala, malisima calidad del teflón en el barrel. Solo quedan hacer las pruebas de impresión tras la limpieza.

[2018-03-08 22:20] #45 closed, assigned to Siotma, GioSunrider, d-marcos-m, Tamayoo3

[2018-03-08 22:23] d-marcos-m commented on #47
Añadir que se ha hecho una pequeña modificación en el barrel para poder usarlo en el extrusor que actualmente usa Blacky, la cual arregla el problema por el cual se producía el atasco.
El barrel que se utiliza en este tipo de extrusor es tal que así:

![barrel-ptfe-m6-con-teflon-para-hotend-e3d-impresora-3d-d_nq_np_852421-mla20755236476_062016-f](https://user-images.githubusercontent.com/14359236/

[2018-03-08 22:27] David-Estevez commented on #47
Ahhh, así que para eso era la Dremel... :joy: :joy:

[2018-03-08 22:29] David-Estevez commented on #48
Como es dinero de subvención, es dinero que gestionáis vosotros. No harían falta issues a nivel asociación, simplemente que os pongáis de acuerdo entre vosotros.

[2018-03-08 22:31] d-marcos-m commented on #19
Estaría bien retomar esto como tarea para la próxima reunión. Si tenemos finales de carrera y 9g en el armario... Me lo pido!

[2018-03-08 22:39] GioSunrider commented on #48
Pues... **¡COMPAÑEROS DE PRINTER ONE! En nombre de Azazel, ¡YO OS INVOCO!**
¿Os parece bien esta idea? y ¿alguno podría hacer cargo de los costes que supondría esta compra?

[2018-03-08 22:44] David-Estevez commented on #46
Me tiene tremendamente intrigado, porque en la  placa no hay nada roto a simple vista. Tras inspeccionar un poco más detenidamente el [esquemático](http://reprap.org/mediawiki/images/f/f5/Sanguinololu_1.3a.png), lo único que se me ocurre que puede afectar a todos los motores a la vez es:

* VDD (debería ir a 5V)
* VMOT( debería entregar 12V)
* X-STEP, Y-STEP, Z-STEP, E-STEP (conectados al micro)
*

[2018-03-08 22:52] David-Estevez commented on #48
Respecto a los costes, yo puedo ofreceros un pacto... (:smiling_imp: )

[2018-03-10 11:39] Siotma commented on #45
Añadidos @Tamayoo3 , @AlejandroAlv96 y @luisen30 al Team Impresoras

[2018-03-10 11:46] Siotma commented on #19
Hay muchos servos pequeños en el armario, y finales de carrera seguro que también!

Todo tuyo :wink:

[2018-03-10 11:55] Siotma commented on #48
A mi me parece perfecto. @GioSunrider , podrías hacer una pequeña búsqueda para comparar precios y hacer una propuesta? Así podemos saber cuánto nos costaría y poder opinar sobre ello. Si además dejas algunos links, sería fantástico.

[2018-03-10 12:03] GioSunrider commented on #48
Sin problema, me pongo a ello, preferimos que sea original o con una imitación nos vale?

[2018-03-10 12:06] Siotma commented on #48
El presupuesto es limitado, con una de imitación puede valer perfectamente. Si encuentras alguna original bien de precio, pásala también.

[2018-03-10 12:07] d-marcos-m commented on #48
Yo creo que mientras no arda nos vale. Si es imitación pero sabemos que no es mala, pues adelante

[2018-03-10 15:29] Siotma commented on #45
Aunque hace bastante tiempo de esto, lo comento para dejarlo documentado.

El día 27 de febrero imprimí con Hija Resurrection el Idler_holder sacado de [esta página de Thingiverse](https://www.thingiverse.com/thing:1855673/#files).

Para colocarlo en Blacky, limé un poco el Idler para hacerle una ranura y que quede bien encajado con el saliente del holder.  Una vez colocado, reemplacé las tuercas

[2018-03-10 15:45] Siotma commented on #46
Comento para añadir que en la última reunión se intentó quemar el bootloader en un micro Atmega1280 completamente nuevo utilizando el mismo programador USBtinyISP que utilizamos [la última vez](https://github.com/asrob-uc3m/impresoras-asrob/issues/31#issuecomment-344783262), así como el mismo procedimiento, sin éxito.

Sin embargo, sí que hemos sido capaces de subirle el Marlin utilizando el USBti

[2018-03-11 12:19] d-marcos-m opened #49 "OctoPrint para nuestras impresoras!"
Hace unas semanas @GioSunrider sugirió usar una sola raspberry para controlar todas las impresoras (actualmente, 2), usando lo que dicen en este link: http://thomas-messmer.com/index.php/14-free-knowledge/howtos/79-setting-up-octoprint-for-multiple-printers
Básicamente lo que propone este hombre es crear varias instancias de Octoprint, de forma que cada una de esas instancias controle cada una de

[2018-03-11 14:56] Siotma commented on #49
Disponiendo ahora mismo de placas RaspberryPi y tarjetas SD en la Asociación, yo propongo muy fuerte usar esas, al menos para poner a punto todo el sistema, y probar distintas alternativas.

Esto tiene la ventaja de que no tiene retrasos de compras o envíos, y además, el uso de las placas para este fin no va a poner en peligro su integridad. Propongo, de hecho, que esta vía se comience a investiga

[2018-03-11 15:48] Siotma opened #50 "Construir una estantería para colocar las impresoras 3D"
Esta es una parte fundamental del proceso de creación de la Granja de impresoras.

En la propuesta del proyecto consideramos comprar perfiles y baldas metálicas. La idea es construir una estantería en la que quepan al menos 4 impresoras. Se realizaron medidas descubriendo que cada impresora mide unos 50x50x50cm. Tal vez esto habría que volver a medirlo.

Se encontraron perfiles de 2m y baldas de 1

[2018-03-11 15:53] Siotma opened #51 "Comprar un kit para construir una nueva impresora 3D"
Esta es una parte muy atractiva de la subvención de Mejora y Modernización del parque.

Teniendo en cuenta que el importe total de la subvención han sido 455€, yo creo que deberíamos limitar el presupuesto de la impresora a 250€.

Además, como recomendación, creo que merece más la pena comprar una sola impresora de precio medio que intentar comprar dos de bajo presupuesto. Si compramos dos, tal ve

[2018-03-11 15:55] David-Estevez commented on #49
En RoboFactory disponemos de Raspberry Pis (y tarjetas) que no estamos usando actualmente y que os podemos ceder para que no tengáis que esperar a que os llegue el material para empezar a trabajar :smile:

[2018-03-11 18:10] d-marcos-m commented on #51
Creo que sabéis de sobra qué haría yo (2 Anets jej), pero creo que también sería buena idea comprar algo que no tengamos, algo de lo que podamos aprender. Quizá buscaría una tipo Delta, o una Core como decía @GioSunrider (aunque ésta se nos iría de precio probablemente).

[2018-03-11 18:28] d-marcos-m commented on #50
Por sugerir, sugeriría buscar baldas algo más anchas para poder poner 2 impresoras por balda. No veo util poner una impresora en una supuesta 3ra o 4ta balda, sería muy incómodo usarla, no?

[2018-03-11 19:42] JorFru commented on #51
Una CoreXY/HBot o bien una Delta.
Porfiiiii

[2018-03-11 22:41] GioSunrider commented on #51
Yo mi posicion tambien esta clara, creo que es mas atractiva una CoreXY, por tener una diferente, igual si valoramos precios podemos encontrar buenos precios, incluso en vez de kit, podriamos directamente comprar las piezas y montarla de 0.

[2018-03-11 22:42] GioSunrider commented on #50
A mi modo de ver, lo primero a realizar seria medir el espacion en la nave donde vamos a colocar el parque, porque a raiz de ahi podremos decidir estanterias y demas. Dibujar un boceto y empezar a buscar todo lo que @Siotma menciona, tornilleria, baldas y perfiles.

[2018-03-12 11:24] JorFru commented on #51
La impresora se va a montar de cero y componente a componente fijíiiiisimo! Eso no lo dudes Giorgio.

Para convencer a @Siotma con a añadir un par de enlaces que se pueden leer en cosa de dos minutos. Y que presentan diseños cartesianos del tipo CoreXY. La Ultimaker y la Witbox, máquinas comerciales muy famosas de 1500€ usan este sistema. Por supuesto utilizando herramienta y mano de obra maker sa

[2018-03-12 11:25] GioSunrider commented on #48
Voy con las placas que he mirado.
[OPCION 1](https://www.amazon.es/Tarjeta-Microcontrolador-ATmega2560-ATmega16U2-Compatible/dp/B06Y3ZHPWC/ref=sr_1_3?ie=UTF8&qid=1520853461&sr=8-3&keywords=Arduino+mega&dpID=51w0PuG6wHL&preST=_SY300_QL70_&dpSrc=srch)
[OPCION 2](https://www.amazon.es/XCSOURCE®-Atmega2560-16AU-Tarjeta-Versión-TE629/dp/B01N51Y3EJ/ref=sr_1_11?ie=UTF8&qid=1520853461&sr=8-11&keywords=Ard

[2018-03-12 11:28] GioSunrider commented on #51
No si eso ya sé que seguro @JorFru pero me refería a comprar rollo los perfiles, tornillería, etc en una ferretería, la placa elegir nosotros cual, la cama hacerla de la medida que queramos; vamos a montarnos un diseño y no un kit que ya viene todo preparado.

[2018-03-12 11:28] d-marcos-m commented on #51
A mi no me termina de convencer, pero si tuviésemos un precio detallado quizá sí. Veo que hay cosas que quizá ya tengamos en la nave que se puedan reutilizar. Alguien se anima a buscar el presupuesto? :)
Lo de tunear tuercas con la Dremel suena bien jeje

[2018-03-12 11:29] GioSunrider commented on #49
El próximo dia, si tenemos MicroSD de sobra puedo ponerme a ello sin problema que tengo todo en el portátil de cuando lo hice en casa.

[2018-03-12 11:31] d-marcos-m commented on #50
Anoche y hoy hemos estado hablando en el grupo sobre la posibilidad de usar mesas lack del IKEA apiladas. Puede sonar un poco a chapuza, pero dejo una foto por aquí de cómo quedaría:

![photo5850347779526863994](https://user-images.githubusercontent.com/14359236/37281396-1ebc112c-25f1-11e8-9871-16a48f69cd36.jpg)

Las piezas para unirlas las podríamos imprimir nosotros, y cubrirlas por los lados co

[2018-03-12 11:33] d-marcos-m commented on #48
Las opcion 1 de cada cosa pintan bien, en mi opiinión

[2018-03-12 11:35] GioSunrider commented on #48
A mí también me parecen las mejores.

[2018-03-12 11:49] David-Estevez commented on #48
Os habéis planteado algo más pro? (No sé si entrará en presupuesto)

Algo como esto: https://www.staticboards.com/products/ovm20-lite/

[2018-03-12 11:51] d-marcos-m commented on #48
Es una buena opción, y tampoco se va demasiado de precio.

[2018-03-12 11:53] GioSunrider commented on #48
Lo había planteado, y más que mirado. Me parece la mejor opción en cuanto a calidad, pero el tema del presupuesto no se si será viable, pero puede quedar como otra opción.

[2018-03-12 12:02] David-Estevez commented on #49
No tenéis más que recordarme qué día os reunís esta semana para que os deje preparado el material.

[2018-03-12 12:43] GioSunrider commented on #49
Esta por decidir @Siotma tiene hoy que cerrar el doodle jajajajaja cuando lo cierre que confirme por aquí.

[2018-03-12 19:23] d-marcos-m commented on #49
Jueves de 18.00 a 21.00 :)

[2018-03-14 23:35] David-Estevez commented on #48
Y a unas malas...

![image](https://user-images.githubusercontent.com/1451819/37436487-6f4141dc-27e8-11e8-8953-0261b81cf12c.png)

[2018-03-14 23:36] David-Estevez commented on #46
Y a unas malas....

![image](https://user-images.githubusercontent.com/1451819/37436591-dfb0774e-27e8-11e8-8832-491d3836ba1d.png)

[2018-03-15 19:35] Siotma commented on #50
Las mesas lack están bien, pero son endebles, están hechas de cartón y yo creo que se deteriorarían con el tiempo, especialmente con la humedad de la nave.

Yo propongo la configuración mostrada en la siguiente imagen, las unidades están en cm:
![estanteria](https://user-images.githubusercontent.com/6171234/37486305-675d1530-288e-11e8-9705-85d1cc9d0397.jpg)

Utilizando las piezas de leroy merlin q

[2018-03-15 19:57] Siotma commented on #48
Yo también veo bien la opción 1 de ambas cosas. El coste total son 24€ aprox :+1:

En cuanto a la placa OVM20 lite, a parte de que es más cara, a mi no me convence la idea de que tenga los drivers soldados, en cuanto haya algún problema en alguno, adiós placa...

Cuáles serían las ventajas de una OVM20 exactamente?

[2018-03-15 20:05] David-Estevez commented on #48
¿Alguna vez has tenido algún problema con algún driver? Yo la única vez que los he tenido han sido por conectarlos mal en su socket... Aparte de eso, la principal ventaja que veo yo es que la placa y los componentes son de calidad.

[2018-03-15 20:42] JorFru commented on #48
Propongo usar una Ramps 1.4 SB.
SB viene de StaticBoards.
Y ponerle un Arduino chinaco.

Ahorraríamos pasta y mantendríamos una electrónica de calidad, que lo
importante es la parte de potencia. Traen un MOSFET de cama correctamente
dimensionado a si que se podría usar sin relé, aunque no es obligatorio
quitarlo.
Luego a parte habría que comprar los drivers (otra razón por la que la OVM
renta, no

[2018-03-15 20:53] GioSunrider commented on #48
yo sinceramente no compraria la Ramps, precisamente es lo que tenemos. O la placa completa o elegir de las opciones.

[2018-03-15 21:22] GioSunrider commented on #49
Gracias a la RPi y a la microSD prestadas por @David-Estevez se ha instalado en ella Octoprint. Siguiendo la pagina oficial de [Octoprint](https://octoprint.org/) presenta un manual de instrucciones para su uso e instalacion en su [pagina de descagas](https://octoprint.org/download/).

Ademas se han impreso un protector para la RPi, como se ve en la foto.

![photo5861941352252681424](https://user-

[2018-03-15 21:45] Siotma commented on #48
Una RAMPS, ya tenemos, aunque pensándolo bien es muy china.

Teniendo en cuenta que Dédalo no tiene Relé, y que antes tenía una Sanguinololu, creo que una OVM20-Lite puede ser buena idea para mantener la filosofía de placa monolítica.

Yo tengo la experiencia de que un Driver se me estropeó de un momento a otro mientras imprimía en una Feria de Asociaciones de esto hace años. Otra experiencia más

[2018-03-15 21:53] GioSunrider commented on #48
Pues ya esta, la OVM20 creo que practicamente por unanimidad. Solo queda pensar quien adelanta la pasta?

[2018-03-16 17:10] Siotma commented on #51
A mi me gustan todas las ideas que se han propuesto, aunque no podemos dejar de pensar en el global de la subvención para tener cuidado con los costes. Si queréis, el próximo día hacemos un inventario de los materiales disponibles en la nave para construir una nueva impresora. Mientras tanto, estaría genial tener, como dice @daavm, presupuestos detallados de las diferentes opciones.

[2018-03-16 21:13] d-marcos-m commented on #47
En la sesión de ayer pusimos a Blacky a imprimir una carcasa para la Raspberry Pi y lo hizo de maravilla, así que damos por solucionado este problema :+1:

![photo5861742654180666275](https://user-images.githubusercontent.com/14359236/37544972-36e28d8e-2967-11e8-9fc1-2d85600b6d47.jpg)

[2018-03-16 21:13] #47 closed, assigned to GioSunrider, d-marcos-m

[2018-03-18 00:26] GioSunrider opened #52 "Sustitución de los rodamientos lineales."
Dado a que se han percibido "traqueteos" en Hija, propongo sustituir los rodamientos líneales por igus.
Una de las ventajas que ofrecen es menor ruido, además de que no requieren ser engrasados.
Solo los he visto disponibles en Amazon. Adjunto [enlace](https://www.amazon.es/Igus®-Rodamiento-deslizamiento-drylin®-rj4jp/dp/B01M4JZ81S/ref=sr_1_1?s=tools&ie=UTF8&qid=1521332722&sr=1-1&keywords=Igus&dpI

[2018-03-18 13:12] Siotma commented on #52
Me parece muy buena idea comprar estos rodamientos para probarlos.

Yo he tenido buenas experiencias en [esta tienda](https://www.hta3d.com/es/igus-drylin-rj4jp-01-08-equivalente-a-lm8uu). Tienen envío 24h y si queremos comprar varias cosas igual nos interesa mirar aquí.

[2018-03-18 15:25] GioSunrider commented on #52
He estado echando un vistazo a la tienda, y tiene muy buenos precios, una vez hagamos lista de materiales podremos incorporar los rodamientos.

[2018-03-18 15:55] Siotma commented on #48
Según he visto, el precio de la placa OVM-20 son 42€ + 6 de envío = 48€ si se compra directamente en StaticBoards.

La puedo comprar yo esta noche. Hasta entonces, se admiten nuevas sugerencias :)

[2018-03-18 16:06] Siotma commented on #48
Parece ser que el precio de 34,71€ es sin IVA. En Orballo Printing la tienen al mismo precio, pero el envío es más barato: 42€ + 1,20€ = 43,20€.

Yo creo que esta opción es más económica y nos puede interesar.

[2018-03-18 16:44] Siotma commented on #50
A mi, la zona que más me gusta es la número 3. Pegada a esa pared se puede poner la estantería  de las impresoras y también una mesa para el PC donde generar el g-code.

Desde mi punto de vista tiene la ventaja de ser una zona apartada del paso, pero fácilmente visible.
La principal desventaja es que habría que reubicar (y/o desmontar) el terreno de juego para hacer hueco.

Visto que esta issue ti

[2018-03-18 16:58] JorFru commented on #50
¿La jurisdicción del Dohyo de peleas es completamente de ASROB?

El 18 mar. 2018 17:44, "Manuel Peña Fernández" <notifications@github.com>
escribió:

[2018-03-18 17:11] Siotma commented on #50
A qué te refieres exactamente?

[2018-03-18 18:29] GioSunrider commented on #48
voto por la opcion economica.

[2018-03-18 18:42] d-marcos-m opened #53 "Mejoras y proposiciones varias para nuestras impresoras"
Dado que hemos empezado a usar PLA tanto en Blacky como en Hija, propongo, tirando de la subvención, comprar ventiladores de capa para ambas, ya que esto mejoraría las impresiones.

Por otra parte, sugiero plantearnos la posibilidad de ponerle un segundo a extrusor a una de las impresoras (hija?). Lo dejo caer, para que lo discutamos.

[2018-03-18 19:21] JorFru commented on #53
El uno de los objetivos de ASROB y en particular de Printer One es llevar
la tecnología al máximo exponente.
Tenéis mi voto para el doble extrusor.

El 18 mar. 2018 19:42, "daavm" <notifications@github.com> escribió:

[2018-03-18 22:18] Siotma commented on #53
Los ventiladores son muy necesarios, y además son baratos. Podemos valorar los que hay [aquí](https://www.hta3d.com/es/componentes/electronica/ventiladores), y así agrupamos el máximo número de cosas en un mismo pedido.

Respecto a extrusores, también hay algunos [aquí](https://www.hta3d.com/es/componentes/extrusor/extrusores-completos).

[2018-03-18 22:40] JorFru commented on #50
Me refería a que si es 100% nuestro y no compartido con ningún departamento ni cosas de esas. Pero creo que sí, comenta @David-Estevez

Mi lugar favorito para la granja de impresión es la posición 3. (Que lamentablemente no queda a la vista desde la pasarela, hubiese sido completamente épico).

También hay que pensar, y creo que es muy importante, qué se va a hacer con las mesas que actualmente so

[2018-03-18 22:49] David-Estevez commented on #50
Yo voy a contribuir recordando que hay una serie de propuestas en actas sobre qué hacer con la nave, de las que salió la idea de la granja: https://github.com/asrob-uc3m/actas/issues/93#issuecomment-335903419

Siendo coherente con la issue, estoy a favor de tirar la cosa verde y poner en su lugar la granja.

[2018-03-18 22:50] GioSunrider commented on #53
Respecto a los ventiladores sin problemas, pero respecto a los extrusores, diría que mas que extrusores completos, tirar de motores, rodamiento,... Rollo a parte porque muchas de las piezas las podemos imprimir nosotros.
Propongo el siguiente [Hot End doble](https://www.hta3d.com/es/hotend-dual-v6-estilo-chimera-filamento-1.75-solo-piezas-metalicas), ya que también apoyo el doble extrusor.

[2018-03-18 22:53] GioSunrider commented on #50
yo tambien estoy a favor de desmontar todo eso. El otro dia comentamos que una de las mesas quede como lugar de soldadura, con la fuente y el osciloscopio. y creo que una vez desmontemmos todo eso, tambien se podria recolocar el armario 2, para asi "hacer bulto".

[2018-03-18 22:58] jgvictores commented on #50
Tema cosa verde, mínimo votación a nivel Asrob. Tengo la idea intuitiva de que conviene conservarlo, prefiero comentar por qué en persona.

Tema granja en general, no quería intervenir porque no quería cortar el rollo... Pero si es algo muy grande es posible que fuese bueno consultarlo a nivel departamento.