[2018-03-18 23:07] GioSunrider commented on #50
Mañana tenemos reunion de 11 a 15. Igual puedes pasarte y nos cuentas. Tema de la granja, creo que en el diseño de @Siotma vienen medidas "minimas" que tendremos que respetar para que entre todo, no se si eso se considera grande o no.

[2018-03-18 23:39] David-Estevez commented on #52
Por añadir experiencia de terceros, comentar que durante el tiempo que trabajé en BQ, mis compañeros probaron los rodamientos de IGUS y comentaron que no les terminaban de convencer porque se acababan desgastando muy rápidamente (no necesitan lubricación porque ellos mismos son el lubricante) y aumentando el juego de los mismos.

No obstante, y como esto son cosas que dijeron otros y no mi propia

[2018-03-19 05:25] jgvictores commented on #52
En su día, lo que hablé con técnicos es que IGUS mola precisamente por la variedad de gamas que ofrece. Esto es, más que marca, hay que ver el producto en cuestión.

Tambien me comentaron que la tecnología esta donde el propio material es el lubricante sufre de lo que comenta @David-Estevez, con lo cual conviene pensar en la caña que se le va a dar. :-)

[2018-03-19 10:02] GioSunrider commented on #52
Muchas gracias por las aportaciones, lo tendremos mucho en cuenta, yo es un material que desconozco completamente, solo de lo poco que he visto por ahí. Valoraremos entonces el sustituirlos o no.

[2018-03-19 10:22] David-Estevez commented on #52
Si tenéis dudas puedo preguntar a ver si alguno se acuerda de lo que les pasaba en BQ a los rodamientos...

[2018-03-19 16:23] JorFru commented on #50
Para tranquilidad de @jgvictores puedo justificar que la tendencia actual para competiciones de robótica destructiva (uno de los pocos nichos de la robótica que usarían el citado deshecho verde) consiste en miniaturizar los competidores y limitarlos a materiales impresos para hacerlos más baratos y menos peligrosos.
Adjunto imagen de un competidor de tendencia actual.
![imagen](https://user-images

[2018-03-19 16:31] jgvictores commented on #50
Hemos estado midiendo esta mañana, hay espacio en la esquina para meter el estante de planta 100 cm * 60 cm sin tener que desmontar ni tirar lo verde.

La propuesta está en que una Raspi controle las impresoras vía Octoprint. Puede conectarse a directamente por cable a Internet de la toma de al lado, o vía wifi a router donde PCs actuales.

Si alguien intuye que lo que trato es que se perciba el m

[2018-03-19 21:35] Siotma commented on #52
Sería muy útil conocer la experiencia de otros usuarios. De todas maneras, posiblemente la mejor opción sea realizar pruebas con nuestras impresoras ya que estos rodamientos no tienen un precio elevado.

Además, se al realizar el cambio, se podría aprovechar para identificar los rodamientos lineales LM8UU que se hayan estropeado; estoy casi seguro de que nos vamos a encontrar más de uno. Así, en c

[2018-03-19 21:38] Siotma commented on #53
Ese modelo que propones es fantástico!

[2018-03-19 21:39] Siotma commented on #48
Ayer compré la placa por 43,20€. Hoy me han dicho que ya la han enviado, así que en la próxima reunión la tendremos :+1:

[2018-03-19 21:43] Siotma commented on #53
Por cierto, yo recomiendo decantarnos por la opción con doble garganta de teflón. Este sistema es perfecto para imprimir PLA con Bowden, ya que el teflón llega desde el motor hasta el nozzle a través del mismo tubo, evitando cualquier atasco.

He leído que este sistema aguanta bien hasta los 245 grados, ya que por encima de esa temperatura el teflón se degrada; pero teniendo en cuenta el uso que s

[2018-03-19 22:03] Siotma commented on #50
Teniendo en cuenta los casos de uso que va a tener la granja de impresoras (uso por terceros, mantenimiento, paso de gente a su alrededor, ...), creo que es importante que se ubique en una zona no solamente con espacio suficiente para poner la estantería, sino también con buena accesibilidad y margen de maniobra para realizar la instalación de forma cómoda y poder hacer un mantenimiento mínimo sin

[2018-03-19 22:34] GioSunrider commented on #52
ME parece una gran opción, y respecto al la "autolubricación" del IGUS, seguro que echándole 3en1 se desgasta menos, aunque no lo necesite.

[2018-03-19 22:39] GioSunrider commented on #50
Yo veo incluso que podemos sobredimensionar la estantería de la granja, de esta manera "ocuparíamos espacio" y ademas seria mas fácil su manejo.

[2018-03-19 22:50] GioSunrider commented on #49
Hoy se ha probado Octoprint con hija. Para ello se ha conectado el router al ordenador y a la RPi. La dirección IP de Octoprint conectada al router es: `222.1.1.54`
Ademas se ha instalado el Plugin de Telegram y @daavm a traves de `@BotFather`, ha creado un bot para gestionar Octoprint desde Telegram. Adjunto la imagen resultado del uso del comando `/status`.

![photo5872758167258115943](https://u

[2018-03-19 22:58] GioSunrider opened #54 "Compra de cámaras para RPi"
Dado que Octoprint esta completamente operativo, mencionado en [#49](https://github.com/asrob-uc3m/impresoras-asrob/issues/49) y funcional, propongo la compra de dos cámaras para RPi que se colocaran una en cada balda para así controlar dos impresoras con la misma.
Propongo [este modelo](https://www.amazon.es/MagiDeal-M%C3%B3dulo-Megap%C3%ADxeles-Seguridad-Raspberry/dp/B06XCSQN7Q/ref=sr_1_4?ie=UTF

[2018-03-19 23:02] GioSunrider commented on #47
Cabe destacar, que hoy me ha costado bastante colocar el filamento, esto se debe a la modificacion del barrel, ya que se nota donde choca por la cantidad de filamento introducida. Si el filamento no entra recto cuesta bastante de colocar, a pesar de todo, Blacky ha impreso correctamente como se puede demostrar en la siguiente foto.

![photo5872758167258115951](https://user-images.githubusercontent

[2018-03-20 01:37] JorFru commented on #52
Echar cualquier otro tipo de lubricante es completamente contraindicado con IGUS.
Y no es que lo diga sólo el fabricante.

Lo siento pero no tengo tiempo para traerte las fuentes de mi argumento. Son casi las pi horas de la noche, quizás mañana...

[2018-03-20 19:31] Siotma commented on #50
No hay baldas mucho más grandes que las que hemos propuesto. Por otra parte, la idea de la granja es desde su inicio, "mejorar el aprovechamiento del espacio". Me parece contraproducente cualquier intento de agrandar innecesariamente su tamaño.

[2018-03-20 19:33] d-marcos-m commented on #54
Dado que la Pi solo acepta una cámara "oficial", propongo comprar al menos una de las 2 USB. Así, si en algún momento decidimos usar una sola raspberry, no se nos queda una de las cámaras inutilizable.

[2018-03-20 19:34] d-marcos-m commented on #52
Yo uso 3en1 con los IGUS desde hará 5 meses y funciona de maravilla :)

[2018-03-20 19:35] Siotma commented on #54
Me preocupa la idea de poner una cámara "pelada".
Por una parte me gusta porque es barata y ocupa poco espacio, pero me disgusta que el cable sea corto y nos condicione para la ubicación de la Raspberry. Además, el sensor y la electrónica quedan muy expuestas y se pueden manchar o dañar.
Yo diría que fueran todas USB, para que la longitud del cable nos de más juego y esté más protegida con la carc

[2018-03-20 19:41] Siotma commented on #49
Excelente trabajo! Esto marcha!

[2018-03-20 19:46] Siotma commented on #47
Es importante que al introducir el filamento, la punta de este no sea demasiado ancha. Esto ocurre habitualmente cuando el filamento se saca del extrusor para guardar. La punta se ha ensanchado como producto del calor y al intentar volver a ponerlo le cuesta entrar. La solución de baja tecnología para esto es romper la punta y tirarla.

Además, como tú dices, el filamento debe estar recto para ent

[2018-03-20 20:01] Siotma opened #55 "Quedada de impresoras: trae la tuya!"
Muchos de los miembros de ASROB tenemos impresoras en propiedad. Todos nosotros queremos nuestras impresoras como a la que más, y las tenemos bien cuidadas y puestas a punto.

Creo que sería muy interesante hacer una quedada en la Universidad en la que cada uno nos llevemos nuestra impresora y las pongamos todas a imprimir:
- Primero, porque **molaría muchísimo**. Calculo que podemos llegar a junt

[2018-03-20 20:14] GioSunrider commented on #47
Creeme que hice todo, pero bueno, quiero que quede reflejado que da problemas aun haciendo todo.

[2018-03-20 20:18] GioSunrider commented on #54
Era una de las propuestas pero si, me parece bien la compra de Camaras USB, lo unico que se nos sube de precio. El mas barato que he encontrado es [este modelo](https://www.amazon.es/Creative-73Vf077000001-Webcam-c%C3%A1mara-HD/dp/B00935Y7SE/ref=pd_lpo_vtph_147_bs_t_1?_encoding=UTF8&psc=1&refRID=WJ6J8PYZ99W17RAE4HT9).

[2018-03-20 20:22] GioSunrider commented on #52
Han tirado del lado consumista y de sacar pasta y a @JorFru han conseguido engañarle xD

[2018-03-20 20:23] GioSunrider commented on #50
Entonces a favor del comentario previo, en semana santa puede ser una buena oportunidad para aclarar esto.

[2018-03-20 20:29] GioSunrider commented on #55
I'M IN!

[2018-03-21 10:42] David-Estevez commented on #52
Hombre, la gracia de los IGUS es precisamente que no hace falta lubricarlos...

Preguntaré y os digo si averiguo algo

[2018-03-21 11:01] David-Estevez commented on #54
Puede que también os pueda ayudar con esto, aunque sea para las pruebas. ¿Cuántas cámara necesitaríais?

[2018-03-21 13:43] GioSunrider commented on #54
Cualquiera USB o incluso si hay de Pi nos vale. no se necesita tampoco una calidad excesiva.

[2018-03-21 13:49] David-Estevez commented on #54
La pregunta es... ¿cuántas?

[2018-03-21 14:11] jgvictores commented on #49
Muy muy guai.

BTW, os recomiendo fijar una IP via MAC en el router, pq en potencia puede ir cambiando la que le asigna el router.

Podríamos hacer algo como http://asrob.uc3m.es/index.php/RD_Network pero no RD-oriented.

[2018-03-21 14:15] David-Estevez commented on #49
Añadiendo a lo que dice @jgvictores , no sé si este router lo soportará, pero hay algunos que tienen dns local y permiten definir dominios locales tipo "dedalo.local" o "blacky.local".

O si no gestionarlo a través de avahi o algo así para no tener que recordar las ips.

[2018-03-21 14:16] d-marcos-m commented on #54
En un mundo ideal, necesitamos 4. Pero con 2 de momento nos vale

[2018-03-21 14:18] jgvictores commented on #49
En TEO simplemente recomendamos un cierto contenido en `/etc/hosts`, pero claro, eso lo tiene que configurar cada usuario.

[2018-03-21 14:21] David-Estevez commented on #49
Yo lo del dns lo tengo configurado en casa y va guay, y lo del avahi no recuerdo exactamente cómo se configuraba, pero también iba guay (aunque los dispositivos Android, por ejemplo, no lo soportaban).

[2018-03-21 14:23] jgvictores commented on #49
Hombre, lo del DNS mola muchísimo.

[2018-03-21 14:23] David-Estevez commented on #54
Pues os podría proporcionar dos cámaras como la que habéis cogido prestada de RoboFactory.

[2018-03-21 14:28] David-Estevez opened #56 "Actualizar router ASROB"
Ya que estáis en proceso de montar una granja de impresoras, y nuestro router está empezando a fallar (yo por ejemplo soy incapaz de conectarme a él desde el portátil), propongo la compra de uno en condiciones.

Si no teníais contemplado el gasto, puedo cederos un par de webcam de RoboFactory (https://github.com/asrob-uc3m/impresoras-asrob/issues/54#issuecomment-374954608) para que podáis comprar

[2018-03-21 15:51] David-Estevez commented on #55
Igual es una idea de olla, pero si lo movemos con gente de fuera (Clone Wars, etc) igual podríamos montar un evento guapo, guapo.

* Pros:
    * Conocer a un montón de gente guay
    * Igual hasta dan créditos por una Printer Party :joy:
* Contras:
   * Limitación de espacio (aunque se podrían buscar alternativas)
   * Organización más costosa

Bueno, yo lo propongo como locura y a ver qué pasa...

[2018-03-21 15:54] David-Estevez commented on #50
Yo me ofrezco voluntario para hablar con la persona correspondiente del Departamento (imagino que Ramón Barber), explicarle qué pretendemos hacer y consultar qué implementación sería la más apropiada.

[2018-03-21 15:55] d-marcos-m commented on #55
Me gusta la idea de @David-Estevez ,

Quizá lo más problemático como dices sería encontrar el espacio (sin salir de la uni), pero todo es ponerse

[2018-03-21 15:56] GioSunrider commented on #56
Tengo que ver por casa, igual nos vale uno que tengo yo que está sin usar y que lo podría ceder sin problema. Pero igual nos merece la pena comprar uno en condiciones. Podemos debatirlo sin más. Y gracias @David-Estevez por el ofrecimiento de las cámaras.

[2018-03-21 15:59] GioSunrider commented on #54
Perfecto, muchas gracias. Ahora mismo nos valdría con solo una hasta que se haga el mueble de la granja 😊

[2018-03-21 16:01] David-Estevez commented on #54
Pues lo mismo de siempre, avisadme cuando sepáis la fecha de la próxima reunión y me paso a daros el material.

[2018-03-21 16:04] GioSunrider commented on #55
Me gusta también la idea, de hecho yo lo que propuse fue pedir permiso a la uni para organizar este evento en un aula grande y hacer eso, una Printer Party. Igual nos metemos en un jardín, pero molaria.

[2018-03-21 16:05] GioSunrider commented on #54
Perfecto jaajajajaj Muchas gracias 😄

[2018-03-21 16:28] David-Estevez commented on #55
También se puede hablar con gente para intentar organizarlo en otro sitio con más espacio. Así sin pensarlo mucho se me ocurre el Medialab Prado, por ejemplo.

[2018-03-21 16:34] d-marcos-m commented on #55
Por listar otros sitios que estarían bien, se me ocurren el Open space de leganes (50 personas?), La Nave en villaverde (lanavemadrid.com)

[2018-03-21 18:54] GioSunrider commented on #55
Pero para eso habría ya que poner pasta verdad?

[2018-03-21 21:52] d-marcos-m commented on #55
Sería cuestión de mandar mails y ver qué necesitamos.

[2018-03-21 22:14] GioSunrider commented on #51
Hemos encontrado [está impresora](https://www.gearbest.com/3d-printers-3d-printer-kits/pp_701649.html?lkid=13495216) modelo CoreXY por un precio menor de 300 euros. La impresora puede ser un buen bicho metiéndole Bowden y doble extrusor. No sé si os convence.

[2018-03-21 22:30] David-Estevez commented on #55
Si os mola la idea puedo hablar con la gente del MakeSpace Madrid a ver si se animan a ayudarnos a organizarlo.

[2018-03-22 00:17] d-marcos-m commented on #55
A mi me parece buena idea, así que diría que adelante con ello.

[2018-03-22 13:46] GioSunrider commented on #55
A mi también. Así que podemos mirarlo.

[2018-03-22 16:36] JorFru commented on #55
Si la organización de el resto de eventos que tengo me lo permiten, estoy
dentro chavales.
Me refiero al hackatón ASROB-UC3Music

[2018-03-22 16:49] JorFru commented on #51
La máquina sugerida por Jorge viene desde el almacén europeo, ya sabéis a
qué me refiero. Significa que no habrá sobresaltos.

Tiene cama caliente, por lo que permitirá a Printer One hacer el bruto con
ABS.
Tiene un tamaño de impresión muy chulo, 330 330 400. Y la máquina tiene
forma de cubo y mide 65cm. Es más grande que las Prusas que tenemos, que
ocupaban 50cm. Habrá que tenerlo en cuenta para

[2018-03-22 16:55] JorFru commented on #56
Yo tengo en casa cinco o seis router de timofónica y otras empresas
similares. Sé que no valen para nada.

Si hubiese que comprar uno nuevo, hace no mucho discutí con Daeste cuál era
el adecuado para ASROB. Los miré en Amazon y salían a 40 paveles. Creo que
era un ASUS con Gigabit y con WiFi bibanda. Tendría que refrescarlo.
Si hay que decidir cuál, avisadme y lo busco.

[2018-03-22 16:59] JorFru commented on #52
Lo que hay que escuchar xD
qué poco confiaís!

Investigaré yo tambien! Reportaré por aquí los resultados

[2018-03-22 17:47] David-Estevez commented on #56
Era este: https://www.amazon.es/ASUS-RT-AC51U-inal%C3%A1mbrico-Dual-Band-soporta/dp/B00S9BI9SM/ref=sr_1_14

[2018-03-22 18:13] Siotma commented on #55
Por una parte, me encantaría poder aspirar a un evento tan chulo como el que proponéis. El problema que le veo es que luego igual la asistencia es un fracaso...

La finalidad de esta issue no es tan ambiciosa y creo que podría ser un buen punto de partida organizar algo pequeño a nivel de ASROB, buscando fomentar la participación interna, para en el futuro organizar algo más grande si nos vemos co

[2018-03-22 18:17] Siotma commented on #51
A mi me encantaría poder comprar esta impresora, la verdad. Si fuera posible buscar por internet alguna referencia sobre cómo gestionan las facturas en Gearbest, tal vez en algún foro o algo. Es mucha pasta y hay que estar seguros.

Por otra parte, habría que adelantar la pasta...

Si resolvemos estas dos cuestiones antes de mañana, puede quedar pedida antes de irnos de vacaciones!

[2018-03-22 18:21] Siotma commented on #56
Hay que tener en cuenta que el caso de uso del router de la granja es bastante básico:

- Un router con varios puertos capaz de establecer una LAN cableada con las raspis y con un PC de control.

No necesitamos ni Gigabit, ni doble banda ni nada :laughing: el único requisito es la fiabilidad para que el aparato funcione de forma estable durante un tiempo indefinido.

Por tener, yo también tengo un

[2018-03-22 19:07] David-Estevez commented on #56
Todas esas features son pensando en que ese router pueda ser aprovechado por el resto de grupos activos de la asociación sin perjudicar el buen funcionamiento de la granja.

Pero oye, abiertos a donaciones estamos :blush:

[2018-03-22 19:38] d-marcos-m commented on #55
Si organizaciones más grandes como MakeSpace Madrid nos ayudan yo creo que la asistencia no tendría por qué ser un fracaso, no?

[2018-03-23 15:17] Siotma commented on #51
Acabo de hacer el pedido de la [impresora](https://www.gearbest.com/3d-printers-3d-printer-kits/pp_701647.html?wid=89&lkid=13503442).

Ha costado 232,51€. :tada:

[2018-03-26 13:16] David-Estevez commented on #52
Lo que he averiguado preguntando ha sido básicamente lo que os dije:

Y

Más que poner unos IGUS  me recomiendan comprar unos rodamientos de bolas no chinos y tener las varillas bien limpitas y engrasadas.

[2018-03-26 14:14] David-Estevez commented on #52
Más feedback, esta vez positivo:

[2018-03-27 15:34] David-Estevez commented on #55
Yo he mandado un mail por si acaso y os voy diciéndo qué les parece la idea.

[2018-03-31 10:19] GioSunrider commented on #55
Como va a quedar la cosa al final?

[2018-03-31 16:19] Siotma commented on #56
El router que pongamos en la granja, se debería quedar en ella permanentemente. Es posible que a la hora de realizar ciertas acciones con él, el servicio pudiera quedar afectado o interrumpido. Pudiendo dedicar un router cutre a la granja, yo no me complicaría la vida compartiendo uno muy bueno.

[2018-03-31 16:20] Siotma commented on #55
De momento somos 3 apuntados! :sweat_smile:

[2018-03-31 16:23] Siotma commented on #50
Gracias David! Esperamos noticias!

[2018-03-31 16:25] Siotma commented on #52
Vistas las opiniones creo que merece la pena probarlos en nuestras carnes. Sobre todo teniendo en cuenta que no son muy caros...

[2018-03-31 16:25] JorFru commented on #55
Sí, y uno es un tío random que no conocemos de nada.
https://thesongswelove.files.wordpress.com/2014/11/giorgio.jpg?w=625&h=390&crop=1

El sáb., 31 mar. 2018 18:20, Manuel Peña Fernández <notifications@github.com>
escribió:

[2018-04-01 19:55] GioSunrider commented on #52
Me parece perfecto, el próximo día podríamos ver cuántos necesitamos para poder realizar el pedido.

[2018-04-05 16:51] JorFru commented on #51
![2018-04-05 18 50 28](https://user-images.githubusercontent.com/11017088/38379834-3bdcd6a0-3902-11e8-871a-dad033cab58b.jpg)
Votación:
Cometer la obscenidad de colocar el embellecedor a la TronXY?

[2018-04-07 09:47] Siotma commented on #51
El martes día 3 recibí el aviso de llegada de la impresora en mi casa. Como no había nadie, la dejaron en un punto de recogida cercano.

El miércoles día 4 fui a por el paquete:

![04_04_2018_tronxy_in_box](https://user-images.githubusercontent.com/6171234/38453638-44e72496-3a59-11e8-96e3-0fc6dbe51d7f.jpg)

Y el jueves día 5 lo abrimos y empezamos el montaje!

![05_04_2018_tronxy_unboxing](https:/

[2018-04-07 09:55] Siotma opened #57 "Montaje de Geonosis"
Esta issue es para documentar y gestionar el proceso de montaje de la nueva impresora.

Para cerrar esta issue al menos:

- [x] Se construirá la impresora por completo, documentando gráficamente el proceso y el resultado.
- [x] Colocar la electrónica y los cables con doble ración de epicness.
- [x] Se reflejarán los problemas surgidos durante el montaje y se aportarán ideas para resolverlos.
- [x]

[2018-04-07 09:56] Siotma commented on #51
Issue de construcción abierta en #57

Cerrando.

[2018-04-07 09:56] #51 closed, assigned to Siotma, GioSunrider, JorFru

[2018-04-07 09:58] Siotma commented on #55
Me parece que de momento esta idea va a tener que replantearse, porque la participación no ha tenido mucho éxito.

[2018-04-07 10:08] Siotma commented on #48
De momento la placa no llega y estoy empezando a preocuparme. Ya he escrito a la tienda para pedir explicaciones.

[2018-04-08 08:43] jgvictores commented on #55
La idea mola... A ver si conseguimos a más gente para el día 12-13. :- )

Repito link: https://doodle.com/poll/x4w4piwathbssqwd

cc: @diegotrap ??
cc: ((@asrob-uc3m/impresoras inserten vuestros contactos aquí))

[2018-04-08 09:32] jgagom commented on #55
Me apunto a llevar la mía si es el 12! Aunque habrá 3h en las que tendré que estar en la nave con el autómata porque tengo clase. Tiene muy buena pinta el evento, a ver si se anima más gente!

[2018-04-09 15:15] David-Estevez commented on #50
Acabo de hablar hace un rato con Ramón Barber. Dice que le parece interesante la idea de la granja de impresoras y que, siempre que no nos salgamos del espacio que tenemos actualmente, no hay problema por parte del departamento para instalarla en nuestro espacio.

[2018-04-09 16:40] d-marcos-m commented on #57
La impresora ha quedado montada entre el pasado jueves y la mañana de hoy. Hemos hecho la primera impresión (un calicat!) y no ha salido para nada mal :) Dejo algunas fotos del proceso y de dicha impresión:

![photo5936233450270993099](https://user-images.githubusercontent.com/14359236/38510355-1e7b46f2-3c25-11e8-8f5a-bc0e58788e33.jpg)

![photo5936233450270993107](https://user-images.githubusercon

[2018-04-09 16:52] d-marcos-m commented on #57
**Problemas encontrados durante el montaje:**

- Uno de los perfiles no tenía la rosca bien hecha y los tornillos no apretaban. Tras intentar poner arandelas para que apretase sin éxito, optamos por darle la vuelta y usar el lado sin forma (?), ya que no era imprescindible en ese caso usarla con la orientación "correcta"
- Según comenta @JorFru, el cable de uno de los motores de Z no llega bien a

[2018-04-09 17:11] d-marcos-m commented on #50
Dado que la nueva impresora es tan grande, quizá deberíamos replantear el concepto de la estantería, ¿no?

[2018-04-09 18:11] Siotma commented on #50
Muchas gracias por gestionarlo @David-Estevez

Respecto a lo que propone @daavm , habría que medir las dimensiones definitivas de la nueva impresora (#57) y en base a ello plantear una estantería distinta o plantearse colocar esta nueva impresora en otro sitio. Sin embargo, las otras tres impresoras van a seguir necesitando un sitio y la estantería puede seguir siendo una solución para ellas...

[2018-04-09 18:13] d-marcos-m commented on #50
64x64cm @Siotma

[2018-04-09 18:15] Siotma commented on #57
El resultado es fantástico!

Creo que puedo ayudar en el tema del espejo: [en IKEA los tienen de 30x30](https://www.ikea.com/es/es/catalog/products/39151700/) :+1:

[2018-04-09 18:17] Siotma commented on #55
Parece que podemos todos el jueves por la tarde, conque voy a establecer ese día y lo rulamos por los grupos para ver si más gente se anima! :wink:

[2018-04-09 18:19] Siotma commented on #55
Fijado el jueves día 12 de abril de 15:00 a 21:00 para la primera quedada de impresoras ASROB.

Comentad vuestras ideas sobre qué imprimir durante tan maravilloso día!

[2018-04-09 18:19] d-marcos-m commented on #57
La cama realmente es de 33x33, creo que sería mejor comprar un cristal, y aprovechar toda la superficie

[2018-04-09 18:21] Siotma commented on #57
Estoy de acuerdo con eso :rofl: :sweat_smile:

![lol](https://user-images.githubusercontent.com/6171234/38515115-91aed4aa-3c33-11e8-8cfc-c405b8fd69c7.jpg)

[2018-04-09 18:23] Siotma commented on #55
Corrección:

Fijado el jueves día **12 de abril de 15:00 a 21:00** para la primera quedada de impresoras ASROB.

Comentad vuestras ideas sobre qué imprimir durante tan maravilloso día!

[2018-04-09 18:30] Siotma commented on #55
Yo no podré llegar hasta las 18:00 o algo más tarde, pero en cuanto llegue me pongo al día!

[2018-04-09 18:33] JorFru commented on #50
Las impresoras viejas almacenadas de cara a la pared. Y la TronXY en medio
de La Nave en un altillo.

El lun., 9 abr. 2018 20:13, daavm <notifications@github.com> escribió:

[2018-04-10 11:21] d-marcos-m commented on #57
Realmente por eso mismo propuse hacer la superficie magnética, porque aprovechas la superficie al 100%, sin pinzas ni nada.
También está la ópción de las típicas piezas impresas que sujetan el cristal por las esquinas.

[2018-04-10 11:51] GioSunrider commented on #57
Creo que si ponemos cristal la plancha magnetica va a servir de poco por el peso del cristal. Mejor imprimiria las piezas de las esquinas.

[2018-04-10 11:59] d-marcos-m commented on #57
No te sigo. Qué tiene que ver el peso del cristal?

[2018-04-10 20:00] GioSunrider commented on #57
que pude haber movimientos faciles de que se vaya mientras imprime, como en algun momento haya un minimo error y roce la punta puede desplazar con mayor facilidad el cristal, a eso me refiero.

[2018-04-10 20:03] d-marcos-m commented on #57
A mi me gusta también más la solución de las piezas impresas, que conste (por aquello de hacerlo nosotros), pero el cristal con el iman no se mueve con un toquecito.

[2018-04-10 20:08] GioSunrider commented on #57
Si has hecho pruebas con cristal votare a favor, pero creo que con la lamina de PEI hay muchas diferencias que no se pueden aplicar a un cristal.

[2018-04-10 21:18] David-Estevez commented on #57
Le pongas lo que le pongas no se va a mover porque la base sólo se desplaza en Z

[2018-04-10 22:40] GioSunrider commented on #57
Por moverse me refiero, que el extrusor choca con una pieza impresa, y esta al hacer la fuerza la cama se acabe desplazando, pero oye, si lo veis con fuerza adelante jajajajaja a mi me gustan mas las pinzas de extremos.

[2018-04-11 22:19] David-Estevez commented on #57
Los imanes de neodimio tienen mucha fuerza los muy jodíos, no creo que se mueva con un simple toque del extrusor.

Por ejemplo, la base de la M-Prime que tengo en casa está sujeta con imanes y no he tenido todavía ningún problema de que se haya movido (y eso que en la M-Prime la base sí que se mueve al imprimir).

[2018-04-12 09:56] GioSunrider commented on #57
Hombre en cuanto a precio igual unas planchas de neodimio se nos va la olla ajajajajaja
Y en cuanto a eso como queráis, si queréis imanes adelante, no me opondré xF

[2018-04-12 09:59] David-Estevez commented on #57
Planchas no, con poner uno en cada esquina es suficiente. Un plancha yo creo que no la despegas ni de coña (igual tú sí, pero por tu fuerza sobrehumana :sweat_smile: ).

[2018-04-12 10:01] GioSunrider commented on #57
Jajajaajajaja es que creo que @daavm se refería por imanes a planchas que es lo que trajo un día, pero si, igual poniendo imanes en las direcciones de las camas sale un buen resultado.

[2018-04-12 12:31] d-marcos-m commented on #57
Yo hablaba de planchas de estas flexibles, pero lo de los imanes no es mala idea :+1:

[2018-04-15 15:09] Siotma opened #58 "Nombre para la TronXY"
Necesitamos bautizar nuestra impresora, ya que quedó pendiente de #51 .

De momento he recopilado las ideas que se han ido dando:

- TronXY (el más original).
- StarKiller (nombre del planeta que destruye mundos en Star Wars VII).
- DeathStar (la Estrella de la Muerte dos veces destruida).
- Geonosis (planeta donde se fabrican droides de combate en el que C3PO dice la famosa frase de "robots fabri

[2018-04-15 15:20] Siotma commented on #55
Finalmente el día llegó, y **conseguimos juntar 8 impresoras**: las 4 de ASROB más otras 4, propiedad de:

- @GioSunrider
- @JorFru
- @wenflehecanario
- @Siotma

Durante la tarde compartimos distintas experiencias de montaje y uso de las impresoras, con mención especial a la enorme variedad de filamentos que trajo @JorFru .

Además, este encuentro atrajo la atención de otros muchos miembros de la

[2018-04-15 15:20] #55 closed, assigned to Siotma, GioSunrider, JorFru

[2018-04-15 20:52] David-Estevez commented on #58
Caliprinter (porque se parece a un cubo de calibración)

[2018-04-16 10:59] JorFru commented on #58
Sugiero el nombre "Borg"
Se que es un nombre feo, pero tiene su explicacion.
Cubo Borg es el nombre de el transporte interestelar de los aliens Borg en la saga Star Trek.

![borg](https://user-images.githubusercontent.com/11017088/38805449-1ee3337e-4176-11e8-9372-133fe85497de.png)

[2018-04-16 11:16] GioSunrider commented on #58
Ya que te pones ponle C-Borg, que hasta si lo pronuncias parece un ciborg xD

[2018-04-16 11:24] d-marcos-m commented on #58
"Borg" me convence bastante, aunque Geonosis me ha empezado a gustar bastante. Va a estar jodido elegir (y si compramos otra? 😁)

[2018-04-16 11:39] JorFru commented on #58
C-Borg, definitivo

[2018-04-16 19:46] Siotma commented on #58
XY-Borg?

Actualizo la lista..

[2018-04-16 20:14] David-Estevez commented on #58
![image](https://user-images.githubusercontent.com/1451819/38832628-6de7e6b6-41c3-11e8-9d28-68334b16f583.png)

:joy: :joy: :joy:

[2018-04-16 21:37] GioSunrider commented on #58
Y, Mjölnir!? Como el martillo de Thor Dios del trueno! Porque nadie la va a poder levantar más que los signos de ello jajajajaajajaj

[2018-04-18 21:53] d-marcos-m opened #59 "Extrusor de pellets"
Hago la propuesta de hacernos un extrusor de pellets. Dicho extrusor funcionaría usando restos de pla (que tenemos MUCHOS restos), y usaría un tornillo sinfín para empujar los pellets por un barrel/cuerpo modificado (más ancho). En el armario hay algunos materiales que podríamos usar para este proyecto si nos animamos a llevarlo a cabo.
Ideas, sugerencias y opiniones son agradecidas :+1:

[2018-04-18 21:58] GioSunrider commented on #59
A mí como idea me mola, y a ver cuando montemos la granja me ofrezco como tributo para la ayuda jajjaajaj

[2018-04-18 22:01] JorFru commented on #59
Le veo futuro a la idea, me uno!
Podemos tomar ideas de este proyecto:
[Página de Mahor](mahor.xyz)

[2018-04-18 22:03] rsre commented on #59
Tengo entendido que el PLA se degrada con cada ciclo de vida. Un paper sobre el asunto:
[Investigating Material Degradation through the Recycling of PLA in Additively Manufactured Parts](https://sffsymposium.engr.utexas.edu/sites/default/files/2017/Manuscripts/InvestigatingMaterialDegradationthroughtheRec.pdf)

[2018-04-18 22:07] GioSunrider commented on #59
Si, se degrada, obviamente no vamos a conseguir grandes piezas pero podemos cubrir muchas que no necesitamos que queden bien del todo. Y también tenemos mucho PLA roto antes del uso así que en ese sentido vamos bien.

[2018-04-18 22:13] d-marcos-m commented on #59
Podemos tomar ideas de este proyecto:
mahor.xyz

De hecho lo que tenía en mente es casi lo mismo que ese proyecto!

Yo pensaba mas de cara a usar filamentos rotos que tenemos como dice Jorge. También a usar pellets comprados directamente (el kg está a unos... 8/9€). Y sobre todo... por el progreso! Todo es probar :D

[2018-04-19 08:11] David-Estevez commented on #59
Tenéis a alguien que hizo esto mismo: Diego Trapero. Quizá él os pueda aconsejar sobre la viabilidad de este proyecto basado en sus experiencias.

[2018-04-19 08:15] jgvictores commented on #59
cc @diegotrap : )

[2018-04-19 08:48] diegotrap commented on #59
Sí, mi trabajo de fin de grado fue un extrusor de pellets, aún lo tengo. Creo que os referís a un extrusor para impresora 3D, no de filamento, pero os cuento mi experiencia igual.

Todos los archivos los publiqué: https://github.com/diegotrap/filament_extruder. Hay sketches de Arduino, modelos 3D, cuadernos de iPython... Los resultados están en mi TFG: https://e-archivo.uc3m.es/handle/10016/20112

[2018-04-19 09:03] diegotrap commented on #52
Acabo de llamar a IGUS, os lo recomiendo, atienden muy bien dudas técnicas :) Me han desmontado un mito que tenía, lo que he aprendido:

* No hace falta que los rodamientos vayan precargados sobre el eje. Yo pensaba que sí y que eso era lo que causaba el juego y atascos de los que habla mucha gente. Ahora pienso que debe ser bastante sensibles a la alineación y por eso pueden tener desgaste premat

[2018-04-21 12:45] Siotma commented on #48
Os cuento:

El viernes día 13 llamé a Orballo Printing, la tienda donde había comprado la placa. Les expliqué que no me había llegado aún y que había pasado a preguntar por mi oficina de correos sin que pudieran darme ninguna solución. Al haberlo enviado por carta ordinaria no tenía número de seguimiento.
La persona que me atendió fue muy amable en todo momento y consultó con otros compañeros para

[2018-04-21 12:46] Siotma commented on #58
Hoy es el último día para aportar ideas, mañana abriré votación con los nombres que haya.

[2018-04-21 12:52] Siotma commented on #50
Finalmente, esta issue se ha resuelto a nivel de asociación mediante https://github.com/asrob-uc3m/actas/issues/139.

La disposición de las impresoras será pegadas al muro de separación con la nave anexa, conforme a lo que indica el siguiente dibujo:

![12_04_2018_proposal](https://user-images.githubusercontent.com/6171234/39084280-56e89376-4573-11e8-86a7-34094f57ffd8.jpg)

La estantería será de [

[2018-04-21 13:49] Siotma commented on #46
Viendo que #48 ha prosperado, cierro esta issue como wontfix, ya que no se va a seguir por esta vía de momento.

[2018-04-21 13:49] #46 closed, assigned to nobody

[2018-04-21 13:52] Siotma commented on #34
Cerrando por inactividad. Si se retoman las actividades con acetona se podrá reabrir.

[2018-04-21 13:52] #34 closed, assigned to DiegoGarciaX2, carlosmgomezj

[2018-04-21 14:02] Siotma commented on #18
Creo que el primer logo es perfecto tal y como está. Por el tiempo que lleva en uso, yo lo consideraría definitivo y en todo caso si se quiere cambiar abriría una nueva issue.

Lo he subido a https://github.com/asrob-uc3m/recursos-digitales/tree/develop/logos , pero creo que la he liado, porque lo de "develop" no me suena muy bien :sweat_smile:

@David-Estevez @jgvictores ayuda en esto último por

[2018-04-21 14:11] Siotma commented on #20
Los problemas descritos en esta issue ya no se dan. Además, en caso de querer incrementar la temperatura superior de la cama, siempre se puede incrementar la temperatura objetivo. La misión del termistor no es, en mi opinión, tener exactitud en la medida, sino control.

Cerrado por antigüedad.

[2018-04-21 14:11] #20 closed, assigned to nobody

[2018-04-21 14:14] David-Estevez commented on #18
Arreglado, siéntete libre de cerrar la issue :smile:

[2018-04-21 14:15] #18 closed, assigned to rodriwp

[2018-04-21 14:16] David-Estevez commented on #46
Le he cambiado el nombre a la issue para que se pueda localizar más fácilmente en el futuro, espero que no os importe.

[2018-04-21 14:31] Siotma opened #60 "Compras para la granja de impresoras"
En la última reunión identificamos algunas cosas que hay que comprar para la granja.

La idea es ir proponiéndolas por esta Issue para que no se nos olviden.

Si alguien compra algo, primero debe quedar acordado aquí, no vaya a ser que lo compremos por duplicado. Recordad que hay que pedir factura con la siguiente información:

Dpto. Ingeniería de Sistemas y Automática
Avda. de la Universidad 30
L

[2018-04-21 14:35] David-Estevez commented on #60
Ojo, si las compras son a china, los que llevan las cuentas prefieren que no se facture a nombre de la Universidad, sino a nombre de la asociación (que va a estar complicado) o a nombre de la persona que lo compra. Al memos eso nos dijeron la última vez...

[2018-04-21 14:37] Siotma commented on #60
Exacto! No lo he puesto porque en mi cabeza todas las compras necesarias se pueden hacer en una ferretería de barrio, pero en caso de que lleguemos a pensar en aliexpress o similar hay que tener eso muy en cuenta!

[2018-04-22 14:19] d-marcos-m commented on #57
El jueves llegué algo antes y actualicé el firmware por el tema de los thermal settings. Hizo una impresión de unos 40-50 minutos y no hubo thermal runaway, así que lo dejaría como está (mismos ajustes que Hija). En cuanto pueda subo los archivos :)

[2018-04-22 15:08] jgvictores commented on #18
@Siotma Lo has hecho genial. Siguiendo [estas guías](https://github.com/roboticslab-uc3m/developer-manual/blob/22d4b931270712b12196f81bd32ec4233ce7c6ed/version-control.md) solemos seguir la metodología "gitflow" con un `develop` que luego va pasando a `master`.

En la misma guía, decimos que para respositorios que no son de código pueden ir con sólo `master`. Aprovechando que @David-Estevez hizo e

[2018-04-22 17:13] Siotma commented on #58
Votación abierta hasta el próximo jueves en https://goo.gl/forms/p1yVrF4RrPuYFcl52

[2018-04-23 22:16] GioSunrider commented on #60
Y unos interruptores GPIO para poder apagar las impresoras a través de las RPis?

[2018-04-24 09:35] JorFru commented on #60
Anoto que la TronXY necesita un MOSFET para la cama, el suyo se pone horroroso de caliente. Es una mejora que añadirá seguridad a nuestra granja. Cuestan en torno a 8€. También se podría mirar comprar dos, por si surge una nueva impresora con la misma electrónica mierder.

[2018-04-24 13:31] JorFru opened #61 "Puesta a punto de Geonosis"
Abro issue para comentar las mejoras que se le harán a esta máquina.

Problema detectado: los cables del hot-end se calientan, no mucho pero se hacen notar, a lo largo de todo el cable. Esto seguramente sea por la baja calidad del cableado y su sección escasa. Habría que recablear con cable siliconado, hay stock en el armario, en la zona "maraña de cables".

- [ ] Recablear hot-end
- [x] Resolver

[2018-04-25 10:28] d-marcos-m commented on #61
Otra mejora que se le hará es imprimir los soportes de los motores de X e Y: https://www.thingiverse.com/thing:2613150
Otra cosa interesante que deberíamos imprimir es un mejor ventilador de capa. Actualmente gran parte del aire va casi directo al extrusor: https://www.thingiverse.com/thing:2706922/#files
Por último, hay que ajustar las tensiones de las correas y valorar si queremos hacer algún ca

[2018-04-25 10:31] d-marcos-m commented on #61
Se me olvidó comentar el tema de la pantalla. Quizá no sea necesario al ponerla en la estantería. Pero si se va a quedar a la altura a la que está ahora, sería interesante mover la pantalla a la esquina superior derecha de la estructura, ya que tan abajo no se ve nada.

[2018-04-25 10:53] JorFru commented on #61
Para lo que dice David sobre la pantalla, habría que comprobar si los
cables llegan o en su caso se pueden empalmar.
Yo sugiero imprimir una chorripieza para colocar la pantalla en ángulo.

2018-04-25 12:31 GMT+02:00 dmarcosm <notifications@github.com>:

--
*Jorge Frutos de Mingo*

Ingeniería Electrónica Industrial y Automática.
Asociación de estudiantes UC3Music.
Universidad Carlos III de Madrid.

[2018-04-26 16:46] Siotma commented on #58
Acabo de cerrar la votación. De 8 votantes, Geonosis ha sacado 4 votos, más que ninguna otra. Los resultados se pueden ver pulsando el enlace del form: https://goo.gl/forms/p1yVrF4RrPuYFcl52 .

TronXY: 3 votos.
StarKiller: 2 votos.
DeathStar: 1 voto.
**Geonosis: 4 votos.**
Caliprinter: 2 votos.
Borg: 1 voto.
C-Borg: 3 votos.
XY-Borg: 0 votos.
Mjölnir: 1 voto.
El que queráis, pesados: 1 voto.

![ca

[2018-04-26 16:47] #58 closed, assigned to nobody

[2018-04-26 16:53] GioSunrider commented on #40
Hoy hemos montado la placa de Dédalo (#48) y hemos conectado la pantalla que llevaba 2 meses en el armario. ~10 asrobcoins para @dmarcosm

[2018-04-26 16:53] #40 closed, assigned to GioSunrider, d-marcos-m

[2018-04-26 17:06] Siotma opened #62 "La MEGA de Blacky ha muerto"
Hay que comprar una nueva Arduino MEGA para Blacky, pues la que tenía ha muerto.

Se puede reutilizar https://github.com/asrob-uc3m/impresoras-asrob/issues/48#issuecomment-372278058 :

Adjunto foto:

![2018_04_26_blacky_freaduino_mega_burnt](https://user-images.githubusercontent.com/6171234/39320542-b9270c60-4984-11e8-87e6-4431dc193bb1.jpg)

[2018-04-26 18:56] Siotma opened #63 "Cable management en Dédalo"
Los cables de Dédalo son un peligro para todos y para sí misma.

Ahora que le hemos puesto una placa nuevecita, molaría dejar la impresora en condiciones para que dure funcionando mucho tiempo, para ello propongo, al menos:

- [x] Aumentar la longitud del cable del ventilador de capa, y conducirlo paralelo a los demás cables que van al extrusor.
- [x] Revisar que ningún cable estorba el movimiento

[2018-04-26 18:58] Siotma commented on #48
Hoy hemos puesto la OVM20 en Dédalo.

Nos ha dado bastante guerra en el tema de los motores. La conclusión que hemos sacado es que a los Drivers paso a paso no les gusta que se conecten o desconecten los cables de los motores "en caliente". Si detectan algún problema en un motor se desactivan. Creemos que son los drivers y no el micro porque la situación no se revierte al reiniciar el Marlin. Sin

[2018-04-26 18:58] #48 closed, assigned to Siotma, GioSunrider

[2018-04-26 19:08] Siotma commented on #60
El tema de los interruptores GPIO no me convence. De momento vamos a intentar montar la granja y eso vendrá en el futuro, una vez todo funcione.

Lo que sí me parece urgente es lo del MOSFET. Lo añado.

Seguid comentando!

[2018-04-26 21:46] JorFru commented on #63
Claramente soy indispensable, me asigno el trabajo de cables.

Percibo que el cable que alimenta la cama caliente puede no ser del grosor suficiente para el amperaje que maneja una cama (entre 10 y 15A) Sugiero cambiarlo, si estáis de acuerdo, ponedlo arriba en el checklist. Recordad que Geonosis calentaba su cable del calentador del extrusor, que son 4 o 5A... hay que tener cuidado con esto por t

[2018-04-26 22:17] Siotma commented on #50
El fabricante dice esto:

Opiniones?  Mañana hago el pedido .

[2018-04-27 09:00] JorFru commented on #50
Por mi dale!

El vie., 27 abr. 2018 0:17, Manuel Peña Fernández <notifications@github.com>
escribió:

[2018-04-27 11:16] GioSunrider commented on #50
PALANTE!

[2018-04-27 11:23] GioSunrider commented on #61
Hay que ver también porque ayer cuando fuimos a imprimir, en la cuarta capa, se desplaza completamente. @anacarnerero y yo probamos a tensar las correas pero seguida el mismo problema. Hay que investigar el porque, ya que en ambos gcodes realiza exactamente el mismo desplazamiento.

[2018-04-27 13:36] d-marcos-m commented on #61
A qué velocidad se estaban imprimiendo esos gcode?

[2018-04-27 13:49] Siotma commented on #61
Respecto a la pantalla, me gusta más la idea en ángulo, pero abajo, que subirla arriba, ya que estorbaría el campo de visión hacia la maravilla que es esta impesora imprimiendo.

[2018-04-27 13:53] Siotma commented on #63
En efecto, los cables que manejan mucha corriente sería importante valorar el cambiarlos por los de silicona que tenemos.

Respecto a los cables de los motores, termistores y finales de carrera, la sensación que me dio ayer es que son suficientemente largos (algunos incluso sobra un buen trozo), pero que llevan tanto tiempo en la misma posicion que están viciados y acartonados. Yo propongo soltarl

[2018-04-27 14:14] Siotma commented on #50
Comprada: 149,74€

[2018-04-27 14:15] Siotma commented on #50
![captura](https://user-images.githubusercontent.com/6171234/39367085-1b4a3f5a-4a36-11e8-9455-7df93dd91a0f.JPG)

[2018-04-27 14:15] Siotma commented on #57
@dmarcosm cierra esta issue como acordamos ayer.

[2018-04-27 14:16] Siotma commented on #54
Sé que ahora mismo nos las han prestado, pero creo que es algo temporal. Podríais referenciar por aquí una cámara válida para que las compremos con el dinero de la subvención? Si es en Amazon o similar, mejor que mejor.

[2018-04-27 14:34] Siotma commented on #62
Alguno tiene Amazon Prime para conseguir la OPCION 1 con envío gratis?

[2018-04-27 14:36] David-Estevez commented on #54
La idea original de esas cámaras era formar parte de robots, pero de momento no hay ninguno planificado a corto plazo. De todas formas, no está de más conseguir alguna cámara más si tenéis presupuesto.

Por si sirviese de algo, aquí tenéis el link de las cámaras que os prestamos: https://www.pccomponentes.com/logitech-hd-webcam-c270

[2018-04-27 14:38] David-Estevez commented on #62
Independientemente de que se compre una placa nueva, crees que merece la pena reparar la placa quemada?

[2018-04-27 14:38] Siotma commented on #54
Lo suyo es que las de la granja, se compren con dinero de la granja que para eso se pidió. Esas que tenemos, pueden valer para cualquier otra cosa.

Alguien puede aportar algo sobre el modelo? Es adecuado? Compatible? Caro o barato?

[2018-04-27 14:39] Siotma commented on #62
Podría merecer la pena, pero no para ponerla en una impresora, sino más bien para tenerla para prototipar...

[2018-04-27 14:43] David-Estevez commented on #62
Sí, mi idea era más bien tenerla "de repuesto" por si alguna vez hace falta echarle mano para lo que sea.

[2018-04-27 14:47] #57 closed, assigned to David-Estevez, Siotma, GioSunrider, JorFru, anacarnerero, d-marcos-m

[2018-04-27 14:47] David-Estevez commented on #63
Creo que me voy a tener que presentar al título de "Rey de las ñapas"... :see_no_evil: :see_no_evil: :see_no_evil:

[2018-04-27 14:48] d-marcos-m commented on #62
Quizá sería lógico comprobar primero con otra RAMPS (la de Hija, mismamente), que ningún otro componente se ha visto afectado, así si hay que comprar más cosas las compramos de una sola vez, no?

[2018-04-27 15:14] David-Estevez commented on #48
Por si fuese útil:

## 8.3.7 Protection Circuits
The DRV8825 is fully protected against undervoltage, overcurrent, and overtemperature events.

### 8.3.7.1 Overcurrent Protection (OCP)
An analog current limit circuit on each FET limits the current through the FET by removing the gate drive. If this analog current limit persists for longer than the OCP time, all FETs in the H-bridge will be disable

[2018-04-27 16:28] GioSunrider commented on #62
Yo, y podria comprarla sin problemas. Pero la idea de @dmarcosm me parece muy adecuada.

[2018-04-27 23:12] d-marcos-m commented on #61
Me acabo de acordar que uno de los primeros días que imprimimos pasó lo mismo, y llegué a la conclusión de que era culpa de sobreextrusión. De vez en cuando dejaba pegotes, y si da la casualidad de que cruza por encima de ese pegote, intenta llevarselo por delante y pierde pasos. Quizá puede ir por ahí el problema.

[2018-04-28 18:23] Siotma commented on #62
Agrupar artículos en un mismo pedido es algo muy interesante para repartir los gastos de envío. Pero con Amazon Prime, los envíos son gratis, así que no veo ninguna ventaja en ello.

Por otra parte, no estoy de acuerdo en poner en peligro la integridad de otra impresora. Si le pasara algo a la MEGA de Hija durante las pruebas que propones (imagino que te refieres a probar con otra MEGA) podría con

[2018-04-28 18:26] Siotma commented on #62
Además, yo creo que la placa se quemó por culpa de un contacto indirecto de la cadena de anclaje con la electrónica. Tiene pinta de que la parte quemada actuó de fusible evitando daños mayores. De todas formas, cuanto antes pidamos la placa, antes podremos hacer pruebas y volver a tener a Blacky operativa.

Recuerda solicitar factura acorde con la normativa de subvenciones, disponible [aquí](https

[2018-04-28 18:28] Siotma commented on #61
Eso es un problema muy habitual con cualquier impresora. Habría que calibrar los pasos/mm del extrusor y seguir perfeccionando los perfiles, sobre todo jugar con la retracción...

[2018-04-28 18:31] Siotma commented on #48
Concuerda completamente con el comportamiento que observamos en la última reunión.

[2018-04-28 18:57] David-Estevez commented on #61
Lo extraño es que siempre la impresión de estropee en el mismo punto exacto... Tiene más pinta de ser cosa del gcode...

[2018-04-28 19:09] d-marcos-m commented on #61
Yo creo que justo por eso @daeste. Va dejando pegotes, pero no siempre vuelve a pasar por ellos de forma que quiera atravesarlos.
Entonces digamos que en la linea 645 de gcode deja el pegote, y en la 756 lo intenta atravesar. Eso va a pasar siempre que se use ese gcode, dejando el desplazamiento siempre en la misma altura.

[2018-04-28 19:13] Siotma commented on #49
Recuperando esta issue, hago la misma pregunta que en #54 : deberíamos comprar nuestras propias RPis y tarjetas SD?

[2018-04-28 19:19] Siotma commented on #62
También podemos valorar comprar aquí: https://www.ebay.es/itm/MEGA-2560-R3-USB-CH340-Control-Development-Board-Compatible-Arduino-B0015-/201641182543

Tengo buenas experiencias comprando en esta tienda el año pasado. Dan factura y envían rápido...

[2018-04-29 18:11] Siotma commented on #60
Me he dado cuenta de que esta issue es exactamente eso que digo que no se debe hacer, citándome a mi mismo:

Declarada inválida.

[2018-04-29 18:11] #60 closed, assigned to nobody

[2018-04-29 18:13] Siotma opened #64 "Comprar regletas para la granja de impresoras"
Hay que comprar regletas que lleven alimentación hasta la granja de impresoras y sistemas auxiliares.

De momento se ha detectado la necesidad de dos regletas, y se ha medido su longitud:

- [x] Comprar regleta de 5 metros con mínimo 8 tomas de corriente, e interruptor. (Para las impresoras, el router y las raspberrys).
- [x] Comprar regleta de 3 metros con mínimo 5 tomas de corriente e interrupto

[2018-04-29 18:20] Siotma opened #65 "Dotar la granja de impresoras de conexión a internet"
Por lo que tengo entendido, la granja de impresoras necesitaría tener:
- una conexión en red local para poder ser gestionada (obligatorio) (al necesitar varias tomas, puede que se necesite un switch).
- conexión a internet para obtener imágenes y estados de las impresiones por Telegram (para esto hace falta un router).

Para ello, creo que hace falta lo siguiente:

- [x] decidir si la instalación

[2018-04-29 18:23] Siotma commented on #63
He encontrado esta maravilla en un proveedor de confianza de eBay: CADENETAS PORTACABLES!

- [15x20](https://www.ebay.es/itm/Cadena-Portacables-15x20-1m-CNC-Impresora-Carrier-Cable-Drag-Chain-Wire-I0139-/202184716787)
- [10x10](https://www.ebay.es/itm/Cadena-Portacables-10x10-1m-CNC-Impresora-Carrier-Cable-Drag-Chain-Wire-I0138-/202184710341)
- [10x20](https://www.ebay.es/itm/Cadena-Portacables-10

[2018-04-29 18:26] Siotma opened #66 "Comprar cadenetas portacables para las impresoras"
Ha llegado el momento de que todas las impresoras tengan los cables bien canalizados. Si os gustaron las cadenetas de Geonosis, aquí hay cantidad: he encontrado esta maravilla en un proveedor de confianza de eBay:

- [15x20](https://www.ebay.es/itm/Cadena-Portacables-15x20-1m-CNC-Impresora-Carrier-Cable-Drag-Chain-Wire-I0139-/202184716787)
- [10x10](https://www.ebay.es/itm/Cadena-Portacables-10x10

[2018-04-29 18:32] Siotma opened #67 "Comprar un MOSFET para Geonosis."
@JorFru dijo en #60 que sería buena idea ponerle un MOSFET a Geonosis cuanto antes.

He encontrado [este](https://www.ebay.es/itm/MKS-MOSFET-Extrusor-Cama-Caliente-Impresora-3D-Heating-Control-Bed-Extruder-I093-/202154694034) de un proveedor de confianza de eBay. Sin embargo, los que tenéis una Anet estáis más puestos que yo en el tema...

Tareas:
- [x] Discusión y selección de un MOSFET adecuado.

[2018-04-29 18:33] Siotma commented on #19
He encontrado dos modelos de sensor inductivo de un proveedor de confianza de eBay:

- [Uno](https://www.ebay.es/itm/M12-Sensor-Proximidad-Inductivo-PNP-DC-6-36V-LJ12A3-4-Z-BY-3D-Impresora-S0036-/201916693496) (este es el que dedía @David-Estevez en su primer mensaje de esta issue)
- [Dos](https://www.ebay.es/itm/M18-Sensor-Proximidad-Inductivo-8mm-NPN-NO-DC-6-36V-LJ18A3-8-Z-BX-Arduino-S0042-/2019

[2018-04-29 18:38] Siotma commented on #65
Esto puede tener relación con #56 , pero mi intención en un principio, como ya he dicho otras veces es que la infraestructura de la Granja sea permanente, mientras que el router pueda ser de quita y pon, por lo tanto no se podrían unir las dos funciones en un solo aparato. Además, la granja no necesita WiFi...

[2018-04-29 18:48] Siotma opened #68 "Comprar una fuente de alimentación decente para Hija"
Todos nos acordamos de aquella mala racha de fuentes de alimentación #28 #33 #35 etc..

La fuente de alimentación actual de Hija Resurrection no es de las más prometedoras de las que tenemos. Además, dada su forma, no podemos fijarla a la estructura de la impresora. Según tengo entendido, fuentes de alimentación de este estilo son fiables y además se pueden fijar en impresoras P3steel como Hija:

[2018-04-29 18:55] Siotma opened #69 "Comprar rodamientos y poleas para las correas de Dédalo"
Las correas de Dédalo están tensadas sobre rodamientos lisos. Muchas veces se han roto las piezas de plástico que ponemos sobre ellos para que las correas no se salgan. Además, las piezas de plástico que mueven las correas, no tienen el mejor acabado y a veces podrían patinar. He encontrado [estos rodamientos](https://www.ebay.es/itm/2x-Rodamiento-con-pestana-F608zz-Cojinete-Bolas-Impresora-3d-Rep

[2018-04-29 20:49] GioSunrider commented on #62
Si sale mas barato adelante, yo en ebay jamas he comprado nada asi que no tengo opiniones.

[2018-04-29 21:04] David-Estevez commented on #65
La roseta está actualmente activada, de hecho el router se puede usar actualmente  para conectarse a internet a través de él (tiene IP asignada y configurada).

Yo aquí veo dos posibilidades (y si alguien ve algún fallo/cosa mejorable en lo que digo que avise):
1. Dejar el router permanentemente conectado a internet y a la granja, y configurarlo de forma que sea sencillo activar / desactivar el wi

[2018-04-29 21:09] David-Estevez commented on #61
Pero la pérdida de pasos por pegotes, que también la he sufrido alguna vez en Dédalo, hace que se pierdan pasos en distintas capas y que no siempre se pierda la misma cantidad de pasos. En mi experiencia, no suele ser tan repetible.

[2018-04-29 23:20] GioSunrider commented on #65
A mi la segunda opcion me gusta, respecto al switch, tengo experiencia con [este modelo en concreto](https://www.amazon.es/dp/B00A121WN6/ref=asc_df_B00A121WN652102393/?tag=googshopes-21&creative=24538&creativeASIN=B00A121WN6&linkCode=df0&hvdev=c&hvnetw=g&hvqmt=) pero de 4, en vez de 8 puertos. Propongo este que aunque sea mas caro, es de los diseñador para aguantar largas tandas de conexión (en mi

[2018-04-30 01:49] d-marcos-m commented on #67
Ese mismo que propones es el que he comprado yo para mi Anet @Siotma. Diría que es el indicado, aunque creo que @JorFru puede aportar más en este caso.

[2018-04-30 12:14] JorFru commented on #67
Todos cumplen con lo que necesitamos

El lun., 30 abr. 2018 3:49, dmarcosm <notifications@github.com> escribió:

[2018-04-30 12:37] GioSunrider commented on #67
En mi caso el que esta es [este](https://www.amazon.es/gp/product/B0714JXQT7/ref=oh_aui_detailpage_o03_s00?ie=UTF8&psc=1). Sin ningun problema en envio y sin ninguna queja de el.

[2018-04-30 16:21] JorFru commented on #65
La idea que me mola es la que dice David:

1. Un sistema de red cableada fijo y siempre enchufado dando servicio a las
impresoras y que estas tengan conexión hacia fuera, o sea, con internet.
2. Un sistema no fijo que se ponga y se quita para las reuniones.

El aparato que necesitamos para cumplir el primer punto deberá contar con 8
puertos. El aparato que necesitamos para cumplir el segundo punto

[2018-04-30 17:26] Siotma commented on #64
Hoy he comprado dos regletas:

- 5 metros y 6 tomas con interruptor (dado que el router va a estar conectado permanentemente ya no hacen falta tantas tomas, en un futuro se pueden colgar nuevas regletas de esta.
- 3 metros y 6 tomas con interruptor.

Total 13,98€

[2018-04-30 17:33] Siotma commented on #65
Comparto las cuestiones que proponeis, pero en cualquiera de ellas, parece clara la necesidad de comprar un switch.

Que yo sepa, las rosetas dan internet, pero no tienen DHCP. Si te conectas a ellas con una IP fija, tienes internet, que es como funcionaban los ordenadores cuando estaban puestos junto a la lona.

Propongo comprar un switch y utilizar el método empírico: si somos capaces de ponerlo

[2018-04-30 17:44] Siotma commented on #65
Soy consciente, pero en un principio había pensado en utilizar las dos rosetas: una para la granja y otra para el router... aunque la verdad es que la idea de conectar uno al otro también es perfectamente válida.

Si me dais luz verde, podría comprar el switch que os comento en el anterior mensaje hoy o mañana.

[2018-04-30 20:25] David-Estevez commented on #65
El problema de la solución "doble" es que necesitas una IP para cada dispositivo, y actualmente sólo disponemos de una.

Entiendo que un switch convierte una IP en una red, y que cualquiera de los dispositivos conectada a esa red puede conectarse a Internet a través de la puerta de enlace del switch. No obstante, me informaré sobre esto para hablar 100% seguro.

[2018-04-30 20:41] jgvictores commented on #65
Abreviando mucho a base de poner cosas muy específicas de nuestras circunstancias:
- Switch: básicamente funciona como un ladrón a nivel físico. Si lo conectásemos directamente a la roseta activa, necesitaríamos una IP estática por equipo, que se piden al Departamento. Tenemos creo que 3 IPs (router+PC+PC), que ya es bastante considerando que a nivel Departamento (y mundial) hay escasez.
- Router:

[2018-04-30 20:48] jgvictores commented on #65
BTW, incluso un router como el nuestro puede hacer cosas bastante chulas, como DHCP y/o asignar IPs por MAC.

Los más avanzados hasta dan DNS, este creo que no soporta, pero todo es cuestión de firmware... ^^

[2018-04-30 20:49] David-Estevez commented on #65
Entonces hace falta o bien un switch de capa 3 (que sería como un router pero con una sola interfaz [ethernet]) o bien una de las siguientes opciones:

1. Un router al que se conecte todo y que pueda activar/desactivar de forma sencilla el WiFi.
2. Dos routers (aprovechando que tenemos varias IPs): uno fijo conectado a la granja y otro de quita y pon para las reuniones.

[2018-05-01 11:12] Siotma commented on #65
Muchas gracias @jgvictores y @David-Estevez por la exposición de las diferentes opciones factibles y viables.

Obviamente, en ASROB estamos comprometidos con la ecología de IPs, por lo que un router que genere una subred local es la opción más interesante.

Esta es mi opción preferida, ya que así se reducen las posibilidades de que por tocar en la granja algo se estropee. Además así seguimos tenie

[2018-05-01 11:41] David-Estevez commented on #65
He estado pensando que si vais a hacer tareas de mantenimiento de las Pi, quizá os interese buscar un poco más a ver si hay alguno con botón para el WiFi (no confundir con WPS). De esta forma os podéis conectar a la red local en la que están las Pis y entrar por SSH a ellas, por ejemplo.

[2018-05-01 11:43] Siotma opened #70 "Comprar cables para recablear las impresoras"
Relacionado con #66 , cuando recableemos las impresoras seguramente nos hagan falta cables más largos.

He encontrado los siguientes cables en grupos de 3 y 4, que vienen ya cortados y crimpados:

- [2 cables de 3 pines hembra-hembra 70cm](https://www.ebay.es/itm/202034957430)
- [2 cables de 4 pines hembra-hembra 70cm](https://www.ebay.es/itm/202034942973)

Posibles items a recablear: finales de c

[2018-05-01 11:44] jgvictores commented on #65
De una búsqueda rápida por curiosidad... De este [foro](https://community.netgear.com/t5/General-WiFi-Routers/which-model-of-router-have-a-wifi-on-off-button/td-p/1122821) -> este [manual]( http://www.downloads.netgear.com/files/GDC/WNR1000V3/WNR1000v3_SM_24SEPT2010.pdf) donde cita claramente "Wireless On/Off button".

~https://www.amazon.com/NETGEAR-RangeMax-Wireless-Router-WNR1000-100NAS/dp/B001

[2018-05-01 11:48] David-Estevez commented on #65
Pero en este caso lo que se busca no es que el WiFi esté programado, sino que se pueda encender sólo cuando se necesite sin tener que entrar en la configuración del router, ¿no?

[2018-05-01 11:51] Siotma commented on #65
Lo que estáis proponiendo es un router WiFi dedicado para la granja, y que se pueda usar el wifi para configurarla cómodamente. O es un router WiFi compartido para la granja y otras actividades?

[2018-05-01 11:52] David-Estevez commented on #65
Lo primero, dedicado con WiFi para facilitar configuraciones / mantenimiento de raspis.

[2018-05-01 11:52] Siotma commented on #65
El enlace de @jgvictores mola, pero es de amazon.com, en amazon.es he encontrado [este que también es de NetGear](https://www.amazon.es/Netgear-JNR3210-100PES-tecnolog%C3%ADa-puertos-Ethernet/dp/B009WRYDQE/ref=sr_1_5?s=computers&ie=UTF8&qid=1525175145&sr=1-5&keywords=interruptor+wifi) y tiene un par de botones grandes en el frontal (uno WIFI y otro WPS), más uno de on/off trasero.

[2018-05-01 11:53] Siotma commented on #65
Madre mía, no había visto bien el precio. Vamos a buscar otro :rofl:

[2018-05-01 11:54] jgvictores commented on #65
Sí sí, en el manual de la WNR 1000v3 pone "Wireless On/Off button" que es eso. Voy a quitar el enlace a Amazon, pq ese modelo no tiene ese botón.

Toca seguir buscando.

[2018-05-01 11:59] Siotma commented on #65
Teniendo en cuenta que los ordenadores de la nave van a estar conectados permanentemente a este router, ¿es muy disparatado pensar que se podría activar y desactivar el WiFi desde alguno de ellos, entrando en la página de configuración?

[2018-05-01 12:07] Siotma commented on #65
Found: https://www.amazon.es/TP-Link-N300-TL-WR841N-inal%C3%A1mbrico-esencial/dp/B001FWYGJS/ref=sr_1_5?s=computers&ie=UTF8&qid=1525176422&sr=1-5&keywords=router+wifi

[2018-05-01 12:21] Siotma commented on #65
El modelo es el WR841N ([enlace a manual](https://static.tp-link.com/1910012221_TL-WR841N(EU)(US)_V13_UG.pdf)). [También en Media Markt](https://tiendas.mediamarkt.es/p/router-inalambrico-tplink-wifi-n300-4-ethernet-2-antenas-mimo-1150574).

[2018-05-01 12:23] David-Estevez commented on #65
Eso se puede hacer casi con todos, lo del botón era por comodidad / rapidez.

[2018-05-01 12:25] Siotma commented on #65
Planteé mal la pregunta. Más bien quería decir que si era crítico el botón o podríamos pasar sin él viendo que no éramos capaces de encontrar uno con botón.

[2018-05-01 12:28] David-Estevez commented on #65
Crítico no es, como bien dices al haber ordenadores conectados a esa red se podría activar mediante el panel de configuración.

De todas formas ese router que has pasado tiene muy buena pinta. Y por ese precio casi podemos hacer bote y pillar otro para renovar el actual.

[2018-05-01 12:37] Siotma commented on #56
Related https://github.com/asrob-uc3m/impresoras-asrob/issues/65#issuecomment-385659743

[2018-05-01 14:03] Siotma commented on #65
Creo que resumiendo, se han tomado dos decisiones:
- Usar un router dedicado para la granja de impresoras, y otro distinto para el resto de actividades de la Asociación (conectar PCs, y otros equipos durante las reuniones).
- Se ha seleccionado el modelo de router TP-Link-N300-TL-WR841N .

Si no hay más opiniones puedo comprar las dos unidades mañana en [Media Markt](https://tiendas.mediamarkt.es/

[2018-05-01 15:19] David-Estevez opened #71 "Colocar QR / URL de la web de impresoras cerca de las impresoras"
Para intentar solucionar casos de amnesia temporal o pereza aguda, ¿qué os parece si imprimimos la url de la web de impresoras (http://asrob.uc3m.es/printers/) en formato QR y/o directamente como URL y pegamos el cartel cerca de las impresoras?

Un posible sitio sería la estantería de la granja, cuando esté instalada.

[2018-05-01 15:21] David-Estevez commented on #71
Dejo por aquí el QR ya creado:

![image](https://user-images.githubusercontent.com/1451819/39479140-9f099a12-4d64-11e8-804c-d6df19b8fe3c.png)

[2018-05-01 18:03] GioSunrider commented on #65
Yo tengo la.propuesta de dejar directamente router y un switch directamente fijos (anclados a la pared por ejemplo), con la posibilidad de encender y apagar wifi. De esta manera no se anda quitando y poniendo nada.
El switch daría servicio a la granja y a lo que se coloque en la pared y dejas libres los puertos del router y puedes conectar por cable directamente a ellos

[2018-05-01 18:37] David-Estevez commented on #65
Lo de duplicar el router es para minimizar los problemas y cortes de servicio que pueda tener la granja al hacer cualquier cosa con la red. Si los dos routers que se instalen tienen el botón de apagado, no haría falta quitar nada, se podrían quedar los dos puestos.

[2018-05-01 23:48] GioSunrider commented on #65
Lo que no entiendo bien es la función del segundo router. IMHO, lo único que va a dar es problemas a la hora de conexiones y duplicados de wifi y demás. Y si los mantenemos separados, veo un poco innecesario el tener dos redes.

[2018-05-02 15:47] David-Estevez commented on #65
La red WiFi de la asociación siempre ha existido para crear red locales para los robots y para tener una conexión de más calidad que Eduroam (que apenas llega a nuestra esquina). Lo único es que para que esté disponible hay que sacar el router del armario, y por ello algunos grupos de trabajo directamente no lo usan (pura pereza :sweat_smile: ). Lo que se propone es añadir una segunda red con un s

[2018-05-02 18:19] Siotma commented on #65
Por puntualizar un poco más lo que dice David.

Esto no va a ser un problema real ya que el router de la granja tendrá el WiFi apagado casi todo el tiempo. El router que no sea de la granja será de quita y pon, mientras que la infraestructura de la granja (router+switch+cables+etc) estará anclada a la mesa y/o a la estantería. Además la idea es que esté oculta donde no moleste.

[2018-05-02 18:21] Siotma commented on #65
Hoy, he comprado un [router](https://tiendas.mediamarkt.es/p/router-inalambrico-tplink-wifi-n300-4-ethernet-2-antenas-mimo-1150574) a través de la web de MediaMarkt. He ido a la tienda de Leganés pero no les quedaban así que lo he pedido para que lo traigan y recogerlo allí en un par de días.

Ha costado 24,99€, lo esperado.

He comprado solo uno para hacer pruebas. En el momento que veamos que cu

[2018-05-02 18:28] d-marcos-m commented on #71
Cuál sería la función? Que la gente reserve las impresoras desde la propia nave, que conozcan la web...?

[2018-05-02 18:58] Siotma opened #72 "Comprar cinta de doble cara para el montaje de la granja"
Teniendo en cuenta la cantidad de cosas que vamos a montar sobre la granja, me da miedo que el SAV nos lleve a soluciones de dudosa calidad. Teniendo en cuenta que el mobiliario es un bien escaso, y que debe quedar bien instalado, he pensado que:

- Debemos evitar atornillar sobre las mesas o sobre la estantería, para evitar los agujeros.
- Debemos evitar las bridas para sujetar los componentes ya

[2018-05-02 19:02] d-marcos-m commented on #72
El otro día cuando movimos los armarios salió un rollo muy grande de cinta de doble cara (a menos que no fuese cinta de doble cara)

[2018-05-02 19:03] Siotma commented on #72
Hoy he comprado esta cinta en Leroy Merlin: 7,75€.

La idea es que esté disponible en la nave antes de que sea necesaria, de forma de que nadie caiga en la tentación de utilizar ninguna otra cosa. Por las referencias de uso anteriores que tengo, esta cinta pega más que los tornillos, así que hay que usarla con cabeza :sweat_smile:

Puede que haya algunos retales por el armario, pero así usamos la

[2018-05-02 19:07] Siotma commented on #72
Recuerdas dónde estaba? Mañana lo podemos mirar.

[2018-05-02 19:15] d-marcos-m commented on #72
Armario de la derecha

[2018-05-02 21:23] David-Estevez commented on #72
No, no, no son retales, es un señor rollo.

[2018-05-02 21:25] David-Estevez commented on #71
Posibles funciones:

* Acceso directo a estado de las impresoras (operativa/ no operativa).
* Acceso directo a instrucciones sobre cómo ser operador.
* Acceso directo a manuales de uso.
* Acceso directo a hojas de reserva.
* Acceso directo a issues en caso de incidencia.

Todo ello pensando en novatos / personas vagas (me incluyo en lo segundo).

[2018-05-03 18:44] DiegoGarciaX2 opened #73 "Resoldar cama caliente de hija"

[2018-05-03 18:45] DiegoGarciaX2 commented on #73
Hoy nos hemos encontrado un cable de la cama de hija suelto, se ha resoldado y calibrado la impresora

[2018-05-03 18:45] #73 closed, assigned to DiegoGarciaX2

[2018-05-04 15:32] Siotma commented on #64
En la reunión de ayer, se instalaron las regletas en su lugar:

![2018_05_03_new_grid_extenders_](https://user-images.githubusercontent.com/6171234/39636625-189c1db0-4fc1-11e8-8579-60391b73db53.jpg)

![2018_05_03_new_grid_extenders_connection](https://user-images.githubusercontent.com/6171234/39636628-1a50bd6e-4fc1-11e8-8f1a-9e89a1b02ac3.jpg)

[2018-05-04 15:32] #64 closed, assigned to Siotma

[2018-05-04 15:36] David-Estevez commented on #50
El paquete ha sido recibido hoy con éxito, y se encuentra en nuestro espacio de trabajo habitual.

* El transportista se puso en contacto hoy conmigo para gestionar la entrega, pues no tenía muy claro dónde había que dejar el paquete y era voluminoso (y pesado).
* Me puse en contacto con el resto de asociados para tener ayuda de cara a llevarlo a la nave.
* Indiqué al transportista que descargase

[2018-05-04 15:48] David-Estevez commented on #64
Puede que sea conveniente hacerles algún tipo de ASROB-marca para que se sepa que son nuestras (y que, concretamente, son de la granja).

[2018-05-06 10:25] Siotma commented on #72
En la última reunión, dejé la cinta de doble cara en el armario.

Es cierto que tenemos otra, pero es distinta:
- La que tenemos es gruesa y acolchada, y fácil de romper con los dedos. La verdad es que pega bastante, pero no es resistente a esfuerzos. Es buena candidata para sujetar cosas con poco peso, o para instalaciones temporales.
- La nueva es más fina y va reforzada con una malla, como la c

[2018-05-06 10:25] #72 closed, assigned to Siotma

[2018-05-06 10:47] Siotma commented on #53
He encontrado ventiladores a buen precio en eBay:

- [40x40x20](https://www.ebay.es/itm/201633351488)
- [50x50x15](https://www.ebay.es/itm/202065718094)

He pensado en pedir uno de cada para probarlos.

[2018-05-06 11:01] Siotma commented on #67
Gracias por vuestro asesoramiento. Damos por bueno entonces el modelo seleccionado.

[2018-05-06 11:02] Siotma commented on #62
Aceptada la compra entonces. Compraré dos unidades para tener una de repuesto y prototipado.

[2018-05-06 11:37] Siotma commented on #63
En la última reunión, @dmarcosm y yo hicimos los siguientes progresos:

- Alargamos el cable del ventilador de capa con los cables existentes en el armario y le pusimos un conector para conectarlo directamente a lo pines de la OVM20Lite.
- Analizamos el cableado de la impresora, y detectamos que había muchos cables con una longitud mayor de la necesaria. Estos cables tenían varias vueltas innecesa

[2018-05-06 11:39] Siotma commented on #63
Es urgente disponer de un soporte para dejar la placa instalada. Tal vez nos valga el que tenía la antigua placa, aunque sea de forma temporal. @David-Estevez , podrías traerlo?

[2018-05-06 11:56] Siotma commented on #66
La longitud necesaria de las cadenetas para cada eje es de unos 30cm. Teniendo en cuenta que tenemos 3 impresoras, lo suyo sería comprar 3 metros de cadenetas.

Propongo comprar un modelo de cada de los mencionados en el mensaje anterior:
- 10x10, para el eje Y, ya que solamente necesita llevar dos cables de alimentación de la cama y dos del termistor. Así el tamaño es compacto y es más fácil enco

[2018-05-06 11:58] Siotma commented on #68
A mi me mola la de HTA3D.

Edit: por otro lado, la de eBay, parece el mismo modelo y nos ahorraría los gastos de envío.

La de HTA3D solo nos interesaría comprarla junto a los rodamientos igus (#52) y junto al doble extrusor (#53), para compartir gastos.

Edit2: esta [carcasa](https://www.thingiverse.com/thing:2158480) es la caña para combinarla con [esta pieza](https://www.ebay.es/itm/Conector-22

[2018-05-06 11:59] Siotma commented on #69
Yo creo que estos cambios mejorarán la fiabilidad de la impresora, y su robustez de cara a largas horas de impresión.

El jueves pasado realicé las medidas y las piezas propuestas con compatibles.

[2018-05-06 12:15] Siotma commented on #70
El pasado jueves se revisaron los cables que tenemos en el armario: el grosor es muy variado, pero casi todos son de colores rojo y negro. Los más finos (AWG 28), que serían los adecuados para recablear los motores, termistores y endstops, solamente están disponibles en colores rojo y azul, y además, no hay suficiente cable como para recablear todas las impresoras.

Por tanto, esta compra parece n

[2018-05-06 12:43] d-marcos-m commented on #19
Estoy pensando que estos sensores funcionan por... detección del metal? distancia? Lo digo sobre todo por la tronxy, que la base es de acrílico

[2018-05-06 13:14] Siotma commented on #19
Los sensores inductivos como esos son sensibles a la presencia de otros metales.

La base de la tronXY es de plástico, pero debajo la cama tiene pistas de metal, y además creo recordar que estaba recubierta de una superficie lisa de aluminio. Yo apuesto por que sería perfectamente compatible.

[2018-05-06 13:48] David-Estevez commented on #19
También existen sensores capacitivos, que no requieren un material metálico para funcionar. Ejemplo: http://store.thingibox.com/es/electricidad/224-sensor_capacitivo.html

[2018-05-06 13:48] David-Estevez commented on #63
Sin problema! :+1:

[2018-05-06 15:04] Siotma commented on #61
En la reunión del pasado jueves, Geonosis no pudo imprimir ninguna pieza al dar sucesivos errores de Thermal Runaway del extrusor. Se sospecha que el problema es que el ventilador de capa echa aire directamente sobre el hotend.

Propongo:
- Ejecutar el [PID Tuning](http://reprap.org/wiki/G-code/es#M303:_Run_PID_tuning) para asegurarnos de que el regulador PID de temperatura está bien ajustado.
- T

[2018-05-06 20:36] GioSunrider commented on #68
A mi me parece también la mejor opción.

[2018-05-07 13:14] David-Estevez commented on #63
Ya los tenéis, están puestos en Dédalo

[2018-05-07 17:59] Siotma commented on #65
Hoy he recogido el router, estará disponible en la próxima reunión de Printer One.

He abierto la caja para comprobar el contenido, incluye:
- router, con botón de WiFi On/Off
- adaptador de corriente
- cable Ethernet de 1 metro más o menos
- guía de instalación rápida

[2018-05-07 18:22] Siotma commented on #53
Los voy a comprar que por el precio que tienen seguro que nos vienen bien.

[2018-05-07 18:23] Siotma commented on #19
Se puede mirar el capacitivo. Aún así voy a comprar el inductivo que os pasé que por el precio que tiene así podemos probarlo :wink:

[2018-05-08 23:30] d-marcos-m opened #74 "Comprar estación de soldadura"
He visto esta estación de soldadura, con pistola de aire caliente incluída, y creo que nos podría venir muy bien para la mesa de soldadura: https://www.impextrom.com/es/estacion-de-soldadura-digital-doble-operaciones-smd-baku-601d-p999982500

¿Os parece buena idea comprarla? Se aceptan sugerencias de los masters de la soldadura :D

[2018-05-09 05:55] JorFru commented on #74
Yo la tengo. la he dado mucho trote y aguanta. Tiene potencia de sobra y el aire es cómodo de usar.
Las puntas que trae son KK, pero sirven para tirar un año o dos.

[2018-05-09 22:29] David-Estevez commented on #74
Yo también la tengo y le doy mis bendiciones.

[2018-05-10 12:29] GioSunrider commented on #74
Yo doy tambien doy las bendiciones, con el feedback de @JorFru y @David-Estevez, me parece la idea cojonuda.

[2018-05-10 16:26] DiegoGarciaX2 opened #75 "Una torre no funciona"
Emite un pitido

[2018-05-10 21:38] David-Estevez commented on #74
Si os parece guay la idea, el siguiente paso sería buscar financiación para la estación.

[2018-05-11 09:54] David-Estevez commented on #75
Algún dato más sería de ayuda:

* ¿Qué torre es la que falla (de las tres o cuatro que tenemos)?
* ¿Cómo es el pitido (los ordenadores suelen pitar de forma distinta según el error)?

[2018-05-11 13:58] Siotma commented on #19
Recibí el paquete el miércoles, y el jueves llevé [el sensor](https://www.ebay.es/itm/M12-Sensor-Proximidad-Inductivo-PNP-DC-6-36V-LJ12A3-4-Z-BY-3D-Impresora-S0036-/201916693496) a la nave. Está disponible dentro de una caja en la balda de Printer One.

[2018-05-11 13:59] Siotma commented on #66
Recibí el paquete el miércoles, y el jueves llevé las cadenetas a la nave. Están disponibles dentro de una caja en la balda de Printer One.

Realizamos la primera instalación de una de ellas en el eje Y de Dédalo.

[2018-05-11 14:00] Siotma commented on #68
Recibí el paquete el miércoles, y el jueves llevé la fuente a la nave. La fuente y [el conector](https://www.ebay.es/itm/Conector-220V-panel-tipo-C14-interruptor-fusible-Arduino-Impresora-3D-K022-/201882461448) están disponible dentro de una caja en la balda de Printer One.

Si alguien puede imprimir [el adaptador](https://www.thingiverse.com/thing:2158480), se puede instalar en la próxima reunión

[2018-05-11 14:08] Siotma commented on #69
Realicé el pedido y llegó el miércoles. El jueves lo llevé a la nave y tratamos de montar las primeras piezas en Dédalo.

Hubo un problema inesperado, y es que las poleas tienen el agujero demasiado ancho, habrá que imprimir una especie de casquillo para adaptar los 8mm de diámetro interno de las poleas a los 5mm de diámetro de los ejes de los motores.  Entretanto, @David-Estevez nos prestó un par

[2018-05-11 14:09] Siotma commented on #70
Realicé el pedido y llegó el miércoles. Sin embargo, han llegado solo la mitad de los cables. Estoy en contacto con la tienda para resolverlo...

[2018-05-11 14:10] Siotma commented on #67
Realicé el pedido y llegó el miércoles. El jueves lo llevé a la nave y @GioSunrider nos tiene qué contar qué tal se le dio montarlo.

[2018-05-11 14:11] Siotma commented on #62
Realicé el pedido y llegó el miércoles. El jueves lo llevé a la nave.

@GioSunrider estuvo realizando el cambio de placa y nos puede contar más detalles...

[2018-05-11 14:13] Siotma commented on #65
@David-Estevez estuvo probando el router y nos podrá contar sus impresiones.

La idea es que este primer router se configure para conectarse a la roseta de la esquina y pueda servir internet por los 4 puertos y por WiFi, pudiéndose desactivar este último con el botón.

Una vez esté configurado, se puede empezar a montar octoprint.

[2018-05-11 14:14] Siotma commented on #50
@David-Estevez @GioSunrider y compañía, deberían contarnos qué tal se dio esto... :wink:

[2018-05-11 14:15] Siotma commented on #53
Realicé el pedido de los ventiladores y llegaron el miércoles. El jueves los llevé a la asociación. Tienen buena pinta, están disponibles en una caja en la balda de Printer One.

[2018-05-11 16:00] David-Estevez commented on #65
Estuve mirando la página de configuración del router y me pareció bastante completo y versátil.

Hoy lo terminé de configurar y ya está listo para conectar a la roseta y dar conexión. Tanto la IP usada como las credenciales están apuntadas en un post-it dentro de la caja, la cual he vuelto a dejar en el armario. También he probado el botón de apagar el WiFi y funciona a la perfección.

[2018-05-11 16:29] David-Estevez commented on #50
@GioSunrider llegó hoy un poco antes de la reunión de Printer One, cuando estábamos reunidos los de RoboFactory, y comenzó a montar la estantería. Para evitar accidentes, y ya que estábamos un poco ociosos, Cecilia y yo decidimos ayudarle a montar la estructura, que finalmente colocamos contra el muro, en el lado más cercano al armario de los autómatas.

En ese punto los de RoboFactory nos fuimos

[2018-05-13 15:50] Siotma commented on #63
En la reunión del último jueves continuamos revisando la longitud de los cables y fijamos la placa a la impresora.

Además, colocamos una cadeneta para conducir los cables de potencia y el termistor de la cama.

Cada vez queda menos para volver a tenerla funcionando.

[2018-05-15 11:40] GioSunrider commented on #62
Hay pocos detalles que añadir, lo primero se subió el Marlin a la placa sin ningún problema y se conecto a la ramps con comprobación de las conexiones. Una vez instalado todo, se procedio a la conexion de la fuente de alimentacion. Se encendio correctamente y al ir a hace Home All, se apago de repente. En ese punto desconecte la fuente de alimentación y efectivamente olia a quemado y el regulador

[2018-05-15 11:45] GioSunrider commented on #67
Instale el MOSFET sin ningún problema. siguiendo el esquema de conexiones de la siguiente foto.

![3d-piezas-de-la-impresora-controlador-mks-mosfet-para-la-cama-del-calor-extrusora-mos-m jpg_640x640](https://user-images.githubusercontent.com/10605193/40054648-eb1373d8-5845-11e8-8737-996e4d9e3797.jpg)

Para ello tuve que añadir la tercera conexión de la fuente de alimentación, ademas de meter tambi

[2018-05-15 11:45] #67 closed, assigned to Siotma, GioSunrider

[2018-05-15 11:53] GioSunrider commented on #50
Lo primero adjunto fotos del unboxing de la estanteria.

![photo6025941371325623433](https://user-images.githubusercontent.com/10605193/40055031-e06877ca-5846-11e8-847e-b5927115e4fa.jpg)

![photo6025941371325623434](https://user-images.githubusercontent.com/10605193/40055040-e5d1860c-5846-11e8-87e9-c50a8d89c705.jpg)

![photo6025941371325623432](https://user-images.githubusercontent.com/10605193/40

[2018-05-15 11:58] GioSunrider opened #76 "Renovacion de las fotos de la impresoras"
Hoy se va a proceder a la renovacion de las fotos de las impresoras 3D. Para ello me llevare la Camara Reflex con un flash externo y con ayuda de los circuitos impresos haremos una especie de "estudio" improvisado. Posteriormente procesare y editare las imagenes con ayuda de Photoshop y colgaremos los resultados. Tanto las fotos originales como las procesadas se almacenaran en esta issue y en cada

[2018-05-15 15:33] GioSunrider commented on #76
Utilizando a @Siotma como soporte de sujeccion del circuito impreso usado y se han tomado las siguientes fotos.

![impresoras_0001](https://user-images.githubusercontent.com/10605193/40067202-ff939f7a-5865-11e8-82e9-6b8178279122.JPG)

![impresoras_0002](https://user-images.githubusercontent.com/10605193/40067204-ffb68062-5865-11e8-9e81-72a77b2be85b.JPG)

![impresoras_0003](https://user-images.gith

[2018-05-15 15:38] JorFru commented on #76
Qué pulcritud por favor! <3

El mar., 15 may. 2018 17:33, Jorge Ramos <notifications@github.com>
escribió:

[2018-05-15 16:21] David-Estevez commented on #76
Me ha costado entender lo que era el "Circuito impreso" (estaba pensando en PCBs) :joy:

[2018-05-15 17:21] GioSunrider commented on #76
El resultado merece la pena :P

[2018-05-15 17:54] GioSunrider commented on #76
Se han subido las fotos al Drive tanto RAW como PNG y se ha actualizado la pagina web con dichas fotos.

[2018-05-15 17:54] #76 closed, assigned to GioSunrider

[2018-05-15 17:56] GioSunrider commented on #65
Subo por aqui la configuracion del router cifrada en un .zip, la contraseña todos la conocemos xD

[conf_router_printer_one.zip](https://github.com/asrob-uc3m/impresoras-asrob/files/2006115/conf_router_printer_one.zip)

[2018-05-16 18:44] Siotma commented on #51
Recibido reembolso en mi cuenta.

[2018-05-19 11:13] Siotma commented on #50
@GioSunrider cierra esta Issue que te lo has ganado

[2018-05-19 11:20] Siotma commented on #68
En la última reunión, Hija imprimió su propia [pieza adaptadora](https://www.thingiverse.com/thing:2158480) para la nueva fuente de alimentación.

En las próximas reuniones se debe instalar la nueva fuente de alimentación y recablear la impresora utilizando para ello las nuevas cadenetas #66 y cables #70 .

Guía de instalación de la fuente: https://www.youtube.com/watch?v=eZxkhMWENZU

Con esto, ta

[2018-05-19 11:24] Siotma commented on #61
En la última reunión, Dédalo imprimió dos nuevas piezas para los ventiladores del extrusor de Geonosis (https://github.com/asrob-uc3m/impresoras-asrob/issues/63#issuecomment-391051289). Estas piezas van a sustituir a las actuales, y esperamos que eliminen los problemas de Thermal Runaway.

Se deben instalar en la próxima reunión.

Foto:

![2018_05_17_dedalo_prints_fan_parts_for_geonosis - copia](h

[2018-05-19 11:35] Siotma commented on #62
En la última reunión, realicé un proceso de diagnóstico de la placa que se quemó:

En la reunión anterior se quemó el regulador de la MEGA, pero comprobé si seguía funcionando por USB: afirmativo, la placa está en buen estado, tan solo le falta el regulador para funcionar alimentada por VIN, por tanto no sirve para las impresoras. El regulador que llevaba es un AMS1117-5.0 formato SOT223. Al desol

[2018-05-19 11:46] Siotma commented on #62
Aprovechando que tenía una MEGA funcional, pero sin regulador, pensé que era una oportunidad perfecta para diagnosticar el fallo de Blacky que había acabado con el regulador: En una placa sin regulador, no se puede quemar el regulador, y en caso de sobre consumo, al estar conectada por USB, la protección del puerto apagaría todo el sistema. Así lo hice.

Conecté la placa a la RAMPS de Blacky y fui

[2018-05-19 11:46] #62 closed, assigned to Siotma, GioSunrider

[2018-05-19 11:48] Siotma commented on #63
@dmarcosm tiene nueva información sobre esto :wink:

[2018-05-19 11:57] Siotma opened #77 "Comprar un cable para la tarjeta microsd de Geonosis"
La posición del MOSFET (#67) dificulta un poco la colocación de la tarjeta SD en Geonosis...

Podría ser buena idea comprar un cable como este para tener el puerto de la SD más a mano. Desde un punto de vista de un uso intensivo, también de esta manera evitamos que de tanto meter y sacar la tarjeta en la placa, esta pueda acabar deteriorándose.

![71 a 5rfijl _sx355_](https://user-images.githubuse

[2018-05-19 12:22] Siotma opened #78 "Configurar y documentar el PC de ASROB"
Slic3r ha sacado por fin la versión 1.3.0 stable.

Esta versión permite hacer virguerías con los perfiles, recomiendo echar un vistazo las notas: https://github.com/slic3r/Slic3r/releases/tag/1.3.0

Principalmente creo que nos interesa por:
- Las pruebas que he hecho con versiones beta han dado como resultado calidades de impresión mucho más altas que con cualquier otra versión que he probado. Los

[2018-05-19 12:30] Siotma commented on #78
Esto principalmente estaría relacionado con los problemas de estabilidad que nos ha dado la versión 14.04 actualmente instalada.

Además, la instalación de Slic3r actualmente está dando problemas porque los nuevos perfiles a veces no se guardan y al reiniciar el ordenador se pierden los cambios.

Por último, viendo que tenemos una torre en mal estado (#75 ) puede ser un buen conejillo de indias so

[2018-05-19 15:43] #50 closed, assigned to Siotma, GioSunrider, JorFru, d-marcos-m

[2018-05-21 15:48] jgvictores commented on #78
He estado jugando con `Slic3r 1.3.1-dev` ([`master`](https://github.com/slic3r/Slic3r) de [hace 6 días](https://github.com/slic3r/Slic3r/tree/ae7fdfe227ef65cf565db87c1d92a40978013bea)) sobre Ubuntu 16.04 y todo bien. Usé el comando `apt` de  https://github.com/slic3r/Slic3r/wiki/Running-Slic3r-from-git-on-GNU-Linux#ubuntu-1604 para instalar las dependencias, y las tres líneas de https://github.com

[2018-05-22 16:16] d-marcos-m commented on #63
En la última reunión ya quedaron todos los cables con la longitud deseada y medianamanete colocados (hasta que no tengamos una caja para la placa no terminaría de colocarlos).
Estuvo imprimiendo a la perfección (dentro de lo que cabe) unas piezas para el ventilador de capa de Geonosis (#61) :)

[2018-05-22 17:49] Siotma commented on #78
La idea es que el proceso sea fácil, fiable, fácil de documentar y que dure. Pero lo que funcione hoy también funcionará dentro de un año si es estable. La idea no es volvernos locos y actualizar todos los días. Una vez el sistema esté levantado y funcione bien, se puede quedar así largo tiempo hasta que haya motivos suficientes para actualizar (copia de seguridad mediante).

Si ahora está más doc

[2018-05-25 18:38] Siotma commented on #68
En la reunión de ayer se comenzó el montaje de la fuente de alimentación de Hija Resurrection.

Fue necesario modificar el cableado que hizo @GioSunrider porque la luz del interruptor se encendía constantemente. Con el nuevo cableado solamente se enciende cuando está en la posoción ON.

También ajustamos la posición de los agujeros para fijar las piezas entre sí con tornillos.

Calibré la tensión

[2018-06-03 14:08] Siotma commented on #68
En la última reunión se finalizó el montaje de la fuente de alimentación de Hija Resurrection.

Se colocaron 3 parejas de cables:
1. AWG16 rojo y negro para la RAMPS (alimentación de la electrónica, potencia del extrusor, motores).
2. AWG16 rojo y negro para la cama caliente (potencia de la cama a través del relé).
3. AWG18 (más finos) para los ventiladores.

La fuente se montó ancló a la impresor

[2018-06-03 14:08] #68 closed, assigned to Siotma

[2018-06-03 14:14] Siotma opened #79 "Cable management en Hija Resurrection"
Ahora que Hija Resurrection ya tiene nueva fuente de alimentación (#68) ha llegado el momento de asear el cableado, con ayuda de las últimas adquisiciones de cables (#70) y cadenetas portacables (#66).

Tareas:

- [ ] Identificar el mejor camino de deberían seguir los cables (recomiendo planificar cadenetas en los tres ejes).
- [ ] Imprimir las piezas necesarias para sujetar las cadenetas a la imp

[2018-06-11 18:08] jorgercobo commented on #53
Posible ventilador de capa para Hija: https://www.thingiverse.com/thing:2120906
Piezas impresas pendientes de colocar

<img width="300" src="https://user-images.githubusercontent.com/9537923/41507980-91565c1a-722c-11e8-8929-d9b8f364e8da.jpg"></img><img width="300" src="https://user-images.githubusercontent.com/9537923/41507982-93c159aa-722c-11e8-8715-e28764cb4675.jpg"></img>

[2018-06-12 21:37] d-marcos-m commented on #78
Ayer quedó el ordenador actualizado a Lubuntu 16.04, sin problemas :+1:

[2018-06-14 14:05] d-marcos-m commented on #61
En una de las sesiones anteriores se colocaron en Geonosis las piezas que imprimió Dédalo. Todo bien exceptuando que el ventilador de capa podía llegar a chocar con los perfiles, así como tener que cambiar la dirección del endstop de X en Marlin.
Para solventar lo primero, optamos en la siguiente reunión por imprimir unas piezas nuevas (@GioSunrider sabe cuáles son), que ya quedaron colocadas, y q

[2018-06-16 10:50] Siotma opened #80 "Sustituir la fuente de alimentación de Blacky"
Recientemente se ha renovado la fuente de alimentación de Hija Resurrection (#68). Por tanto, había quedado libre la fuente de alimentación que esta usaba. Se trata de la fuente cuya pegatina puede leerse [aquí](https://github.com/asrob-uc3m/impresoras-asrob/issues/33#issuecomment-346625263).

En la última reunión se ha instalado dicha fuente en Blacky, sustituyendo a la que ya tenía (que se refer

[2018-06-16 10:51] #80 closed, assigned to Siotma

[2018-06-16 10:57] d-marcos-m commented on #71
Sugerencia: Y si lo imprimimos en 3D? :smirk:
Sería imprimir una base cuadrada en filamento blanco, y a mitad de impresión cambiar al filamento negro para la parte del propio QR

[2018-06-16 11:03] jgvictores commented on #71
[Aquí](https://github.com/asrob-uc3m/robotDevastation-openrave-models/issues/4#issuecomment-373781813) documentamos cómo hicimos uso de https://github.com/welshjf/blender-local-qrcode

[2018-06-16 11:06] Siotma commented on #61
Parece ser que las piezas nuevas que menciona @dmarcosm son estas: https://www.thingiverse.com/thing:2828421

[2018-06-16 11:11] Siotma commented on #61
En la última reunión se reimprimió la pieza que sujeta el ventilador del extrusor, porque había quedado muy frágil con ABS. Al parecer es un problema de diseño porque con PLA también quedaron algunas paredes muy finas. Sin embargo, al montarlo todo sobre la impresora ya quedó más sólido. Para añadir fiabilidad, añadimos pegamento termofusible para que diera consistencia a las piezas una vez coloca

[2018-06-19 10:23] jgvictores commented on #65
Posible que haya un lugar donde este fichero pueda tener algo de más visibilidad que en medio de issue?

[2018-06-21 08:40] JorFru commented on #57
https://youtu.be/4DUhI9M5A28

[2018-06-21 23:05] d-marcos-m commented on #61
Hoy hemos empezado a afinar un perfil de Slic3rPE para Geonosis. Esta es la pieza que mejor ha podido imprimir tras afinar algunos ajustes:
![img_20180621_205800](https://user-images.githubusercontent.com/14359236/41749693-39ddfc1a-75b8-11e8-9388-4f602ad9094e.jpg)
No estoy seguro de si el ventilador de capa está funcionando del todo bien (es posible que se esté saliendo algo de aire por arriba y q

[2018-07-02 10:58] GioSunrider commented on #42
En la ultima reunion se sello con termofusibles el agujero que existia en la carcasa de Hija.

![photo5895414819824184716](https://user-images.githubusercontent.com/10605193/42160459-92c31f94-7df7-11e8-9f24-7a5bcc490474.jpg)

[2018-07-02 11:01] GioSunrider opened #81 "Calidad de las impresiones de Dedalo"
Ultimamente Dedalo, cada vez que imprime tiene perdida de pasos del motor y su calidad no es la de esperar. Pongo foto del ultimo resultado. Hay que investigar mas este problema.

![photo5895414819824184717](https://user-images.githubusercontent.com/10605193/42160590-15116ba4-7df8-11e8-844a-1b00b9817d21.jpg)

[2018-07-02 13:29] JorFru commented on #42
Que no cunda el pánico pero...
HIJA NO FUNCIONA.

Cuando llegué, hija tenía un atasco importante a la altura del barrel. Tirando por arriba imposible. Aguja por abajo, imposible. Probé todo tipo de temperaturas diferentes, hasta 240ºC, imposible. Desmonté el hot end. El nozzle bien. El barrel atascado. Lo desatasqué calentando esta pieza introduciéndola completamente en el heatblock.

Problemas ob

[2018-09-13 17:41] JorFru opened #82 "Spicy caldito from la abuela"
Préstamo de una máquina Anet A8, propiedad de @jorfru , a favor de Printer One.
La máquina se entregó el lunes, 17 de septiembre  del 2018, después de muchos meses de promesas que parecían que nunca se iban a cumplir.
La máquina se entrega precintada. Se precisa de montaje.

Condiciones del préstamo:
La máquina se debe montar.
La máquina se debe cuidar.
La máquina se puede mejorar y cambiar piezas

[2018-09-13 19:47] GioSunrider commented on #42
Segun la idea de @Siotma se va a proceder a un cambio completo del extrusor. Le dejo por aqui escrito para que nos diga el que usa.

[2018-09-13 19:51] GioSunrider opened #83 "Cambio Extrusor Blacky"
Al igual que en hija se propone un cambio completo del extrusor. @Siotma tiene un modelo que iria perfecto para blacky, por lo que le invoco para que como en hija nos diga las piezas y el modelo.

[2018-09-13 19:55] GioSunrider commented on #36
Esta issue me parece la mas indicada para plantear un nuevo metodo este año, idea de @Siotma. Se van a proponer retos semanales de impresion para asi mejorar la calidad de nuestras impresiones. De esta amnera en nuestra casa imprimiremos piezas necesarias para la implementacion de piezas en las impresoras. Todo se debe a que la calidad de las impresiones en nuestras casa es muy superior a la de la

[2018-09-14 16:17] Siotma commented on #54
En la reunión de ayer se planteó la idea de comprar estas cámaras en tiendas de segunda mano tipo CeX o CashConverters.

Recordad que se debe solicitar factura conforme con el artículo 12.B) de las condiciones de la convocatoria: https://www.uc3m.es/ss/Satellite/Cultura/es/TextoDosColumnas/1371240285442/

Creo que es una gran idea porque no se necesita de cámaras con grandes capacidades y tampoco

[2018-09-14 16:22] Siotma commented on #83
En su día yo me compré este extrusor y va de maravilla, sobre todo porque está pensado para usarse tanto para extrusión directa como para bowden:

https://es.aliexpress.com/item/Best-price-J-head-Hotend-with-cooling-Fan-for-1-75-3-0mm-12v-V6-bowden/32810935651.html?spm=a2g0s.9042311.0.0.XbTp01

[2018-09-14 16:22] Siotma commented on #42
En su día yo me compré este extrusor y va de maravilla, sobre todo porque está pensado para usarse tanto para extrusión directa como para bowden:

https://es.aliexpress.com/item/Best-price-J-head-Hotend-with-cooling-Fan-for-1-75-3-0mm-12v-V6-bowden/32810935651.html?spm=a2g0s.9042311.0.0.XbTp01

[2018-09-14 16:33] Siotma commented on #83
La idea de este extrusor es que lleva el filamento a través de un mismo tubo de teflón desde la zona de empuje directamente hasta la zona caliente, por lo que no hay interfaces donde pueda quedar atascado. Desatascar este extrusor es tan fácil como cortar el trozo de tubo donde esté el atasco, en el peor de los casos.
En mi experiencia esto no es necesario ya que el plástico desliza por el interio

[2018-09-14 16:33] Siotma commented on #42
La idea de este extrusor es que lleva el filamento a través de un mismo tubo de teflón desde la zona de empuje directamente hasta la zona caliente, por lo que no hay interfaces donde pueda quedar atascado. Desatascar este extrusor es tan fácil como cortar el trozo de tubo donde esté el atasco, en el peor de los casos.
En mi experiencia esto no es necesario ya que el plástico desliza por el interio

[2018-09-14 16:52] Siotma opened #84 "Nuevo extrusor para Hija"
En la próxima reunión llevaré un Hotend para montar en Hija.

Sería ideal que además se llevaran impresas las siguientes piezas:

- [x] [1x Carro del eje X y 1x prensa de la correa](https://www.thingiverse.com/thing:701087)

- 3 piezas del [L3Kv2](https://www.thingiverse.com/thing:1855673):
  - [x] [1x Wade_L3K_v2_Idler.zip](https://github.com/asrob-uc3m/impresoras-asrob/files/2393904/Idler.zip)

[2018-09-14 16:53] Siotma commented on #84
La idea es que los que estén interesados en imprimir cualquiera de las piezas, se apunten con un comentario para evitar duplicaciones...

[2018-09-14 16:54] Siotma commented on #36
Acabo de crear un Project para gestionar los retos: https://github.com/asrob-uc3m/impresoras-asrob/projects/3

 También está disponible el primer reto en: https://github.com/asrob-uc3m/impresoras-asrob/issues/84

[2018-09-14 17:01] Siotma commented on #42
Para devolver a Hija a la vida, ya está disponible el primer reto en: https://github.com/asrob-uc3m/impresoras-asrob/issues/84

[2018-09-14 17:11] Siotma opened #85 "Comprar nuevos extrusores"
La idea es comprar extrusores de estos si la experiencia de la próxima semana es buena.

https://es.aliexpress.com/item/Best-price-J-head-Hotend-with-cooling-Fan-for-1-75-3-0mm-12v-V6-bowden/32810935651.html?spm=a219c.10010108.1000016.1.2ac25f11dnjyT2&isOrigTitle=true

Están pensados tanto para extrusión directa como para Bowden. La idea de este extrusor es que lleva el filamento a través de un mi

[2018-09-15 18:02] GioSunrider opened #86 "Cristal para Geonosis"
Dado que Geonosis se encuentra actualmente sin cristal, me propongo a gestionar su colocación. Para ello dispongo de un cristal (de nevera) de grandes dimensiones que actualmente se encuentra en mi pueblo. El próximo día que vaya para allá lo traeré y solo haría falta con un cortavidrios, del que también dispongo hacerlo a medida.

[2018-09-15 18:03] IviPartida commented on #86
Perfecto, el dia que lo hagas si necesitas ayuda cuenta conmigo🤙🏾

[2018-09-16 22:26] JorFru commented on #82
A new hope
![](https://www.larioja.com/noticias/201701/14/media/cortadas/aneto-k30G-U2113362395337nH-575x445@La%20Rioja.jpg)

[2018-09-17 11:40] JorFru commented on #82
![photo_2018-09-17_13-38-12](https://user-images.githubusercontent.com/11017088/45621015-2342e680-ba7f-11e8-860d-8568a2b6528b.jpg)
Spicy caldito from la abuela

[2018-09-17 18:36] d-marcos-m opened #87 "OVM20 Anet Edition beta from Staticboards"
Le he comentado la posibilidad a Javier, de staticboards, de que Printer One forme parte del equipo de testers de la nueva placa OVM20 Anet Edition que están preparando. Le he comentado que tenemos una Anet A8 y una Tronxy X5S, que esta última utiliza una placa réplica de la de la Anet y que quizá estaría bien testear la placa en otros modelos que no sean la Anet A8.
La idea le ha gustado y el pre

[2018-09-17 22:38] JorFru commented on #82
La ANET llegó justo en el momento oportuno. En La Nave de ASROB se congregaron nueve nuevas personas en la primera reunión de PrinterOne del curso
![photo_2018-09-18_00-25-24](https://user-images.githubusercontent.com/11017088/45653775-72b60080-bad9-11e8-85ea-4d29ddde44d7.jpg)
![photo_2018-09-17_13-38-14](https://user-images.githubusercontent.com/11017088/45653779-75185a80-bad9-11e8-8d54-4f844c66c

[2018-09-18 11:23] JorFru commented on #87
Mi apoyo a la idea.
El producto es inimitable en cuanto a calidad, el precio es increíble.
Aprovechemos la oportunidad!

[2018-09-18 11:25] d-marcos-m commented on #83
Las piezas a imprimir serían las mismas que en el caso de Hija @Siotma ?

[2018-09-18 11:33] d-marcos-m commented on #84
Este carriage es al que hay que meterle una tuerca a mitad de impresión? Si es así, que tipo de tuerca exactamente?
Yo puedo imprimir un set entero, pero aviso de que será morado/rosa de BQ.

[2018-09-18 11:35] GioSunrider commented on #87
Yo también la apoyo!
Es una gran placa a precio muy reducido, hay que aprovechar.

[2018-09-18 12:49] d-marcos-m commented on #84
Antes de imprimir creo que mejor estar seguros. Hemos estado mirando los STLs y no nos cuadra que sea para un Bowden, básicamente porque la pieza que sujeta el motor y la que sujeta el hotend es la misma, o sea que sería directo.
Entonces, nos planteamos que vamos a seguir con un extrusor directo en vez de un bowden o qué hacemos @Siotma
Por otra parte, faltan piezas como los engranajes y la pieza

[2018-09-18 14:43] JorFru commented on #87
Este vídeo nos dará el SAV necesario para comprarla.
https://youtu.be/5a57VacYQJY

[2018-09-18 16:52] Siotma commented on #87
Apoyo la compra. De eso va Printer One, de investigar y probar cosas nuevas.

Podría encargarme de la compra, pero mi disponibilidad es reducida. Si me dejais por aquí las instrucciones mejor que mejor.

[2018-09-18 16:55] d-marcos-m commented on #87
Gracias @Siotma! Imagino que habría que enviarla a la uni. Si me dáis la dirección concreta le digo a Javier que me haga la proforma y te paso el link directamente para que pagues Manu, así no te es demasiado problema!

[2018-09-18 16:58] Siotma commented on #87
La dirección de facturación la encontrarás aquí: https://www.uc3m.es/ss/Satellite/Cultura/es/TextoDosColumnas/1371240285442/

Artículo 12, B.

La dirección de envío, ponedla a casa de @GioSunrider , o al despacho de @David-Estevez .

[2018-09-18 16:59] Siotma commented on #84
La tuerca es una M4, pensaba que lo ponía en la página de la pieza. Cuando lo imprimí yo, no me cabía M4 y tuve que poner M3, que también va bien pero baila un poco.

Los STLs tienen la ventaja de servir **tanto para extrusión directa como para bowden**. En un primer momento lo pondríamos como directo y una vez la impresora esté funcional se puede imprimir un par de piezas para convertirlo en bowd

[2018-09-18 17:37] Siotma commented on #84
Tal y como se puede ver en [esta issue](https://github.com/asrob-uc3m/impresoras-asrob/issues/45#issuecomment-368879177), no hace falta cambiar los engranajes.

[2018-09-18 17:46] Siotma commented on #84
Actualizado primer post con más información.

[2018-09-18 17:48] GioSunrider commented on #87
Cuanto tarda la placa? @dmarcosm no me importa recibirla, pero dependiendo igual nos merece la pena que llegue a la uni.

[2018-09-18 18:07] JorFru commented on #87
Enviadla al casillero de David Estévez, no tiene fallo.

También me apunto habilitar un casillero para ASROB. UC3Music tiene uno y
funciona divino.

2018-09-18 19:48 GMT+02:00 Jorge Ramos <notifications@github.com>:

--
*Jorge Frutos de Mingo*

Ingeniería Electrónica Industrial y Automática.
Asociación de estudiantes UC3Music y ASROB.
Universidad Carlos III de Madrid.

[2018-09-18 18:15] Siotma commented on #84
Aún más piezas disponibles !

Recomiendo no hacer más de un kit hasta que lo hayamos probado y visto los problemas...

[2018-09-18 18:16] GioSunrider commented on #87
La verdad que el casillero seria muy clave, así tampoco dependemos de David. Y podemos enviar todo lo relacionado allí para que cualquiera lo pueda coger.

[2018-09-18 18:20] d-marcos-m commented on #87
Ya le he mandado la información a Javier. En algún momento @Siotma recibirá la proforma y la placa será nuestra!
@GioSunrider la placa a mi me tardó 2-3 días, lo manda por envialia así que podría tardar incluso menos.

[2018-09-18 18:27] Siotma commented on #87
La verdad es que un casillero sería muy interesante. Se merece una Issue en Actas! :wink:

[2018-09-18 18:48] JorFru commented on #48
![photo_2018-09-19_16-46-54](https://user-images.githubusercontent.com/11017088/45761010-ae60df80-bc2b-11e8-93a1-750453af0233.jpg)
instalada!

[2018-09-18 19:01] JorFru commented on #87
Podréis contar con ello, he abierto https://github.com/asrob-uc3m/actas/issues/156
Pero no estará disponible para este pedido. Conted con él para el siguiente.

[2018-09-19 10:58] d-marcos-m commented on #84
He añadido los botoncitos de checklist para ir marcando las que hayamos impreso para este set. Para evitar esto basicamente:

[2018-09-19 14:18] d-marcos-m opened #88 "Propuestas y votación nombre nueva impresora - Anet A8"
Esta issue es para proponer nombres para la nueva impresora (https://github.com/asrob-uc3m/impresoras-asrob/issues/82) y su posterior votación. Dejad los nombres propuestos en un comentario y antes de la próxima reunión votaremos las propuestas que haya para dejar el firmware cambiado de forma definitiva.

Las propuestas hasta el momento son las siguientes:
- Spicy Caldito
- Easy Fire
- Charmander

[2018-09-19 14:21] MrTommyGuns commented on #88
Spicy!

[2018-09-19 14:31] JorFru commented on #88
Yo le daría un nombre que recuerde la habilidad innata que tiene esta máquina por arder espontáneamente.

[2018-09-19 14:32] IviPartida commented on #88
Easy Fire

[2018-09-19 14:34] d-marcos-m commented on #82
Añadida carpeta de la Anet al repositorio de impresoras! https://github.com/asrob-uc3m/impresoras-asrob/tree/master/Anet(Provisional)

[2018-09-19 14:35] d-marcos-m commented on #88
Charmander

[2018-09-19 14:45] JorFru commented on #87
Leed https://github.com/asrob-uc3m/actas/issues/156#issuecomment-422821575
tenemos casillero pero en el Sabatini.
@dmarcosm

[2018-09-19 14:53] David-Estevez commented on #88
Mustafar

[2018-09-19 14:56] GioSunrider commented on #88
Siguiendo la temática del resto de impresoras propongo Arden Lyn.
1. Porque arde fácilmente
2. Para el que no la conozca dejo el link: http://es.starwars.wikia.com/wiki/Arden_Lyn

[2018-09-19 15:07] David-Estevez commented on #82
Hay que darla de alta en la web/bot?

[2018-09-19 15:09] d-marcos-m commented on #82
Yo no lo haría hasta que tengamos nombre definitivo. Así evitamos luego tener que entrar a cambiarlo otra vez :D

[2018-09-19 15:31] JorFru opened #89 "Actualización firmware de Spicy Caldito"
@GioSunrider cambió el firmware de Spicy Caldito, del firm original de la ANET a un Marlin modificado por él, que no es la última versión.

Los resultados antes y después del cambio de firmware:
![photo_2018-09-19_16-46-54 2](https://user-images.githubusercontent.com/11017088/45762372-832bbf80-bc2e-11e8-868e-3270fa6f6e8a.jpg)
El calicat de la izquierda es con el firm original, el de la derecha es

[2018-09-19 15:33] JorFru commented on #88
A mí me mola el rollo SW
Como es negra, podría llamarse Darth Fire

[2018-09-19 15:37] David-Estevez commented on #88
Red Hot Chili Printer

[2018-09-19 15:59] d-marcos-m commented on #89
Creo que esto deberíamos ponerlo en la issue de puesta a punto, para evitar tener 8 issues solo de la Anet :(

[2018-09-19 16:19] d-marcos-m commented on #2
Cierro issue ya que solo mantenemos 1 PC. Seguimos con la configuración y la documentación del PC en https://github.com/asrob-uc3m/impresoras-asrob/issues/78

[2018-09-19 16:19] #2 closed, assigned to David-Estevez, jgvictores, Siotma, davidvelascogarcia

[2018-09-19 16:20] d-marcos-m commented on #3
Para evitar tener issues duplicadas, cierro esta issue y continuamos en https://github.com/asrob-uc3m/impresoras-asrob/issues/78, donde seguiremos con la configuración y documentación del PC que tenemos actualmente.

[2018-09-19 16:20] #3 closed, assigned to Siotma, d-marcos-m, davidvelascogarcia

[2018-09-19 16:22] d-marcos-m commented on #78
Seguimos en esta issue para configurar y documentar el PC de las impresoras. Podemos hacer uso de anteriores issues como #2 y #3 para sacar información de tareas que se han completado anteriormente.

[2018-09-19 16:29] d-marcos-m commented on #39
Todas las impresoras tienen ya su carpeta de piezas con las piezas que hemos sabido reconocer, por lo que procedo a cerrar esta issue.

[2018-09-19 16:29] #39 closed, assigned to GioSunrider, d-marcos-m

[2018-09-19 16:35] d-marcos-m commented on #84
Like por los soportes ya incluídos en el STL de la pieza más grande. Acabo de descubrir que no eran parte de la pieza :D

[2018-09-19 16:45] JorFru commented on #89
Organízalo tú entonces
Mi idea era abrir una issue para cada parte de la máquina.

- Firmware/placa
- Extrusor
- mecánica

por ejemplo, como hay con las otras máquinas.

[2018-09-19 17:31] Siotma commented on #89
Un gran número de issues no son un problema si solamente se requiere una o dos acciones máximo para resolverlas. Las issues estilo "puesta a punto de X" no han demostrado funcionar porque se pierden los avances en las diferentes tareas y los nuevos las ven con miedo de todo el trabajo que hay que hacer. Pienso que el sistema de issues está concebido para un enfoque como el que propongo.

Los veter

[2018-09-19 17:41] Siotma commented on #87
Pago realizado!

[2018-09-19 17:46] Siotma commented on #83
Sí, mi intención es que ambas impresoras utilicen el mismo sistema.
**Pero**, una vez instaladas las piezas de #84 en Hija, se debería revisar qué modificaciones o mejoras se quieren añadir antes de imprimir un nuevo kit para Blacky.

[2018-09-19 20:59] GioSunrider commented on #88
Kaiburr, son los cristales que dan poder a los sables de luz.

[2018-09-19 21:43] L4g0 commented on #88
Spicy 💯

[2018-09-20 11:08] d-marcos-m commented on #84
![image](https://user-images.githubusercontent.com/14359236/45814555-3a2f4600-bcd6-11e8-8b02-5551f7498d1b.png)

[2018-09-20 20:00] d-marcos-m commented on #89
No lo decía con ánimo de ofender a nadie.

Quizá entonces deberíamos replantear los "puesta a punto de X" como proyectos y no como issues, ya que se quedan ahí eternamente sin ser cerrados nunca.

[2018-09-21 12:19] d-marcos-m opened #90 "Piezas para Geonosis!"
Geonosis necesita piezas nuevas para mejorar su estructura!

De momento solo son 2 piezas para los motores de X e Y, y ya veremos si necesitamos algo más adelante :)
- [x] Sujecciones motores X e Y: https://www.thingiverse.com/thing:2613150/files

[2018-09-21 16:52] GioSunrider commented on #90
Rehacer el ventilador de capa lo necesita, pero no me acuerdo que piezas eran.

[2018-09-21 17:31] d-marcos-m commented on #90
No es este, es parecido. Pero me gusta más, porque no queda el ventilador tan vertical y no tiene tantas posibilidades de morir de un golpe: https://www.thingiverse.com/thing:2659499/files

[2018-09-22 00:04] GioSunrider commented on #90
Pero no es el mismo ventilador, esa pieza no valdría, nuestro ventilador el aire sale por un lateral no por toda la superficie

[2018-09-23 09:43] d-marcos-m commented on #90
Quizá este: https://www.thingiverse.com/thing:2828421/files
(aunque lo de que el nuestro sea vertical no sería un problema porque hay una pieza-adaptador imprimible)

[2018-09-23 12:50] JorFru commented on #90
Opinión personal justificable:
Ese ventilador radial enano que trae la Tronxy y que estáis obcecados en
usar es una absoluta basura.
Merece la pena gastarse 4 pavos en un ventilador nuevo. Un 40mm axial, o
uno radial más grande, como el de la A8.

Saludos xD

El dom., 23 sept. 2018 11:43, dmarcosm <notifications@github.com> escribió:

[2018-09-23 13:05] d-marcos-m commented on #90
Me suena que en la última compra vino un ventilador centrífugo, más grande que el que tiene ya geonosis, pero que me confirme @Siotma

[2018-09-24 08:50] JorFru opened #91 "Tampones para sello Feria de Asociaciones"
Necesitamos tener impreso, para disponer de ello el miércoles, el siguiente item que consiste en un tampón para sello con el logo de ASROB. Se usará para validar a la gente que pase por el stand de ASROB en la gymkhana.
La pieza no tiene el tamaño correcto todavía, hay que escalarlo.
2-3cm de ancho, con 3cm de altura para que se pueda coger con la mano sin mancharse de tinta, a ser posible.
[ASROB

[2018-09-24 09:17] GioSunrider commented on #91
Lo imprimo a la hora de comer en casa en PLA, a la hora de comer, y lo llevo esta tarde.

[2018-09-24 17:07] JorFru opened #92 "Mejoras extrusor Spicy Caldito"
He impreso esta pieza con Spicy y la he colocado
![photo_2018-09-24_19-03-59](https://user-images.githubusercontent.com/11017088/45966938-b904e580-c02c-11e8-800d-ca87491fd7cc.jpg)
El archivo: https://www.thingiverse.com/thing:2133328

[2018-09-24 20:16] MrTommyGuns opened #93 "Formación como Operador"
Hola wenas,

Me gustaría formarme como operador, así que lo pongo por aquí de forma oficial, por si algún voluntario que tenga algún espacio libre que nos vaya bien a los 2 me quiere formar.

O vamos, decidme la mejor opción que creáis vosotros si es así.

Thaanks!

[2018-09-24 21:43] GioSunrider commented on #93
Mira bien donde poner la issue.
https://github.com/asrob-uc3m/operadores/issues

[2018-09-24 21:43] #93 closed, assigned to nobody

[2018-09-25 00:18] JorFru opened #94 "Cinturón/arnés para sujetar la cámara"
Para la primera propuesta de https://github.com/asrob-uc3m/actas/issues/161 convendría disponer de un montaje para la cámara FPV. Casco, arnés, cinturón...
Sólo con el fin de no tener que andar detrás de la persona que está realizando la actividad.

Ideas?

[2018-09-25 00:20] JorFru commented on #94
Me autocontesto
Creo que es mejor idea poner la cámara colgada en una rama de árbol cercano, por ejemplo. O bien llevaré un trípode alto, 4m, para colocarla ahí arriba.
El participante verá un plano general, no estando él en el centro de la imagen. Una tercera persona externa.

[2018-09-25 00:21] #94 closed, assigned to nobody

[2018-09-25 21:40] GioSunrider commented on #91
El sello quedo en el armario listo para su uso, se colgara posteriormente foto de él.

[2018-09-25 23:03] JorFru commented on #91
Yo tengo uno en filaflex, pero no quedó nada bien la primera capa.
Lo probaremos.

El mar., 25 sept. 2018 23:40, Jorge Ramos <notifications@github.com>
escribió:

[2018-09-26 14:23] d-marcos-m commented on #88
Voten! Abierto hasta el domingo!
(INVALID)

[2018-09-26 18:29] Siotma commented on #85
En la última reunión llevé un extrusor como el que comento que tenía por casa. Lo instalé y quedó bastante bien en Hija, además los asistentes mostraron interés en comprarlo para las demás impresoras.

Propongo una lista de la compra que sería:

| Item | Precio | Cantidad | Subtotal |
|:-:|:-:|:-:|:-:|
| Extrusor | 9.14€ | 3 | 27.42€ |
| Racores | 0.43€ | 3 | 1.29€ |
| 1m de teflón | 0.75€ | 2 | 1

[2018-09-27 09:50] GioSunrider commented on #85
ADELANTE!

[2018-09-27 10:01] GioSunrider commented on #88
Nuevo formulario, debido a los errores del anterior. Queda abieto hasta el domingo.
https://goo.gl/forms/gM2HX9JpW5oOw5Cd2

[2018-09-27 19:26] Siotma commented on #92
Gracias, Jorfru! Por su aspecto, creo que es posible que esta pieza sea compatible con uno de los ventiladores que compramos hace algún tiempo, así que no conviene perderla de vista :wink:

[2018-09-27 19:28] Siotma commented on #90
Efectivamente, compramos dos: #53

[2018-09-27 20:51] GioSunrider commented on #90
Compraria otro compatible con el nuevo extrusor que se instale en Blacky y pondría uno en Geonosis, como lo veis?

[2018-09-27 20:53] d-marcos-m commented on #90
No entiendo tu pregunta @GioSunrider. Si ya tenemos 2 comprados, y uno va para blacky, ya nos sobra uno para geonosis, no?

[2018-09-28 07:52] GioSunrider commented on #90
No, se compraron 2, uno para Hija y otro para Blacky. No nos sobran.

[2018-09-28 17:01] Siotma commented on #91
Cómo fue este reto?

[2018-09-28 17:03] Siotma commented on #85
Alguna otra opinión? Podemos añadir [algún](https://es.aliexpress.com/store/product/1-pcs-4020-Blower-Cooling-Fan-40x40x20mm-DC-12V-3D-printer-parts-J-head-hotend-Reprap/1494743_32809789302.html?spm=a219c.12010615/itm2home-1.8148356.17.5b9f25b2ohWc5f) [ventilador](https://es.aliexpress.com/item/5015-12-V-y-24-V-refrigeraci-n-Turbo-ventilador-sin-escobillas-3D-impresora-2Pin-para/32874940278.html?s

[2018-09-28 17:05] Siotma commented on #87
Artículo recibido!

![static](https://user-images.githubusercontent.com/6171234/46222695-72c3c500-c351-11e8-95f9-916132811a82.jpg)

[2018-09-28 17:05] #87 closed, assigned to Siotma

[2018-09-28 17:14] Siotma commented on #84
Las piezas se montaron en la reunión del pasado lunes, junto con un extrusor que aporté yo mientras se gestiona la compra de los nuevos en #85

El montaje mecánico quedó resuelto, tan solo falta:

- [x] Apretar bien el hoten en caliente para que no se desenrosque, y

- [ ] hacer el cableado.

Este es el estado actual:
![1](https://user-images.githubusercontent.com/6171234/46222936-3349a880-c352-11

[2018-09-28 17:24] Siotma commented on #84
Cosas interesantes de este extrusor:

- No es necesario retirar la lengüeta para insertar un nuevo filamento. Se puede introducir por la parte de arriba y una vez llegue al hobbed bolt, dar la orden al extrusor de que extruya para que lo termine de llevar hasta el nozzle.
- No es necesario retirar la lengüeta para extraer el filamento. Se puede dar la orden al extrusor de que retraiga para que lo

[2018-09-28 17:26] Siotma commented on #84
En lo que respecta a esta issue, @dmarcosm debería tener el honor de cerrarla :tada:

[2018-09-28 17:30] Siotma commented on #70
Teniendo en cuenta la antigüedad de la Issue, y teniendo en cuenta la [nueva política de issues](https://github.com/asrob-uc3m/impresoras-asrob/issues/89#issuecomment-422891053), doy la compra por finalizada. Para la instalación de los cables en las impresoras se deberá abrir una nueva.

[2018-09-28 17:30] #70 closed, assigned to Siotma

[2018-09-28 17:30] Siotma commented on #66
Teniendo en cuenta la antigüedad de la Issue, y teniendo en cuenta la [nueva política de issues](https://github.com/asrob-uc3m/impresoras-asrob/issues/89#issuecomment-422891053), doy la compra por finalizada. Para la instalación de las cadenetas en las impresoras se deberá abrir una nueva.

[2018-09-28 17:30] #66 closed, assigned to Siotma

[2018-09-28 17:38] Siotma commented on #53
Todo lo discutido en esta issue se ha realizado, excepto el doble extrusor, que de momento no es una prioridad hasta que las impresoras funcionen de forma estable.

Como el título de esta issue no es nada descriptivo, y sé que no se os va a olvidar el asunto del doble extrusor :rofl:  voy a cerrar la issue, y ya se abrirá una cuando vuelva a salir el tema.

[2018-09-28 17:38] #53 closed, assigned to Siotma

[2018-09-28 17:39] Siotma commented on #69
Colocar los rodamientos en el eje Y sería una tarea fantástica ahora que la asociación está llena de gente nueva con ganas :smiley:

[2018-09-28 21:30] d-marcos-m commented on #49
Bueno, como prometí estos días he estado trabajando en Octoprint para poder usarlo en varias impresoras con una sola raspberry. He conseguido que 2 instancias funcionen de forma simultánea, a falta de probar en la nave si es capaz de imprimir en las 2 a la vez sin generar muchísimo lag. Si funciona, y ya por curiosidad, intentaré ver si es capaz de tirar 3 a la vez. De esta forma, solo necesitaría

[2018-09-28 21:31] d-marcos-m commented on #90
Ah, vale. No lo había pensado :+1:

[2018-09-28 21:31] d-marcos-m commented on #92
@JorFru si es posible, súbela a a carpeta de la Anet!

[2018-09-28 21:34] d-marcos-m commented on #85
Aparte del ventilador (para Geonosis), quizá estaría bien comprar algún kit de nozzles y agujas?

[2018-09-28 21:34] d-marcos-m commented on #84
No! Falta la tobera del ventilador!!

[2018-09-29 15:10] GioSunrider commented on #91
Falta la foto que no lo hicimos pero bueno, el plan chupa poca tinta pero sirvió para su cometido.

[2018-09-29 15:13] GioSunrider commented on #85
Cómo comenté en la issue de Geonosis, compraría un ventilador de capa igual que es de hija para blacky y así ambas tienen el mismo extrusor.

[2018-09-29 15:15] GioSunrider commented on #49
No te compliques, 3Pi's mejor, así tenemos capacidad de extensión a otra impresora en caso de donación! Pero gran trabajo!

[2018-09-30 11:38] Siotma commented on #49
Me parece bien!

[2018-09-30 11:40] Siotma commented on #85
Voy a ver si encuentro algo en este vendedor...

[2018-09-30 12:06] Siotma commented on #85
Pedido!

He añadido los ventiladores, los [nozzles de 0.4 y de 0.5](https://es.aliexpress.com/item/5-pcs-3D-printer-V5-V6-nozzle-for-1-75mm-filament/32811224171.html?spm=a2g0s.9042311.0.0.3d1363c0rzcCp7) y también [agujas](https://es.aliexpress.com/item/Best-peice-10-pcs-Nozzle-Cleaning-0-2mm-1-2mm-Drill-Bits-for-3D-Printer-Nozzle/32812095832.html?spm=a2g0s.9042311.0.0.3d1363c0rzcCp7).

| Item | P

[2018-09-30 22:26] GioSunrider commented on #85
Perfecto!!

[2018-09-30 22:38] GioSunrider commented on #88
El resultado de la votación ha sido el siguiente:

![votacion2](https://user-images.githubusercontent.com/10605193/46263659-39868300-c512-11e8-95d0-69f0c12bd2c5.png)

Luego el nuevo nombre de la impresora es Spicy. Se ha añadido la etiqueta correspondiente y asigno a @dmarcosm para que realice el cambio de carpeta correspondiente.

[2018-09-30 22:40] #88 closed, assigned to GioSunrider, d-marcos-m

[2018-09-30 22:42] d-marcos-m commented on #89
En la próxima actualización hay que aprovechar a cambiar el nombre por Spicy, tal y como ha salido elegido en #88

[2018-10-01 00:21] JorFru commented on #87
Recordad que en ese paquete hay componentes que son los premios del hackatón

[2018-10-01 00:54] JorFru commented on #89
Actualmente está flasheada con el nombre "Spicy", creo recordar.

En esta issue voy a documentar el tema de ajuste de aceleraciones en Spicy. Ya que desde que se cambió el firmware original, no imprime igual de bien, y posiblemente sea esta razón. Buscaré los ajustes que traía por defecto y los pondré en el Marlin que tiene actualmente. Creo que se puede hacer desde la pantalla, o hace falta flash

[2018-10-01 01:09] JorFru commented on #91
![photo_2018-10-01_03-06-43](https://user-images.githubusercontent.com/11017088/46265485-3053e100-c527-11e8-9812-7a39d40143f7.jpg)
Imprimí esto, descuidando la máquina y la primera capa (la importante para el resultado final del sello) no quedó del todo bien.
Al volver a intentar imprimirlo tuve un atasco interesante.

El día D por problemas organizativos no pude llevar la pieza impresa a la feria

[2018-10-01 01:10] JorFru commented on #91
@GioSunrider te mereces cerrar la Issue

[2018-10-01 06:11] d-marcos-m commented on #89
Aunque se pueda hacer desde la pantalla, diría que mejor dejarlo cambiado en el firmware (por lo que pueda pasar). Así mismo, aprovecharía para actualizar a Marlin 1.1.9 :D

[2018-10-01 06:11] #91 closed, assigned to GioSunrider

[2018-10-01 06:13] GioSunrider commented on #89
Cómo dice @dmarcosm es la oportunidad para cambiar al nuevo marlin, y de paso hacerlo en todas las impresoras. Así los nuevos también aprenden esa parte.

[2018-10-01 17:22] David-Estevez commented on #88
Maldita sea! por 1!!

Tooooooongo! Toooongo!

[2018-10-02 21:54] dmarcosm commented on #54
Link compra Raspberries: https://es.rs-online.com/web/p/products/1373331/

[2018-10-02 21:56] d-marcos-m commented on #54
Link compra cámaras: https://www.amazon.es/Creative-73Vf077000001-Webcam-c%C3%A1mara-HD/dp/B00935Y7SE/ref=sr_1_2?ie=UTF8&qid=1538517394&sr=8-2&keywords=camara+usb+hd

[2018-10-02 22:04] GioSunrider commented on #49
Necesitamos la compra de 3 RPi 3 y tres tarjetas microSD, @dmarcosm si puedes decidir tu la capacidad seria lo mejor, ya que eres el que ha hecho las pruebas.

[2018-10-02 22:04] GioSunrider commented on #49
Link compra Raspberries: https://es.rs-online.com/web/p/products/1373331/

[2018-10-02 22:05] GioSunrider commented on #54
Actualmente disponemos 5 impresoras, luego necesitamos 5 cámaras para poder gestionar todas por igual.

[2018-10-02 22:07] GioSunrider commented on #49
Link compra Raspberries: https://es.rs-online.com/web/p/products/1373331/

[2018-10-02 22:12] d-marcos-m commented on #49
Mañana compruebo, pero 8-16Gb deberían ser más que suficientes.

[2018-10-03 10:17] JorFru opened #95 "OVM20 ANET edition para Geonosis"
Staticboards nos ha regalado su última creación para que la probemos como betatesters. Conviene instalarla lo antes posible para ir reportando a Javier Loureiro (Staticboards) las sugerencias y bugs de la nueva placa.

La placa original de la Tronxy irá al armario. El MOSFET que actualmente lleva Geonosis se moverá a Spicy #96

[2018-10-03 10:18] JorFru opened #96 "MOSFET de la cama para Spicy"
Geonosis, después de recibir la OVM20 ANET edition #95 , donará su MOSFET a Spicy. Hay que instalarlo.

[2018-10-03 10:22] d-marcos-m commented on #96
También hay un mosfet que doné yo hace 2 semanas en el armario. Quizá interesaría ponerselo al extrusor de Spicy, queda a vuestra decisión.

[2018-10-03 10:22] d-marcos-m commented on #95
Observaciones de otros betatesters:

- Los conectores de alimentación de la cama y el extrusor tienen los nombres en la placa intercambiados. Hay que conectar los cables del extrusor a donde pone hotbed y los de la cama donde ponga hotend.
- tiene dos entradas de alimentación, una de 5A y otra de 11A. Ya lo comenté hace poco pero bueno, es como la ramps, hay que conectar solo el de 5A si no usamos

[2018-10-03 10:52] JorFru commented on #96
Un poco overengineered pero me mola la idea.

[2018-10-03 14:29] GioSunrider commented on #82
Foto de la Anet acabada.

![photo5884398181465304651](https://user-images.githubusercontent.com/10605193/46417213-6f518480-c729-11e8-9dc5-4008a1f82032.jpg)

[2018-10-05 11:52] d-marcos-m commented on #49
Me comenta @GioSunrider  (no tiene portátil a mano para comentar en la issue) que con las raspberries de GAME nos da de sobra, con SDs incluidas, así que no hace falta que las compres @Siotma

[2018-10-05 14:35] David-Estevez commented on #49
Como antiguo responsable de GAME confirmo la "cesión" del material.

[2018-10-05 17:04] d-marcos-m commented on #88
Hecho

[2018-10-05 18:38] d-marcos-m opened #97 "Ideas Proyectos - Subvenciones curso 2018-2019"
Vayamos dejando aquí las ideas de proyectos que se nos vayan ocurriendo, ya que no tardando mucho tendremos que pedir las subvenciones de este curso (sabemos fechas @GioSunrider?)

**Propuestas:**

- Subvención "Mantenimiento y mejora de la granja de impresoras"
    - Enclosure con candado para filamentos
    - Cerrar la granja (molaría que se abriese sola al logearse en el PC :D)
- Prusa blackbel

[2018-10-05 19:07] GioSunrider commented on #97
Todavía no tengo ni idea, pero si, de momento una de mantenimiento de la granja de impresoras hay que pedir.

[2018-10-05 21:11] d-marcos-m commented on #97
Como idea loca propongo montarnos una Prusa Blackbelt, es decir, añadirle una cinta motorizada a una de las impresoras tipo prusa que tenemos. El proyecto en sí no sería demasiado complicado, ya que sería, a grandes rasgos, usar el motor del eje Y para hacer girar una cinta de un material X alrededor de la cama caliente. Habría que ver si habría que aumentar el tamaño de la impresora por debajo pa

[2018-10-05 21:12] d-marcos-m commented on #81
Al cambiar la placa de Dédalo a la OVM20 Lite, hemos ganado el soporte para ajustar los drivers de los motores con los potenciómetros que esta tiene. Sería un buen primer paso ajustarlos para ver si se corrigen esas pérdidas de pasos :+1:

[2018-10-06 10:25] JorFru commented on #97
Yo quiero empezar a manejar perfilería y montar una AM8 o una Hypercube o güadever

[2018-10-06 11:28] GioSunrider commented on #97
Yo pediría dos subvenciones entonces, una de mantenimiento del parque de impresoras y otra de proyecto de mejora. En la de mejora podemos incluir perfilería y demás, así también tenemos dinero y margen de maniobra.

[2018-10-06 15:21] JorFru commented on #95
Tenemos un problema, se nos ha quemado un componente de la placa, parece que se trata de un regulador. Posiblemente sea el que da los 5V, pero no estoy seguro. [Tenemos esta documentación](https://www.staticboards.es/wp-content/uploads/2018/09/anet8.pdf), hay que pedirle el layout de componentes a Javier para averiguar de qué componente se trata.

Yo creo que esto se ha quemado porque los conector

[2018-10-06 15:24] JorFru commented on #84
En la última reunión medio-completamos estas dos tareas:

[code]
Queda terminar los dos puntos anteriores y montar el ventilador de capa para completar esta issue

[2018-10-06 15:24] d-marcos-m commented on #95
Sigo sin entender por qué están conectados así. No habría sido mejor ponerle conectores?

[2018-10-06 15:27] JorFru commented on #95
Los conectores que venían eran de dos pines y no vi ninguno de tres en el armario.
Consulté el esquemático y ponerlo así me pareció la mejor manera. Parece que el pin de en medio no está conectado a nada, y el conector de dos sólo vale para pines correlativos.
![imagen](https://user-images.githubusercontent.com/11017088/46572851-0a966400-c98d-11e8-96ab-6264259fbef0.png)

[2018-10-06 15:29] d-marcos-m commented on #95
Pues no sé. Ahora después digo a Javier que os meta a uno de los dos en el grupo de betatesters, que yo estoy hasta arriba ahora.

[2018-10-06 15:30] JorFru commented on #96
En la reunión del 3 de octubre se empezó con el montaje de este nuevo componente, pero no se terminó. Se puede imprimir actualment pero sólo con cama fría.
Urgente terminar esta issue.

[2018-10-06 15:39] MrTommyGuns commented on #84
En la reunión no llegamos a apretar el hotend (no sé se si hizo fuera de ella) y los cables falta ponerlos bien con bridas (no dio tiempo)

[2018-10-06 15:39] JorFru commented on #95
De cabeza entro en ese grupo.
No tengo tiempo
pero para hablar de electrónica estoy siempre disponible.

[2018-10-06 15:41] JorFru commented on #84
Gracias Tommy, queda pendiente entonces, editado.
Cuando termiéis esta issue, acuérdate de marcar los checkboxes de arriba y cuando esté todo completo (ventilador de capa instalado) se podrá cerrar la issue.

[2018-10-06 17:00] Siotma commented on #95
Puntualizar que no ha sido un regalo: https://github.com/asrob-uc3m/impresoras-asrob/issues/87

[2018-10-06 17:06] d-marcos-m commented on #97
Lo de la AM8 lo veo muy factible, además no nos costaría demasiado. Quizás haría en general una subvención de "Creación y mejora de impresoras", y detallar dentro todo lo que queremos hacer

[2018-10-06 17:11] GioSunrider commented on #97
Yo lo decía por la compra de filamento! Qué cogería solo una subvención para la compra de varios tipos de filamento e investigar.

[2018-10-06 17:12] d-marcos-m commented on #97
Subvención para material? Tipo perfilería, filamento, mejoras de impresoras (aka autolevel, bases, etc..)

[2018-10-06 17:15] d-marcos-m commented on #97
Realmente, qué hay que mejorar exactamente en la granja de impresoras? O sea, tenemos algo pensado?

[2018-10-07 10:18] GioSunrider commented on #97
Perfilería, y bueno la tronxy necesita una buena mano de muchas cosas, igual sería la que se llevaría todo el presupuesto.

[2018-10-07 10:20] d-marcos-m commented on #97
Pero eso no es mejora de la granja de impresoras, si no mejora de las impresoras.

[2018-10-07 10:21] GioSunrider commented on #97
Y justo, una subvención de materiales, pero solo de impresión, para dejarles bien colocados, para que nadie se los pueda llevar. Tipo enclosure pero además que sean de distintos tipos, PLA, Nylon, Petg, ABS,...

[2018-10-07 10:22] d-marcos-m commented on #97
Acabo de actualizar la lista. Yo creo que algo así iría bien, y luego ya veremos qué más podemos hacer en la granja. Quizá cerrarla o algo así.

[2018-10-07 10:24] GioSunrider commented on #97
Exacto, esa es otra que se me olvidaba, el cerrar la granja

[2018-10-08 17:02] GioSunrider commented on #77
Dado a que se va a realizar la conexión por octoprint no seria necesario la compra de este cable.

[2018-10-08 17:02] #77 closed, assigned to nobody

[2018-10-08 17:13] GioSunrider opened #98 "Instalación Octoprint"
Arrastrado de #49. Se necesita la instalacion de Octoprint para dar salida con 3 RPi's y 5 camaras para el control de las impresoras.
Los pasos a seguir son:

- [x] Clonar la RPi que @dmarcosm tiene con dos estancias.

- [x] Imprimir el [Protector de la RPi 3B](https://www.thingiverse.com/thing:922740)

- [x] Creacion de 5 bots de Telegram con el nombre de la Impresora

- [x] Añadir los bots al gr

[2018-10-08 17:16] GioSunrider commented on #49
Cierro issue y reabro para la intalacion de octoprint, dado que no se necesita la compra de ninguna de los componentes.

[2018-10-08 17:16] #49 closed, assigned to GioSunrider, d-marcos-m

[2018-10-08 17:18] GioSunrider commented on #75
Encargo a @DiegoGarciaX2 que traslade la issue a actas.

[2018-10-08 17:18] #75 closed, assigned to nobody

[2018-10-08 17:23] DiegoGarciaX2 commented on #96
El soporte del Mosfet se ha impreso he instalado en Spicy

[2018-10-08 17:23] #96 closed, assigned to nobody

[2018-10-08 17:25] DiegoGarciaX2 opened #99 "Cadenas Spicy"
Hay que imprimir adaptadores para instalar las cadenas del eje x e y en Spicy caldito

[2018-10-08 17:28] #92 closed, assigned to nobody

[2018-10-08 17:32] d-marcos-m opened #100 "Call4Makers OSHWDEM - Grupo Printer One"
Holi,

Sigue abierto el Call4Makers de la oshwdem, propongo intentar llevar algo del grupo. Opiniones? Propuestas? Insultos?

[2018-10-08 17:35] d-marcos-m commented on #98
En cuanto pueda subo los archivos o una guía para no retrasar esto más. Also, propongo no imprimir una caja para cada raspberry, y en su lugar hacernos/diseñarnos una caja en la que meter las 3 raspberries. Podríamos hacer un taller para aprender freecad haciendo la caja (@siotma?), o que alguien se encargue. Ahí dejo la propuesta

[2018-10-08 17:36] DiegoGarciaX2 commented on #99
https://www.thingiverse.com/thing:1905344/remixes
https://www.thingiverse.com/thing:2043493
Estos adaptadores deberian de funcionar, habria que poner una pequeña expansion horizontal (sobre 1mm)

[2018-10-08 17:51] GioSunrider commented on #98
Dado que las Rpi's están colocadas en distintos lugares mejor separadas que juntas.

[2018-10-08 17:54] d-marcos-m commented on #100
Parece que ya está pedido a nombre de Asrob. Porfa @JorFru coméntalo en una issue en actas.

[2018-10-08 17:54] GioSunrider commented on #74
Traslado a [Actas #138](https://github.com/asrob-uc3m/actas/issues/138)

[2018-10-08 17:54] #74 closed, assigned to nobody

[2018-10-08 17:55] #100 closed, assigned to nobody

[2018-10-08 17:57] GioSunrider commented on #98
Arrastrado tambien de #65

[2018-10-08 18:04] GioSunrider commented on #65
No es necesario la compra de un switch dado que con el propio router podremos dar servicio a todas las RPi disponibles.

[2018-10-08 18:08] GioSunrider commented on #65
Urgen comprar los cables Ethernet, mi proposicion es hacerlos nosotros a medida, comprar [este cable sin crimpar](https://www.amazon.es/K%C3%B6nig-CMP-UTP6R50-Cable-Ethernet-metros/dp/B00652MRMQ/ref=sr_1_1?ie=UTF8&qid=1539021931&sr=8-1&keywords=cable+ethernet+sin+crimpar) y dos paquetes [de estos conectores ](https://www.amazon.es/Ociodual-Conector-Ethernet-Crimpar-Crimpadora/dp/B017T2QSC0/ref=sr_

[2018-10-08 18:12] d-marcos-m commented on #98
Yo lo decía sobre todo por no tener ahí 3 raspberries sueltas. Siendo la intención cerrar todo (caja de filamentos, cerrar granja), vería muy lógico cerrar todas las Pi's en una caja, ya que además no vamos a tener que tocarlas para nada.

[2018-10-08 18:13] GioSunrider commented on #98
Lo dejaría de plan a futuro, seguro que esas carcasas se pueden reutilizar en un futuro. Pero de momento busco la rapidez de instalación.

[2018-10-08 18:15] David-Estevez commented on #98
Me ha contado un pajarito que en el GUL ante este tipo de peticiones hacen que la persona que lo pide dé el taller... dejo ahí la idea... :thinking:

[2018-10-08 18:19] d-marcos-m commented on #98
Yo no tengo problema alguno en aprender Freecad para hacer un taller :D

Llevamos meses sin hacer octoprint y ahora tenemos prisa en ponerlas en una caja? Hasta que no se adjudiquen en febrero las nuevas subvenciones tenemos bastantes cosas para hacer, así que no veo la prisa en ningún lado.

Si os apetece el taller lo podemos preparar (algo no muy advanced)

[2018-10-08 18:25] David-Estevez commented on #100
Hecho: https://github.com/asrob-uc3m/actas/issues/169  (yo también estaba en el ajo)

[2018-10-08 18:26] David-Estevez commented on #98
Si no, siempre quedan los tutos de Obijuan: https://www.youtube.com/watch?v=2_DbFzFV9D4&list=PLmnz0JqIMEzWQV-3ce9tVB_LFH9a91YHf

[2018-10-08 18:29] GioSunrider opened #101 "Alimentacion de RPi's para la granja"
Comprar cables microusb, [este pack de 5](https://www.amazon.es/MaGeek-Sincroniza-Samsung-Motorola-Colores/dp/B01A7BVDES/ref=sr_1_3?ie=UTF8&qid=1539023141&sr=8-3&keywords=cable+microusb+1m) seria suficiente y dos bases dobles como [este pack](https://www.amazon.es/Cargador-Luvfun-Tecnolog%C3%ADa-tel%C3%A9fonos-inteligentes/dp/B07FX8434B/ref=sr_1_17?ie=UTF8&qid=1539023304&sr=8-17&keywords=cargador%

[2018-10-08 18:42] JorFru commented on #81
Hemos subido un poquito la corriente de los drivers.
Hemos seguido esta guía. http://www.dima3d.com/motores-paso-a-paso-en-impresion-3d-iii-calibracion-de-corriente/
La OVM en teoría es: I = V x 2
Antes de tocar hemos medido 0.250V en cada driver. Eso son 0.5A

Lo hemos dejado en 0.350V en cada driver (excepto en Z que lo hemos dejado a 0.250V). Lo cual son 0.700A de corriente.

Los drivers dan ás

[2018-10-08 18:43] d-marcos-m commented on #81
Al subirlos ha mejorado la impresión?

[2018-10-08 19:03] Siotma opened #102 "Comprar nuevos filamentos"
Para apurar el presupuesto de las subvenciones, @GioSunrider y yo hemos pensado en pedir bobinas de filamento. Se aceptan sugerencias.

[2018-10-08 19:03] JorFru commented on #102
Yo quiero esto papi

https://www.materials3dimpresion.com/pla_ep.php?l=0
Xoán maestroimprusador recomienda BLANCO GLACIAR del producto PLA EP (Easy Print)

[2018-10-08 19:12] d-marcos-m commented on #102
- https://fillamentum.com/products/pla-extrafill-vertigo-grey o https://fervi3d.com/fiberlogy-easy-pla/335-722-fiberlogy-easy-pla-vertigo.html
- https://smartmaterials3d.com/es/tienda-smart/20-smartfil-flex.html#/diametro-1_75_mm_0_03/color-ruby/tamano-s_330g
- https://smartmaterials3d.com/es/smartfil-pla/72-smartfil-pla-mix.html
No se cuanto dinero hay pero quizá nos interesa probar el Nylon: htt

[2018-10-09 09:00] GioSunrider commented on #102
Para variar un poco de filamentos yo propongo PETG de Fiberlogy que tiene muy buena calidad. https://www.3dpenedes.com/es/filamento/973-pet-g-azul-transparente.html

[2018-10-09 11:54] d-marcos-m commented on #102
Cuánto hay sobrante @Siotma?

[2018-10-09 17:41] GioSunrider commented on #102
No era mucho, unos 60 creo recordar, pero lo de los filamentos lo dejaremos para la ultima semana de octubre no vaya a ser que necesitemos algo antes y no podamos.

[2018-10-10 12:25] d-marcos-m commented on #102
Vale, perfecto.
Entonces si nos quedan esos 60 en el momento que los compremos, la lista podría ser esta: (un poco de todo)

- PETG Fiberlogy Azul Transparente: https://fervi3d.com/fiberlogy-petg/330-717-fiberlogy-petg-tr-navy-blue.html#/25-diametro-175_mm/98-tamano-xm_850_g (más barato aquí)
- PLA Vertigo Fiberlogy: https://fervi3d.com/fiberlogy-easy-pla/335-722-fiberlogy-easy-pla-vertigo.html
-

[2018-10-11 18:19] Siotma commented on #101
Buena opción!

[2018-10-11 18:19] Siotma commented on #65
Fantástico!

[2018-10-11 18:25] Siotma commented on #96
Funciona correctamente?

[2018-10-11 18:31] Siotma commented on #99
No estoy de acuerdo, esos adaptadores no tienen agujero pasante, como necesitan las cadenetas que hemos comprado. Además, las piezas que has enlazado tienen el macho en la parte externa y la hembra en la interna, mientras que las cadenetas que tenemos van al revés.

Véase #66 para detalles sobre las cadenetas.

[2018-10-11 18:33] Siotma commented on #99
Buenas candidatas serían las siguientes piezas:

- https://www.thingiverse.com/thing:3072331
- https://www.thingiverse.com/thing:3072340
- https://www.thingiverse.com/thing:2862157

Que comience el reto!

[2018-10-11 18:37] Siotma opened #103 "Comprar muelles para las camas calientes"
Desgraciadamente, algunas impresoras, como Hija Resurrection, tienen muelles lamentables en la cama caliente, que dificultan su calibración y mantenimiento. Propongo comprar nuevos muelles para todas las impresoras que los necesiten: https://fervi3d.com/mecanica/188-muelles-cama-calienta-pack-4unidades.html

[2018-10-11 18:45] Siotma commented on #102
Tienen todos muy buena pinta.

Una vez veamos el dinero disponible, realizaré la compra :wink:

[2018-10-11 18:47] Siotma commented on #85
Me he dado cuenta de que esta compra tiene más sentido ponerla en la subvención de Modernización. Hay presupuesto suficiente así que presentaré el gasto contra esa subvención.

[2018-10-11 19:29] Siotma commented on #19
Teniendo en cuenta la antigüedad de la Issue, y teniendo en cuenta la [nueva política de issues](https://github.com/asrob-uc3m/impresoras-asrob/issues/89#issuecomment-422891053), doy la compra por finalizada. Para la instalación del sensor en las impresoras se deberá abrir una nueva.

[2018-10-11 19:29] #19 closed, assigned to Siotma, d-marcos-m

[2018-10-11 19:31] Siotma commented on #52
Esto sigue pendiente, se le podría dedicar algo de presupuesto...

[2018-10-11 20:23] GioSunrider commented on #103
Me parece una idea genial y un gasto mas que justificado, dado que a las impresoras les baila mucho la cama.

[2018-10-11 20:24] GioSunrider commented on #96
Afirmativo, siguieron el esquema de conexiones que realizamos en su dia en la issue de #67

[2018-10-12 07:22] d-marcos-m commented on #103
Dale, compra 3 kits y listo!

[2018-10-12 08:19] d-marcos-m commented on #101
Vería más lógico comprar una base con 4 USBs https://www.google.es/aclk?sa=L&ai=DChcSEwjrlfPlu4DeAhUJzncKHRqbAXUYABAEGgJlZg&ae=1&sig=AOD64_3Yh1je03cbveEalXK1rfxOz9z9Ww&ctype=5&q=&ved=0ahUKEwjYxuvlu4DeAhUC66QKHd3QDZcQwg8ILA&adurl=https://www.amazon.es/AUKEY-Cargador-Tecnolog%25C3%25ADa-Tabletas-Dispositivos/dp/B00TD3Y4ZM/ref%3Dasc_df_B00TD3Y4ZM/%3Ftag%3Dgoogshopes-21%26linkCode%3Ddf0%26hvadid%3D543

[2018-10-12 12:04] Siotma commented on #101
Las raspis puede que estén separadas en dos baldas, como lo están ahora mismo las impresoras, por lo que parece interesante tener dos adaptadores distintos. Además la opción de dos bases es más barata que la de una base.

[2018-10-12 13:06] Siotma commented on #65
Acabo de pedir el cable y los conectores!

[2018-10-12 13:07] Siotma commented on #54
Acabo de realizar el pedido de 5 cámaras.

[2018-10-12 13:08] Siotma commented on #101
Acabo de hacer el pedido de la propuesta de @GioSunrider

[2018-10-12 21:43] GioSunrider commented on #101
Genial!

[2018-10-12 21:43] GioSunrider commented on #54
Hooray!!!

[2018-10-12 21:43] GioSunrider commented on #65
GENIAL!!

[2018-10-13 11:12] Siotma commented on #84
En la última reunión (8 de octubre), continué los trabajos en Hija:
- Deshice el apaño del cableado, ya que podía quedar pellizcado entre la estructura. Se acordó que el cableado del extrusor se debe guiar con una cadeneta: #66 #99
- Soldé el ventilador blower de 40x40x20 para el ventilador de capa.
- Añadí una vuelta de cinta aislante en la zona donde se ancla el hotend para evitar que se mueva,

[2018-10-13 11:15] Siotma commented on #84
Tras ello, puse a Hija a imprimir su propio ventilador de capa, que quedó estupendamente:

![vent capa 8_oct](https://user-images.githubusercontent.com/6171234/46904772-c73a7900-cee9-11e8-9501-e051dea4b46a.jpg)

[2018-10-13 11:19] Siotma commented on #84
Me consta que el día 10 @GioSunrider lo instaló en Hija, pero aún quedan cosas por hacer:
- Poner mirando para el otro lado el ventilador del hotend, para que el cable no quede estorbando.
- Apretar los tornillos que sujetan el ventilador a la pieza azul.
- Añadir un segundo tornillo para sujetar la pieza azul a la rosa y que no baile.
- Regular bien la altura de la pieza azul.
- Apretar los dos t

[2018-10-13 11:52] Siotma commented on #90
Con uno de los ventiladores que tenemos, se podría plantear algo como esto: https://www.thingiverse.com/thing:2819859 Yo propongo ponerlo primero solamente en un lado (el que no tenga endstop para no liarla), porque ahora solo tenemos uno. Si para cuando llegue el envío de AliExpress vemos que hace falta uno en cada lado, se puede poner otro.

[2018-10-13 11:58] Siotma commented on #90
Alguien se ha puesto ya con este reto?

[2018-10-13 16:53] GioSunrider commented on #42
Cierro esta issue por la nueva politica de issues, actualmente hija vuelve a estar operativa, por lo que ademas se le quita el label no funciona.

[2018-10-13 16:53] #42 closed, assigned to GioSunrider

[2018-10-14 12:07] Siotma commented on #84
Piezas actualizadas via 0363e391158485261eb205cfc239e86b738a5702

[2018-10-14 12:07] Siotma commented on #68
Piezas actualizadas via 0363e391158485261eb205cfc239e86b738a5702

[2018-10-14 12:07] Siotma commented on #42
Piezas actualizadas via 0363e391158485261eb205cfc239e86b738a5702

[2018-10-14 12:08] Siotma commented on #40
Piezas LCD Hija actualizadas via 0363e391158485261eb205cfc239e86b738a5702

[2018-10-14 12:19] GioSunrider commented on #83
Propongo que para la próxima reunión Hija empiece a imprimir las piezas del extrusor para blacky.

[2018-10-14 12:22] Siotma opened #104 "Reestructuración carpetas de impresoras"
Actualmente las carpetas de las impresoras contienen muchísima información valiosa que, por desgracia, es inútil porque nadie sabe qué es qué. Además está mezclada información importante con otra que ya no es necesaria. Ejemplos:
- En negro, archivos obsoletos.
- En rojo, archivos desactualizados.

![sin titulo](https://user-images.githubusercontent.com/6171234/46916517-2799eb00-cfbc-11e8-8f27-385

[2018-10-14 12:23] GioSunrider commented on #81
El próximo día hay que realizar pruebas de impresión, si salen bien podremos dar vida de nuevo a Dédalo.

[2018-10-14 12:25] GioSunrider commented on #104
Me parecen geniales todas la ideas, cuanto más colocado y documentado, mejor. Más facilidad de encontrarse y de arreglar en caso de fallo.

[2018-10-14 12:26] Siotma commented on #83
Correcto :+1:

Hay que tener en cuenta que algunas piezas ya están impresas con su actual extrusor, por lo que no hace falta imprimirlas todas.

Esto es lo que hay que imprimir:

- 2 piezas Remix del [L3K](https://www.thingiverse.com/thing:512338), pero diseñado para poder meter el tubo de teflón hasta el Barrel:
  - [x] [1x Wade_L3K_custom_flange_1.75_v2_mirrored.stl.zip](https://github.com/asrob

[2018-10-14 16:28] GioSunrider commented on #85
Pregunta, de este kit, sobraba un extrusor? es que he caido que una mejora para spicy seria comprarle uno de estos y ponerla bowden.

[2018-10-14 16:32] GioSunrider opened #105 "Mejora de Extrusor de Spicy"
Actualmente tengo una pieza para un extrusor V6 de sobra, ademas de una sujecion de correas. Como en #85 se compraron extrusores de sobra, propongo la implementacion de el sistema Bowden para spicy. Este sistema mejoraria la calidad de las impresiones, ademas de reducir esfuerzo mecanico a los motores.

[2018-10-14 16:47] d-marcos-m commented on #105
No creo que sea lo idóneo. Hemos planteado comprar/pedir subvención para experimentar con nuevos filamentos. Uno de los filamentos que muy probablemente probemos sea flexible. Flexible ≠ bowden. Dejaría al menos una impresora con extrusor directo no sólo por el motivo de cuando investiguemos con flexible, si no porque quizá alguien quiere imprimir con flexible. Todo bowden no :(

[2018-10-14 17:57] GioSunrider commented on #105
Mi idea era dejar en extrusor directo a Blacky por varios motivos:
1. Espacio, el marco creo que no es el idoneo para bowden.
2. Es del departamento.
3. Por los motivos de poder imprimir flexible

Ademas también dejaría en directo a Dedalo, luego ya serian dos impresoras que tendríamos en directo.

[2018-10-15 09:47] GioSunrider commented on #98
Durante el puente me traje las dos RPi a casa y siguiendo el tutorial que @dmarcosm realizo ([Ver Enlace](https://github.com/asrob-uc3m/impresoras-asrob/blob/master/octoprint/guia_segunda_instancia.md)), he creado dos estancias en ambas Pi's. Ademas de actualizar y corregir los errores encontrados en el proceso y añadir algunos apartados en el mismo.

[2018-10-15 09:52] d-marcos-m commented on #98
Como dato, en un futuro no muy lejano se intentará hacer todo en un solo script que el usuario pueda ejecutar con un solo comando, así podremos publicarlo y que lo use quien quiera :)
Sobre la instalación, es posible que vaya el jueves, así que si no queda hecho en la reunión y dejas las Pi's allí me encargo @GioSunrider

[2018-10-15 09:55] GioSunrider commented on #98
En el armario se quedaran. Mañana comenzaremos la instalacion de una de ellas, ya que es la unica que tendria carcasa.

[2018-10-15 15:18] d-marcos-m commented on #97
Propongo también transformar una de las impresoras que tenemos con RAMPS a multicolor, con doble extrusor, lo cual sería muy interesante para los soportes solubles :)

[2018-10-15 15:19] d-marcos-m commented on #104
voy a hacer una reestructuración rápida con la idea de @Siotma y vemos qué más cambios podemos hacer :)

[2018-10-15 15:27] d-marcos-m commented on #104
Hecho, echadle un vistazo. Habrá que revisar de todas formas todos esos archivos .ini y probablemente actualizarlos, porque hay varios que seguramente no sepamos ni lo que son :sweat_smile:

[2018-10-15 17:23] GioSunrider commented on #104
Ya de paso, si encuentramos tiempo desde casa actualizar el código del nuevo marlin a todos los ficheros para cuando lleguemos a la reunión solo haga falta subirlo.

Buen trabajo @dmarcosm

[2018-10-15 18:12] d-marcos-m commented on #98
Cuidado con lo de añadir los 5 bots al grupo. Se puede crear un spam rico rico.

[2018-10-15 18:16] d-marcos-m commented on #59
Cierro por no haber ganas de hacerlo y por tener proyectos más interesantes a la vista! Si eso reabrimos en el futuro :)

[2018-10-15 18:16] #59 closed, assigned to d-marcos-m

[2018-10-15 20:31] d-marcos-m opened #106 "Actualización general a Marlin 1.1.9"
Como hemos dicho en #104, es hora de actualizar todas nuestras impresoras a Marlin 1.1.9, la última versión estable.
He dejado los archivos de todas las impresoras menos Spicy ya actualizadas. Añadir que aun después de arreglar la OVM20 de Geonosis, no se debe instalar el firmware que hay subido, ya que queda cambiar cosas como el modelo de la placa y los motores de X e Y (@JorFru)
Por otra parte,

[2018-10-15 21:10] GioSunrider commented on #98
La idea es usar el grupo que hay de impresoras 3D, no el de printer, de control de Octoprint. Deshabilitar las tajetas SD por Marlin, de esta manera se verifica el uso por parte de un operador, ademas de restringir su uso local y ternerlas controladas por ahi los admins.

[2018-10-15 21:16] d-marcos-m commented on #98
Me parece correcto, pero no del todo. Te quedas sin posibilidad de imprimir offline.

[2018-10-15 21:26] GioSunrider commented on #98
Si, pero también controlas quien las usa. Si no alguien puede imprimir offline sin reservar y sin darnos cuenta.

[2018-10-16 18:05] Siotma commented on #106
Gran trabajo David. Estamos en proceso de actualizaciones.

Por cierto, Dédalo lleva DRV8825 via https://www.staticboards.es/productos/ovm20-lite/
Por favor, indícanos qué cambios hay que hacer para que los soporte...

[2018-10-16 18:15] Siotma commented on #106
Blacky e Hija llevan A4998 via https://www.pccomponentes.com/bq-kit-de-electronica-ramps-1-4

[2018-10-16 18:20] d-marcos-m commented on #106
Ya ha quedado hecho, pero para la próxima aquí podéis ver qué cambios hay que hacer. Es simplemente definir el modelo que estemos usando: https://github.com/asrob-uc3m/impresoras-asrob/commit/efa813dfe8ea802819b449c747f9eb1dba94f0f2

[2018-10-16 18:48] Siotma commented on #106
Blacky actualizada. Hemos modificado los archivos via 6c78d1ae91d9864f3c4328e8c9b3b81d6aa9a9ba
- El archivo Configuration.h tenía los endstop invertidos. Lo hemos invertido a mano.
- Hemos habilitado el custom menu.

[2018-10-16 19:02] Siotma commented on #106
Dedalo actualizada. Hemos modificado los archivos via 506d392906b08315b79a63e381e4fb5b81fca3f7
- Al archivo Configuration.h le faltaban líneas de tipo //DEDALO en los DRV.
- Hemos habilitado el custom menu.

[2018-10-16 19:23] d-marcos-m commented on #106
Esto es...?

[2018-10-16 19:28] d-marcos-m commented on #82
Ahora sí hay que darle de alta! Spicyyy!!

[2018-10-16 19:59] JorFru commented on #82
Hoy se ha hecho el cable management.
Asigno a la gente que me acuerdo que ha participado. Quien falte, que se apunte.

Foto del logro desbloqueado:
![photo_2018-10-16_21-56-07](https://user-images.githubusercontent.com/11017088/47043759-bfe7c980-d18e-11e8-9f9b-e7f6715dbdaa.jpg)

[2018-10-16 20:56] d-marcos-m commented on #52
IGUS: https://fervi3d.com/mecanica/380-igus-rj4jp-01-08-equivalente-a-lm8uu.html

El precio unitario es de 1,30€, habría que ver cuanto queremos gastarnos y para cuántas de las impresoras daría :)

[2018-10-16 20:57] d-marcos-m commented on #103
Muelles, tambien en Fervi3d: https://fervi3d.com/mecanica/188-muelles-cama-calienta-pack-4unidades.html

1,50€ por cada 4 unidades :+1:

[2018-10-16 20:57] Siotma commented on #84
Hoy se ha completado el montaje del ventilador de capa. Se han realizado [dos pruebas de impresión](https://www.thingiverse.com/thing:922740) con Hija Resurrection que han dado como resultado una nueva caja para RaspberryPi:

![16_oct_raspi_box](https://user-images.githubusercontent.com/6171234/47047000-bf533100-d196-11e8-9ba6-eecb4386ea5f.jpg)

La renovación del extrusor de Hija ha sido todo un é

[2018-10-16 21:04] GioSunrider commented on #52
Yo de momento solo colocaria para hija, para probar. Si vemos que va bien podemos enfocarlo de cara al año que viene mas. con 8-10 igus tendriamos recambios.

[2018-10-16 21:06] GioSunrider commented on #82
Ya esta la issue puesta, keep calm, hoy le hemos hecho las fotos. Mañana las subire y se le podra dar de alta.

[2018-10-16 21:08] GioSunrider commented on #106
Aceso directo a los principales comandos, como cooldown, prepare y demas, aunque en realidad se le puede poner lo que quieras.

[2018-10-16 21:08] Siotma commented on #106
Es lo que comenté en https://github.com/asrob-uc3m/impresoras-asrob/issues/84#issuecomment-425507793
Habilitando el custom menu se añade una opción nueva al menú principal, donde puedes añadir hasta 5 comandos personalizados. Lo ideal es poner ahí lo que más se usa para no tener que estar buscándolo entre los submenús, y además puede haber combinaciones de varias cosas. Todo lo que haya aquí está

[2018-10-16 21:11] Siotma commented on #52
El carro de X lleva 3 rodamientos. El carro de Y lleva 4. Si compramos alguno extra igual se pierde, a no ser que compremos suficientes como para ponerlos en otra...
Va a ser necesario tener recambios?

[2018-10-16 21:12] GioSunrider commented on #106
Yo probaria el de cambio de filamento, mientras esta en impresion, igual conviene tenerlo mas a mano...

[2018-10-16 21:13] d-marcos-m commented on #52
Yo llevo con los míos más o menos un año y no he necesitado recambios para nada. Yo compraría 14 y tendríamos para 2 impresoras :)

[2018-10-16 21:13] d-marcos-m commented on #106
Interesante cuanto menos!

[2018-10-16 21:14] #84 closed, assigned to Siotma, d-marcos-m

[2018-10-16 21:15] Siotma commented on #98
Las ideas que habéis dado están muy bien, pero no hay que perder de vista que la granja necesitará un tiempo de puesta a punto durante el cual no se podrá dejar las impresoras sin SD, hasta que toda la infraestructura de octoprint:
- [ ]  funcione
- [ ] se haya documentado y
- [ ] se haya formado a la gente para usarla.

El sistema que mencionais, por tanto, es a lo que hay que tratar de llegar, p

[2018-10-16 21:19] Siotma commented on #52
14 son 18 euros. Igual es mucho. El objetivo de esta issue era probarlos para ver qué tal van.

A Blacky yo no le pondría porque no es nuestra. Geonosis no necesita porque solo tiene en Z. Spicy y Dédalo no recuerdo cuántos llevan...

De todas formas, yo soy partidario de comprar 7.

[2018-10-16 21:21] d-marcos-m commented on #52
Spicy es Anet A8, lleva 7. Se los ponemos a Hija?

[2018-10-16 21:21] GioSunrider commented on #52
Yo soy partidario de solo 7 y para Hija.

[2018-10-16 21:23] Siotma commented on #52
Me parece lo más adecuado.

[2018-10-16 21:24] GioSunrider commented on #106
Si pero eso en mitad de la impresion no se si llegaria a funcionar, y creo recordar que habia un comando el nuevo marlin que lo permitia directamente.

[2018-10-16 21:24] GioSunrider commented on #106
Añado a actualizar Spicy.

[2018-10-16 21:25] GioSunrider commented on #52
Pues añadido a la lista de compra.

[2018-10-16 21:26] GioSunrider commented on #98
Si si, estoy de acuerdo, hay que marcar el objetivo lejano, e ir paso a paso.

[2018-10-16 21:28] Siotma commented on #105
De acuerdo con que usen directo Blacky + Spicy. Había oído que para Anet hay una pieza mágica que permite imprimir con Filaflex no?

[2018-10-16 21:30] Siotma commented on #85
Se han comprado 3 extrusores:
- 1 es para reponerme a mi el de Hija.
- Los otros dos están disponibles. Habría que ver dónde los colocamos.
  - Sería interesante ponerle uno a Dédalo por Bowden, ya que mejoraría muchísimo su volumen de impresión.
  - El otro hay que pensarlo...

[2018-10-16 21:32] Siotma commented on #83
Lo pongo para considerarlo: Blacky es del departamento y ponerle un nuevo extrusor puede ser un cambio bastante significativo... Tal vez habría que consultarlo y/o solicitar la financiación del extrusor por parte del Departamento para que no corran el riesgo de ir perdiendo porcentaje de posesión sobre la impresora :laughing:

[2018-10-16 21:34] Siotma commented on #101
Hoy he llevado a la nave los adaptadores de 5V, y también he recibido los cables en mi casa:

![16_oct_amazon](https://user-images.githubusercontent.com/6171234/47048900-098ae100-d19c-11e8-8093-8b31cb9ee634.jpg)
![16_oct_amazon_usbs](https://user-images.githubusercontent.com/6171234/47048901-0abc0e00-d19c-11e8-86bf-f63930bc94ca.jpg)

[2018-10-16 21:34] #101 closed, assigned to Siotma

[2018-10-16 21:35] Siotma commented on #54
Hoy he llevado las cámaras a la nave:
![16_oct_amazon](https://user-images.githubusercontent.com/6171234/47048934-1e677480-d19c-11e8-9173-ebf24b9c10c5.jpg)

[2018-10-16 21:35] #54 closed, assigned to Siotma

[2018-10-16 21:35] Siotma commented on #65
Hoy he llevado el cable y los conectores a la nave:
![16_oct_amazon](https://user-images.githubusercontent.com/6171234/47048957-2f17ea80-d19c-11e8-8ddb-ab7efeec3be4.jpg)

[2018-10-16 22:38] JorFru commented on #95
Componentes pedidos. Estarán aquí a partir del 28 de octubre, creo.
Los pago de mi bolsillo, cuesta 0.12€.

[2018-10-16 22:52] d-marcos-m commented on #97
- Cambio de extrusor de Dedalo, a 1.75mm
- Añadir laser engraver/cutter a una impresora (anet, por ejemplo)

[2018-10-17 07:14] GioSunrider commented on #97
Propongo aglutinar, una unica subvencion de "mejora y mantenimiento de la granja de impresoras." De esta manera tenemos margen para aplazar ideas y asi tambien dejamos subvenciones para el resto de la asociacion.

[2018-10-17 07:15] GioSunrider commented on #65
El proximo dia me llevare la crimpadora y realizaremos el corte y crimpado de los cables

[2018-10-17 07:17] GioSunrider commented on #83
Me parece perfecto, @David-Estevez, ¿podrias ponerte tu en contacto par ver la solucion del tema?

[2018-10-17 07:27] GioSunrider commented on #85
Por mi parte dejaria a Dedalo en directo por varias razones:
 - La primera es que me gustaria dejar una impresora en directo, pendientes de lo que pase con Blacky en #83
 - La segunda es que pensando que hay mucho filamento de 3mm el cambio seria bastante a largo plazo. No me gustaria tener en el armario un extrusor pudiendo mejorar las otras.
 - La tercera es que pasaria lo mismo con Blacky. Habr

[2018-10-17 07:35] GioSunrider commented on #98
Ayer se imprimio con hija una de las cajas para las RPi's. De esta manera han quedado ya dos debidamente protegidas con carcasa (Ver Foto).

![photo5924675439874387213](https://user-images.githubusercontent.com/10605193/47069678-cfe3c580-d1ef-11e8-93bc-da0a40920827.jpg)

Faltaria por tener una tercera carcasa para la que tiene @dmarcosm en su casa. Lo propongo como RETO DE IMPRESION, se puede divi

[2018-10-17 07:40] GioSunrider commented on #86
Ayer lleve (Por fin) el cristl para Geonosis, con la ayuda de @MrTommyGuns y @L4g0 cortamos el cristal y se instalo en geonosis.

![photo5924675439874387224](https://user-images.githubusercontent.com/10605193/47070050-bdb65700-d1f0-11e8-957c-9f9bec7eb445.jpg)

[2018-10-17 07:54] #86 closed, assigned to GioSunrider, L4g0, MrTommyGuns

[2018-10-17 09:10] d-marcos-m commented on #106
Es lo que se llama en Marlin Pausa Avanzada. Básicamente aparca el nozzle a un lado para poder hacer el cambio de filamento. Es interesante pero creo que activar eso y también el autolevel cuando se lo pongamos a geonosis nos va a causar problemas de memoria.

[2018-10-17 09:14] d-marcos-m commented on #85
Yo también soy partidario de ponérselo a Dedalo. Primero, tendríamos el mismo diámetro de filamento en todas las impresoras. No hay una necesidad extrema de usar los filamentos de 3mm que tenemos, porque están todos bastante "pasados" digamos. Y segundo por lo que comenta @Siotma del espacio de impresión. Ahora mismo no llega a los 100mm en Z...
El segundo se lo pondría a la Anet pero dejándolo di

[2018-10-17 09:19] d-marcos-m commented on #97
Yo pienso que deberíamos pedir al menos 2 subvenciones separadas. Por no generalizarla tanto y que luego quizá algo no podamos pasarlo por esa, pero el experto en subvenciones es @Siotma.

[2018-10-17 09:21] GioSunrider commented on #97
Hay que ver cuantas subvenciones se piden en general de asociacion, porque si pedimos todos, dos igual son muchas.

[2018-10-17 09:24] d-marcos-m commented on #97
Si es una asociación con mucha actividad no creo que eso suponga un problema. De todas maneras, hay... 3 grupos? Malo será que todos pidamos 2. Y aún así 6 tampoco son tantas.

[2018-10-17 09:27] d-marcos-m commented on #105
Sí, para su extrusor stock, es una pieza bastante simple. De todas formas habrá que ver cómo acabamos cerrando la issue de los extrusores, pero aquí podríamos cambiar al extrusor que tienen las demás :)

[2018-10-17 09:27] MrTommyGuns commented on #97
En la reunión de Asociaciones que hicimos con África el año pasado nos dijo que cada vez había más Asociaciones y se pedían más subvenciones y que la uni podía regular un poco ese tema... Aún así yo diría de pedir lo que nos haga falta y que nos aprueben lo que se pueda y listo

[2018-10-17 15:26] David-Estevez commented on #97
Uno de los años (no recuerdo si el pasado o antes de eso) sí que estaba regulado el número máximo por asociación. Una posible "trampa" es pedirla a título individual como alumno, que también se puede.

[2018-10-17 15:28] d-marcos-m commented on #97
En vez de a título personal, se podrían pedir en nombre del grupo? O tiene que ser asociación per se? De todas formas yo creo que no saldrán tantas peticiones para todo asrob, así que no me preocuparía.

[2018-10-17 16:10] David-Estevez commented on #97
O a título personal, o bajo una asociación.

[2018-10-19 16:00] Siotma commented on #106
Una cosa es actualizar el firmware y otra distinta probar nuevas funciones. Sin duda, los custom commands nos pueden ayudar con la Pausa Avanzada, pero  primero hay que ponerle el nuevo firmware a todas las impresoras y documentarlo bien para poder cerrar esta issue. Luego ya se abrirá otra para jugar con nuevas funciones, sabiendo que siempre podemos volver atrás.

Spicy aún no tiene ficheros de

[2018-10-19 16:18] Siotma commented on #105
Teniendo en cuenta lo bien que imprimen las ANET (o al menos siempre habeis dicho eso), yo trataría de perfeccionar su extrusor antes de dar por hecho que lo vamos a cambiar. Hay ANETs que imprimen en flexible con el extrusor stock + la pieza que dice @dmarcosm . Yo creo que deberíamos intentar que Spicy fuera en esa dirección.

Spicy está nueva. Si imprime bien en su estado actual, cambiarle el e

[2018-10-19 16:22] Siotma commented on #85
Hoy ha llegado el pedido. Lo llevaré en la próxima reunión.

![19_oct_aliexpress](https://user-images.githubusercontent.com/6171234/47230913-c6af5000-d3cb-11e8-9961-e527ceac1332.jpg)

[2018-10-19 16:34] Siotma opened #107 "Discusión: renovación de extrusores."
Recientemente hemos comprado nuevos extrusores y materiales accesorios: https://github.com/asrob-uc3m/impresoras-asrob/issues/85#issuecomment-431419187

Sin embargo, no está claro qué impresoras van a recibirlos:
- Uno ya está satisfactoriamente instalado en Hija: https://github.com/asrob-uc3m/impresoras-asrob/issues/84
- Quedan dos para repartir entre Blacky, Geonosis, Dédalo y Spicy.

Hay que te

[2018-10-19 16:35] Siotma commented on #107
Pego ideas sacadas de #85 :

[2018-10-19 16:38] Siotma commented on #107
Mi primera aportación nueva es que, siendo los extrusores de ASROB, y siendo especiales para bowden, sería una pena que Geonosis se quedara sin uno (Geonosis e Hija son las únicas impresoras propiedad de ASROB y debería ser una prioridad que funcionen adecuadamente).

Por otra parte, sigo pensando que Dédalo es un buen candidato a obtener uno de estos extrusores teniendo en cuenta que tiene el ext

[2018-10-19 16:39] Siotma commented on #85
La discusión sobre en qué impresora se deben instalar los extrusores da para una nueva issue: #107

Esta, que era para la compra, se da por cerrada.

[2018-10-19 16:39] #85 closed, assigned to Siotma

[2018-10-19 16:46] d-marcos-m commented on #107
Yo a Geonosis no le cambiaría el extrusor, el que trae me parece que es decente (al menos más decente que el de Spicy).
Mantengo lo de que se lo pondría a Spicy pero sería conveniente tener alguna impresora con extrusor directo.

[2018-10-19 17:12] Siotma commented on #107
Hay que tener en cuenta que para instalar un extrusor como el puesto en Hija (#84) hay que tener los siguientes elementos:
- [1x Hobbed Bolt](https://fervi3d.com/extrusion/156-tornillo-ranurado-extrusor-m8.html)
- [3x Rodamiento 608ZZ](https://fervi3d.com/mecanica/154-rodamiento-608zz-8x22x7mm.html)
- 1x Eje 8mm diametro 20 mm largo

En su momento yo doné un kit para Hija en https://github.com/asr

[2018-10-19 17:42] Siotma commented on #102
Esta cesta de la compra liquidaría las subvenciones:

![imagen](https://user-images.githubusercontent.com/6171234/47234601-a1740f00-d3d6-11e8-9082-1bd9e8c10c55.png)

[2018-10-19 17:52] d-marcos-m commented on #102
A mi me parece correcto :)

[2018-10-20 08:54] GioSunrider commented on #102
Se que no viene a cuento pero... y algo de estaño? en general estamos muy necesitados de el, se podria incluir?

[2018-10-20 08:55] d-marcos-m commented on #102
La cosa es que el filamento es algo que hay qee comprar vía la issue de material común, no? De hecho creo que ya está puesto allí.

[2018-10-20 09:00] GioSunrider commented on #107
Esta noche pense lo mismo y por las mismas razones, ademas de que poniendole un reductora tendriamos la posibilidad de que no perdiera pasos al extruir.

Referido a esto añadiria a la subvencion uno o dos kits de estos, ya que podemos prescindir de un filamento y comprar esto que casi es mas necesario ademas de tener asi respuestos.

[2018-10-20 09:01] GioSunrider commented on #102
Me refería para terminar de cuadrar las cuentas.

[2018-10-20 10:08] d-marcos-m commented on #102
Pero habría que quitar algún filamento entonces, porque con lo poco que "sobra" no compras demasiado estaño xD
(si hay que quitar alguno yo pasaría del Smart Glow)

[2018-10-20 12:52] GioSunrider commented on #102
Yo quitaría el smart glow, además para así comprar kits para el ajuste del extrusor para las otras impresoras.

[2018-10-20 13:31] JorFru commented on #102
Del estaño me encargo yo. Dedicad el presupuesto de Printer para filamentos y componentes.

[2018-10-20 15:58] David-Estevez commented on #83
:+1:

[2018-10-20 16:01] d-marcos-m commented on #107
Con esto quería decir que hay que pensar que no es lo mismo extrusor que hotend. Pienso que Geonosis tiene un hotend aceptable, y que lo que necesita ser cambiado es el extrusor, por esto:

[2018-10-21 08:56] GioSunrider commented on #107
Yo a Geonosis le cambiaba todo, nos quitaríamos de muchos problemas. Y lo que dice Manu, son la prioridad que funcionen bien.

[2018-10-21 11:40] d-marcos-m commented on #107
Pero si ese hotend ya funciona bien, no es necesario cambiarlo "para que funcione bien", porque ya lo hace. Cambiando el extrusor ya nos quitaríamos de "todos" los problemas y dejaríamos el otro hotend libre para otra impresora.

[2018-10-21 22:22] David-Estevez commented on #82
Ya está dada de alta en la web

[2018-10-22 10:39] JorFru opened #108 "Las solicitudes de operador no se están respondiendo"
Ejemplo:
https://github.com/asrob-uc3m/operadores/issues/42
26 días sin respuesta.

[2018-10-22 11:18] d-marcos-m commented on #108
Están en el grupo de impresoras y cuando lo han comentado se les ha dicho que hasta que no haya varias funcionales no es posible hacerlo (hace 2 semanas). Sí es verdad que ahora mismo ya funcionan tanto la Anet como Hija y se podría hacer la formación.

[2018-10-23 19:51] Siotma commented on #107
Propongo mañana desmontar el hotend de Geonosis y valorar opciones de mejorarlo.

[2018-10-23 19:53] GioSunrider commented on #107
Me parece perfecto.

[2018-10-24 08:12] GioSunrider opened #109 "Engranajes para la OSHWDem 2018"
Tal y como se comento por el grupo de Telegram, hay un reto de "Clone Wars" para la OSHWDem 2018. Las especificaciones del reto se encuentran en [este repositorio](https://github.com/brico-labs/Reto-Clonewars-Oshwdem-2018).
El reto consiste en llenar una pared de engranajes, y que mejor que nosotros para diseñar los que llevaremos como asociacion. Mi idea es llevar un minimo de 2, uno como asrob y

[2018-10-24 08:15] GioSunrider commented on #109
Tambien habria que diseñar uno que ponga Printer One e imprimirlos. ¿Algun voluntario?

[2018-10-24 08:18] d-marcos-m commented on #109
Sube el stl, porfi

[2018-10-24 08:21] GioSunrider commented on #109
No consigo generarlo, puedes intentarlo tu?

[2018-10-24 10:20] GioSunrider commented on #109
Ya he generado los engranajes, tanto de [ASROB](https://github.com/asrob-uc3m/impresoras-asrob/blob/master/Reto%20Clone%20Wars%20OSHWDem%202018/N34-ASROB.FCStd), como de [Printer One](https://github.com/asrob-uc3m/impresoras-asrob/blob/master/Reto%20Clone%20Wars%20OSHWDem%202018/N34-Printer.FCStd) y tambien he subido ambos STL a la [carpeta](https://github.com/asrob-uc3m/impresoras-asrob/tree/mast

[2018-10-25 07:19] GioSunrider commented on #109
Al generar el gcode daba error de pieza, se ha pasado por una aplicación web que @Siotma recomendó (https://tools3d.azurewebsites.net/) y se han reparado los STL. Actualmente los archivos correctos son las extensiones .3mf que vienen indicados como repaired.

[2018-10-25 07:20] GioSunrider commented on #109
Además se vio que la impresión era demasiado larga, por lo que se propone como reto de impresión en casa, ¿algún voluntario?

[2018-10-26 14:24] d-marcos-m commented on #109
Como dato, y para evitar tener que usar otros sitios, Slic3r auto repara el STL cuando ve que tiene errores. Al importarlo lo hace automágicamente :)

[2018-10-26 14:49] GioSunrider commented on #109
Lo he probado, y no termina de generar bien el STL Como con esta pagina.

[2018-10-26 15:01] d-marcos-m commented on #109
Pues a mí me lo acaba de generar sin problemas, habrá que actualizar el Slic3r del PC de la nave por si fuera cosa de la versión. Lo digo sobre todo de cara a no tener que andar con ñapas, que es lo que es abrir una página más

[2018-10-26 16:42] GioSunrider commented on #109
Tenemos al rey de las ñapas en nuestras filas, no creo que las ñapas sean el problema 😂😂😂😂

[2018-10-26 18:17] David-Estevez commented on #109
🤟🏻

[2018-10-27 13:27] Siotma commented on #107
En la última reunión, se desmontó el Hotend de Geonosis y se vio que tiene tubo de teflón hasta el final. Por tanto, no haría falta cambiar este hotend aunque sí sería recomendable cambiar el extrusor por uno Geared para hacer más fuerza y que no se salte pasos:

![24_oct_geonosis_hotend](https://user-images.githubusercontent.com/6171234/47604648-bd8e3680-d9fc-11e8-8c02-055fe36841c4.jpg)

[2018-10-27 13:29] Siotma commented on #105
En la última reunión se intentó imprimir con Spicy con PLA y se vio que el engranaje que mueve el filamento hacia el extrusor da saltos. Esto provocó que no se pudiera imprimir con Spicy. Invoco a los dioses de las ANET para tratar de solventar este problema. Caso de no ser posible, propongo cambiar el hotend completo por uno de los nuevos, previo acuerdo con @JorFru

[2018-10-27 13:41] Siotma commented on #90
En la última reunión, Hija imprimió las dos sujecciones de motores:

![24_oct_geonosis_corners](https://user-images.githubusercontent.com/6171234/47604695-72c0ee80-d9fd-11e8-9a41-8f6a5627edc0.jpg)

Respecto a los ventiladores de capa, @jorgercobo y yo estuvimos dándole vueltas. Hemos pensado en volver a colocar las piezas originales y poner una tobera por dentro para dirigir mejor el aire al disip

[2018-10-27 13:41] #90 closed, assigned to Siotma

[2018-10-27 13:43] Siotma commented on #107
Además, téngase en cuenta esto respecto a Spicy: https://github.com/asrob-uc3m/impresoras-asrob/issues/105#issuecomment-433620314

[2018-10-27 15:12] GioSunrider commented on #109
He puesto a imprimir en Negro el Engranaje de Printer One. Dejo pendiente de quien lo desee el de Asrob, a ser posible que no sea ni blanco ni negro.

[2018-10-27 15:19] GioSunrider commented on #98
En la ultima reunion coloque las RPi en la granja

![photo5954216383850065662](https://user-images.githubusercontent.com/10605193/47605873-7b6cf100-da0c-11e8-9c90-6581bdfefd2a.jpg)

 y crimpe los cables necesarios a medida para dotar de internet a la granja.

![photo5954216383850065661](https://user-images.githubusercontent.com/10605193/47605865-5c6e5f00-da0c-11e8-95af-6ac72b66168d.jpg)

Ademas @a

[2018-10-27 15:40] d-marcos-m commented on #105
A qué temperatura estaba imprimiendo, por curiosidad?

[2018-10-28 00:45] JorFru commented on #105
Antes de decidir el cambio de piezas, se debería de investigar mejor las causas del problema.
Lo primero que se me ocurre es reducir la distancia de retracción. Cuando retrae, el filamento se enfría, y cuando vuelve a empujar no fluye porque está frío. 2mm debería de ser suficiente para extrusión directa.
Todos los problemas que yo he tenido con ella en el extrusor han sido por distancia de retrac

[2018-10-28 14:42] Siotma commented on #98
Imprimiendo parte de arriba de la caja (top) en color negro.

[2018-10-28 14:45] Siotma commented on #109
La página de la que habla @GioSunrider es https://tools3d.azurewebsites.net/ (editado también en su comentario). Es de uso libre, solo hace falta una cuenta de microsoft (el hotmail del messenger mismamente).

No conozco ninguna herramienta de reparación capaz de hacer lo que hace esta.

[2018-10-28 15:07] Siotma commented on #109
Leyendo las [condiciones del reto en la página oficial](https://github.com/brico-labs/Reto-Clonewars-Oshwdem-2018), veo que los archivos disponibles para el engranaje N-34_ASROB **no cumple con los requisitos**, ya que no tiene agujero pasante. Además, tampoco veo que nos hayamos apuntado en la [lista de participantes](https://docs.google.com/spreadsheets/d/1SnokEGJ45Vu7sOCrKUwsjmvuEwmsKIhkQNeIIfK

[2018-10-28 18:00] GioSunrider commented on #109
Tenia pensado apuntarnos, una vez impresos correctamente, por si no daba tiempo a imprimirlos.

[2018-10-28 19:22] Siotma commented on #99
Después de hacer pruebas en mi casa, he comprobado que el tercer enlace que pasé no es compatible con las cadenas que tenemos. En su lugar, he diseñado los equivalentes de 10x20 a patir de los modelos de 10x10:

[chain_20.zip](https://github.com/asrob-uc3m/impresoras-asrob/files/2523112/chain_20.zip)

El próximo día llevaré una unidad de cada.

[2018-10-29 14:38] David-Estevez commented on #83
Lo he consultado con el jefe de departamento y me ha dado el ok tanto al cambio como a la financiación por parte del departamento.

Pasadme los enlaces de lo que queréis comprar y hacemos el pedido.

[2018-10-30 16:51] GioSunrider commented on #98
Imprimiendo parte de abajo de la caja (Bottom) en color blanco

[2018-10-31 19:31] Siotma commented on #83
La modalidad que yo propongo sería la de trueque: el extrusor ya lo hemos comprado con la subvención, pero nos hacen falta otras piezas para otras impresoras. En breve postearé una lista con enlaces.

[2018-10-31 19:40] Siotma commented on #106
Hoy he flasheado el nuevo Marlin en Hija. Ha habido que hacer varias modificaciones porque había muchas líneas que no estaban marcadas con //Hija_Resurrection. Creo que ya está todo bien. El commit es: 8a2e7166380248934b6436cc1ec6ddb0ca36be21

[2018-10-31 19:45] Siotma commented on #105
De acuerdo @JorFru , seguiremos investigando.

[2018-11-02 17:10] GioSunrider commented on #98
En la pasada reunion se termino la colocacion de las RPi como se puede observar en la foto la colocacion.

![photo5974365406875463537](https://user-images.githubusercontent.com/10605193/47929711-2c223700-deca-11e8-9b85-d98b44e4523f.jpg)

Ademas se conectaron todos los cables hechos a medida y su correspodiente alimentacion. Solo faltaria la colocacion de las Camaras y unir con el cable impresora y

[2018-11-03 20:51] Siotma commented on #106
Según tengo entendido, no es trivial actualizar a Spicy y a Geonosis:

- Spicy actualmente lleva un firmware especial para ANET flasheado por @GioSunrider, él puede aportar más datos.
- Geonosis lleva actualmente el firmware original, y no tenemos las fuentes.

Para actualizarlas, se debería abrir otra issue y discutir más detenidamente el modo de proceder.

Creo que esta issue se puede dar por ce

[2018-11-03 20:51] #106 closed, assigned to Siotma, GioSunrider

[2018-11-03 20:52] Siotma commented on #95
@JorFru , algún dato interesante del último día para que conste?

[2018-11-03 21:02] JorFru commented on #95
El proveedor se equivocó y me mandó AMS1117-3.3 en vez de AMS1117-5.0
Conseguiré los reguladores correctos para instalarlos el lunes o martes después de la OSHWDem

[2018-11-04 12:33] GioSunrider commented on #106
Para que conste Spicy esta flasheada con el Marlin denominado SkyNet, en el fondo es un Marlin 1.1.8., actualemente lo tengo disponible en mi perfil de Git, [Link](https://github.com/GioSunrider/X-WING-Anet-A8/tree/master/Marlin%201.1.8%20-%20X-WING). En mi opinion seria conveniente actualizar a Marlin 1.1.9. y fuera.

[2018-11-05 13:58] GioSunrider commented on #97
Vale chicos, hay que saber que queremos pedir exactamente. @dmarcosm no te vengas arriba que hay que aglutinar todo lo que podamos, dado a que tiene pinta que vamos a estar limitados, también hay que pensar que nos dará tiempo a hacer menos de un año.

[2018-11-05 19:14] GioSunrider commented on #98
Se han creado y añadido los bots al grupo de gestion de las impresoras. Para su creacion se ha determinado median el (Nombre de la impresora)_Printer_bot.

[2018-11-05 19:15] GioSunrider commented on #98
Para el proximo dia se añadiran a Octoprint y se realizara la gestion de la informacion que envien al grupo.

[2018-11-05 19:44] David-Estevez commented on #97
Como he sugerido por el grupo de RoboFactory, primero apuntad qué es lo que queréis pedir (si hubiese dinero/subvenciones ilimitadas) y a partir de eso trabajamos.

También estaría guay que hicieséis un desglose de las cosas que harían falta en cada proyecto y cuánto estimáis que costarían.

A partir de eso haremos nuestra magia de siempre.

[2018-11-07 17:26] GioSunrider commented on #65
Todo lo de esta issue se realizo y documento en #98 por lo que lo cierro.

[2018-11-07 17:50] jgvictores commented on #65
Como se indica en https://github.com/asrob-uc3m/impresoras-asrob/issues/65#issuecomment-385474422 falta por activar la roseta. No tiene ningún sentido que de un día para otro [el único grupo activo que usa el router actualmente](https://github.com/asrob-uc3m/actas/issues/167#issuecomment-430046600) y [teniendo este router asignada la roseta 11-25I](https://github.com/asrob-uc3m/actas/issues/67#iss

[2018-11-07 17:58] PeterBowman commented on #65
11-25D. Hay otra a la izquierda de esta y la que estamos usando: 11-25V.

[2018-11-07 18:02] jgvictores commented on #65
Ok, ya vi. La `V` nada, es un RJ11 y necesitamos RJ45. Está activada la `11-25I` (Izquierda) y tenemos que solicitar la `11-25D` (Derecha).

![photo_2018-11-07_18-00-45](https://user-images.githubusercontent.com/4448588/48150619-11c7cf00-e2b7-11e8-8c69-10e9dba976a7.jpg)

[2018-11-07 18:31] Siotma commented on #83
El extrusor costó 9.24€ (ver [aquí](https://github.com/asrob-uc3m/impresoras-asrob/issues/85#issuecomment-425716268)). Sin embargo, un extrusor equivalente vale más de 20€ en España (ver [aquí](https://fervi3d.com/extrusion/116-extrusor-e3dv6-completo-clon.html)).

Propongo como trueque la compra de 7 unidades de rodamiento **Igus RJ4JP 01-08 - Equivalente a Lm8uu** por un valor de 1,30€/unidad, t

[2018-11-07 18:42] jgvictores commented on #65
Se ha creado la incidencia con id 89403: Petición de activación de la roseta 11-25D de la nave 1.0B06.

[2018-11-07 19:45] Siotma commented on #103
Hoy se han comprado 3 kits de 4 muelles en https://fervi3d.com/mecanica/188-muelles-cama-calienta-pack-4unidades.html

[2018-11-07 19:49] Siotma commented on #102
Hoy se han comprado 4 filamentos:
- https://fervi3d.com/smartfil-flex-93a/13-89-flex.html#/25-diametro-175_mm/27-tamano-s_330_g/34-color-sapphire
- https://fervi3d.com/fiberlogy-petg/330-717-fiberlogy-petg-tr-navy-blue.html#/25-diametro-175_mm/98-tamano-xm_850_g
- https://fervi3d.com/esencial-pla/406-790-pla-fervi3d-esencial.html#/25-diametro-175_mm/28-tamano-m_750_g/105-color_esencial-verde_lumin

[2018-11-07 19:58] Siotma opened #110 "Comprar piezas necesarias para extrusores geared"
Hoy se han comprado piezas para hacer nuevos extrusores geared:
- 6x [rodamientos 608Z](https://fervi3d.com/mecanica/154-rodamiento-608zz-8x22x7mm.html)
- 2x [hobbed bolt](https://fervi3d.com/extrusion/156-tornillo-ranurado-extrusor-m8.html)
- 1x [varilla M8 lisa 200mm](https://fervi3d.com/extrusion/156-tornillo-ranurado-extrusor-m8.html)

[2018-11-07 21:01] PeterBowman commented on #65
En Robot Devastation estamos usando nuestro propio router, un D-Link gris almacenado en una de las baldas azules del armario. Hoy hemos estado explorando varias opciones para no interferir con vuestro grupo, y esta es una solución satisfactoria: conectar el router a una de las rosetas de la zona vallada (HORUS/TIAGo). He enchufado el cable ethernet al puerto número 8 y no ha habido problemas ni ne

[2018-11-08 00:01] GioSunrider commented on #65
De nada @PeterBowman para eso estamos. Gracias por el recordatorio. Y cualquier problema que surja más adelante no dudes en contar con printer 😊

[2018-11-08 00:05] GioSunrider commented on #110
Cuando puedas @Siotma podrías añadir los enlaces?

[2018-11-08 19:25] Siotma commented on #110
Hecho

[2018-11-08 20:06] GioSunrider commented on #110
Muchas gracias!

[2018-11-08 23:16] GioSunrider commented on #109
Hija imprimió el ultimo engranaje.

![drbxzbdwsaec6qn](https://user-images.githubusercontent.com/10605193/48233231-bed44180-e3b4-11e8-9310-5bd77548bf49.jpg)

[2018-11-08 23:17] GioSunrider commented on #109
Engranajes guardados y listos para llevar a la OSHWDem!!

[2018-11-09 12:16] Siotma commented on #36
Hoy he subido perfiles para [Blacky](https://github.com/asrob-uc3m/impresoras-asrob/commit/5345085ce4c570454549ff38569d3621a9ac8971) e [Hija Resurrection](https://github.com/asrob-uc3m/impresoras-asrob/commit/b976956694d1994c347750beb9f09c914ec9e575) diseñados para Slic3r 1.3.0

Adjunto resultados de cada uno:

![09_nov_blacky_new_profil](https://user-images.githubusercontent.com/6171234/48262100-

[2018-11-12 10:35] GioSunrider commented on #109
Se entregaron los engranajes y quedaron colocados en la pared! ademas adjunto las fotos y videos en los que se pueden ver lo bien que han quedado.

[Publicacion Instagram ASROB](https://www.instagram.com/p/BqA1MprHL6A/?utm_source=ig_web_options_share_sheet)

![photo5996700186002435685](https://user-images.githubusercontent.com/10605193/48342034-f53ce580-e66e-11e8-8d04-55e05bff50ed.jpg)

Con esto d

[2018-11-12 10:46] #109 closed, assigned to GioSunrider

[2018-11-12 22:41] VentressAsajj opened #112 "Hacer ballestas"
Me acordé de ponerlo @GioSunrider @dmarcosm ¿cuándo hacemos las ballestas?
Tweet:
https://twitter.com/fisadev/status/1059631656250806274
Thingiverse:
https://www.thingiverse.com/thing:1995091
Cómo montarla
https://t.co/8zYOswTtnr

[2018-11-12 23:08] GioSunrider commented on #112
Organizamos un taller de ballestas 😂😂

[2018-11-13 09:15] VentressAsajj commented on #112
Vamos. Cuando es la próxima reunión de printerone? yo tengo que ser operadora, debo poner otra issue ( como digas que sí te mato jajaja )

[2018-11-13 09:20] MrTommyGuns commented on #112
La próxima reunión es Jueves de 6 a 9

[2018-11-13 09:22] MrTommyGuns commented on #112
Y para solicitar la formación como operadora y demás...
Si, hay que poner otra issue 😅😅
Peroo no es en este grupo de trabajo, te adjunto el link.

http://GitHub.com/asrob-uc3m/operadores/issues

[2018-11-13 11:16] GioSunrider commented on #112
Eso es sigue lo que te ha dicho Tommy, vivan las issues 🤣🤣

[2018-11-13 11:32] d-marcos-m commented on #112
El jueves las imprimimos!!

[2018-11-13 17:58] VentressAsajj commented on #112
Pues si el jueves se imprimen, no creo que sea necesario hacer el curso intensivo de operadora ni poner la puuuññññetera issue :joy:

[2018-11-13 17:58] d-marcos-m commented on #112
Imprimir las piezas de la ballesta te vale como parte de la formación de operadora :)

[2018-11-15 18:12] jorgercobo commented on #112
Primer intento de impresión
![image](https://user-images.githubusercontent.com/9537923/48646752-0a58a200-e9ea-11e8-9e8b-69d6cf2ee39d.png)

Falta una de las piezas laterales y los tornillos por imprimir

[2018-11-15 18:23] jorgercobo opened #113 "Nuevo carro para Blacky"
Vamos a ponerle a Blacky el carro que ya está funcionando en Hija #84

- 3 piezas del [L3Kv2](https://www.thingiverse.com/thing:1855673):
  - [x] [1x Wade_L3K_v2_Idler.zip](https://github.com/asrob-uc3m/impresoras-asrob/files/2393904/Idler.zip)
  - [x] [1x Wade_L3K_v2_Idler_hodler.zip](https://github.com/asrob-uc3m/impresoras-asrob/files/2393905/Idler_hodler.zip)
  - [x] [1x Bearing_Washer.zip](ht

[2018-11-15 18:44] jorgercobo opened #114 "Cambio extrusor para Geonosis"
Se ha decidido cambiar el extrusor de Geonosis a un v6 con bloque Volcano de nozzle 1,2. Para ello se necesitan las siguientes piezas:

- 3 piezas del [carro](https://www.thingiverse.com/thing:2865870):
  - [x] [1x Duct.stl.zip](https://github.com/asrob-uc3m/impresoras-asrob/files/2586589/Duct.stl.zip)
  - [x] [1x CR-10_HD-modular-mount-V6_mount-cover__40mm-fan_v1.stl.zip](https://github.com/asrob

[2018-11-15 19:49] jorgercobo commented on #112
Falta una de las piezas laterales y los tornillos

[2018-11-15 22:27] GioSunrider commented on #98
Se han dejado todas las cámaras colocadas a falta de diseñar un soporte para ellas. Además se han cableado todas las impresoras a las RPi y se ha comenzado la configuración para Spicy. @dmarcosm let queda pendiente añadir al repo de octoprint como conectar las dos cámaras que suministren a las dos Impresoras.

[2018-11-15 22:31] GioSunrider commented on #98
Propongo [este soporte](https://www.thingiverse.com/thing:2587839) para hija, blacky y spicy. Para Dédalo y para genoosis habría que buscar alternativas.

[2018-11-16 13:24] jorgercobo commented on #79
En la reunión del 31 de octubre se avanzó con los cables de la parte posterior:

![image](https://user-images.githubusercontent.com/9537923/48623861-3bfe4880-e9ab-11e8-93f7-aab1154bbb54.png)
![image](https://user-images.githubusercontent.com/9537923/48623866-44568380-e9ab-11e8-8c75-cf84f5e443ff.png)

[2018-11-17 10:45] PeterBowman commented on #65
Confirmo que nos han habilitado la salida 11-25D de la roseta de conexiones, funciona y podemos usar el router como lo llevábamos haciendo hasta ahora, con el router de la granja funcionando en paralelo. Muchas gracias @jgvictores por tu gestión en remoto, creo que se puede cerrar ya esta issue.

[2018-11-17 11:42] GioSunrider commented on #65
GENIAL!!! Muchas gracias @jgvictores !! Procedo a cerrar la issue.

[2018-11-17 11:42] #65 closed, assigned to David-Estevez, jgvictores, Siotma, GioSunrider, JorFru

[2018-11-18 18:24] Siotma commented on #83
He encontrado un enlace de Amazon, donde se pueden comprar 8 rodamientos por 9,83€: https://www.amazon.es/Igus%C2%AE-Rodamiento-deslizamiento-drylin%C2%AE-rj4jp/dp/B01M4JZ81S/ref=sr_1_1?m=A39KIAQT9XODN8&s=merchant-items&ie=UTF8&qid=1542565300&sr=1-1&th=1

[2018-11-18 18:40] Siotma commented on #102
Los filamentos llegaron hace unos días. Los llevaré en la próxima reunión:

![17_nov_new_filaments_and_parts](https://user-images.githubusercontent.com/6171234/48676645-d4dac280-eb69-11e8-8050-7923e84951f2.jpg)

[2018-11-18 18:41] Siotma commented on #103
Los muelles llegaron hace unos días. Los llevaré en la próxima reunión:

![17_nov_new_filaments_and_parts](https://user-images.githubusercontent.com/6171234/48676645-d4dac280-eb69-11e8-8050-7923e84951f2.jpg)

[2018-11-18 18:41] Siotma commented on #110
Las piezas llegaron hace unos días. Las llevaré en la próxima reunión:

![17_nov_new_filaments_and_parts](https://user-images.githubusercontent.com/6171234/48676645-d4dac280-eb69-11e8-8050-7923e84951f2.jpg)

[2018-11-18 18:41] #110 closed, assigned to Siotma

[2018-11-18 18:41] #103 closed, assigned to Siotma

[2018-11-18 18:41] #102 closed, assigned to Siotma

[2018-11-20 20:14] Siotma commented on #95
Parece que la placa quedó reparada en la última sesión. @JorFru trató de flashear Marlin 1.1.9 sin éxito.

Hoy he estado investigando. He conseguido instalar la placa de la Anet en Arduino IDE siguiendo el tutorial: https://trello.com/c/QRIYELJA/311-configurar-arduino-ide-para-actualizar-el-firmware-a-partir-de-c%C3%B3digo-fuente

También he editado los archivos de configuración (adjuntos). Más in

[2018-11-27 09:08] GioSunrider commented on #114
Imprimiendolo en casa para ver si esta tarde lo puedo llevar para comenzar su montaje.

[2018-11-27 09:10] GioSunrider commented on #113
Algún voluntario para imprimirlo en casa? Es necesario imprimirlo en casa dado que el tiem po de impresion excede el tiempo de cualquier reunion normal.

[2018-11-27 09:17] GioSunrider commented on #98
He añadido un edit al comentario inicial, para laconfiguracion de las camaras hay que seguir el tutorial de configuracion proporcionado por @dmarcosm en la siguiente [pagina web](http://thomas-messmer.com/index.php/14-free-knowledge/howtos/79-setting-up-octoprint-for-multiple-printers) y traducirlo para añadirlo a nuestro tutorial. Me pondre esta tarde en la reunion con ello.

[2018-11-27 09:23] GioSunrider commented on #97
Cierro issue dado que ya se ha solictado la subveccion, esperemos que nos den todo lo pedido. Gracias a todos por las ideas.

[2018-11-27 09:24] #97 closed, assigned to GioSunrider, d-marcos-m

[2018-11-27 09:28] GioSunrider commented on #36
Dado la antigüedad de la issue y que ahora disponemos de filamento de calidad como sugirió @JorFru quedaria pendiente de issue que se actualicen todos los perfiles de las impresoras, dado que la calidad que vamos adquiriendo es mucho mejor que la de antes, aunque en algunas hay que pulir detalles.

[2018-11-27 09:28] #36 closed, assigned to David-Estevez, Siotma, GioSunrider, JorFru, d-marcos-m

[2018-11-27 09:32] GioSunrider commented on #56
Cierro esta issue dado que como se muestra en #98 se ha instalado un router permanente para gestionar la granja de impresoras, ademas de que el router de la asociacion, actualmente en uso por Robodevastation, se le ha habilitado una conexion en la roseta como se muestra en #65 . Abrire una issue en actas cuando encuentre el router por casa para donarlo.

[2018-11-27 09:32] #56 closed, assigned to David-Estevez, Siotma, GioSunrider

[2018-11-27 09:38] GioSunrider commented on #107
La propuesta es, Colocar un volcano a Geonosis con el V6 dado a su volumen de impresion sea mas aprovechado, ademas de a Blacky, y el Hot-End de Geonosis colocarselo a Dedalo cuando se gaste todo el filamento de 3 mm que actualmente tenemos.

[2018-11-27 09:40] GioSunrider commented on #61
Necesito actualizacion de esta issue, creo que @dmarcosm imprimio ya los soportes de los motores

[2018-11-27 17:33] Siotma commented on #61
los imprimí yo con hija: https://github.com/asrob-uc3m/impresoras-asrob/issues/90

[2018-11-27 17:52] Siotma commented on #114
Imprimiendo el duct en Hija.

[2018-11-27 18:49] GioSunrider commented on #98
La RPi de Spicy y Geonosis queda asignada con una IP estatica http://192.168.0.100/ y http://192.168.0.100:5001/ respectivamente.
Se ha hecho siguiendo este [Tutorial](https://www.luisllamas.es/raspberry-pi-ip-estatica/)

[2018-11-27 20:01] jorgercobo commented on #114
Se ha comenzado a montar el carro, pero hay un problema con las tuercas traseras. Pendiente de volver a montarlo en la siguiente reunión

[2018-11-27 20:10] jorgercobo commented on #114
![photo_2018-11-27_21-10-01](https://user-images.githubusercontent.com/9537923/49108589-da7e8980-f288-11e8-8f72-e9a6930785e7.jpg)

[2018-11-30 19:04] Siotma commented on #69
En la última reunión (por fin) se instalaron (¡aleluya!) los rodamientos en el eje Y. En las siguientes fotos se puede comprobar cómo quedaron. También se apretó la sujección del motor del eje Y ya que estaba bastante suelto.

![27_nov_dedalo_front_rods](https://user-images.githubusercontent.com/6171234/49309262-f8dbc380-f4da-11e8-85c7-7a2c64b1dda9.jpg)
![27_nov_dedalo_back_rods](https://user-imag

[2018-11-30 19:04] #69 closed, assigned to David-Estevez, Siotma

[2018-11-30 19:10] Siotma opened #115 "Tensar y alinear la correa del eje Y de Dédalo"
La correa del eje Y de Dédalo quedó destensada tras finalizar #69 . Hay que tensarla, para lo cual hay que desmontar la cama caliente. Propongo que se aproveche la ocasión para alinear la correa ya que actualmente tiene cierto ángulo y esto provoca esfuerzos e imprecisiones. Propongo imprimir una pieza sencilla (un prisma sería suficiente) que haga de suplemento.

[2018-11-30 19:15] Siotma opened #116 "Instalar nuevos muelles en Dédalo"
En la última reunión, @madelgj y @CeciliaVa instalaron los muelles comprados en #103 en Dédalo. Quedaron muy bien y realmente han mejorado la estabilidad de la base de impresión. Debido a #115, habrá que desmontarlos y volver a ponerlos, pero el crédito es para ellas de cualquier manera así que pueden cerrar la issue.

Para muestra una foto:

![27_nov_dedalo_base_springs](https://user-images.githu

[2018-11-30 19:20] Siotma opened #117 "Instalar nuevos muelles en Blacky"
En #103 se compraron nuevos muelles. Están en el armario. Tareas:

- [x] Sustituir los muelles que tiene Blacky actualmente en la cama caliente por los nuevos.
- [x] Nivelar la cama caliente de Blacky.

[2018-11-30 19:20] Siotma opened #118 "Instalar nuevos muelles en Hija Resurrection"
En #103 se compraron nuevos muelles. Están en el armario. Tareas:

- [x] Sustituir los muelles que tiene Hija Resurrection actualmente en la cama caliente por los nuevos.
- [x] Nivelar la cama caliente de Hija Resurrection.

[2018-11-30 19:24] Siotma commented on #107
Se acepta la propuesta. Ya se han iniciado las tareas en #114 y en #113 .

[2018-11-30 19:24] #107 closed, assigned to Siotma, GioSunrider, d-marcos-m

[2018-12-05 16:21] GioSunrider commented on #113
Imprimiendo todo en Hija y Blacky

[2018-12-05 22:57] CeciliaVa commented on #115
Hoy @MrTommyGuns, @CinnabarCinnamon y yo hemos alineado y tensado la correa, aunque no hemos impreso ningún tipo de prisma supletorio. No sé si esta pieza era necesaria o era sólo una sugerencia.

[2018-12-05 23:06] CeciliaVa commented on #116
Hoy @MrTommyGuns, @CinnabarCinnamon y yo, con la colaboración de @DiegoGarciaX2, tras reajustar la dirección del eje Y y tensar la correa de ese mismo eje (#115) hemos colocado los nuevos muelles y calibrado a Dédalo :smiley: :tada:

[2018-12-07 12:02] GioSunrider commented on #114
Se imprimio en Blacky el soporte del Autolevel, ya que, como se ve en la foto, es donde tambien va colocado el End-Stop.

![photo5783078558627901266](https://user-images.githubusercontent.com/10605193/49646755-65494c00-fa20-11e8-8f9a-876a83f3c18e.jpg)

![photo5787469200615387084](https://user-images.githubusercontent.com/10605193/49646199-afc9c900-fa1e-11e8-8222-a7658be21fdb.jpg)

Ademas como se v

[2018-12-07 12:05] GioSunrider commented on #113
Blacky imprimio su propio Duct como muestra la foto.

![photo5787469200615387082](https://user-images.githubusercontent.com/10605193/49646819-a5a8ca00-fa20-11e8-9cd1-301eacc78349.jpg)

E hija imprimioo el resto de piezas, hubo una pequeña perdida de pasos, se valorara si la piezas sirven o no en la siguiente reunion.

![photo5787469200615387081](https://user-images.githubusercontent.com/10605193/4

[2018-12-13 14:39] jorgercobo commented on #98
Se han etiquetado las RPi que controlan cada impresora:
- __100__:
  - Spicy: http://192.168.0.100/
  - Geonosis: http://192.168.0.100:5001/
- __101__:
  - Dedalo: http://192.168.0.101
- __102__:
  - Hija Rs: http://192.168.0.102:5001/
  - Blacky: http://192.168.0.102

[2018-12-13 15:21] jorgercobo commented on #98
El tty al que se conectan las impresoras está configurado de forma automática y puede que los puertos no se mantegan al reiniciar la RPi, además es necesario para la configuración de las webcams fijar el tty de cada impresora. Para ello hay que buscar los ttyUSB que ahora no aparecen, para ello voy a seguir [esta guia](https://forum.level1techs.com/t/solved-octoprint-help-no-serial-no-ttyusb/11053

[2018-12-13 15:36] jgvictores commented on #98
Te recomendaría:
1. No demasiado caso a esa guía, salvo que quizás ayude el `sudo modprobe ftdi-sio`
1. Un `tail -f /var/log/syslog` para ver qué ocurre cuando se conectan los dispositivos físicamente (parecido a [dmesg](https://github.com/asrob-uc3m/tutoriales/blob/master/software/linux/bash.md#listado-alfab%C3%A9tico-de-comandos-%C3%BAtiles)).
1. Lo que más me preocuparía es que al tener el las