[2018-12-13 15:53] jorgercobo commented on #98
Muchas gracias. El [tutorial](http://thomas-messmer.com/index.php/14-free-knowledge/howtos/79-setting-up-octoprint-for-multiple-printers) que estamos siguiendo para configurar todo tambien usa ese método. Para la siguiente reunión queda pendiente seguir con lo que sugiere @jgvictores.
En 102:
  - Pendiente identificar cada impresora mediante udevd. Por ahora se hace automático y parece funcionar,

[2018-12-14 14:21] GioSunrider commented on #113
Se ha reimpreso el boddy ya que se sufrio un desplazamiento de capa y no quedo bien alineado. el resto de piezas se pueden usar sin problemas.
Cierro issue y abro una nueva para el cambio de extrusor, ya que se comenzo con el cambio.

[2018-12-14 14:21] #113 closed, assigned to GioSunrider

[2018-12-14 14:24] GioSunrider opened #119 "Cambio de extrusor Blacky"
Viene de #113, pese a los problemas que se citan ahi, en la ultima reunion se comenzo el cambio de extrusor, desmontando el anterior. Blacky queda en el estado de la foto hasta la proxima reunion que llevare las piezas que faltan.

![photo5809819690732728210](https://user-images.githubusercontent.com/10605193/50008391-52042680-ffb4-11e8-8ecb-b6d109d788d4.jpg)

[2018-12-14 14:28] GioSunrider commented on #114
Hija imprimio sin problemas el nuevo Duct, pero por error mio de diseño no queda bien, dado que ahora me he pasado de tamaño. En la proxima reunion llevare el duct bien puesto para que geonosis  pueda comenzar a imprimir. Adjunto fotos del proceso.

![photo5809819690732728211](https://user-images.githubusercontent.com/10605193/50008556-dd7db780-ffb4-11e8-9226-590658b967b7.jpg)

![photo580981969073

[2018-12-14 14:33] GioSunrider opened #120 "Cambio de Bloque Spicy"
En la ultima reunion, al ir a imprimir con Spicy, nos percatamos de una GRAN atasco en ella. Ademas de ello me percate de que el bloque de spicy tenia fugas por doquier, asi que aprovechando que habia que desmontar, procedimos a cambiar el bloque y nozzle, ya que tenemos un buen stock de ellos.

Se le coloco un nozzle de 0,4 y se deshizo el atasco. Adjunto foto del resultado final.

![photo5809819

[2018-12-14 14:33] #120 closed, assigned to GioSunrider, CeciliaVa

[2018-12-15 00:04] GioSunrider commented on #89
En la última reunión actualice el firmware de Spicy por Marlin 1.1.9., el mismo que tengo yo en casa, añadidos los custom comanda y habilitado el cambio de filamento. Mañana subiré los archivos de configuración al repo.

[2018-12-15 00:07] GioSunrider commented on #115
Revise la alineacion de la correa y me pareció correcta. Yo tampoco se a que prisma se refiere @Siotma pero la impresora en teoría debería funcionar sin problemas.

[2018-12-15 00:08] GioSunrider commented on #115
@CeciliaVa o @MrTommyGuns proceder alguno a cerrar la issue que os lo habéis ganado.

[2018-12-15 00:10] GioSunrider commented on #105
Realizado el cambio en #120 esto ya no es necesario ya que no ha vuelto a haber problemas al respecto. Procedo a cerrar la discusión.

[2018-12-15 00:10] #105 closed, assigned to GioSunrider

[2018-12-15 00:10] GioSunrider commented on #105
También debido a #107 en la que se acordó la colocación de los extrusores.

[2018-12-15 00:11] GioSunrider commented on #83
Sigue en #119

[2018-12-15 00:12] GioSunrider commented on #83
Reabrir para que cuando pueda @David-Estevez nos confirme la decisión del departamento.

[2018-12-15 00:14] GioSunrider commented on #95
Me gustaría que actualizados el estado de la placa, si esta es funcional ya mismo, podéis proceder a cerrar la issue

[2018-12-15 00:15] GioSunrider commented on #81
Dédalo en principio está operativa. Procedo a cerrar la issue.

[2018-12-15 00:15] #81 closed, assigned to GioSunrider, JorFru, d-marcos-m

[2018-12-15 00:18] GioSunrider commented on #61
Por el plan de issues genéricas dejo pendiente lo que hay que hacer. Además que está sigue en #114 y está casi completado. Dejo pendiente a @JorFru encargado del recableado ya que demostró habilidades que el resto no, con un grandísimo resultado.

[2018-12-15 00:18] #61 closed, assigned to GioSunrider, JorFru, anacarnerero, d-marcos-m

[2018-12-15 00:21] GioSunrider commented on #82
Dado que las mejoras no están previstas y se pueden realizar en issues separadas, cierto la issue  del montaje. Gran trabajo Chichos!

[2018-12-15 00:21] #82 closed, assigned to GioSunrider, JorFru, anacarnerero, CeciliaVa, MrTommyGuns

[2018-12-15 00:23] GioSunrider commented on #108
Ahora mismo hay muchas Impresoras operativas, para los pertenecientes al grupo de printer se están realizando las formaciones simultáneamente que las reuniones en función de necesidad. Habría que ver si las heredadas del año pasado siguen interesados en la formación.

[2018-12-15 00:25] GioSunrider commented on #116
Dado que los muelles quedaron bien instalados tras #115 que alguno de los implicados cierres la issue por favor.

[2018-12-15 11:51] MrTommyGuns commented on #115
Cerraamos!

[2018-12-15 11:51] #115 closed, assigned to Siotma, CeciliaVa, MrTommyGuns

[2018-12-15 15:59] #116 closed, assigned to madelgj, CeciliaVa

[2018-12-16 14:46] GioSunrider commented on #89
Subidos archivos en 21e93f3
Tienen el añadido de lenguaje ya que esta pensado para PLA y PETG, en vez de ABS y PLA.

[2018-12-16 14:46] #89 closed, assigned to GioSunrider

[2018-12-16 14:49] GioSunrider commented on #104
Se ha procedido al cambio de Carpetas y a la reestructuracion, muy buen trabajo, @Siotma y @dmarcosm , cerrad alguno la issue que os lo ha beis ganado.

[2018-12-19 17:57] jorgercobo commented on #98
- HaProxy ya está configurado, a traves de http://192.168.0.102/webcam/ y http://192.168.0.102/webcam2/ se puede acceder a ambas camaras. Queda pendiente estudiar las reglas de HaProxy para poder acceder a las webcams mediante /webcam... independientemente de la URL de origen ya que ahora hay que forzar la URL absoluta en Hija al fallar debido al puerto 5001 en la URL.

- Se ha ignorado la directi

[2018-12-20 11:38] GioSunrider commented on #119
En la ultima reunion se termino de colocar el nuevo extrusor de Blacky. Tambien se coloco el ventilador de capa. por lo que esta issue se da por cerrada.

![photo5825418127188537374](https://user-images.githubusercontent.com/10605193/50282775-2ec5f500-0454-11e9-89c0-1ceca703f82f.jpg)

[2018-12-20 11:40] GioSunrider commented on #119
Solo faltaria calibrarla, recomiendo hacerlo despues de cambiar los muelles de la cama.
Y realizar pruebas de impresion.

[2018-12-20 11:40] #119 closed, assigned to GioSunrider, CeciliaVa

[2018-12-20 11:44] GioSunrider commented on #95
Siguiendo el tutorial de staticsboards, que @Siotma proporciono, logre subir con exito el marlin 1.1.9, aunque los fichero que ha y en el repo de @dmarcosm estan mal configurados, ya que la pantalla ni la placa eran las correctas.
Cuando se fue a comprobar la placa ocurrio lo siguiente....

![photo5825823451842195177](https://user-images.githubusercontent.com/10605193/50282959-b4e23b80-0454-11e9-9

[2018-12-20 11:46] GioSunrider commented on #114
En la pasada reunion lleve el nuevo duct, esta vez, con los cambios necesarios. Se instalo y quedo perfecto. por lo que queda como satisfactorio el cambio de extrusor.

![photo5825418127188537375](https://user-images.githubusercontent.com/10605193/50283138-4a7dcb00-0455-11e9-8481-6ff1f28c3448.jpg)

[2018-12-20 11:46] #114 closed, assigned to GioSunrider

[2018-12-20 13:33] jorgercobo commented on #98
Pendiente de bajar la resolución de las camaras o los fps ya que el problema puede ser de ancho de banda

[2018-12-28 13:04] JorFru commented on #95
Creo que puedo hacerlo.
Me propongo como plazo las dos primeras semanas de Enero.

Si necesitáis la máquina con el USB en funcionamiento antes de este periodo, podéis hacer lo que queráis, pero no me puedo comprometer a hacerlo en una fecha concreta.

[2018-12-28 17:42] GioSunrider commented on #95
No, no ha prisa, es más SAV, ya que todavía no hemos visto a geonosis quemando plástico. Pero no hay problema en tenerla parada, hay otras 4 Impresoras. Así que por mi parte tienes vía libre para ponerte con ella cuando puedas, te dejo encargado de esta issue para que hagas lo que creas mejor.

[2018-12-28 17:49] #104 closed, assigned to Siotma, d-marcos-m

[2019-01-11 19:00] Siotma commented on #115
Básicamente me refería a instalar algún suplemento bajo la cama que haga que el movimiento de la correa sea horizontal y no inclinado, de esta forma el polígono que circunscribe la correa no se deforma al moverse la cama, lo que evita tensiones y destensiones indeseadas.

Me he entretenido dibujando esta imagen para que se entienda lo que quiero decir: como se puede ver, entre la posición extrema

[2019-01-11 19:01] Siotma commented on #115
Por lo descrito en el comentario anterior, ayer añadí unos suplementos bajo la cama de dédalo que corregían el desnivel:

![belt_dedalo_11_jan](https://user-images.githubusercontent.com/6171234/51054016-b0d0b600-15db-11e9-86cd-0d592e0e3f32.jpg)

[2019-01-12 12:00] Siotma commented on #115
Las piezas, por cierto, las saqué de aquí: https://www.thingiverse.com/thing:181524/files

[belt-y-clamp-gt2.zip](https://github.com/asrob-uc3m/impresoras-asrob/files/2751964/belt-y-clamp-gt2.zip)

[2019-01-12 12:07] Siotma opened #121 "Documentar las piezas de Blacky"
La carpeta de piezas de Blacky (https://github.com/asrob-uc3m/impresoras-asrob/tree/master/Blacky/Parts) está actualmente casi vacía y muy desactualizada. Teniendo en cuenta que recientmente se ha instalado un nuevo extrusor (#119) se debería aprovechar para actualizarla.

P.D.: Nótese que el nuevo ventilador de capa es la V2 que he dejado [aquí](https://github.com/asrob-uc3m/impresoras-asrob/issu

[2019-01-12 12:07] Siotma commented on #119
En la última reunión se detectó que el ventilador de capa de Blacky se había partido. Aprovechando que diseñé una segunda versión del que tenía, imprimimos esa. Dejo la pieza aquí. He detectado que la carpeta Parts de Blacky está casi vacía: #121

[Blower_duct_v2.zip](https://github.com/asrob-uc3m/impresoras-asrob/files/2751967/Blower_duct_v2.zip)

[2019-01-13 15:02] GioSunrider opened #122 "Donacion Chasis Anet A8"
En la ultima reunion, lleve la ultima donacion realizada a Printer One. Un chasis completo de Anet A8. Venia montado, asi que lo desmontamos y almacenamos para tener piezas de recambio para Spicy.

[2019-01-13 15:02] GioSunrider commented on #122
Foto ajunta del chasis

![photo5897758450333626264](https://user-images.githubusercontent.com/10605193/51086919-ad107100-174c-11e9-8eee-5ce8c5bd0227.jpg)

[2019-01-13 15:02] #122 closed, assigned to GioSunrider

[2019-01-13 15:06] GioSunrider opened #123 "Tensores Spicy X e Y"
En la ultima reunion, aprovechando que #122 vino con el Tensor del eje Y, se desmonto e instalo en spicy, dando como resultado la siguiente imagen.

![photo5897758450333626265](https://user-images.githubusercontent.com/10605193/51086934-ed6fef00-174c-11e9-97da-4b3542f91fe6.jpg)

El siguiente paso a recorrer seria la discusion, impresion e instalacion del tensor del eje X, por lo que propongo el si

[2019-01-13 15:07] GioSunrider commented on #52
Bloqueado por #83

[2019-01-13 15:09] GioSunrider commented on #83
Bloquea a #52 cuando @David-Estevez nos confirme dicha decision.

[2019-01-13 15:15] GioSunrider opened #124 "Filamento PETG: Primeras pruebas"
En la ultima reunion comence la realizacion de pruebas con el filamento comprado con el dinero de la ultima subveccion.
Realice los cambios pertinentes en el Perfil que tengo para Hija Resurrection, en Simplify 3D, obteniendo como resultado la siguiente piramide.

![photo5897758450333626263](https://user-images.githubusercontent.com/10605193/51087021-1b096800-174e-11e9-913b-1a75255bdfe9.jpg)

Dest

[2019-01-13 20:20] Siotma commented on #95
Según dices, utilizaste las fuentes de @dmarcosm , sin embargo, yo te había dejado un zip con la configuración en [mi post](https://github.com/asrob-uc3m/impresoras-asrob/issues/95#issuecomment-440414586). Supongo que no lo viste. Estuve configurándolo un buen rato y busccando información para asegurarme de lo que hacía... debería funcionar bien.

[2019-01-13 22:37] GioSunrider commented on #95
Pues la verdad que no lo vi, seria subir ese a ver si funciona, pero antes hay que arreglar la placa.

[2019-01-18 18:13] CinnabarCinnamon commented on #117
Nuevos muelles instalados. Los antiguos se han guardado en la caja "RODAMIENTOS".
Cama nivelada. Se puede imprimir.
![whatsapp image 2019-01-18 at 19 05 33](https://user-images.githubusercontent.com/44849400/51404920-247f3f80-1b55-11e9-86a3-634b3e42dacf.jpeg)
![whatsapp image 2019-01-18 at 19 05 43](https://user-images.githubusercontent.com/44849400/51404921-247f3f80-1b55-11e9-8b65-99b11892186e.jp

[2019-01-18 18:14] #117 closed, assigned to CinnabarCinnamon

[2019-01-18 20:01] CinnabarCinnamon commented on #118
Muelles sustituidos. Cama nivelada.
Se ha adherido el cartón a la cara inferior de la cama.
Se puede imprimir.
![whatsapp image 2019-01-18 at 20 50 19](https://user-images.githubusercontent.com/44849400/51410210-34525000-1b64-11e9-9b09-6c02ff747829.jpeg)
![whatsapp image 2019-01-18 at 20 50 40](https://user-images.githubusercontent.com/44849400/51410211-34eae680-1b64-11e9-9a75-900304863f5e.jpeg)

[2019-01-18 20:01] #118 closed, assigned to CinnabarCinnamon

[2019-01-26 03:05] JorFru commented on #95
Jorfru ejecutó y @GioSunrider miró.
Siento no dejarte el placer de soldarla tron. La siguiente te la haces tú.
Lo blanco es cianocrilato+bicarbonato.
Estará disponible para montarse en la siguiente reunión.

![photo_2019-01-26_04-03-28](https://user-images.githubusercontent.com/11017088/51781869-655ff100-211f-11e9-8353-c25a6f50d35d.jpg)
![photo_2019-01-26_04-03-30](https://user-images.githubuserco

[2019-01-26 13:28] GioSunrider commented on #95
Yo seria incapaz de haber hecho esa ñapa, n ote preocupes, el credito es todo tuyo! El proximo dia hay que ponerse con geonosis a muerte!

[2019-01-30 11:22] CinnabarCinnamon commented on #121
Se ha subido los archivos .stl de varias piezas de extrusor y LCD de Blacky a la carpeta Parts.

[2019-01-30 11:22] #121 closed, assigned to CinnabarCinnamon

[2019-01-30 13:03] GioSunrider commented on #95
Se ha intalado y subido el marlin que @Siotma configuro, funciona perfectamente menos por el LCD que ha y que configurarlo.

[2019-01-30 13:50] CinnabarCinnamon opened #125 "Ventilador de capa Dédalo"
El ventilador de capa de Dédalo produce un error de thermal runaway, habrá que hacer otro diseño o inventar algo para colocarlo de manera que apunte a la pieza.

[2019-01-30 14:05] GioSunrider commented on #95
Sigo sin poder arreglarlo, para poder subir el marlin hay poner la placa tipo Anet V1.0 (Optiboot) para que se suba correctamente.

![527a364e-a765-49be-95fc-1884067beb91](https://user-images.githubusercontent.com/10605193/51986425-810d2380-24a0-11e9-9648-0f4d045e6a6d.jpg)

[2019-01-30 15:05] GioSunrider commented on #125
Voy a expandir un poco la idea. El ventilador de dedalo no apunta a la capa, si no al Hot-End y por eso cuando lo hemos conectado en mitad de la impreson ha producido el error.

[2019-01-31 13:22] JorFru commented on #95
Yo en su día también hice muchos intentos para poner a funcionar esa pantalla LCD y no lo conseguí.

[2019-02-03 12:46] GioSunrider commented on #108
He realizado una pregunta general a todos los implicados para ver si siguen o no interesados, si no recibo respuesta en un par de semanas cerrare sus respectivas issues. Si siguen interesados ya buscaremos forma de realizarles la formacion.

[2019-02-03 12:46] #108 closed, assigned to GioSunrider

[2019-02-03 12:57] GioSunrider opened #126 "Videos para la formacion de operadores"
Proveniente de [asrob-uc3m/operadores/#22](https://github.com/asrob-uc3m/operadores/issues/22) os propongo que una reunion la dediquemos a la realizacion de estos videos.
Podemos salir varios y documentar el video todo el proceso de impresion.
¿Alguno que quiera echarme una mano?

[2019-02-07 14:07] David-Estevez commented on #83
Los rodamientos han sido pedidos. Os aviso cuando lleguen.

[2019-02-07 14:51] GioSunrider commented on #52
Avances en #83

[2019-02-07 16:15] GioSunrider commented on #126
Para la creacion de los videos se va a realizar una [milestone](https://github.com/asrob-uc3m/impresoras-asrob/milestone/3), en la que cada issue se vera reflejado una idea y un guion pequeño de dicho video.
El proceso que propongo para la realizacion de estos videos es el siguiente:

- [x] Especificar el canal de difusion

- [x] Lista y proposicion de videos

- [x] Duracion de los videos

- [ ] C

[2019-02-07 16:33] GioSunrider commented on #126
La propuesta de videos es la siguiente:

- [x]  Github y repo de perfiles

- [x]  Presentando a la Granja

- [x] Partes de una impresora

- [x] Imprimiendo mi primera pieza

- [x] Calibración y  Cambio de filamento

- [ ] Pantalla

- [ ] Slicer

- [x] Postimpresion

- [x] Principales Errores

- [ ] (Extra) Octoprint

[2019-02-07 16:35] GioSunrider commented on #126
La propuiesta es la realizacion de videos cortos, claros y concisos. Y el canal de difusion seria una Lista de Reproduccion en el [Canal de Youtube de la Asociacion](https://www.youtube.com/user/asrobuc3m/videos).

[2019-02-07 16:39] GioSunrider opened #127 "Video 1. Presentacion de la granja"
En esta issue reflejaremos el guion y la produccion del video de presentacion de la granja, asi como el material audiovisual del mismo.

[2019-02-07 16:47] GioSunrider commented on #127
Imagenes de las impresoras para utilizar.

https://drive.google.com/file/d/1Esr2Bw1mX4VhRgQrtKhgr3Jn0qyi5ILj/view?usp=sharing

[2019-02-07 16:52] CinnabarCinnamon commented on #79
La pieza que iba a adaptar la sujeción de la cadena a la estructura de Hija se ha partido. Hay que reimprimirla.

[2019-02-07 17:21] L4g0 commented on #127
## Guión

¡Hola! Bienvenidos al curso de manejo e impresión 3D de asrob uc3m.

Para empezar os vamos a presentar a nuestras máquinas.

Del proyecto Clone Wars han nacido **Hija Resurrection**, **Blacky** y **Dédalo**

La primera es una prusa i3 steel (más info [en la descripición](http://wiki.asrob.uc3m.es/index.php/RepRap:_HIJA)). Actualmente se encuentra con un nozzle de 0.5 mm para filamento de

[2019-02-07 17:56] CinnabarCinnamon commented on #79
@Siotma ¿Tienes algún modelo de enganche entre el extrusor de Hija/Blacky y la cadena?

[2019-02-07 17:59] L4g0 opened #128 "Vídeo 2. Github"
## Guión

### Github
Hola, en este vídeo vamos a explicar cómo funciona la administración de nuestras impresoras. En asrob utilizamos el sistema de issues de **Github** como forma de organización.

### Reserva
El uso de las impresoras es libre y gratuito, solamente se requiere ser **operador de impresión** y traer tu propio filamento.

Para formarte como operador es necesario apuntarse creando una

[2019-02-07 18:00] CinnabarCinnamon commented on #79
Hemos encontrado estas dos piezas.

[E3DV6_Chain_Stepper_Mount_V4.zip](https://github.com/asrob-uc3m/impresoras-asrob/files/2842117/E3DV6_Chain_Stepper_Mount_V4.zip)
[E3DV6_Open_Chain_Long_Solo_V4.zip](https://github.com/asrob-uc3m/impresoras-asrob/files/2842118/E3DV6_Open_Chain_Long_Solo_V4.zip)

[2019-02-07 18:02] CinnabarCinnamon commented on #99
Buscando sujeciones para cadenas en Hija hemos encontrado piezas útiles para esta issue.
[E3DV6_Open_Chain_Long_Solo_V4.zip](https://github.com/asrob-uc3m/impresoras-asrob/files/2842126/E3DV6_Open_Chain_Long_Solo_V4.zip)
[E3DV6_Chain_Stepper_Mount_V4.zip](https://github.com/asrob-uc3m/impresoras-asrob/files/2842127/E3DV6_Chain_Stepper_Mount_V4.zip)

[2019-02-07 18:31] CinnabarCinnamon commented on #123
Piezas encontradas para tensor:

[X-axis-Right_2017.zip](https://github.com/asrob-uc3m/impresoras-asrob/files/2842201/X-axis-Right_2017.zip)
[BIG-thumbscrew.zip](https://github.com/asrob-uc3m/impresoras-asrob/files/2842202/BIG-thumbscrew.zip)
[pulley-Toothed_bearing.zip](https://github.com/asrob-uc3m/impresoras-asrob/files/2842203/pulley-Toothed_bearing.zip)
[tensioner-Thick.zip](https://github.co

[2019-02-07 18:44] David-Estevez commented on #52
Si queréis comento cuando lleguen por aquí y así no tenemos que estar pendientes de #83 (y se puede cerrar)

[2019-02-07 19:03] CinnabarCinnamon opened #129 "Soporte para pantalla LCD de Dédalo"
Se necesita fijar la pantalla de Dédalo de modo que no esté colgada de los cables de la impresora.
La principal idea es imprimir y emplear el mismo modelo de pieza que las que sujetan la placa electrónica.

[2019-02-07 19:05] GioSunrider commented on #52
Me parece perfecto, puedes cerrar la otra.

[2019-02-07 19:06] David-Estevez commented on #83
Seguimos en #52

[2019-02-07 19:06] #83 closed, assigned to nobody

[2019-02-07 19:44] L4g0 opened #130 "Vídeo 4. Principales errores"
## Guión

En este vídeo veremos los problemas más típicos con los que nos podemos encontrar durante la impresión.

### Thermal Runaway
El primero, y el más importante que nos puede aparecer se llama **THERMAL RUNAWAY**. Este error se muestra por la pantalla LCD de la impresora y detiene por completo el funcionamiento de la misma.

Este error aparece cuando durante la impresión hay una caída de tem

[2019-02-07 20:04] MrTommyGuns opened #131 "Video 3. Calibración y Cambio de Filamento"
## Guión
### Calibración
Hola, en este vídeo vamos a explicar la calibración básica de nuestras impresoras.

### Qué tenemos que Calibrar

- Cama caliente.
- Tensión de las correas.

### Calibración de la Cama Caliente

Esta es una calibración básica, fundamental para conseguir una buena impresión.
Esto determinará la calidad de impresión de la primera capa, por lo que un mal ajuste nos podría lle

[2019-02-12 11:25] David-Estevez commented on #52
Habemus rodamientos:

![image](https://user-images.githubusercontent.com/1451819/52632268-50c27d80-2ec1-11e9-81d2-d2c28a21cd80.png)

[2019-02-12 12:24] GioSunrider commented on #52
Genial, asi el proximo dia podremos empezar a colocarlos y a probarlos.

[2019-02-12 23:57] David-Estevez commented on #52
Están ya en el armario, en la balda de Printer One

[2019-02-14 16:53] CinnabarCinnamon commented on #129
Encontrada pieza para soporte:
[smart_controller_2004_mount.zip](https://github.com/asrob-uc3m/impresoras-asrob/files/2866000/smart_controller_2004_mount.zip)

[2019-02-14 17:00] GioSunrider commented on #123
ya que hay que imprimir, imprimiremos mejor la misma pieza que lleva [Hija](https://github.com/asrob-uc3m/impresoras-asrob/tree/master/Hija%20Resurrection/Parts/X%20axis)

[2019-02-14 18:48] MrTommyGuns opened #132 "Video 5. Partes de una Impresora"
## Guión
###
Hola, en este vídeo vamos a explicar las partes de nuestra impresora.

### Partes Principales
* Cama caliente.
* Extrusor.
* Placa Controladora.
* Pantalla.
* EndStop.
### Cama Caliente

Es la superficie de impresión de nuestra impresora. Todas las impresoras de la asociación tienen un cristal sobre ella, sobre la que hay que rociar con laca antes de imprimir. Otra parte importante so

[2019-02-14 19:06] MrTommyGuns opened #133 "Video 6. PostImpresión"
## Guión
### PostImpresión
Hola, en este vídeo vamos a explicar que hacer al terminar de imprimir una pieza.

### Qué tenemos que realizar

* Despegar la pieza.
* Retirar el filamento.
* Apagar la impresora.

### Despegar la pieza

Una vez terminada la pieza, deberemos de proceder a despegarla. Para ello tenemos varias opciones. La primera de ellas y más simple será tirar de ella y con un poco de

[2019-02-14 19:25] MrTommyGuns opened #134 "Video 7. Imprimiendo mi primera pieza"
## Guión
### Imprimiendo mi primera pieza
Hola, en este vídeo vamos a realizar una impresión para mostraros los pasos uno a uno.

### Pasos previos antes de imprimir
* Tener la impresora calibrada
* Generar el gcode de la pieza que vamos a imprimir
* Introducir la MicroSD

### Procedemos a imprimir

Lo primero que deberemos realizar es un _AutoHome_, acto seguido deberemos precalentar el extrusor

[2019-02-14 19:29] Siotma commented on #95
Mentira! Hoy @GioSunrider y yo hemos intentado hacer pruebas de movimiento con Geonosis y al hacer homing, el regulador de 5V HA VUELTO A ARDER! :tired_face:

Necesitamos volver a colocar la placa antigua y poner la impresora a funcionar. Lleva casi un año en la asociación y ahora que tiene un V6 no puede estar parada...

[2019-02-14 19:34] CinnabarCinnamon commented on #63
Se ha comenzado el recableado de Dédalo, se ha ajustado (cortar y soldar) las longitudes de los cables de Y y X.

[2019-02-14 19:38] CinnabarCinnamon commented on #129
Se ha impreso el soporte y se ha atornillado a la placa. Falta por determinar cómo fijaremos a placa a la impresora.

[2019-02-14 19:41] CinnabarCinnamon commented on #63
El cableado de Z y Extrusor están a medio camino, Dédalo que inutilizable hasta que se acabe.

[2019-02-14 20:09] CinnabarCinnamon commented on #129
Soporte y pantalla fijados a la impresora.
![lcd_fijada](https://user-images.githubusercontent.com/44849400/52814541-b61e9600-309c-11e9-9bbf-9761ff160233.jpg)

[2019-02-14 20:15] CinnabarCinnamon commented on #123
La pieza impresa sirve para Blacky, NO para Spicy.

[2019-02-14 20:16] #129 closed, assigned to GioSunrider, CinnabarCinnamon

[2019-02-14 20:39] JorFru opened #135 "Charla Impresoras 3D en Jornadas Técnicas del GUL"
Hola, abro issue para pedir préstamo.

Me he presentado para dar una charla en las JT del GUL https://cursos.gul.es/xxxiii-jornadas-tecnicas-del-gul

Me gustaría llevar a la charla a Dédalo, para que los asistentes vean las abominaciones mecánicas que se construían con pocos recursos, a fin de calmar el SAV.
El objetivo es llevarla para enseñar, quizás ponerla a imprimir pero sería raro.

Más dato

[2019-02-14 22:36] GioSunrider commented on #135
Ahora mismo dedalo no puede imprimir a falta de terminar su cable managment. Por el prestamos sin problema, yo mismo puedo echarte un cable con la charla si lo necesitas.

[2019-02-14 22:41] GioSunrider commented on #63
Se ha colocado ademas el LCD, como se ve en #129

[2019-02-14 22:58] JorFru commented on #135
Okey, gracias por la info y el ofrecimiento.
Continuamos la colaboración por chat privado.
Si alguien más se anima que se manifieste

[2019-02-15 15:57] David-Estevez commented on #135
:unamused:

[2019-02-15 16:42] GioSunrider opened #136 "Tensor Eje X Blacky"
Se ha impreso un tensor para el eje X para blacky, identico al que leva hija. En la proxima reunion se colocara.

[2019-02-15 16:43] GioSunrider commented on #123
Sigue para Blacky en #136

[2019-02-15 16:46] GioSunrider commented on #79
cuando comencemos el cable managment de hija, podemos aprovechar para colocarle los rodamientos nuevos de #52

[2019-02-15 16:48] GioSunrider commented on #123
Para no tener que imprimir una pieza nueva del eje X, propongo el siguiente [tensor](https://www.thingiverse.com/thing:3078070) asi ni necesita sustitucion de correa por ser demasiado pequeña ni una piezaq entera nueva. El proximo dia, podemos imprimir y colocarlo.

[2019-02-21 17:47] CinnabarCinnamon commented on #63
Se da por finalizada la colocación de cables. Cerrando issue.
![dedalo_cableado](https://user-images.githubusercontent.com/44849400/53190017-0c458900-3609-11e9-9a9b-abb929b7b561.jpg)

[2019-02-21 17:47] #63 closed, assigned to GioSunrider

[2019-02-21 18:26] CinnabarCinnamon commented on #125
Gracias a Víctor por su aportación, tenemos piezas para el ventilador.
[piezaventilador2.zip](https://github.com/asrob-uc3m/impresoras-asrob/files/2890573/piezaventilador2.zip)
[pieza centilador.zip](https://github.com/asrob-uc3m/impresoras-asrob/files/2890574/pieza.centilador.zip)

[2019-02-21 18:29] GioSunrider commented on #136
Se ha colocado el tensor en blacky.

![photo6014948612984909508](https://user-images.githubusercontent.com/10605193/53192515-ef13b900-360e-11e9-9593-f1af7a14a7af.jpg)

[2019-02-21 18:31] GioSunrider commented on #63
Se ha hecho una prueba de impresion durante la charla de @JorFru para el GUL.

![photo6014942763239452403](https://user-images.githubusercontent.com/10605193/53192629-3ef28000-360f-11e9-98a9-9666730c43bf.jpg)

[2019-02-21 18:57] MrTommyGuns commented on #123
Adjunto Link para imprimir un tensor bien hot.
https://www.thingiverse.com/thing:1428253

[2019-02-21 19:17] MrTommyGuns opened #137 "Mejoras Spicy"
Abro esta issue para ir documentando y mejorando a Spicy.

Propongo esta página para ir mirando las mejoras: https://www.staticboards.es/blog/mejoras-anet-a8/

- [ ] Botón para encendido. _(@JorFru approves)_

- [ ] Mejora estructura eje X.

- [x] Tensor eje X. _(Issue #123 )_

- [x] Final de carrera Z.

- [ ] Aros para muelles cama caliente.

- [ ] Reforzar interior delantero.

- [ ] Reforzar int

[2019-02-21 23:00] #136 closed, assigned to GioSunrider, CinnabarCinnamon

[2019-02-26 22:49] GioSunrider commented on #135
Dejo aqui la foto del evento con dedalo habiendo acabado de imprimir y @JorFru exponiendo de fondo.

![1bd5d862-c37b-45de-84c4-d409dc85263e](https://user-images.githubusercontent.com/10605193/53452280-24f6da00-3a21-11e9-8fb4-58983822cf90.jpg)

[2019-02-26 22:56] GioSunrider opened #138 "Rodamientos Lineales"
Dado que los igus comprados en #52 seguramente acaben en hija, y el otro dia al colocar el tensor de Blacky #136 observe que el estado de algunos de ellos es mas que cuestionable. Propongo hacer una prueba, esta consiste en imprimir nosotros en PETG los igus. He hablado con algun amigo y me ha dicho que el los estuvo usando sin problema.

[2019-02-28 16:49] GioSunrider commented on #125
Resulta que hemos encontrado una colocacion mejor y hemos usado la misma pieza pero sin dimensionar.

https://www.thingiverse.com/thing:823412/files

[2019-02-28 19:36] L4g0 commented on #123
Instalado tensor eje X :smile:
![image](https://user-images.githubusercontent.com/23212123/53593196-5940d680-3b98-11e9-8a15-48a025026ede.png)

[2019-02-28 19:36] #123 closed, assigned to GioSunrider, L4g0, MrTommyGuns

[2019-02-28 23:35] GioSunrider commented on #125
Tampoco vale esa pieza, así que he optado por rediseñarla. El carro ha quedado medio desmontado así que queda fuera de servicio hasta su finalización.

![img_20190228_203413](https://user-images.githubusercontent.com/10605193/53606116-ec3e3880-3bb9-11e9-8c94-c7b0ba030eec.jpg)

[2019-03-01 19:49] JorFru opened #139 "Nos donan una Cube Pro"
Hola
Pues eso, que nos regalan una impresora casta.

Un profesor de bioingeniería nos la regala porque se han comprado una MK3 y les funciona mejor.
Nos sugiere que le hagamos una conversión al lado del bien (open source).

Le he sugerido quedar el 4 o 5 de marzo de 2019, para ir a verla y traerla si nos mola. Voy yo. Si alguien quiere acompañarme, quedamos. Cuando me conteste pongo fecha y hora.

[2019-03-02 20:01] GioSunrider commented on #139
Ueeee palantisimo, tenemos además material de sobra para dedicarle.

[2019-03-05 19:16] JorFru commented on #139
Lista de modificaciones (por orden de urgenicia)

- [ ] Trucar el tema cartuchos de filamento. (cuesta 100€ cada 900g de filamento oficial)

- [ ] Instalar electrónica libre. (Da mucho morbo y es necesario para trastear)

- [ ] Instalar sistema multifilamento (multicolor y/o multimaterial).

Por parte del antiguo dueño estamos completamente autorizados a todo esto.

[2019-03-21 12:53] Lucas-LSM opened #140 "PROPUESTA: Donación Plotter_LSM"
Hola gente de ASROB:

Tengo un plotter freehardsoftware, (CNC arduino) para donar. Os dejo link de youtube de cómo es:

https://www.youtube.com/watch?v=-GkaaUIY3kc

Es una copia del plotter de 4xiDraw

Qué decís?

[2019-03-21 13:23] GioSunrider commented on #140
No se como andamos de espacio, pero por mi adelante, cuanto mas mejor xD

[2019-04-03 23:07] JorFru commented on #140
Actualizo con que tenemos muy poco espacio disponible.
Necesitaríamos upgradear a una segunda estantería.
De hecho la CNC de @DiegoGarciaX2 la tenemos ahora mismo en un emplazamiento poco adecuado, y también habría que buscarla hueco.

¿Qué os parece mover las cajas de filamento de la balda baja de la estantería a la balda última?
Así dejaríamos la CNC de Diego abajo, y tendríamos hueco para el pl

[2019-04-03 23:18] MrTommyGuns commented on #140
Me parece una buena solución lo de pasar las de filamento arriba y aprovechar la balda baja, al menos por el momento.
Si podemos en el futuro tener 2 estanterias o algo del estilo ya se verá como organizarlo mejor.

[2019-04-03 23:25] JorFru commented on #140
Calculo que, de conseguir estantería por la vía habitual, llegaría mínimo en marzo del 2020.

[2019-04-04 04:02] GioSunrider commented on #140
Por mí sin problema también.

[2019-04-04 07:01] Lucas-LSM commented on #140
Pues cuando lo tengais y me digais la acerco

Obtener Outlook para Android<https://aka.ms/ghei36>

________________________________
From: Jorge Ramos <notifications@github.com>
Sent: Thursday, April 4, 2019 6:02:56 AM
To: asrob-uc3m/impresoras-asrob
Cc: Lucas Sicilia Martínez; Author
Subject: Re: [asrob-uc3m/impresoras-asrob] PROPUESTA: Donación Plotter_LSM (#140)

Por mí sin problema también.

—

[2019-05-08 09:14] MrTommyGuns opened #141 "Soporte de filamento para Spicy"
Hace unos meses el soporte para filamento de Spicy murió.
El tema está en que tenemos varias impresoras que imprimen correctamente y nos faltan soportes si las queremos poner a imprimir todas.
Sugiero la siguiente pieza para hacerle un soporte:

https://www.thingiverse.com/thing:2162266

Por el momento la he impreso para mi anet y parece que funciona correctamente.

[2019-05-08 20:51] JorFru commented on #135
Aquí dejo la documentación generada
https://github.com/JorFru/Charlas/tree/master/JornadasT%C3%A9cnicasGUL/XXXIII

Desde aquí otra vez agradecer a Coleóptero, Obijuan y todo Clone Wars.
Sobre todo por la cantidad de diapositivas que dejaron de sus charlas anteriores y he podido reutilizar.

[2019-05-08 20:51] #135 closed, assigned to JorFru

[2019-05-08 20:52] JorFru commented on #140
Todavía estamos organizando el espacio y no tenemos mucho disponible. Próximamente te avisamos.
Gracias Lucas.

[2019-05-08 20:54] JorFru commented on #95
Cuál es el estado actual?
La OVM se ha vuelto a freír? La reparo si hace falta.

Me da mucha pena ver esta máquina parada, sobre todo por el extrusor grueso que tiene y no le estamos dando uso.

[2019-05-08 20:58] MrTommyGuns commented on #95
Yep, sigue frita...
Yo le volvería a poner la placa anterior y pa lante a funcionar...
Si no me equivoco también tenemos placas donadas del hackatón. Podemos ver cuales rentan para cada impresora
Para nuestra impresora casta necesitariamos una plaquita de estas open supongo

[2019-05-08 21:07] GioSunrider commented on #95
Mi idea es poner la ovm 20 lite para la nueva a democratizar, una buena mecánica con una buena placa. La ovm anet sigue frita, quedamos en que habria que reparar y probarla una a una, y a geonosis ponerle su placa original.

[2019-05-08 22:11] MrTommyGuns commented on #141
Si lo hacemos, sugiero ponerle una capa de pegamento caliente fina como antideslizante y la estabilidad mejora una barbaridad

[2019-05-09 15:21] GioSunrider commented on #141
Buena idea, se esta imprimiendo en Hija ahora mismo.

[2019-05-09 15:23] MrTommyGuns commented on #141
En la tarjeta de hija está el gcode del soporte y los conos están en la de Spicy, por si queréis reutilizarlos...
A los conos les faltaba poner algo más de relleno

[2019-05-09 16:16] GioSunrider commented on #141
he borrado la tarjeta entera... eso no se deja ahi...

[2019-05-09 16:19] GioSunrider commented on #95
@JorFru cambio de nuevo el regulador. Esta vez ardio nada mas encender. Hemos decidido quitar la placa y volver a la orginal. Ahora vuelve a funcionar y se estan haciendo n uevas pruebas de impresion.

[2019-05-09 16:19] GioSunrider commented on #95
Doy esta issue por cerrada dado que no se va a utilizar esa placa.

[2019-05-09 16:19] #95 closed, assigned to Siotma, GioSunrider, JorFru

[2019-05-09 16:44] GioSunrider commented on #125
He rediseñado unas piezas para el ventilador. Se encuentran publicadas en el siguiente enlace:
https://www.thingiverse.com/thing:3618964
Solo hay que imprimir y colocarlo.

[2019-05-09 16:52] GioSunrider commented on #125
Se ha dejado en Spicy imprimiendo el Ducto, quedarian pendientes las otras dos piezas.

[2019-05-09 16:52] GioSunrider commented on #141
Se han impreso las dos piezas, una vez se coloquen se subira la foto y quedara por cerrada la issue.

[2019-05-09 19:11] JorFru commented on #95
Pruebas de impresión satisfactorias. La placa antigua funciona correctamente, su firmware (Marlin 1.1.6) parece funcionar correctamente.

[2019-05-09 19:14] JorFru commented on #114
El nozzle actualmente instalado en geonosis, aunque en su inscripción lateral se puede leer claramente 1.2, este nozzle es de 0.8mm aunque Giorgio diga lo contrario.
El calibre digital chino dicta que son 0.8, y los chorretes que suelta miden 0.8 también.
conclusión: 0.8

[2019-05-09 20:04] JorFru commented on #141
![photo_2019-05-09_22-01-29](https://user-images.githubusercontent.com/11017088/57483031-5522ea80-72a6-11e9-9068-123a7b78748b.jpg)

[2019-05-09 20:04] #141 closed, assigned to GioSunrider, JorFru, MrTommyGuns

[2019-05-09 20:04] JorFru commented on #141
Mejoras de pegamento caliente por @MrTommyGuns

[2019-05-17 14:32] MrTommyGuns opened #142 "Misión: Descastarización CubePro"
Actualizacion 2023

Link previos de alguien que cambio la electronica:
https://dyzedesign.com/2018/09/cube-pro-total-conversion-step-by-step-guide/
https://dyzedesign.com/2018/10/our-cube-pro-total-conversion-part-2/
https://dyzedesign.com/2018/11/our-cube-pro-total-conversion-part-3/

Pasos a seguir:

- [x] Desmontar el "suelo".

- [x] Sacar la placa controladora.

- [x] Desenchufar todos los cab

[2019-05-17 23:37] JorFru commented on #142
Yo fui quien cortó los tres cables del termómetro.
Si alguien me quiere culpar, disponible estoy.

Es que está muy mal diseñado macho, tiene cables que llegan por un tubo y que la mayoría de esos cables van a un conector pero algúno otro va a otro conector de otra parte de la placa. Y se meten destrangis por sitios raros.

El asunto es que lo corté porque seguramente no vayamos a usar esa sonda de

[2019-05-22 19:15] MrTommyGuns opened #143 "Conos para filamento"
Creo muy conveniente que imprimamos una serie de conos, tubos o lo que sea para centrar los filamentos en los soportes.

En mi opinion son más útiles los conos porque se adapta a los tropecientos tipos de bobinas que tenemos, pero es más engorroso colocarlos si no se plantea el mecanismo adecuadamente.

Ejemplo: [CONO](https://www.thingiverse.com/thing:767317)

Se aceptan sugerencias.

[2019-05-22 19:25] MrTommyGuns opened #144 "Creación de Perfiles de Impresión"
Creo que deberíamos tener una serie de perfiles básicos creados para cada impresora, para que cada persona que quiera utilizar las impresoras no se tenga que liar a hacer un perfil que muy probablemente de errores.

Los que hay subidos creo que están muy desactualizados ya que las maquinas han cambiado bastante en algunos casos.

Por lo que he visto la mayor parte de la gente que usa las impresora

[2019-05-22 22:23] GioSunrider commented on #144
Me parece muy buena idea, así podemos ir perfilando distintos tipos de slicers y los vamos puliendo.

[2019-06-04 13:02] JorFru opened #145 "Electrónica de Geonosis"
Abro issue nueva para hablar de la placa nueva. La conversación anterior está en #95
Después de la vuelta a la electrónica original de Geonosis, me encuentro con que no funciona, la semana pasada sí funcionaba bien.

¿Qué fue lo último que se hizo?
¿Se han hecho pruebas de impresión después de atornillar la placa?
P.D.: issue de cable managing pronto

[2019-06-04 13:51] MrTommyGuns commented on #145
Lo último que se hicieron fueron pruebas de impresión...
Mientras se hacía una de ellas estabamos montando el ventilador y se paró porque presuntamente le di al botón se reset y no volvimos a ponerla a imprimir porque era tarde y así poder realizar el montaje más cómodamente...
El otro día yo intenté usarla y la pantalla no funcionaba...
Se lo comenté a Gio y me dijo que estaba dando problemas per

[2019-06-04 14:12] JorFru commented on #145
a mí tampoco me ha funcionado

Añado estatus:
Pantalla en blanco (bueno, azul)
Por USB reconoce el CH340 pero no el puerto serie.

Pasos que sugiero:
Desmontar la placa de todos los tornillos y probarla al aire. Parece que algo ha salido mal en el montaje.
Puede ser que se esté reiniciando todo el rato? No sé.

[2019-06-05 14:16] GioSunrider commented on #145
Primera labor para hacer mañana!

[2019-06-05 16:33] MrTommyGuns opened #146 "Actualizar finales de carrera virtuales en Marlin"
No sé como se llamará esto, pero resulta que Hija y Blacky (si no recuerdo mal), tienen un error de "bloqueo" en la cama por lo que sea, provocando que cuando se va a imprimir no se pueda usar todo el espacio de la cama.

[2019-06-05 20:08] JorFru commented on #146
Hija y Blacky tienen una cama más grande de la configurada en Marlin
Por eso "sienten" una limitación del movimiento de la cama que trunca las piezas antes de llegar al borde de la cama.
También hay que comprobar el X e Y offset a la hora de slicear.
Normalmente Cura trae un par de centímetros muertos en X e Y. Esta es la distancia entre el punto de homing y el principio de la cama. No en todas la

[2019-06-05 20:08] JorFru commented on #146
Hija y Blacky tienen una cama más grande de la configurada en Marlin
Por eso "sienten" una limitación del movimiento de la cama que trunca las piezas antes de llegar al borde de la cama.
También hay que comprobar el X e Y offset a la hora de slicear.
Normalmente Cura trae un par de centímetros muertos en X e Y. Esta es la distancia entre el punto de homing y el principio de la cama. No en todas la

[2019-07-02 12:10] JorFru commented on #145
La pasada semana le eché un vistazo y tiene mucha pinta de electrónica frita.
Ahora que tenemos RAMPS y MEGAs, podríamos hacer un cambio de la electrónica de Geonosis.

[2019-07-03 19:51] CeciliaVa commented on #125
![IMG_20190703_195955](https://user-images.githubusercontent.com/36002031/60620366-4dca1a00-9ddb-11e9-8516-66faaee25981.jpg)
:sparkles: Ahora la correa ha quedado bien puesta y el ventilador de capa perfectamente instalado. :sparkles:

[2019-07-04 10:48] #125 closed, assigned to GioSunrider

[2019-07-19 21:53] GioSunrider commented on #145
Ayer @MrTommyGuns y yo, recableamos la impresora, y se instalo una OVM 20 Lite. Se ha subido el Marlin en a37f707. Queda pendiente hacer Octoprint ya que no tenemos adaptador de pantalla y la hemos perdido, ademas de la impresion por SD.

![photo5875072248392561451](https://user-images.githubusercontent.com/10605193/61567669-ad355480-aa80-11e9-848c-56b24f8ca2fc.jpg)

[2019-07-19 21:53] #145 closed, assigned to GioSunrider, MrTommyGuns

[2019-09-03 23:05] GioSunrider opened #147 "Cambio de Llaves"
Solicito a @Siotma que un dia se acerque y haga un cambio de llaves a @MrTommyGuns ya que va a ser el segundo responsable del grupo.

[2019-09-11 12:21] Lucas-LSM opened #148 "Colaboración con asociación TesLab Electric"
Hola, hace poco que se ha creado esta asociación por parte de la carrera de eléctrica. Vamos a hacer una actividad dentro de dos semanas el miércoles 25 de septiembre en el MakerSpace de 13 a 15 horas, que va de reparar pantallas de móvil.
Queríamos preguntaros si nos podéis echar una mano con la difusión, e incluso si queréis colaborar o aportar a este tipo de actividades.

Saludos!

[2019-09-11 12:47] JorFru commented on #148
Estoy yo al frente de las Redes Sociales y creo que sí sería posible.
Lo consultaremos hoy en la reunión.

Tiene buena pinta.

[2019-09-14 18:17] Siotma commented on #147
Las llaves se entregaron el día 11 de septiembre, tal y como consta en https://github.com/asrob-uc3m/actas/issues/201

Queda pendiente actualizar la web para que conste el nuevo propietario de las llaves.

El seguimiento de las acciones pendientes se continuará en el repo de actas, que es donde debe hacerse.

[2019-09-14 18:17] #147 closed, assigned to Siotma, GioSunrider, MrTommyGuns

[2019-10-10 14:52] MrTommyGuns commented on #139
Esto deberíamos seguirlo en #142 (?)

[2019-10-13 10:58] MrTommyGuns opened #149 "Fallo extrusor Hija"
La racha de funcionamiento de impresoras a finalizado y ya tenemos a hija sin funcionar correctamente.
En la feria de asociaciones se sacó e imprimió alguna pieza pero más tarde falló y en la ultima reunión no se pudo imprimir nada debido a un fallo en el calentamiento del hotend.

[2019-10-13 11:14] MrTommyGuns opened #150 "Uso de filamento por los operadores"
Deberíamos resolver cuanto antes el problema/dilema de la cantidad de plástico de la asociación usado por los operadores.

La mejor opción yo diría que es poner limites en los gramos de las impresiones, de tal modo que si se utiliza este plástico no sea de forma abusiva para un uso personal.

A parte de eso habría que poner un límite en el cual se dejará de poder imprimir con el plástico de forma

[2019-10-13 11:58] GioSunrider commented on #150
Esto creo que iría mejor en actas. Y de hecho creo que ya hay issue, aunque esté cerrada.

[2019-10-14 09:18] jgvictores commented on #150
Síp, era la intención de https://github.com/asrob-uc3m/actas/issues/61. Aunque se trate de lo mismo, me gusta más cómo se plantea el problema aquí. Si lo queréis mover, ahí está el botón de `Transfer issue`. :smiley:

[2019-10-17 17:47] MrTommyGuns commented on #149
Se ha detectado que se ha partido una patilla de un transistor de la placa de control.

Se va a aprovechar para cambiar dicha placa, realizando el cable management de #79

[2019-10-17 17:52] MrTommyGuns opened #151 "Cambio de Placa de Control de Hija"
Como se comentó en #149 hija murió y vamos a cambiar la placa de control. Seguiremos documentando en esta issue.

[2019-10-17 17:55] MrTommyGuns commented on #149
Seguiremos en #151 con la misión. Habiendo encontrado el error, cierro la issue. :)

[2019-10-20 17:16] GioSunrider opened #152 "Nueva incorporacion a la familia."
Tal y como se dijo en [actas](https://github.com/asrob-uc3m/actas/issues/197) y aunque no hay hueco todavia para su uso, tenemos una nueva incorporacion.
Los detalles de la impresora se encuentran en la otra issue pero hay que seguir unos pasos para "darle de alta" en nuestro sistema.
Los pasos son:

- [ ] Hoja de Reserva

- [ ] Ponerle nombre

- [ ] Colocarla en su sitio definitivo

[MORE]

- [ ]

[2019-10-20 17:26] GioSunrider commented on #142
Seguido de #139

[2019-10-20 17:26] GioSunrider commented on #139
Afirmativo, continuamos en #142

[2019-10-20 17:26] #139 closed, assigned to nobody

[2019-10-20 17:27] GioSunrider commented on #124
Se ha usado el filamento sin problemas y procedo a cerrar la issue.

[2019-10-20 17:27] #124 closed, assigned to GioSunrider

[2019-10-20 17:28] GioSunrider commented on #151
Se va a aprovechar a hacer #79 ya que hay que revisar todo.

[2019-10-24 17:54] fervh commented on #143
[cono.zip](https://github.com/asrob-uc3m/impresoras-asrob/files/3768816/cono.zip)

[2019-10-28 14:36] #149 closed, assigned to GioSunrider, MrTommyGuns

[2019-11-15 07:47] GioSunrider commented on #137
En la reunion de ayer se imprimió e instalo la mejora del final de carrera del Eje Z.

[2019-11-15 07:49] GioSunrider commented on #152
En la reunion de ayer, realizamos una colocacion que parece ser la definiva para comenzar su uso hace falta colocar una rpi para añadirle octoprint.

[2019-11-15 07:51] GioSunrider commented on #78
En la reunion de ayer se habilito una mesa fija para poder volver a darle uso al ordenador.

[2019-11-15 07:53] GioSunrider commented on #98
En la reunion de ayer se movio el router cerca del ordenador y se instalo en su lugar un switch de 8 puertos que dara servicio a la granja de impresoras. Haria falta imprimir un soporte para que ambos queden fijos. Ademas haria falta un Rpi mas que de servicio a la nueva impresora ademas de Spicy.

[2019-11-15 07:56] GioSunrider commented on #32
Actualmente Blacky no imprime en las medidas correctas porlo que esto podria ser la solucion correcta.

[2019-11-16 20:17] JorFru commented on #32
Por añadir información:
Compensación en XY se llama "horizontal expansion" en Cura. Hay ajuste de expansión para la primera capa, que corrige el "pie de elefante", y para el resto de capas, que corrige el tamaño de los agujeros.

Adjunto un pequeño croquis, sacado de https://www.spainlabs.com/foros/tema-Ender-3D

- cubo grande + agujero grande = muchos pasos
- cubo pequeño + agujero pequeño = poco

[2019-11-16 20:18] JorFru commented on #32
Habría que identificar qué es lo que necesitamos.

[2019-11-19 00:45] JorFru opened #153 "Mejoras carro Spicy"
Recomiendo añadir esta mejora a Spicy Caldito. https://www.thingiverse.com/thing:2326111
Yo tuve esta modificación en la mía y ayudaba mucho en caso de atasco, ya que puedes ver directamente el filamento pasar desde los engranajes del extrusor hasta que entra por el barrel.

Fácil de enebrar el filamento al cargarlo, fácil de desatascar. Y sobre todo que los nuevos pueden ver cómo es por dentro el

[2019-11-21 08:17] VentressAsajj opened #154 "Impresora Ender PRO en usufructo"
Buenas, tengo una impresora Ender 3 PRO metida en la caja, recien comprada. Por problemas de sonido no la puedo montar en casa. He pensado que puedo dejarla en la asociación hasta que pueda llevármela a casa, cosa que no se cuándo ocurrirá. A cambio del espacio esa improsora está a disposición de la asociación.
El tema de filamento y compra de material en caso de avería deberíamos de dejarlo claro

[2019-11-21 13:34] GioSunrider commented on #154
Guiate de ejemplo del prestamo que realizo @JorFru con Spicy, aqui esta la [issue](https://github.com/asrob-uc3m/impresoras-asrob/issues/82) en la que establecio los terminos.

Por el tema del filamento note preocupes, se establece como cualquier impresora. de la asocicacion, es decir como se discute en #150

[2019-11-23 20:57] VentressAsajj commented on #154
@GioSunrider estoy de acuerdo con los términos de la impresora de @JorFru Lo mismo para la mía.

[2019-11-26 23:07] MrTommyGuns commented on #150
Teniendo en cuenta como se está llevando finalmente este asunto, creo que hemos dado con una buena dinámica.
A todos los nuevos operadores se les ha dicho que para imprimir lleven su propio filamento en el caso que sea para uso personal.
Si es para uso interno de la asociación, ya sean mejoras para las impresoras, proyectos de otras ramas... Se usará el filamento de la asociación.
Como siempre, pu

[2019-11-26 23:12] MrTommyGuns commented on #153
Se realizó la impresión de la pieza y @fervh la instaló.
Se precisa de instalar unos tornillos más adecuados para que el ventilador se adapte apropiadamente.

[2019-11-26 23:16] MrTommyGuns commented on #151
Finalmente se realizó el cambio de placa e hija queda finalmente funcional.
Se observó que los motores no estaban correctamente sujetos, lo cual provocaba que fallaran, se desmontaron y montaron, quedando funcionales, pero potencialmente pueden volver a fallar.
Queda pendiente imprimir una caja en condiciones para la placa.
Gracias a todos los que metieron mano para dejarla on point.

[2019-11-26 23:16] #151 closed, assigned to GioSunrider, MrTommyGuns

[2019-11-26 23:18] MrTommyGuns commented on #79
Dejo constancia por aquí de que se intentó realizar y dejar de la mejor manera posible este asunto, pero debido a falta de material (aka bridas) hay que darle un repaso.

Por otro lado sería interesante imprimir una caja para la electrónica que facilite este punto, ya que la que había esta destrozada.

[2019-11-26 23:22] MrTommyGuns commented on #152
En la ultima reunión se recolocaron algunas impresoras, incluida esta dotandola de un espacio aparentemente definitivo.

Se realizó una prueba de impresión y a pesar de que la primera capa fue un fracaso la pieza remontó con un resultado bastante bueno.

[2019-11-26 23:24] MrTommyGuns commented on #143
Finalmente se realizó la impresión de 2 de estos [conos](https://www.thingiverse.com/thing:767317)

![conos](https://user-images.githubusercontent.com/36898802/69825553-f99f5680-120f-11ea-9faf-5d5efc389f3a.jpg)

Creo que al menos deberíamos hacer un par más.

[2019-11-26 23:30] MrTommyGuns commented on #78
En la ultima reunión estuve jugando un poco con el PC y añadí a Cura (tiene una versión un poco vieja pero aparentemente tira guay) una impresora y además se añadió el perfil de la misma (Spicy, que siendo del rollo de Hija, Blacky y Dedalo se podrian usar igualmente) y de paso uno que me descargué para testear a Geonosis.
Queda pendiente probar que funciona todo correctamente, pero tiene buena pi

[2019-11-27 08:20] GioSunrider commented on #150
A mi me parece lo correcto.

[2019-11-27 08:23] GioSunrider commented on #79
sugiero ahora que los cables tienen la medida correcta, colocar las cadenas y que queden mas ocultos, tal y como refleja el primer comentario de la issue.

[2019-11-27 21:26] David-Estevez commented on #150
![image](https://user-images.githubusercontent.com/1451819/69760502-fe5b0080-1164-11ea-9af8-2d8fccfcbdd0.png)

[2019-11-27 21:33] jgvictores commented on #150
Opino lo mismo. Parece buena idea, pero tb parece una cosa muy horizontal.

Mejor una PR sobre estatutos, y votar sobre el merge.

Como pequeño aporte: ¿Quizás alguna cláusula de pago comisión en fungible? No sé, si alguien va a pulirse 5-10 bobinas, pues tal vez tenga sentido que aporte 1 bobina a la Asociación por compensar desgaste o algo.

[2019-11-28 16:41] GioSunrider commented on #150
Creo que actualmente nadie trabaja a ese volumen, el grupo de primer es quizá el que más hasta y tenemos filamento que nos va a durar años

[2019-11-28 18:12] GioSunrider opened #155 "Nombre para la nueva incorporacion"
Como se establece en #152 tenemos que poner un nombre la nuestra pequeña, asi que que comiencen las propuestas.

[2019-11-28 18:14] GioSunrider commented on #98
foto de la instalacion del switch

![photo5981031376507482669](https://user-images.githubusercontent.com/10605193/69826400-391b7200-1213-11ea-894f-c53208d53b40.jpg)

[2019-11-28 18:43] luciagz02 commented on #153
Ya se han instalado los tornillos adecuados y el ventilador encaja en su sitio.
![20191128_183225](https://user-images.githubusercontent.com/56801101/69827280-f196e500-1216-11ea-8655-2694c505b854.jpg)

[2019-11-28 18:43] #153 closed, assigned to luciagz02

[2019-11-28 19:48] GioSunrider commented on #98
Se necesita terminar de configurar la segunda estancia de RPi que controla a Dedalo y Geonosis.
Se ha bajado la calidad de las Webcams que controlan a la Moebyus One y a Spicy.
Se ha conseguido que la camara de Blacky funcione, queda revisar el resto.

[2019-11-28 19:55] MrTommyGuns opened #156 "Ventilador Spicy Quemó"
El ventilador de Spicy ha salido en llamas haciendo honor a su nombre (en realidad solo salio humo), más concretamente el cable que se ha fundido.

![CableQuemado](https://user-images.githubusercontent.com/36898802/69829626-0b3d2a00-1221-11ea-8316-1f64a21d85fa.jpg)

Necesitaremos un ventilador de repuesto.

[2019-11-29 07:41] jgvictores commented on #150
Nos han llegado a pedir ciertos trabajos de elevado volumen y siempre se quedó en el aire debido al vacío en cuanto a estatutos.

[2019-11-29 07:59] GioSunrider commented on #150
Yo creo que ese tipo de trabajos deberian de aportar su propio plastico. Y se regirian por lo mismo motivo de los operadores de uso personal.

[2019-11-29 08:32] MrTommyGuns commented on #150
Estoy de acuerdo, deberían de llevar su material y/o darnos la pasta para pillar el material necesario para hacer lo que sea

[2019-11-29 10:21] jgvictores commented on #150
Lo que comentaba era respecto a un % adicional proporcional al utilizado, para compensar por el uso/desgaste/mantenimiento de las impresoras como tal.

[2019-11-29 13:32] GioSunrider commented on #150
Ahhh vale vale, ya lo entinedo, y tambien me parece correcto. Ya que somos quienes las mantenemos y cuesta horas de trabajo tenerlas a punto.

[2019-11-30 22:09] David-Estevez commented on #98
No estaría nada mal documentación de todo esto con diagramas, etc... :roll_eyes:

[2019-11-30 22:13] David-Estevez commented on #155
Suegra

[2019-12-06 21:54] MrTommyGuns commented on #156
He encontrado el ventilador que tenía mi aneto, el cual ya no me sirve porque cambie el sistema de extrusion.

Así que lo dono para arreglar a Spicy y solucionado jiji

![photo_2019-12-06_22-51-08](https://user-images.githubusercontent.com/36898802/70359119-60a9b480-187b-11ea-964f-1c333368452b.jpg)

[2019-12-06 21:58] MrTommyGuns opened #157 "Hija no imprime en ABS"
Cuando se intenta calentar a Hija con la suficiente temperatura da error en el extrusor.
Deberíamos mirar porqué puede ser... Tal vez sea cosa del marlin que esté capado a modo de seguridad para que no se caliente en exceso.

![photo_2019-12-06_22-57-47](https://user-images.githubusercontent.com/36898802/70359299-e0d01a00-187b-11ea-9541-ed50685f0d0d.jpg)

[2019-12-06 22:01] MrTommyGuns commented on #146
Actualmente hemos realizado pruebas de impresión y las impresoras imprimen con buena calidad. No se han observado estos fallos por lo que cierro la issue hasta que vuelvan a observarse.

[2019-12-06 22:01] #146 closed, assigned to nobody

[2019-12-06 22:07] MrTommyGuns commented on #144
Actualmente, tenemos los perfiles de Hija, Spicy y Blacky, que imprimen bastante bien partiendo del mismo perfil aunque molaria personalizarlos para cada una, mejorandolo para las prestaciones de cada una.

Por otro lado, se ha creado un perfil de impresión que fue un buen punto de inicio para Dedalo por parte de @DiegoGarciaX2 y otro para la nueva impresora por parte de @MarioPrinter.

Todos ello

[2019-12-06 22:08] MrTommyGuns commented on #142
Ayer se abordó el tema otra vez con muchas ganas hasta que vimos que necesitamos electronica a 24V que no tenemos (la que tenemos funciona a 12V).

Una de las opciones propuestas es adquirir una electrónica de Ender 3, que funciona a 24V.

[2019-12-06 22:12] MrTommyGuns commented on #137
Si no recuerdo mal, en la reunión de ayer @JorFru y yo comentamos la posibilidad de ponerle un extrusor nuevo a Spicy y chetarla un poquete ya que tenemos extrusores para cambiar en el armario.

Esto podría ser una mejora bastante guay para Spicy.

[2019-12-07 10:24] GioSunrider commented on #137
A mí modo de ver prefiero que el extrusor bondtech del armario vaya para blacky o geonosis, y me decanto más por geonosis, ya que el motor sufre mucho y ponerle la reductoras ayudara a este problema

[2019-12-07 12:05] JorFru commented on #157
también habría que ponerle una funda de siicona "calcetín", ya que hija está equipada con un bloque caliente tipo E3D V6 y en el armario tenemos calcetines de sobra.
Pero lo que dice Tommy tiene toda la lógica.

[2019-12-07 13:29] GioSunrider commented on #155
- Moeby Dick

- Moby Dick

[2019-12-07 16:47] MarioPrinter commented on #155
**NOMBRES PROPUESTOS:**
- Moeby Dick
- Moby Dick
- Suegra
- Flashy
- White
- Mr White
- Whity
- Little sister (y a la cube pro Big Daddy)
- Maincra

[2019-12-07 19:16] David-Estevez commented on #155
Blancanieves (o Snow White si os sentís internacionales)

[2019-12-07 20:35] DiegoGarciaX2 commented on #144
Donde subo el perfil?

[2019-12-07 20:35] DiegoGarciaX2 commented on #144
el la carpeta de dedalo?

[2019-12-08 02:21] GioSunrider commented on #144
Sigue la estructura de las carpetas y subirlo cada uno donde corresponde. Y a ser posible mencionar el commit en la issue para tenerlo referenciado.

[2019-12-08 12:59] JorFru commented on #142
https://dyzedesign.com/2018/09/cube-pro-total-conversion-step-by-step-guide/
Documentación del proceso de descastización por parte de otra gente que ha hecho lo mismo con la bicha.
Fijaros que se puede sacar todod de la carcasa, facilitando todas las labores de modificación.
Pero por favor no la saquéis de la carcasa hasta que tengamos todos los componentes necesarios para hacerlo de una.

[2019-12-08 13:03] MrTommyGuns commented on #142
Muy buena documentación!

Eso sí, la lista de materiales se va un poco de precio jajaja

[2019-12-08 14:19] GioSunrider commented on #142
Se podria meter como subveccion, denmocratizarla asi que no veo problema en el precio.

[2019-12-12 16:33] Petikuis commented on #155
A mi me gusta la de Moeby Dick

[2019-12-19 09:08] GioSunrider commented on #155
Abierta votacion en https://forms.gle/h8whnzjjYJ5YPVbS8 os dejo una semanita.

[2019-12-22 17:08] #156 closed, assigned to nobody

[2019-12-28 12:09] JorFru commented on #155
Bueno ¿cómo va esto?

[2019-12-31 10:51] GioSunrider commented on #155
Y cerramos el año con el nuevo nombre decidido. Moeby Dick ha sido el ganador. Procedere a los tramites para incorporarla en todos los lados.
![image](https://user-images.githubusercontent.com/10605193/71619244-c3187b00-2bc3-11ea-8d19-ca905f3af016.png)

[2020-02-13 21:09] MrTommyGuns commented on #154
Hay que dotar a la impresora de un nombre official.

Que empiece la lluvia de ideas!!

[2020-02-13 21:10] MrTommyGuns commented on #154
Hoy se ha realizado el montaje de la impresora y se han impreso algunas piezas con resultados más que satisfactorios

[2020-02-13 21:10] #155 closed, assigned to GioSunrider

[2020-02-13 21:18] MrTommyGuns opened #158 "Movimiento X Geonosis"
He estado poniendo a punto a Geonosis.

Para ello he estado ajustando los pasos/mm de la impresora y actualizando el marlin (cuando funcione todo correctamente lo subiré).

El problema reside en que el eje X se mueve en vertical y no tengo la más mínima idea de porqué puede ser, ya que el eje Y que funciona con el mismo mecanismo funciona a la perfección, pero he sido incapaz de configurar el eje

[2020-02-13 21:20] MrTommyGuns commented on #78
Se ha estado usando el ordenador en la reunión de hoy para slicear unas cuantas piezas y se ha hecho sin mayor problema del que supone manejar un ordenador antiguo, así que por mi parte cerraba esta issue que me da que está caducada y el PC ya es funcional

[2020-02-27 00:32] MrTommyGuns opened #159 "Refuerzo Estructura Spicy"
Hay que investigar en el siguiente link cual son las piezas que le valen a Spicy para posteriormente imprimirlo ya que considero que es una mejora que dota a la impresora de una notable rigidez, que falta le hace.

[Anet A8 Brackets to Reduce X-Axis Motion](https://www.thingiverse.com/thing:1872162)

[2020-02-27 18:16] GioSunrider commented on #159
Personalmente no recomiendo esta mejora, la quite de la impresora, no da mucha mas estabilidad y es muy engorrosa, recomiendo mejor esta otra.

https://www.thingiverse.com/thing:1672959

[2021-01-05 22:38] MrTommyGuns opened #160 "Préstamo temporal de la tronxy aka Geonosis"
Durante el segundo cuatrimestre voy a realizar un TFG donde muy probablemente tenga que imprimir piezas de tamaños superiores a los que mis impresoras de casa pueden abordar, por lo que me gustaría tomar prestada a Geonosis y llevármela a casa durante un tiempo este segundo cuatrimestre para poder realizar dichas piezas y pruebas.

Dada la situación supongo que no resultará ningún problema, por lo

[2021-01-05 23:13] JorFru commented on #160
Por mí es un sí.
Además, Tommy es uno de los participantes má activos de Printer One y tiene mis bendisiones.

[2021-02-06 10:00] MrTommyGuns opened #161 "Cambio de directorios OctoPrint 0.18.0"
He estado configurando una Raspi para poner en mi casa el tema de OctoPrint con las dos instancias y al parecer los directorios que hay que clonar para realizar la segunda instancia han cambiado con las nuevas actualizaciones.

Adjunto un video donde hace toda la instalación de Octoprint y realiza varias instancias para la misma Raspi.

[Octoprint Tips and Plugins - Octopi Images - Chris's Basemen

[2021-03-25 22:13] luis33338 commented on #2
luisalbertop27@gmail.com[]()

[2022-02-26 13:09] MrTommyGuns commented on #160
Finalmente se **devolvió** el **14/09/2021** (se me pasó documentarlo por aquí en su momento).

![photo_2022-02-26_14-01-02](https://user-images.githubusercontent.com/36898802/155844283-9991f713-4e32-44ca-a2a4-352e91290ff7.jpg)

Fue mejorada con refuerzos estructurales, una base más estable con filamento flexible a modo de patas para que no se deslice, un cambio de ventilador de capa junto con la

[2022-02-26 13:09] #160 closed, assigned to MrTommyGuns

[2022-02-26 13:10] #158 closed, assigned to nobody

[2022-02-27 18:29] jgvictores commented on #158
Entiendo q cerrado via https://github.com/asrob-uc3m/impresoras-asrob/issues/160 : )